{"openapi":"3.0.1","info":{"title":"Cashkr API — Admin Panel","description":"Internal admin endpoints: fraud, customers, activity logs, terms and conditions, abandoned coupon programs, vendor notifications.","version":"1.0.0"},"servers":[{"url":"https://internalstg-bk.cashkr.com/api/v1","description":"New Testing Env"}],"tags":[{"name":"Admin Panel"},{"name":"Admin Panel/Abandoned Coupon Programs"},{"name":"Admin Panel/Customer Activity Logs"},{"name":"Admin Panel/Customers"},{"name":"Admin Panel/Fraud"},{"name":"Admin Panel/Terms and Conditions"},{"name":"Admin Panel/Vendor Notifications"}],"security":[{"bearerAuth":[]}],"paths":{"/login":{"post":{"summary":"Admin login","tags":["Admin Panel"],"responses":{"200":{"description":"Admin session token","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/order/failed":{"post":{"summary":"Fail an order (admin or cashboy)","description":"Marks an order as failed from the admin side.","tags":["Admin Panel"],"responses":{"200":{"description":"Order marked failed","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/health":{"get":{"summary":"Health check (DB connectivity and uptime)","description":"Served at the server root, **not** under `/api/v1`.","tags":["Admin Panel"],"responses":{"200":{"description":"Service health","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/fraud/stolen-devices":{"get":{"summary":"List flagged stolen devices with customer and order details","tags":["Admin Panel/Fraud"],"responses":{"200":{"description":"Stolen device registry","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/fraud/mark-stolen":{"post":{"summary":"Mark an order's device as stolen and add to the fraud registry","tags":["Admin Panel/Fraud"],"responses":{"200":{"description":"Device flagged","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/customers/{customerId}/block":{"patch":{"summary":"Block or unblock a customer","tags":["Admin Panel/Customers"],"parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Updated customer block state","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/customer-activity-logs/":{"get":{"summary":"Search customer activity logs","tags":["Admin Panel/Customer Activity Logs"],"responses":{"200":{"description":"Matching activity log entries","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/customer-activity-logs/customer/{customerId}":{"get":{"summary":"Get a customer activity timeline","tags":["Admin Panel/Customer Activity Logs"],"parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Chronological activity for the customer","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/customer-activity-logs/customer/{customerId}/export":{"get":{"summary":"Export customer activity as CSV","tags":["Admin Panel/Customer Activity Logs"],"parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"CSV export","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/admin/abandoned-coupon-programs/":{"get":{"summary":"List abandoned coupon programs","tags":["Admin Panel/Abandoned Coupon Programs"],"responses":{"200":{"description":"Programs","content":{"application/json":{"schema":{"type":"object"}}}}}},"post":{"summary":"Create an abandoned coupon program","tags":["Admin Panel/Abandoned Coupon Programs"],"responses":{"200":{"description":"Program created","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/abandoned-coupon-programs/{id}":{"patch":{"summary":"Update an abandoned coupon program","tags":["Admin Panel/Abandoned Coupon Programs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Program updated","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/abandoned-coupon-programs/{id}/activate":{"post":{"summary":"Activate an abandoned coupon program","tags":["Admin Panel/Abandoned Coupon Programs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Program activated","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/abandoned-coupon-programs/{id}/stats":{"get":{"summary":"Get program redemption stats","tags":["Admin Panel/Abandoned Coupon Programs"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Redemption statistics","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/create":{"post":{"summary":"Create a new terms version","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Version created","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/publish/{termsId}":{"post":{"summary":"Publish a terms version","tags":["Admin Panel/Terms and Conditions"],"parameters":[{"name":"termsId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Version published","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/section/{sectionId}":{"put":{"summary":"Update a terms section","tags":["Admin Panel/Terms and Conditions"],"parameters":[{"name":"sectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Section updated","content":{"application/json":{"schema":{"type":"object"}}}}}},"delete":{"summary":"Delete a terms section","tags":["Admin Panel/Terms and Conditions"],"parameters":[{"name":"sectionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Section deleted","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/track-changes":{"post":{"summary":"Track terms section changes","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Changes recorded","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/version/{termsId}":{"get":{"summary":"Get a specific terms version","tags":["Admin Panel/Terms and Conditions"],"parameters":[{"name":"termsId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Terms version","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/analytics":{"get":{"summary":"Get terms acceptance analytics","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Acceptance analytics","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/pending-users":{"get":{"summary":"List users with pending acceptance","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Users yet to accept","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/notify-users":{"post":{"summary":"Notify users to accept terms","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Notifications queued","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/bulk-revoke":{"post":{"summary":"Bulk revoke user acceptances","tags":["Admin Panel/Terms and Conditions"],"responses":{"200":{"description":"Acceptances revoked","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/terms&condition/admin/export/{termsId}":{"get":{"summary":"Export a terms version","tags":["Admin Panel/Terms and Conditions"],"parameters":[{"name":"termsId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Exported terms document","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/vendor-notifications/broadcast":{"post":{"summary":"Broadcast an announcement to all vendors","description":"Creates one ANNOUNCEMENT in every approved and live vendor's inbox and sends a multicast push. This is how the admin panel publishes platform updates and promos.","tags":["Admin Panel/Vendor Notifications"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string"},"body":{"type":"string"},"imageUrl":{"type":"string","description":"Must be a valid URL."},"deepLink":{"type":"string","description":"Passed through in the push data payload."}},"required":["title","body"]},"example":{"title":"Payout limit rising on 1 August","body":"Daily cap goes to ₹2,00,000 for verified partners.","imageUrl":"https://example.com/banner.png","deepLink":"cashkr://vendor/payouts"}}}},"responses":{"200":{"description":"Broadcast queued","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/admin/vendors/{vendorId}/status":{"patch":{"summary":"Update vendor account status","description":"Changes a vendor's `isApproved` / `status` and sends that vendor an account-status ALERT. The admin panel should call this instead of writing status to the database directly.","tags":["Admin Panel/Vendor Notifications"],"parameters":[{"name":"vendorId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"isApproved":{"type":"boolean"},"status":{"type":"string"}}},"example":{"isApproved":true,"status":"live"}}}},"responses":{"200":{"description":"Vendor status updated and alert sent","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"responses":{"NotFound":{"description":"Record not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}},"InvalidInput":{"description":"Invalid input","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT issued by the OTP login endpoints. Send as `Authorization: Bearer <token>`."}}}}