{"openapi":"3.0.1","info":{"title":"Cashkr API — Auth & Customer","description":"OTP login and registration, customer profile, addresses, payout methods, email verification, device push tokens, and inspection codes.","version":"1.0.0"},"servers":[{"url":"https://internalstg-bk.cashkr.com/api/v1","description":"New Testing Env"}],"tags":[{"name":"User Auth"},{"name":"Customer Info"},{"name":"Email Verification"},{"name":"Inspection code"},{"name":"Push Tokens"}],"security":[{"bearerAuth":[]}],"paths":{"/otp/sendotptocustomer":{"post":{"summary":"Send OTP to a customer","description":"Accepts a phone number and `userType: customer`. Returns a `sessionid` required by the verify call.","tags":["User Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phone":{"type":"string"},"userType":{"type":"string","enum":["customer"]}},"required":["phone","userType"]},"example":{"phone":"9000000000","userType":"customer"}}}},"responses":{"200":{"description":"OTP dispatched","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"sessionid":"demo-session","message":"OTP sent successfully !","isDemo":true}}}}}}},"/otp/verifyotpforcustomer":{"post":{"summary":"Verify a customer OTP","description":"Send the `sessionid` returned by the send-OTP call, the same phone number, and the code received by SMS. Returns the JWT used for all authenticated requests.","tags":["User Auth"],"parameters":[{"name":"Content-Type","in":"header","required":true,"example":"application/json","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"phone":{"type":"string"},"sessionid":{"type":"string"},"otp":{"type":"string"}},"required":["phone","sessionid","otp"]},"example":{"phone":"9000000000","sessionid":"demo-session","otp":"424174"}}}},"responses":{"200":{"description":"OTP matched, token issued","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"isRegistered":true,"token":"<YOUR_ACCESS_TOKEN>","message":"OTP Matched"}}}}}}},"/user/registercustomer":{"post":{"summary":"Register a customer","description":"Called after OTP verification for a new user. `referralCode` is optional and may be an empty string.","tags":["User Auth"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"phonenumber":{"type":"string"},"dob":{"type":"string","format":"date"},"referralCode":{"type":"string"}},"required":["firstname","lastname","email","phonenumber"]},"example":{"firstname":"Firstname","lastname":"Lastname","email":"user@cashkr.com","phonenumber":"9000000000","dob":"1998-05-12","referralCode":"ABC123"}}}},"responses":{"200":{"description":"Customer registered","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"data":{"customerId":"<uuid>","firstName":"Firstname","lastName":"Lastname","phone":"9000000000","email":"user@cashkr.com","token":"<YOUR_ACCESS_TOKEN>"},"message":"User registered successfully"}}}}}}},"/user/getcustomer":{"get":{"summary":"Get the authenticated customer","tags":["User Auth"],"responses":{"200":{"description":"Customer profile","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/user/deleteaccount":{"post":{"summary":"Delete the authenticated account","description":"Requires only the bearer token. Anonymises and soft-deletes the customer.","tags":["User Auth"],"parameters":[{"name":"Authorization","in":"header","required":true,"example":"Bearer <YOUR_ACCESS_TOKEN>","schema":{"type":"string"}}],"responses":{"200":{"description":"Account deleted","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"data":null,"message":"Account successfully deleted"}}}}}}},"/user/updateCustomerInfo":{"patch":{"summary":"Update customer profile","description":"First name, last name, and email are editable. Phone number is immutable.","tags":["Customer Info"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}},"example":{"firstName":"Firstname","lastName":"Lastname","email":"user@cashkr.com"}}}},"responses":{"200":{"description":"Profile updated","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"data":{"customerId":"<uuid>","firstName":"Firstname","lastName":"Lastname","email":"user@cashkr.com","phone":"9000000000"},"message":"User updated successfully"}}}}}}},"/user/address":{"post":{"summary":"Create a customer address","description":"Maximum three saved addresses per customer. City is derived from pincode via the Area module.","tags":["Customer Info"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"address":{"type":"string"},"addressType":{"type":"string","enum":["Home","Office","Other"]},"pincode":{"type":"integer"},"city":{"type":"string"}},"required":["address","addressType","pincode"]},"example":{"address":"Flat 502, BigBold Tower, Andheri East","addressType":"Home","pincode":400093,"city":"Mumbai"}}}},"responses":{"200":{"description":"Address created","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"data":{"addressId":"<uuid>","address":"Flat 502, BigBold Tower, Andheri East","addressType":"Home","city":"Mumbai","pincode":400093,"lat":null,"lng":null},"message":"Address created successfully"}}}}}},"get":{"summary":"List customer addresses","tags":["Customer Info"],"parameters":[{"name":"Authorization","in":"header","required":true,"example":"Bearer <YOUR_ACCESS_TOKEN>","schema":{"type":"string"}}],"responses":{"200":{"description":"Saved addresses","content":{"application/json":{"schema":{"type":"object"},"example":{"success":true,"data":[{"addressId":"<uuid>","address":"Flat 502, BigBold Tower, Andheri East","addressType":"Home","city":"Mumbai","pincode":400093,"lat":null,"lng":null}],"message":"Addresses retrieved successfully"}}}}}},"patch":{"summary":"Update a customer address","description":"Pass `addressId` in the body. Existing orders keep their address snapshot and are unaffected.","tags":["Customer Info"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"addressId":{"type":"string"},"address":{"type":"string"},"addressType":{"type":"string"},"pincode":{"type":"string"}},"required":["addressId"]},"example":{"addressId":"<uuid>","address":"Flat 502, BigBold Tower, Andheri East","addressType":"Home","pincode":"400093"}}}},"responses":{"200":{"description":"Address updated","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/user/payment":{"post":{"summary":"Create a payout method","description":"For UPI send `paymentType: UPI` with `upiNo`; bank fields stay empty. For bank send `paymentType: Bank` with the account fields; `upiNo` stays empty. Cash is the default when no method exists.","tags":["Customer Info"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"paymentType":{"type":"string","enum":["UPI","Bank"]},"upiNo":{"type":"string"},"bankAccNumber":{"type":"string"},"bankBeneficiaryName":{"type":"string"},"bankIFSC":{"type":"string"},"bankName":{"type":"string"}},"required":["paymentType"]},"examples":{"upi":{"summary":"UPI","value":{"paymentType":"UPI","upiNo":"test@upi","bankAccNumber":"","bankBeneficiaryName":"","bankIFSC":"","bankName":""}},"bank":{"summary":"Bank account","value":{"paymentType":"Bank","upiNo":"","bankAccNumber":"019239031203192","bankBeneficiaryName":"Firstname","bankIFSC":"STTB0TEST01","bankName":"Mock National Bank"}}}}}},"responses":{"200":{"description":"Payout method created","content":{"application/json":{"schema":{"type":"object"}}}}}},"get":{"summary":"Get the saved payout method","tags":["Customer Info"],"parameters":[{"name":"Authorization","in":"header","required":true,"example":"Bearer <YOUR_ACCESS_TOKEN>","schema":{"type":"string"}}],"responses":{"200":{"description":"Payout details","content":{"application/json":{"schema":{"type":"object"}}}}}},"patch":{"summary":"Update the payout method","description":"Changes apply to future orders only. Completed orders retain their original payout mode.","tags":["Customer Info"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object"},"examples":{"bank":{"summary":"Switch to bank","value":{"paymentType":"Bank","upiNo":"","bankAccNumber":"019239031203192","bankBeneficiaryName":"Firstname","bankIFSC":"STTB0TEST01","bankName":"Mock National Bank"}},"upi":{"summary":"Switch to UPI","value":{"paymentType":"UPI","upiNo":"test@upi","bankAccNumber":"","bankBeneficiaryName":"","bankIFSC":"","bankName":""}}}}}},"responses":{"200":{"description":"Payout method updated","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/otp/emailOtp":{"post":{"summary":"Send an email verification OTP","tags":["Email Verification"],"responses":{"200":{"description":"Email OTP dispatched","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/otp/verifyEmailOtp":{"post":{"summary":"Verify an email OTP","tags":["Email Verification"],"responses":{"200":{"description":"Email verified","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/sendInspectionCode":{"get":{"summary":"Send the inspection code for a lead","description":"Delivers the code the customer reads to the vendor on-site to authorise inspection. Sent via WhatsApp and email.","tags":["Inspection code"],"parameters":[{"name":"leadId","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Inspection code sent","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/setFirebaseId":{"put":{"summary":"Set the device Firebase ID for push","tags":["Push Tokens"],"responses":{"200":{"description":"Firebase ID stored","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/fcm/send":{"get":{"summary":"Send an FCM push notification","tags":["Push Tokens"],"responses":{"200":{"description":"Push dispatched","content":{"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"responses":{"NotFound":{"description":"Record not found","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}},"InvalidInput":{"description":"Invalid input","content":{"application/json":{"schema":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT issued by the OTP login endpoints. Send as `Authorization: Bearer <token>`."}}}}