{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Admin & Auth 2","description":"Tags: admin, admin-logs, auth, demoUser","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"admin"},{"name":"admin-logs"},{"name":"auth"},{"name":"demoUser"}],"paths":{"/api/admin/fraud/stolen-devices":{"get":{"tags":["admin"],"summary":"List stolen-device fraud records","description":"Paginated list of Stolen Device fraud registry entries, each joined to the customer and to the orders whose IMEI hash matches, including inspection documents.\n\n**Notes:** search is applied after pagination, so the returned page can be shorter than limit while total stays unfiltered. Deleted customers are shown as Anonymized.\n\n_Source: `app/api/admin/fraud/stolen-devices/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"search","in":"query","required":false,"description":"Post-query filter on customer name/email/phone, leadId or IMEI","schema":{"type":"string","example":"9876543210"}}],"responses":{"200":{"description":"Stolen device records","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFraudStolenDevicesGetResponse"},"example":{"data":[],"pagination":{"page":1,"limit":20,"total":12,"totalPages":1}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch stolen devices"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/ops/cancellation-reasons":{"get":{"tags":["admin"],"summary":"Report customer cancellation reasons","description":"Aggregates customer-initiated cancellations from OrderStatusHistory into reason codes, stage of death and the vendors repeatedly causing preventable cancellations.\n\n**Notes:** Covers only chat-flow customer cancellations (source CUSTOMER_CHAT); vendor/admin failures live in FailedLead. force-dynamic, Redis-cached 300s, max 20000 history rows. No handler-level auth check.\n\n_Source: `app/api/admin/ops/cancellation-reasons/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"days","in":"query","required":false,"description":"Lookback window in days, clamped to 1-365","schema":{"type":"integer","example":30,"default":30}}],"responses":{"200":{"description":"Cancellation report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminOpsCancellationReasonsGetResponse"},"example":{"reasons":[],"byStage":[],"vendorsCausingCancellations":[],"summary":{"total":0,"previousPeriod":0,"ourFault":0,"ourFaultShare":0,"customerChoice":0,"truncated":false},"days":30}}}},"500":{"description":"Report build failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to build cancellation reasons report"}}}}},"security":[]}},"/api/admin/ops/orders/counts":{"get":{"tags":["admin"],"summary":"Get ops order-tile counts","description":"Returns the three ops dashboard tile counts: live orders with no vendor, assigned orders with no action, and delayed orders.\n\n**Notes:** Redis-cached for 180s per includeTestOrders variant. No handler-level auth check.\n\n_Source: `app/api/admin/ops/orders/counts/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"includeTestOrders","in":"query","required":false,"description":"Set to 'true' to include seeded test orders (pincode 400000 / city Test)","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Tile counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminOpsOrdersCountsGetResponse"},"example":{"notAssigned":214,"noAction":87,"delayed":39}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch order counts"}}}}},"security":[]}},"/api/admin/ops/sla-worklist":{"get":{"tags":["admin"],"summary":"List SLA-breaching orders worst first","description":"Narrows SLA breach candidates in SQL, confirms each with computeOrderSla in memory, and returns one row per order worst-first with the nudge that clears it. Orders older than the window are reported as a stale-backlog count only.\n\n**Notes:** force-dynamic, Redis-cached 45s, at most 4000 SQL candidates. No handler-level auth check.\n\n_Source: `app/api/admin/ops/sla-worklist/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"state","in":"query","required":false,"description":"breached (default), dueSoon, or all","schema":{"type":"string","example":"all","default":"breached"}},{"name":"city","in":"query","required":false,"description":"Case-insensitive exact city filter","schema":{"type":"string","example":"Mumbai"}},{"name":"limit","in":"query","required":false,"description":"Rows returned, clamped to 1-500","schema":{"type":"integer","example":100,"default":100}},{"name":"includeTestOrders","in":"query","required":false,"description":"Set to 'true' to include seeded test orders","schema":{"type":"boolean","example":true,"default":false}},{"name":"maxAgeDays","in":"query","required":false,"description":"Orders older than this are counted as stale backlog rather than listed; clamped to 1-365","schema":{"type":"integer","example":30,"default":30}}],"responses":{"200":{"description":"SLA worklist","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminOpsSlaWorklistGetResponse"},"example":{"rows":[],"summary":{"returned":0,"matching":0,"breached":0,"dueSoon":0,"byStage":{"assignment":0,"pickup":0,"completion":0},"candidatesTruncated":false,"staleBacklog":3770,"maxAgeDays":30},"generatedAt":"2026-09-01T06:00:00.000Z"}}}},"500":{"description":"Report build failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to build SLA worklist"}}}}},"security":[]}},"/api/admin/pricing-review/queue":{"get":{"tags":["admin"],"summary":"List completed orders awaiting price review","description":"Paginated queue of completed, vendor-assigned orders that have no PriceVerification yet, including inspection images, documents, device condition and the generated/requote/final price dip.\n\n**Notes:** Redis-cached 30s per filter combination.\n\n_Source: `app/api/admin/pricing-review/queue/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"deviceType","in":"query","required":false,"description":"Exact device type filter","schema":{"type":"string","example":"Mobile"}},{"name":"city","in":"query","required":false,"description":"Exact city filter","schema":{"type":"string","example":"Mumbai"}}],"responses":{"200":{"description":"Review queue","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPricingReviewQueueGetResponse"},"example":{"data":[],"pagination":{"page":1,"limit":20,"total":340,"totalPages":17}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pricing review queue"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/pricing-review/stats":{"get":{"tags":["admin"],"summary":"Get price-verification summary stats","description":"Returns verified vs pending counts, average accuracy, today's verification count, overall verification rate and the accuracy distribution buckets.\n\n**Notes:** Redis-cached 120s under the key pricing-review-stats, invalidated by the verify endpoint.\n\n_Source: `app/api/admin/pricing-review/stats/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPricingReviewStatsGetResponse"},"example":{"totalVerified":512,"totalPending":340,"avgAccuracy":91.4,"todayCount":12,"verificationRate":60.1,"distribution":{"excellent":380,"good":90,"fair":30,"poor":12}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pricing review stats"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/pricing-review/verify":{"post":{"tags":["admin"],"summary":"Record a verified price for an order","description":"Creates a PriceVerification for a completed order, computing the vendor's pricing accuracy as 1 - |vendorFinalPrice - verifiedPrice| / verifiedPrice and snapshotting the device condition.\n\n**Notes:** Feeds the vendor pricing-accuracy score. Invalidates the vendor-score:<vendorId> and pricing-review-stats Redis keys.\n\n_Source: `app/api/admin/pricing-review/verify/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPricingReviewVerifyPostRequest"},"example":{"leadId":"LD10231","verifiedPrice":12500,"notes":"Screen scratch not accounted for"}}}},"responses":{"200":{"description":"Verification stored","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPricingReviewVerifyPostResponse"},"example":{"success":true,"verification":{"id":"pv_1","accuracy":92.3,"vendorFinalPrice":11500,"verifiedPrice":12500}}}}},"400":{"description":"Missing/invalid price or order has no vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"leadId and verifiedPrice are required"}}}},"401":{"description":"Unauthorized or no admin id in session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Order not found"}}}},"409":{"description":"Already verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This order has already been price-verified."}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to verify price"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/users":{"get":{"tags":["admin"],"summary":"List admin users for pickers","description":"Returns admin users with role, department, manager and counts of assigned B2B leads, clients and deals, sorted by role then name. Intended for assignee dropdowns.\n\n**Notes:** No handler-level auth check. Instantiates its own PrismaClient and disconnects it per request rather than using the shared client.\n\n_Source: `app/api/admin/users/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"department","in":"query","required":false,"description":"Exact department filter","schema":{"type":"string","example":"Sales"}},{"name":"role","in":"query","required":false,"description":"Exact role filter","schema":{"type":"string","example":"SALES_AGENT"}},{"name":"activeOnly","in":"query","required":false,"description":"Anything other than the literal 'false' keeps the isActive:true filter","schema":{"type":"boolean","example":false,"default":true}}],"responses":{"200":{"description":"Users list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUsersGetResponse"},"example":{"success":true,"data":[{"id":3,"name":"Rutuja","email":"user@cashkr.com","role":"SALES_AGENT","isActive":true}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch users"}}}}},"security":[]}},"/api/admin/vendor-score/compute":{"post":{"tags":["admin"],"summary":"Compute and persist vendor scores","description":"Recomputes the vendor score for one vendor, or for every live approved vendor in batches when no vendorId is given. Batch mode takes a Redis lock so only one run happens at a time.\n\n**Notes:** An empty or non-JSON body is tolerated and treated as a batch run. Side effect: writes VendorScore rows and may change vendor levels; invalidates vendor-score:<vendorId> and vendor-score-leaderboard caches.\n\n_Source: `app/api/admin/vendor-score/compute/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVendorScoreComputePostRequest"},"example":{"vendorId":"VEN10023","periodDays":90}}}},"responses":{"200":{"description":"Computation summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVendorScoreComputePostResponse"},"example":{"computed":1,"failed":0,"results":[{"vendorId":"VEN10023","finalScore":78,"level":"Gold"}]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"429":{"description":"A batch run is already in progress","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Score computation is already running. Please wait."}}}},"500":{"description":"Computation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to compute vendor scores"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/vendor-score/leaderboard":{"get":{"tags":["admin"],"summary":"Vendor score leaderboard","description":"Ranks live approved vendors by their most recent score, with level distribution and average score stats, filterable by level, city and free-text vendor search.\n\n**Notes:** Redis-cached 60s per filter combination. sortBy is passed straight into a Prisma orderBy, so an unknown column errors with 500. Pagination is applied in memory after the query.\n\n_Source: `app/api/admin/vendor-score/leaderboard/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":50,"default":50}},{"name":"level","in":"query","required":false,"description":"Diamond | Platinum | Gold | Silver | Bronze","schema":{"type":"string","example":"Gold"}},{"name":"city","in":"query","required":false,"description":"Exact vendor city filter","schema":{"type":"string","example":"Mumbai"}},{"name":"search","in":"query","required":false,"description":"Contains match on first/last name, phone or shop name","schema":{"type":"string","example":"Shree"}},{"name":"sortBy","in":"query","required":false,"description":"VendorScore column to sort by","schema":{"type":"string","example":"finalScore","default":"finalScore"}},{"name":"order","in":"query","required":false,"description":"asc or desc","schema":{"type":"string","example":"desc","default":"desc"}}],"responses":{"200":{"description":"Ranked leaderboard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVendorScoreLeaderboardGetResponse"},"example":{"data":[{"rank":1,"vendorId":"VEN10023","finalScore":91,"level":"Diamond"}],"stats":{"totalVendors":132,"avgScore":68,"levelDistribution":{"Diamond":4,"Platinum":12,"Gold":40,"Silver":50,"Bronze":26}},"pagination":{"page":1,"limit":50,"total":132,"totalPages":3}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch leaderboard"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/vendor-score/{vendorId}":{"get":{"tags":["admin"],"summary":"Get a vendor's score card","description":"Returns the vendor profile, latest score with its seven dimensions, progress to the next level, generated improvement tips, level history and the last ten score computations.\n\n**Notes:** Redis-cached 120s under vendor-score:<vendorId>; invalidated by the compute and pricing-review verify endpoints.\n\n_Source: `app/api/admin/vendor-score/[vendorId]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN10023"}],"responses":{"200":{"description":"Score card, or score:null when nothing has been computed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVendorScoreByVendorIdGetResponse"},"example":{"vendor":{"vendorId":"VEN10023","shopName":"Shree Mobiles"},"score":{"finalScore":78,"level":"Gold"},"nextLevel":{"level":"Platinum","minScore":85,"pointsNeeded":7},"improvementTips":[],"levelHistory":[],"scoreHistory":[]}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendor score"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/{id}":{"get":{"tags":["admin"],"summary":"Get a single admin by id","description":"Returns the id, name, email and timestamps for one admin user.\n\n_Source: `app/api/admin/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric admin id","schema":{"type":"string"},"example":"3"}],"responses":{"200":{"description":"Admin found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminByIdGetResponse"},"example":{"success":true,"data":{"id":3,"name":"Rutuja","email":"user@cashkr.com","createdAt":"2026-01-04T09:00:00.000Z","updatedAt":"2026-08-01T09:00:00.000Z"}}}}},"400":{"description":"Non-numeric id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid admin ID"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Admin not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch admin"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["admin"],"summary":"Delete an admin by id","description":"Permanently removes an admin user. Wrapped in withAuditLog so the deletion is written to the ADMIN audit trail.\n\n**Notes:** Destructive: hard-deletes the admin row.\n\n_Source: `app/api/admin/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric admin id","schema":{"type":"string"},"example":"3"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Admin deleted successfully"}}}},"400":{"description":"Non-numeric id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid admin ID"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Admin not found"}}}},"500":{"description":"Delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete admin"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin-logs":{"get":{"tags":["admin-logs"],"summary":"List admin activity logs with filters","description":"Returns a paginated admin activity log feed plus the distinct actions, entities and admins available as filter options. PRICING entries are enriched with old/new price from PriceHistory.\n\n**Notes:** No handler-level auth check; the deny-by-default middleware requires an admin session before the audit trail can be read.\n\n_Source: `app/api/admin-logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":50,"default":50}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on description, action, entity or entityId","schema":{"type":"string","example":"price"}},{"name":"action","in":"query","required":false,"description":"Exact action filter","schema":{"type":"string","example":"UPDATE"}},{"name":"entity","in":"query","required":false,"description":"Exact entity filter","schema":{"type":"string","example":"PRICING"}},{"name":"adminId","in":"query","required":false,"description":"Filter by admin id","schema":{"type":"integer","example":3}},{"name":"startDate","in":"query","required":false,"description":"Created-at lower bound","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Created-at upper bound (end of day)","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Logs, pagination and filter options","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLogsGetResponse"},"example":{"logs":[{"id":"clx1","adminName":"Rutuja","action":"UPDATE","entity":"PRICING","createdAt":"2026-08-20T10:00:00.000Z"}],"pagination":{"page":1,"limit":50,"total":120,"totalPages":3},"filters":{"actions":[],"entities":[],"admins":[]}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch admin logs"}}}}},"security":[]}},"/api/auth/login":{"post":{"tags":["auth"],"summary":"Log in an admin and issue a JWT","description":"Verifies an admin's email and bcrypt password against the Admin table and returns the admin record plus a signed JWT valid for one day.\n\n**Notes:** Standalone JWT login separate from the NextAuth flow; signs with process.env.JWT_SECRET, expiresIn 1d. The token is returned in the body, not set as a cookie. No rate limiting or lockout on repeated failures.\n\n_Source: `app/api/auth/login/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthLoginPostRequest"},"example":{"email":"admin@example.com","password":"••••••••"}}}},"responses":{"200":{"description":"Login succeeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthLoginPostResponse"},"example":{"success":true,"message":"Login successful","data":{"user":{"id":1,"email":"admin@example.com","name":"Admin"},"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}}}}},"400":{"description":"Missing credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Email and password are required"}}}},"401":{"description":"Unknown email or wrong password","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid credentials"}}}},"429":{"description":"Rate limited — too many attempts.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"}}}},"500":{"description":"Database or unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"An unexpected error occurred"}}}}},"security":[]}},"/api/auth/{nextauth}":{"get":{"tags":["auth"],"summary":"NextAuth catch-all handler","description":"The NextAuth.js handler mounted on a catch-all segment. Serves signin, callback, session, csrf, providers and signout for the admin panel's credentials/JWT flow.\n\n**Notes:** Configuration lives in lib/auth (authOptions). Explicitly exempted from the app middleware. This is the endpoint that mints the session cookie every 'session'-auth route in this API depends on.\n\n_Source: `app/api/auth/[...nextauth]/route.ts`_\n\n_Auth: `other: NextAuth itself — this endpoint issues and reads the next-auth.session-token cookie`_","parameters":[{"name":"nextauth","in":"path","required":true,"description":"Catch-all NextAuth action, e.g. session, csrf, providers, signin/credentials, callback/credentials, signout.","schema":{"type":"string"},"example":"session"}],"responses":{"200":{"description":"Handler response (shape depends on the action)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthByNextauthResponse"},"example":{"user":{"id":"1","email":"admin@example.com","name":"Admin"},"expires":"2026-10-01T00:00:00.000Z"}}}},"302":{"description":"Redirect for signin/callback/signout flows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyObject"},"example":{}}},"headers":{"Location":{"$ref":"#/components/headers/Location"}}}},"security":[]},"post":{"tags":["auth"],"summary":"NextAuth catch-all handler","description":"The NextAuth.js handler mounted on a catch-all segment. Serves signin, callback, session, csrf, providers and signout for the admin panel's credentials/JWT flow.\n\n**Notes:** Configuration lives in lib/auth (authOptions). Explicitly exempted from the app middleware. This is the endpoint that mints the session cookie every 'session'-auth route in this API depends on.\n\n_Source: `app/api/auth/[...nextauth]/route.ts`_\n\n_Auth: `other: NextAuth itself — this endpoint issues and reads the next-auth.session-token cookie`_","parameters":[{"name":"nextauth","in":"path","required":true,"description":"Catch-all NextAuth action, e.g. session, csrf, providers, signin/credentials, callback/credentials, signout.","schema":{"type":"string"},"example":"session"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/AuthByNextauthPostRequest"}}}},"responses":{"200":{"description":"Handler response (shape depends on the action)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthByNextauthResponse"},"example":{"user":{"id":"1","email":"admin@example.com","name":"Admin"},"expires":"2026-10-01T00:00:00.000Z"}}}},"302":{"description":"Redirect for signin/callback/signout flows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmptyObject"},"example":{}}},"headers":{"Location":{"$ref":"#/components/headers/Location"}}}},"security":[]}},"/api/demoUser":{"get":{"tags":["demoUser"],"summary":"List all demo users","description":"Returns every demo user ordered by creation date descending. No pagination.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/demoUser/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Array of demo users","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserGetResponse"},"example":[{"id":12,"firstName":"Asha","lastName":"Verma","phone":"9876543210","otp":"123456"}]}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch users"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"AuthByNextauthResponse":{"type":"object","x-inferred-from-example":true},"AdminOpsOrdersCountsGetResponse":{"type":"object","x-inferred-from-example":true},"AdminPricingReviewQueueGetResponse":{"type":"object","x-inferred-from-example":true},"AdminByIdGetResponse":{"type":"object","x-inferred-from-example":true},"AdminPricingReviewStatsGetResponse":{"type":"object","x-inferred-from-example":true},"EmptyObject":{"type":"object","properties":{},"description":"Empty JSON object body."},"AdminVendorScoreLeaderboardGetResponse":{"type":"object","x-inferred-from-example":true},"AdminFraudStolenDevicesGetResponse":{"type":"object","x-inferred-from-example":true},"AuthLoginPostResponse":{"type":"object","x-inferred-from-example":true},"AdminUsersGetResponse":{"type":"object","x-inferred-from-example":true},"AdminPricingReviewVerifyPostResponse":{"type":"object","x-inferred-from-example":true},"AuthLoginPostRequest":{"type":"object","properties":{"email":{"type":"string","description":"Admin email address."},"password":{"type":"string","description":"Plaintext password, compared with bcrypt."}},"required":["email","password"],"description":"Request body for `POST /api/auth/login`."},"AdminLogsGetResponse":{"type":"object","x-inferred-from-example":true},"AdminOpsCancellationReasonsGetResponse":{"type":"object","x-inferred-from-example":true},"AdminOpsSlaWorklistGetResponse":{"type":"object","x-inferred-from-example":true},"AuthByNextauthPostRequest":{"type":"object","properties":{"csrfToken":{"type":"string","description":"CSRF token from GET /api/auth/csrf."},"email":{"type":"string","description":"Admin email (credentials provider)."},"password":{"type":"string","description":"Admin password (credentials provider)."},"callbackUrl":{"type":"string","description":"Where to redirect after signin."}},"required":["csrfToken"],"description":"Request body for `POST /api/auth/{nextauth}`."},"DemoUserGetResponse":{"type":"array","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"AdminVendorScoreComputePostResponse":{"type":"object","x-inferred-from-example":true},"AdminVendorScoreByVendorIdGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"AdminVendorScoreComputePostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Compute for this vendor only; omit to run the full batch"},"periodDays":{"type":"integer","description":"Scoring window in days (defaults to DEFAULT_SCORING_WINDOW_DAYS)"}},"description":"Request body for `POST /api/admin/vendor-score/compute`."},"AdminPricingReviewVerifyPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"Order to verify"},"verifiedPrice":{"type":"number","description":"Reviewer's correct price; must be a non-negative number"},"notes":{"type":"string","description":"Reviewer notes"}},"required":["leadId","verifiedPrice"],"description":"Request body for `POST /api/admin/pricing-review/verify`."}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"headers":{"Location":{"description":"Redirect target for the NextAuth signin / callback / signout flow.","schema":{"type":"string","format":"uri"}}},"examples":{"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}