{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Admin & Auth 1","description":"Tags: admin","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"admin"}],"paths":{"/api/admin":{"get":{"tags":["admin"],"summary":"List admins with permissions and pages","description":"Returns every admin with role, manager, subordinates and per-page permissions, plus the list of active pages. Also auto-syncs any pages defined in lib/admin-pages.ts that are missing from the database.\n\n**Notes:** No handler-level auth check on GET; the deny-by-default middleware requires an admin session. Returns the full admin roster and permission matrix. Side effect: creates missing Page rows on every call.\n\n_Source: `app/api/admin/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Admins and pages","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminGetResponse"},"example":{"success":true,"data":{"admins":[{"id":3,"name":"Rutuja","email":"user@cashkr.com","role":"EXECUTIVE","isRootAdmin":false}],"pages":[]}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch admins"}}}}},"security":[]},"post":{"tags":["admin"],"summary":"Create an admin user","description":"Validates the payload with zod, bcrypt-hashes the password (12 rounds) and creates the admin plus its per-page permissions in one transaction. Unknown pageKeys are silently dropped.\n\n**Notes:** No handler-level auth check; admin creation is gated by the deny-by-default middleware. A handler-level role check is still recommended. Audit-logged when a session happens to exist.\n\n_Source: `app/api/admin/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPostRequest"},"example":{"name":"Rutuja","email":"user@cashkr.com","password":"secret123","role":"EXECUTIVE","department":"Sales","phone":"9876543210","assignmentActive":true,"permissions":[{"pageKey":"orders-all","canView":true,"canEdit":false}]}}}},"responses":{"201":{"description":"Admin created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPostResponse"},"example":{"success":true,"data":{"id":12,"name":"Rutuja","email":"user@cashkr.com","role":"EXECUTIVE"}}}}},"400":{"description":"Validation error, duplicate email or bad page key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Email already exists"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create admin"}}}}},"security":[]},"put":{"tags":["admin"],"summary":"Update an admin user","description":"Updates admin fields by id and, whenever permissions or isRootAdmin are supplied, deletes and recreates the whole permission set in one transaction. Passwords are re-hashed with bcrypt.\n\n**Notes:** No handler-level auth check; the deny-by-default middleware requires a session. A handler-level role check is still recommended. Sending permissions replaces the entire set; sending an empty array removes all permissions.\n\n_Source: `app/api/admin/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPutRequest"},"example":{"id":12,"name":"Firstname L","role":"TEAM_LEAD","isActive":true,"permissions":[{"pageKey":"orders-all","canView":true,"canEdit":true}]}}}},"responses":{"200":{"description":"Admin updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminPutResponse"},"example":{"success":true,"data":{"id":12,"name":"Firstname L","role":"TEAM_LEAD"}}}}},"400":{"description":"Validation error, duplicate email or bad page key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Email already exists"}}}},"404":{"description":"Admin not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Admin not found"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update admin"}}}}},"security":[]}},"/api/admin/abandoned-coupon-programs":{"get":{"tags":["admin"],"summary":"List abandoned-cart coupon programs","description":"Returns every abandoned-coupon program, newest first. No pagination or filters.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/admin/abandoned-coupon-programs/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"All programs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsGetResponse"},"example":{"success":true,"data":[{"id":2,"name":"Diwali winback","isActive":true}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch programs"}}}}},"security":[],"parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/PageParam"},{"name":"perPage","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer"}},{"$ref":"#/components/parameters/SearchParam"},{"name":"sortBy","in":"query","required":false,"description":"Field to sort by.","schema":{"type":"string"}},{"$ref":"#/components/parameters/SortOrderParam"},{"name":"status","in":"query","required":false,"description":"Filter by status.","schema":{"type":"string"}},{"$ref":"#/components/parameters/ToParam"}]},"post":{"tags":["admin"],"summary":"Create an abandoned-cart coupon program","description":"Creates a two-step abandoned-cart coupon program. Coupon expiries default to 72 hours each when omitted.\n\n**Notes:** No handler-level auth check (withAuditLog only records a session when one exists); middleware enforces the session.\n\n_Source: `app/api/admin/abandoned-coupon-programs/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsPostRequest"},"example":{"name":"Diwali winback","firstCouponAmount":300,"secondCouponAmount":500,"firstCouponExpiry":72,"secondCouponExpiry":48,"minOrderValue":2000,"createdBy":"user@cashkr.com"}}}},"responses":{"201":{"description":"Program created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsPostResponse"},"example":{"success":true,"data":{"id":3,"name":"Diwali winback","isActive":false}}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"name, firstCouponAmount, and secondCouponAmount are required"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create program"}}}}},"security":[]}},"/api/admin/abandoned-coupon-programs/{id}":{"patch":{"tags":["admin"],"summary":"Update an abandoned-cart coupon program","description":"Partially updates a coupon program. Only keys present in the body are written; numeric fields are coerced with parseInt and date fields with new Date().\n\n**Notes:** No handler-level auth check (withAuditLog only records); middleware enforces the session. Mutates coupon economics.\n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric program id","schema":{"type":"string"},"example":"2"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsByIdPatchRequest"},"example":{"name":"Diwali winback","firstCouponAmount":300,"firstCouponExpiry":72,"secondCouponAmount":500,"secondCouponExpiry":48,"minOrderValue":2000,"maxRedemptions":500}}}},"responses":{"200":{"description":"Updated program","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsByIdPatchResponse"},"example":{"success":true,"data":{"id":2,"name":"Diwali winback","firstCouponAmount":300}}}}},"400":{"description":"Non-numeric id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid program ID"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update program"}}}}},"security":[]},"delete":{"tags":["admin"],"summary":"Delete abandoned coupon programs","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/admin/abandoned-coupon-programs/{id}/activate":{"post":{"tags":["admin"],"summary":"Activate an abandoned-cart coupon program","description":"Marks one abandoned-coupon program active and deactivates every other program in the same transaction, since only one may be live at a time.\n\n**Notes:** Only wrapped in withAuditLog, which does not enforce auth; middleware now gates /api/* by default, so there is No handler-level auth check. Side effect: deactivates all other coupon programs.\n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/activate/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric program id","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Program activated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsByIdActivatePostResponse"},"example":{"success":true,"data":{"id":2,"name":"Diwali winback","isActive":true}}}}},"400":{"description":"Non-numeric id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid program ID"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"description":"Activation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to activate program"}}}}},"security":[]}},"/api/admin/abandoned-coupon-programs/{id}/deactivate":{"post":{"tags":["admin"],"summary":"Deactivate — POST admin/abandoned-coupon-programs/[id]/deactivate","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/deactivate/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/admin/abandoned-coupon-programs/{id}/duplicate":{"post":{"tags":["admin"],"summary":"Duplicate — POST admin/abandoned-coupon-programs/[id]/duplicate","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/duplicate/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/admin/abandoned-coupon-programs/{id}/stats":{"get":{"tags":["admin"],"summary":"Get coupon program redemption stats","description":"Returns the program plus generated/redeemed token counts, redemption rate, total discount given and the 50 most recent redemptions.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/admin/abandoned-coupon-programs/[id]/stats/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric program id","schema":{"type":"string"},"example":"2"}],"responses":{"200":{"description":"Program stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAbandonedCouponProgramsByIdStatsGetResponse"},"example":{"success":true,"data":{"program":{"id":2,"name":"Diwali winback"},"stats":{"totalGenerated":420,"totalRedeemed":63,"redemptionRate":"15.0","totalDiscountGiven":18900},"recentRedemptions":[]}}}}},"400":{"description":"Non-numeric id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid program ID"}}}},"404":{"description":"Program not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Program not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch stats"}}}}},"security":[]}},"/api/admin/activity":{"get":{"tags":["admin"],"summary":"List admin activity logs","description":"Paginated admin activity feed including the acting admin's name, email, role and department. Action and entity filters are case-insensitive contains matches.\n\n_Source: `app/api/admin/activity/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":50,"default":50}},{"name":"adminId","in":"query","required":false,"description":"Filter by admin id","schema":{"type":"integer","example":3}},{"name":"action","in":"query","required":false,"description":"Contains match on action","schema":{"type":"string","example":"UPDATE"}},{"name":"entity","in":"query","required":false,"description":"Contains match on entity","schema":{"type":"string","example":"VENDOR"}},{"name":"fromDate","in":"query","required":false,"description":"Created-at lower bound","schema":{"type":"string","example":"2026-08-01"}},{"name":"toDate","in":"query","required":false,"description":"Created-at upper bound","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Activity logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminActivityGetResponse"},"example":{"success":true,"data":[],"pagination":{"total":240,"pages":5,"currentPage":1,"limit":50}}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch activity logs"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["admin"],"summary":"Create an admin activity log entry","description":"Writes a manual admin activity log row. The caller IP is taken from x-forwarded-for or x-real-ip and the user agent from the request headers.\n\n**Notes:** The POST handler does not check the session even though the GET on the same file does, so audit rows can be forged. ipAddress is truncated to 45 chars and userAgent to 500.\n\n_Source: `app/api/admin/activity/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"x-forwarded-for","in":"header","required":false,"description":"Used as the logged IP address; falls back to x-real-ip then 'unknown'","schema":{"type":"string","example":"203.0.113.10"}},{"name":"x-real-ip","in":"header","required":false,"description":"Secondary source for the logged IP address","schema":{"type":"string","example":"203.0.113.10"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminActivityPostRequest"},"example":{"adminId":3,"action":"UPDATE","entity":"VENDOR","entityId":"VEN123","description":"Approved vendor","metadata":{"from":"pending","to":"live"}}}}},"responses":{"201":{"description":"Log created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminActivityPostResponse"},"example":{"success":true,"data":{"id":"clx2","adminId":3,"action":"UPDATE"}}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"adminId and action are required"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create activity log"}}}}},"security":[]}},"/api/admin/assignment-backfill":{"post":{"tags":["admin"],"summary":"Backfill lead assignments to agents","description":"One-shot sweep that distributes unassigned master leads and vendor-onboarding leads using the same sticky-then-round-robin logic as the cron. Only touches rows where assignedAdminId is null, so re-running is safe.\n\n**Notes:** Root-admin only. force-dynamic, maxDuration 300s. Side effect: mass-reassigns lead ownership.\n\n_Source: `app/api/admin/assignment-backfill/route.ts`_\n\n_Auth: `other: session with user.isRootAdmin === true (403 otherwise)`_","parameters":[{"name":"scope","in":"query","required":false,"description":"Set to 'all' to ignore the time window and sweep every unassigned lead","schema":{"type":"string","example":"all"}},{"name":"days","in":"query","required":false,"description":"Restrict to leads created in the last N days (BACKFILL_WINDOW_DAYS default); ignored when scope=all","schema":{"type":"integer","example":7,"default":3}},{"name":"target","in":"query","required":false,"description":"Which queue to sweep: leads, vendor, or both","schema":{"type":"string","example":"leads","default":"both"}},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Backfill result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAssignmentBackfillPostResponse"},"example":{"ok":true,"scope":"window","windowDays":3,"leads":{"assigned":42},"vendorOnboarding":{"assigned":5},"durationMs":1820}}}},"403":{"description":"Not a root admin","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Forbidden"}}}},"500":{"description":"Sweep failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"sweep failed","durationMs":120}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/assignments":{"post":{"tags":["admin"],"summary":"Assign leads to an admin","description":"Bulk-assigns a list of lead ids to one admin using the sanctioned assignAdminToLeads helper, which avoids bumping MasterLeads.updatedAt.\n\n**Notes:** Audit-logged as ADMIN / ASSIGN. Routing-only write that deliberately does not touch updatedAt.\n\n_Source: `app/api/admin/assignments/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAssignmentsPostRequest"},"example":{"adminId":3,"leadIds":["LD10231","LD10232"]}}}},"responses":{"200":{"description":"Leads assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageCountEnvelope"},"example":{"success":true,"message":"Successfully assigned 2 leads/orders to Rutuja.","count":2}}}},"400":{"description":"Missing or malformed payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid request. 'adminId' and 'leadIds' (array) are required."}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"404":{"description":"Admin not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Admin not found"}}}},"500":{"description":"Assignment failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to assign leads"}}}}},"security":[{"cookieAuth":[]}]}},"/api/admin/customer-activity-logs":{"get":{"tags":["admin"],"summary":"List customer activity logs","description":"Paginated customer activity feed joined to basic customer identity. The customer filter matches phone, email or exact customerId.\n\n**Notes:** No handler-level auth check; returns customer PII (phone, email, names).\n\n_Source: `app/api/admin/customer-activity-logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"customer","in":"query","required":false,"description":"Matches customer phone, email (contains) or exact customerId","schema":{"type":"string","example":"9876543210"}},{"name":"category","in":"query","required":false,"description":"One of AUTH, ORDER, QUOTE, PROFILE, PAYMENT, COUPON, REFERRAL; anything else is ignored","schema":{"type":"string","example":"ORDER"}},{"name":"action","in":"query","required":false,"description":"Exact action match","schema":{"type":"string","example":"LOGIN"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive contains match on description","schema":{"type":"string","example":"coupon"}},{"name":"startDate","in":"query","required":false,"description":"Created-at lower bound","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Created-at upper bound","schema":{"type":"string","example":"2026-08-31"}},{"name":"page","in":"query","required":false,"description":"Page number, minimum 1","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 1-100","schema":{"type":"integer","example":50,"default":50}}],"responses":{"200":{"description":"Customer logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminCustomerActivityLogsGetResponse"},"example":{"data":[],"pagination":{"page":1,"limit":50,"total":900,"totalPages":18}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load activity logs"}}}}},"security":[]}},"/api/admin/fraud/audit-trail":{"get":{"tags":["admin"],"summary":"Merged fraud and trust audit trail","description":"Correlates the fraud registry, order flags, vendor flags and deception-flavoured failure reasons into one time-ordered feed, and rolls up parties that appear more than once as repeat offenders.\n\n**Notes:** Read-only. force-dynamic, Redis-cached for 90s, 2000 rows per source and 500 events returned. No handler-level auth check even though it exposes fraud determinations. Test orders are excluded.\n\n_Source: `app/api/admin/fraud/audit-trail/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"days","in":"query","required":false,"description":"Lookback window in days, clamped to 1-365","schema":{"type":"integer","example":30,"default":30}},{"name":"type","in":"query","required":false,"description":"Filter the feed to one event type: fraud_registry, order_flag, vendor_flag or suspicious_failure","schema":{"type":"string","example":"vendor_flag"}}],"responses":{"200":{"description":"Trust event feed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFraudAuditTrailGetResponse"},"example":{"events":[],"repeatOffenders":[],"summary":{"total":0,"high":0,"unresolvedFlags":0,"repeatOffenders":0},"days":30,"generatedAt":"2026-09-01T06:00:00.000Z"}}}},"500":{"description":"Report build failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to build fraud audit trail"}}}}},"security":[]}},"/api/admin/fraud/check-status":{"get":{"tags":["admin"],"summary":"Check if an order's IMEI is flagged stolen","description":"Hashes the order's IMEI with an HMAC secret and reports whether a matching Stolen Device entry exists in the fraud registry.\n\n**Notes:** Errors are swallowed and returned as {isFlagged:false} with HTTP 200. Hash secret is FRAUD_HMAC_SECRET, falling back to NEXTAUTH_SECRET.\n\n_Source: `app/api/admin/fraud/check-status/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"query","required":true,"description":"Master lead id to check; 400 if missing","schema":{"type":"string","example":"LD10231"}}],"responses":{"200":{"description":"Flag status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFraudCheckStatusGetResponse"},"example":{"isFlagged":false}}}},"400":{"description":"leadId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"leadId is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]}},"/api/admin/fraud/mark-stolen":{"post":{"tags":["admin"],"summary":"Flag an order's device as stolen","description":"Creates a fraud registry entry with risk score 100 for the order's IMEI and the customer's hashed phone/email, marking the device as a Stolen Device.\n\n**Notes:** Side effect: writes a permanent FraudRegistry record (deletionType admin_flagged, riskScore 100) that blocks the customer/device elsewhere. PII is stored HMAC-hashed.\n\n_Source: `app/api/admin/fraud/mark-stolen/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFraudMarkStolenPostRequest"},"example":{"leadId":"LD10231"}}}},"responses":{"200":{"description":"Device flagged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminFraudMarkStolenPostResponse"},"example":{"success":true,"message":"Device flagged as stolen successfully.","fraudId":"0f8f4d2c-1c2b-4c1a-9f0f-2c3b4d5e6f70"}}}},"400":{"description":"Missing leadId or the order has no IMEI","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This order has no IMEI recorded. Cannot flag as stolen."}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Order or customer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Order not found"}}}},"409":{"description":"IMEI already in the registry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This device IMEI is already flagged in the Fraud Registry."}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to flag device as stolen"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"AdminPostResponse":{"type":"object","x-inferred-from-example":true},"AdminGetResponse":{"type":"object","x-inferred-from-example":true},"AdminFraudAuditTrailGetResponse":{"type":"object","x-inferred-from-example":true},"AdminAbandonedCouponProgramsPostResponse":{"type":"object","x-inferred-from-example":true},"OkErrorDurationEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"},"durationMs":{"type":"integer"}},"required":["durationMs","error","ok"],"description":"Job/cron failure envelope `{ ok: false, error, durationMs }`."},"AdminFraudCheckStatusGetResponse":{"type":"object","x-inferred-from-example":true},"AdminActivityGetResponse":{"type":"object","x-inferred-from-example":true},"AdminAbandonedCouponProgramsByIdActivatePostResponse":{"type":"object","x-inferred-from-example":true},"AdminActivityPostResponse":{"type":"object","x-inferred-from-example":true},"AdminFraudMarkStolenPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"Master lead id whose device should be flagged"}},"required":["leadId"],"description":"Request body for `POST /api/admin/fraud/mark-stolen`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"AdminPutResponse":{"type":"object","x-inferred-from-example":true},"AdminAssignmentsPostRequest":{"type":"object","properties":{"adminId":{"type":"integer","description":"Admin to assign the leads to"},"leadIds":{"type":"array","items":{},"description":"Non-empty array of lead ids"}},"required":["adminId","leadIds"],"description":"Request body for `POST /api/admin/assignments`."},"AdminAbandonedCouponProgramsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Program name"},"firstCouponAmount":{"type":"integer","description":"First coupon value in rupees"},"firstCouponExpiry":{"type":"integer","description":"Hours until the first coupon expires (default 72)"},"secondCouponAmount":{"type":"integer","description":"Second coupon value in rupees"},"secondCouponExpiry":{"type":"integer","description":"Hours until the second coupon expires (default 72)"},"minOrderValue":{"type":"integer","description":"Minimum order value, nullable"},"maxRedemptions":{"type":"integer","description":"Redemption cap, nullable"},"startsAt":{"type":"string","description":"ISO start date"},"endsAt":{"type":"string","description":"ISO end date"},"notes":{"type":"string","description":"Free-text notes"},"createdBy":{"type":"string","description":"Who created the program"}},"required":["name","firstCouponAmount","secondCouponAmount"],"description":"Request body for `POST /api/admin/abandoned-coupon-programs`."},"AdminAbandonedCouponProgramsGetResponse":{"type":"object","x-inferred-from-example":true},"AdminFraudMarkStolenPostResponse":{"type":"object","x-inferred-from-example":true},"AdminPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Admin name, min 1 char"},"email":{"type":"string","description":"Unique email address"},"password":{"type":"string","description":"Plain password, min 6 chars; stored bcrypt-hashed"},"isRootAdmin":{"type":"boolean","description":"Grants every page; defaults to false"},"role":{"type":"string","description":"SUPER_ADMIN | MANAGER | TEAM_LEAD | EXECUTIVE | SALES_AGENT | VENDOR_ONBOARDING_AGENT (default EXECUTIVE)"},"department":{"type":"string","description":"Department name"},"phone":{"type":"string","description":"Phone number"},"managerId":{"type":"integer","description":"Id of the reporting manager"},"assignmentActive":{"type":"boolean","description":"Whether the admin receives round-robin lead assignments (default true)"},"permissions":{"type":"array","items":{},"description":"Array of {pageKey, canView, canEdit}; ignored for root admins"}},"required":["name","email","password"],"description":"Request body for `POST /api/admin`."},"SuccessMessageCountEnvelope":{"type":"object","x-inferred-from-example":true},"AdminAbandonedCouponProgramsByIdPatchRequest":{"type":"object","properties":{"name":{"type":"string","description":"Program name"},"firstCouponAmount":{"type":"integer","description":"Value of the first coupon in rupees"},"firstCouponExpiry":{"type":"integer","description":"Hours before the first coupon expires"},"secondCouponAmount":{"type":"integer","description":"Value of the second coupon in rupees"},"secondCouponExpiry":{"type":"integer","description":"Hours before the second coupon expires"},"minOrderValue":{"type":"integer","description":"Minimum order value, nullable"},"maxRedemptions":{"type":"integer","description":"Redemption cap, nullable"},"startsAt":{"type":"string","description":"ISO start date, nullable"},"endsAt":{"type":"string","description":"ISO end date, nullable"},"notes":{"type":"string","description":"Free-text notes, nullable"}},"description":"Request body for `PATCH /api/admin/abandoned-coupon-programs/{id}`."},"AdminAssignmentBackfillPostResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"AdminAbandonedCouponProgramsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"AdminActivityPostRequest":{"type":"object","properties":{"adminId":{"type":"integer","description":"Admin performing the action"},"action":{"type":"string","description":"Action name, e.g. UPDATE"},"entity":{"type":"string","description":"Entity type, e.g. VENDOR"},"entityId":{"type":"string","description":"Id of the affected entity"},"description":{"type":"string","description":"Human-readable description"},"metadata":{"type":"object","description":"Arbitrary JSON metadata"}},"required":["adminId","action"],"description":"Request body for `POST /api/admin/activity`."},"AdminPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Admin id to update"},"name":{"type":"string","description":"Admin name"},"email":{"type":"string","description":"New email; must be unique"},"password":{"type":"string","description":"New plain password, min 6 chars"},"isRootAdmin":{"type":"boolean","description":"Root admin flag"},"isActive":{"type":"boolean","description":"Enable/disable the account"},"role":{"type":"string","description":"SUPER_ADMIN | MANAGER | TEAM_LEAD | EXECUTIVE | SALES_AGENT | VENDOR_ONBOARDING_AGENT"},"assignmentActive":{"type":"boolean","description":"Whether the admin receives lead assignments"},"department":{"type":"string","description":"Department name"},"phone":{"type":"string","description":"Phone number"},"managerId":{"type":"integer","description":"Reporting manager id, nullable"},"permissions":{"type":"array","items":{},"description":"Full replacement array of {pageKey, canView, canEdit}"}},"required":["id"],"description":"Request body for `PUT /api/admin`."},"AdminAbandonedCouponProgramsByIdStatsGetResponse":{"type":"object","x-inferred-from-example":true},"AdminCustomerActivityLogsGetResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}},"Conflict":{"description":"Conflict - the record already exists or its current state does not allow this change. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Conflict"}}}}}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Conflict":{"summary":"409 Conflict","value":{"error":"Conflict"}},"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"},"SearchParam":{"name":"search","in":"query","required":false,"description":"Free-text search term.","schema":{"type":"string"},"example":"Asha"},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}