{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Admin & Auth 3","description":"Tags: demoUser, pages, team, users","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"demoUser"},{"name":"pages"},{"name":"team"},{"name":"users"}],"paths":{"/api/demoUser":{"post":{"tags":["demoUser"],"summary":"Create a demo user","description":"Creates a demo user used for app-store review logins. Validation requires firstName, lastName, email and otp, but only firstName, lastName, otp and phone are persisted.\n\n**Notes:** Quirk: email is validated but never written to the row. No handler-level auth check.\n\n_Source: `app/api/demoUser/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserPostRequest"},"example":{"firstName":"Asha","lastName":"Verma","email":"asha@example.com","otp":"123456","phone":"9876543210"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserPostResponse"},"example":{"id":12,"firstName":"Asha","lastName":"Verma","phone":"9876543210","otp":"123456"}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing required fields"}}}},"409":{"description":"Duplicate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Email already exists"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create user"}}}}},"security":[]}},"/api/demoUser/{id}":{"get":{"tags":["demoUser"],"summary":"Get a demo user","description":"Fetches a single demo user record. Despite the dynamic route segment, the handler reads the numeric id from the query string, not from the path.\n\n**Notes:** Quirk: the id comes from req.nextUrl.searchParams.get('id'), so you must call /api/demoUser/12?id=12. No handler-level auth check.\n\n_Source: `app/api/demoUser/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Demo user id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"12"},{"name":"id","in":"query","required":true,"description":"Demo user id. The handler reads this query param, NOT the path segment; a non-numeric value returns 400.","schema":{"type":"integer","example":12}}],"responses":{"200":{"description":"Demo user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserByIdGetResponse"},"example":{"id":12,"firstName":"Asha","lastName":"Verma","phone":"9876543210","otp":"123456"}}}},"400":{"description":"Invalid id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"User not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch user"}}}}},"security":[]},"put":{"tags":["demoUser"],"summary":"Update a demo user","description":"Updates first name, last name, otp and phone of a demo user. The id is read from the query string rather than the path segment. Wrapped in the admin audit logger.\n\n**Notes:** Writes an AdminActivityLog entry only when a NextAuth session happens to exist. No handler-level auth check.\n\n_Source: `app/api/demoUser/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Demo user id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"12"},{"name":"id","in":"query","required":true,"description":"Demo user id read from the query string; non-numeric returns 400.","schema":{"type":"integer","example":12}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserByIdPutRequest"},"example":{"firstName":"Asha","lastName":"Verma","otp":"123456","phone":"9876543210"}}}},"responses":{"200":{"description":"Updated demo user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DemoUserByIdPutResponse"},"example":{"id":12,"firstName":"Asha","lastName":"Verma","phone":"9876543210","otp":"123456"}}}},"400":{"description":"Invalid id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"User not found"}}}},"409":{"description":"Duplicate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Email already exists"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update user"}}}}},"security":[]},"delete":{"tags":["demoUser"],"summary":"Delete a demo user","description":"Permanently deletes a demo user row. The id is read from the query string rather than the path segment.\n\n**Notes:** Destructive and unauthenticated. Audit-logged only when a session exists.\n\n_Source: `app/api/demoUser/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Demo user id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"12"},{"name":"id","in":"query","required":true,"description":"Demo user id read from the query string; non-numeric returns 400.","schema":{"type":"integer","example":12}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Invalid id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"User not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete user"}}}}},"security":[]}},"/api/pages/sync":{"get":{"tags":["pages"],"summary":"Sync admin pages into the Page table","description":"Reads the static admin page registry and upserts every page into the Page table with its icon, parent key and section-derived sort order, reporting created/updated/error counts.\n\n**Notes:** Unauthenticated write endpoint: a GET mutates the Page table.\n\n_Source: `app/api/pages/sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Sync summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagesSyncGetResponse"},"example":{"success":true,"message":"Sync completed. Created: 4, Updated: 71, Errors: 0","results":{"created":["referral-payouts"],"updated":["dashboard"],"skipped":[],"errors":[]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to sync pages"}}}}},"security":[]},"post":{"tags":["pages"],"summary":"Sync admin pages (POST alias)","description":"Identical to the GET handler — it simply delegates to it so the sync can also be triggered with a POST.\n\n**Notes:** Delegates to GET; no request body is read.\n\n_Source: `app/api/pages/sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Sync summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PagesSyncPostResponse"},"example":{"success":true,"message":"Sync completed. Created: 0, Updated: 75, Errors: 0","results":{"created":[],"updated":["dashboard"],"skipped":[],"errors":[]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to sync pages"}}}}},"security":[]}},"/api/team/assignment":{"get":{"tags":["team"],"summary":"List assignment","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/team/assignment/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/team/assignment/distribute":{"post":{"tags":["team"],"summary":"Distribute — POST team/assignment/distribute","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/team/assignment/distribute/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]}},"/api/team/assignment/handover":{"post":{"tags":["team"],"summary":"Handover — POST team/assignment/handover","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/team/assignment/handover/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]}},"/api/team/day-close":{"get":{"tags":["team"],"summary":"List day close","description":"Operation reconstructed from source during the re-audit. Query parameters: date. \n\n_Source: `app/api/team/day-close/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"date","in":"query","required":false,"description":"Query parameter `date`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/team/live-floor":{"get":{"tags":["team"],"summary":"List live floor","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/team/live-floor/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/team/reviews":{"get":{"tags":["team"],"summary":"List reviews","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/team/reviews/route.ts`_\n\n_Auth: `cookieAuth`_\n\n_Audit 2026-09 (stage): security corrected: the GET handler performs no session check. `getServerSession` is imported in this file but only PATCH/POST use it._","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"name":"adminId","in":"query","required":false,"description":"Restrict the result to a single admin.","schema":{"type":"integer"}},{"name":"week","in":"query","required":false,"description":"Week anchor date (YYYY-MM-DD); the handler snaps it to the IST week start.","schema":{"type":"string"}}]},"post":{"tags":["team"],"summary":"Create reviews","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/team/reviews/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["team"],"summary":"Update reviews","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/team/reviews/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}},"security":[{"cookieAuth":[]}]}},"/api/users":{"get":{"tags":["users"],"summary":"List customers with stats","description":"Paginated, searchable list of non-deleted customers with their primary address, order count and average vendor/cashboy rating, plus header stats for total, active and blocked users.\n\n**Notes:** No handler-level auth check - returns customer PII. Note that sortBy=orders only reorders the rows already on the current page, so it is not a true global sort.\n\n_Source: `app/api/users/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on firstName, lastName, email or phone","schema":{"type":"string","example":"anita"}},{"name":"page","in":"query","required":false,"description":"Page number; clamped to a minimum of 1","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page; clamped to 1-50","schema":{"type":"integer","example":10,"default":10}},{"name":"sortBy","in":"query","required":false,"description":"createdAt, name or orders. 'orders' is sorted in-memory within the current page only.","schema":{"type":"string","example":"orders","default":"createdAt"}},{"name":"sortOrder","in":"query","required":false,"description":"asc or desc; anything other than 'asc' is treated as desc","schema":{"type":"string","example":"desc","default":"desc"}}],"responses":{"200":{"description":"Customer list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersGetResponse"},"example":{"data":[{"id":"CUST_1029384","name":"Anita Desai","email":"anita@example.com","phone":"9812345678","city":"Pune","pincode":"411045","isBlocked":false,"orders":5,"averageRating":4.6,"reviewsCount":9}],"pagination":{"page":1,"pages":153,"total":1523,"limit":10},"stats":{"totalUsers":1523,"activeUsers":1498,"blockedUsers":25}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load users"}}}}},"security":[]},"patch":{"tags":["users"],"summary":"Block or unblock a customer and sync Firebase","description":"Sets isBlocked on a customer and mirrors the change to Firebase Auth by disabling or enabling the linked firebaseId. Firebase failures are logged but do not fail the request.\n\n**Notes:** No handler-level auth check. Side effect: disables/enables the customer in Firebase Auth (customer service account, app name 'customer'), locking them out of the app. Firebase sync errors are swallowed, so the DB and Firebase can drift out of sync while the response still says success. Stricter than PATCH /api/users/block, which coerces isBlocked.\n\n_Source: `app/api/users/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersPatchRequest"},"example":{"customerId":"CUST_1029384","isBlocked":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersPatchResponse"},"example":{"success":true,"message":"User blocked successfully","data":{"customerId":"CUST_1029384","firstName":"Anita","lastName":"Desai","isBlocked":true,"email":"anita@example.com"}}}}},"400":{"description":"Missing customerId or non-boolean isBlocked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"isBlocked must be a boolean"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update user block status"}}}}},"security":[]}},"/api/users/block":{"patch":{"tags":["users"],"summary":"Block or unblock a customer","description":"Sets the isBlocked flag on a customer identified by id in the JSON body.\n\n**Notes:** No handler-level auth check. Because isBlocked is coerced with !!, omitting the field UNBLOCKS the customer rather than leaving it unchanged. Audit-logged as USER/STATUS_CHANGE.\n\n_Source: `app/api/users/block/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersBlockPatchRequest"},"example":{"id":"CUST_1029384","isBlocked":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersBlockPatchResponse"},"example":{"id":"CUST_1029384","name":"Anita Desai","isBlocked":true}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"User id is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update user"}}}}},"security":[]}},"/api/users/{id}":{"get":{"tags":["users"],"summary":"Get a customer profile with orders and referrals","description":"Returns a customer's profile, addresses, up to 50 recent orders and reviews, average rating from vendor/cashboy reviews, journey stats, and up to 20 referred leads with referral value.\n\n**Notes:** No handler-level auth check - returns customer PII (name, email, phone, full addresses) plus the phone numbers of referred customers. Orders and reviews are capped at 50, referrals at 20.\n\n_Source: `app/api/users/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Customer id","schema":{"type":"string"},"example":"CUST_1029384"}],"responses":{"200":{"description":"Customer profile","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersByIdGetResponse"},"example":{"id":"CUST_1029384","name":"Anita Desai","email":"anita@example.com","phone":"9812345678","isBlocked":false,"averageRating":4.6,"reviewsCount":9,"journeyStats":{"total":5,"completed":3,"inProgress":1,"failed":1,"totalEarnings":61200},"referralStats":{"totalReferrals":2,"completedReferrals":1,"referralValue":18000},"address":{"address":"14 Baner Road","city":"Pune","pincode":"411045","type":"HOME"},"recentOrders":[],"reviews":[]}}}},"400":{"description":"Missing user id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"User id required"}}}},"404":{"description":"User not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"User not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load user details"}}}}},"security":[]}},"/api/users/{id}/journey":{"get":{"tags":["users"],"summary":"Get a customer's order journey timeline","description":"Returns every master lead for the customer newest first, resolved to the device (mobile, laptop, tablet or watch) and assigned vendor, plus summary stats including total earnings and a device-type breakdown.\n\n**Notes:** No handler-level auth check despite exposing customer order history and vendor phone numbers. Unbounded - returns ALL leads for the customer with no pagination.\n\n_Source: `app/api/users/[id]/journey/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Customer id (masterLeads.customerId)","schema":{"type":"string"},"example":"CUST_1029384"}],"responses":{"200":{"description":"Journey and stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsersByIdJourneyGetResponse"},"example":{"journey":[{"leadId":"LD202608150042","deviceType":"Mobile","deviceInfo":{"type":"Mobile","brand":"Apple","model":"iPhone 13"},"primaryStatus":"Completed","generatedPrice":"24000","finalPrice":"22500","vendor":{"name":"Rahul Sharma","phone":"9876543210"}}],"stats":{"totalOrders":5,"completed":3,"inProgress":1,"failed":1,"totalEarnings":61200,"deviceBreakdown":{"Mobile":4,"Laptop":1,"Tablet":0,"Watch":0,"Other":0}}}}}},"400":{"description":"Missing user id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"User id required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load user journey"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"DemoUserByIdGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"UsersGetResponse":{"type":"object","x-inferred-from-example":true},"DemoUserByIdPutRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"First name"},"lastName":{"type":"string","description":"Last name"},"otp":{"type":"string","description":"Fixed OTP the demo user logs in with"},"phone":{"type":"string","description":"Phone number"}},"description":"Request body for `PUT /api/demoUser/{id}`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"DemoUserByIdPutResponse":{"type":"object","x-inferred-from-example":true},"UsersByIdGetResponse":{"type":"object","x-inferred-from-example":true},"UsersPatchResponse":{"type":"object","x-inferred-from-example":true},"DemoUserPostResponse":{"type":"object","x-inferred-from-example":true},"UsersBlockPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"Customer id; 400 if missing"},"isBlocked":{"type":"boolean","description":"Coerced with !! - any falsy or omitted value unblocks the user"}},"required":["id"],"description":"Request body for `PATCH /api/users/block`."},"UsersByIdJourneyGetResponse":{"type":"object","x-inferred-from-example":true},"PagesSyncPostResponse":{"type":"object","x-inferred-from-example":true},"UsersBlockPatchResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"UsersPatchRequest":{"type":"object","properties":{"customerId":{"type":"string","description":"Customer id; 400 if missing"},"isBlocked":{"type":"boolean","description":"Must be a real boolean; 400 otherwise"}},"required":["customerId","isBlocked"],"description":"Request body for `PATCH /api/users`."},"DemoUserPostRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"First name"},"lastName":{"type":"string","description":"Last name"},"email":{"type":"string","description":"Required by validation but not stored"},"otp":{"type":"string","description":"Fixed OTP the demo user logs in with"},"phone":{"type":"string","description":"Phone number"}},"required":["firstName","lastName","email","otp"],"description":"Request body for `POST /api/demoUser`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"PagesSyncGetResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}