{"openapi":"3.1.0","info":{"title":"CashKr Admin API — B2B Buyback 2","description":"Tags: b2b-buyback, corporate-buyback","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"b2b-buyback"},{"name":"corporate-buyback"}],"paths":{"/api/b2b-buyback/deals/{id}/items/{itemId}":{"put":{"tags":["b2b-buyback"],"summary":"Update one item's inspection data","description":"Patches inspection fields on a single deal item — serials, notes, condition, per-unit quotes and quote prices. Only the keys present in the body are written.\n\n**Notes:** Unlike PUT on the collection route, this does NOT recalculate the deal's finalQuoteAmount. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/items/[itemId]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"},{"name":"itemId","in":"path","required":true,"description":"B2BDealItem id","schema":{"type":"string"},"example":"clx9i7r4x0003ef"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsByItemIdPutRequest"},"example":{"serial":"[\"356938035643809\",\"356938035643810\"]","condition":"Good","finalQuotePrice":21500,"inspectedAt":"2026-08-30T12:00:00.000Z"}}}},"responses":{"200":{"description":"Updated item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsByItemIdPutResponse"},"example":{"data":{"id":"clx9i7r4x0003ef","condition":"Good","finalQuotePrice":21500}}}}},"404":{"description":"Deal or item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item not found in this deal"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update item"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/purchase-order":{"get":{"tags":["b2b-buyback"],"summary":"Get the stored purchase order PDF","description":"Returns the PO number, URL, generation timestamp and notes saved on the deal.\n\n_Source: `app/api/b2b-buyback/deals/[id]/purchase-order/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"PO metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdPurchaseOrderGetResponse"},"example":{"poNumber":"PO-2026-0031","poUrl":"https://.../po_B2B-2026-0031.pdf","poGeneratedAt":"2026-09-01T09:14:02.000Z","poNotes":"Pickup on 5 Sep"}}}},"404":{"description":"Deal missing or PO never generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"PO not generated"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Generate the purchase order PDF","description":"Generates (or regenerates) the Purchase Order PDF for a deal, uploads it to S3, saves the PO number, URL and optional notes on the deal, and logs the action.\n\n**Notes:** force-dynamic, maxDuration 60s. The JSON body is optional (a parse failure is swallowed). Also fires automatically when any deal moves to Approved via PUT /api/b2b-buyback/deals/{id}. Error status codes for PoGenerationError come from the error itself.\n\n_Source: `app/api/b2b-buyback/deals/[id]/purchase-order/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdPurchaseOrderPostRequest"},"example":{"notes":"Pickup on 5 Sep, gate pass required"}}}},"responses":{"200":{"description":"Generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdPurchaseOrderPostResponse"},"example":{"ok":true,"deal":{"id":"clx9d0f2m0001ab","poNumber":"PO-2026-0031","poUrl":"https://.../po_B2B-2026-0031.pdf","poGeneratedAt":"2026-09-01T09:14:02.000Z"}}}}},"400":{"description":"PoGenerationError with a client-side status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal has no items to place on a purchase order"}}}},"404":{"description":"PoGenerationError for a missing deal","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"PDF or upload failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"S3 upload failed"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/seller-invoice":{"post":{"tags":["b2b-buyback"],"summary":"Upload the seller's GST invoice","description":"Uploads the seller invoice file to DigitalOcean Spaces under b2b/direct-buyback/{dealId}/, stores the URL plus optional invoice number and date on the deal, and adds a deal log entry.\n\n**Notes:** multipart/form-data — do not set Content-Type manually. force-dynamic, maxDuration 60s. Intended for direct buyback deals. No audit-log wrapper.\n\n_Source: `app/api/b2b-buyback/deals/[id]/seller-invoice/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdSellerInvoicePostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdSellerInvoicePostResponse"},"example":{"ok":true,"deal":{"id":"clx9d0f2m0001ab","sellerInvoiceUrl":"https://.../seller-invoice_B2B-2026-0031.pdf","sellerInvoiceNumber":"INV/2026/889","sellerInvoiceDate":"2026-08-30T00:00:00.000Z"}}}}},"400":{"description":"Missing file, file over 10 MB, or unsupported MIME type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unsupported file type text/csv. Use PDF or image."}}}},"404":{"description":"Deal not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"S3 upload failed"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/upload":{"post":{"tags":["b2b-buyback"],"summary":"Import deal items from a CSV","description":"Parses an uploaded CSV of devices, REPLACES all existing items on the deal with the parsed rows, moves the deal to DataReceived and logs the import — all inside one transaction.\n\n**Notes:** DESTRUCTIVE: deletes every existing B2BDealItem on the deal before inserting the CSV rows, and forces deal.status to DataReceived. Naive comma splitting — quoted fields containing commas will be dropped as malformed rows. multipart/form-data. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/upload/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdUploadPostRequest"}}}},"responses":{"200":{"description":"Imported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageCountEnvelope"},"example":{"success":true,"count":12,"message":"Successfully imported 12 items."}}}},"400":{"description":"No file, empty CSV, missing columns, or no valid rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing columns: quantity"}}}},"500":{"description":"Import failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process CSV file"}}}}},"security":[]}},"/api/b2b-buyback/leads":{"get":{"tags":["b2b-buyback"],"summary":"List B2B buyback leads","description":"Returns all B2B leads ordered by updatedAt desc, each with its most recent interaction. Supports status, free-text search and follow-up-date filtering.\n\n**Notes:** No handler-level auth check. Not paginated - returns every matching lead.\n\n_Source: `app/api/b2b-buyback/leads/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"status","in":"query","required":false,"description":"Lead status filter. The literal value 'All' is ignored.","schema":{"type":"string","example":"New"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive search across companyName, contactName, contactEmail, contactPhone and city.","schema":{"type":"string","example":"Acme"}},{"name":"followUp","in":"query","required":false,"description":"Follow-up window: today | week | overdue | all. Any value except 'all' also excludes Converted/Lost/Disqualified leads.","schema":{"type":"string","example":"today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsGetResponse"},"example":{"success":true,"data":[{"id":"clx1","companyName":"Acme Pvt Ltd","contactName":"Ramesh","status":"New"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch leads"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Create a B2B buyback lead","description":"Creates a B2BLead with an initial 'Lead Created' interaction and assigns it to the logged-in admin (by session email) when a session exists. Emails the B2B notify list.\n\n**Notes:** The session check is COMMENTED OUT - no auth is enforced. Side effect: sends a notification email to the B2B notify list. No server-side validation of required fields. Audited via withAuditLog as B2B_LEAD.\n\n_Source: `app/api/b2b-buyback/leads/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsPostRequest"},"example":{"companyName":"Acme Pvt Ltd","contactName":"Ramesh Kumar","contactPhone":"9876543210","contactEmail":"ramesh@acme.in","city":"Mumbai","state":"Maharashtra","pincode":"400001","source":"Referral","subject":"Bulk laptop buyback","query":"We want to sell 40 laptops."}}}},"responses":{"200":{"description":"Lead created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsPostResponse"},"example":{"success":true,"data":{"id":"clx1","companyName":"Acme Pvt Ltd","status":"New"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create lead"}}}}},"security":[]}},"/api/b2b-buyback/leads/import":{"post":{"tags":["b2b-buyback"],"summary":"Import B2B buyback leads from CSV","description":"Uploads a CSV file (header row: Company, Name, Email, Phone, City, Source) and creates one B2BLead per valid row, each with an initial 'Imported via CSV' interaction note. Sends a single summary email to the B2B notify list.\n\n**Notes:** Session is read for the assignedTo/performedBy name but the auth check is COMMENTED OUT - the route is not gated by the handler itself. Side effect: sends a summary email to user@cashkr.com and user@cashkr.com. Rows are created sequentially (slow for large CSVs). Audited via withAuditLog as B2B_LEAD/IMPORT.\n\n_Source: `app/api/b2b-buyback/leads/import/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsImportPostRequest"}}}},"responses":{"200":{"description":"Leads imported","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Imported 12 leads successfully"}}}},"400":{"description":"No file uploaded or no valid rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"No valid leads found in CSV"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to import leads"}}}}},"security":[]}},"/api/b2b-buyback/leads/{id}":{"get":{"tags":["b2b-buyback"],"summary":"Get a B2B lead","description":"Returns one B2BLead with all of its interactions, newest first.\n\n_Source: `app/api/b2b-buyback/leads/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BLead id","schema":{"type":"string"},"example":"clx9l3p9q0002cd"}],"responses":{"200":{"description":"Lead detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsByIdGetResponse"},"example":{"success":true,"data":{"id":"clx9l3p9q0002cd","companyName":"Acme Pvt Ltd","contactName":"Priya Nair","status":"New","source":"Website","isConverted":false,"interactions":[]}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch lead"}}}}},"security":[]},"patch":{"tags":["b2b-buyback"],"summary":"Update a lead or add an interaction","description":"With action='add_interaction' it appends a B2BLeadInteraction attributed to the signed-in admin; otherwise every remaining body key is applied directly as the lead's Prisma update payload.\n\n**Notes:** No field whitelist — the spread of the body goes straight into prisma.b2BLead.update, so any unrecognised key returns a 500. Logs the full request body to the server console. Wrapped in withAuditLog (entity B2B_LEAD).\n\n_Source: `app/api/b2b-buyback/leads/[id]/route.ts`_\n\n_Auth: `other: reads getServerSession only to name the interaction's performedBy (falls back to 'Admin'); requests are never rejected`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BLead id","schema":{"type":"string"},"example":"clx9l3p9q0002cd"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsByIdPatchRequest"},"example":{"status":"Contacted","notes":"Left voicemail, will retry Friday"}}}},"responses":{"200":{"description":"Lead updated, or interaction created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsByIdPatchResponse"},"example":{"success":true,"data":{"id":"clx9l3p9q0002cd","status":"Contacted"}}}}},"500":{"description":"Update failed (includes unknown keys or an unknown id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update lead"}}}}},"security":[]},"delete":{"tags":["b2b-buyback"],"summary":"Delete a B2B lead","description":"Hard-deletes the B2BLead row.\n\n**Notes:** DESTRUCTIVE hard delete with no auth. Wrapped in withAuditLog (entity B2B_LEAD).\n\n_Source: `app/api/b2b-buyback/leads/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BLead id","schema":{"type":"string"},"example":"clx9l3p9q0002cd"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Lead deleted"}}}},"500":{"description":"Delete failed (includes an unknown id or FK constraint)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete lead"}}}}},"security":[]}},"/api/b2b-buyback/leads/{id}/convert":{"post":{"tags":["b2b-buyback"],"summary":"Convert a B2B lead into a client","description":"Uploads the KYC documents to Linode, creates a B2BClient from the lead (with any supplied overrides), then marks the lead Converted and links it to the new client with a Conversion interaction.\n\n**Notes:** multipart/form-data — do not set Content-Type manually. Document upload failures are caught and logged, so conversion still succeeds with a null document URL. Not transactional: the client is created before the lead is flipped to Converted. Wrapped in withAuditLog (entity B2B_LEAD, action STATUS_CHANGE).\n\n_Source: `app/api/b2b-buyback/leads/[id]/convert/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BLead id","schema":{"type":"string"},"example":"clx9l3p9q0002cd"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsByIdConvertPostRequest"}}}},"responses":{"200":{"description":"Converted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackLeadsByIdConvertPostResponse"},"example":{"success":true,"data":{"id":"clx9c1k7t0000zz","companyName":"Acme Pvt Ltd","status":"Active","leadId":"clx9l3p9q0002cd"}}}}},"400":{"description":"Lead already converted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead already converted"}}}},"404":{"description":"Lead not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Conversion failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to convert lead"}}}}},"security":[]}},"/api/b2b-buyback/reports":{"get":{"tags":["b2b-buyback"],"summary":"Get B2B buyback deal and inventory report","description":"Aggregates B2B deals for a period into totals by status, closed-deal payment value, pending quote value, active client count, B2B excess-buyback inventory stats and the top 5 clients by deal value.\n\n**Notes:** No handler-level auth check. Read-only aggregation over B2BDeal and ExcessBuyback (source=B2B).\n\n_Source: `app/api/b2b-buyback/reports/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"period","in":"query","required":false,"description":"Date window: week (last 7 days) | month (current month) | year (current year) | all.","schema":{"type":"string","example":"month","default":"all"}},{"name":"clientId","in":"query","required":false,"description":"Restrict the report to a single B2B client.","schema":{"type":"string","example":"clx9a1"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackReportsGetResponse"},"example":{"period":"month","summary":{"totalDeals":14,"activeClients":6,"totalPaymentAmount":845000,"totalItemsPurchased":120,"pendingDeals":5,"pendingQuoteValue":230000},"dealsByStatus":{"Closed":9,"Negotiation":5},"inventory":{"inStock":40,"inStockValue":510000,"sold":22,"salesRevenue":390000,"salesCost":300000,"salesProfit":90000},"topClients":[{"name":"Acme Pvt Ltd","deals":4,"value":320000}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch reports"}}}}},"security":[]}},"/api/corporate-buyback":{"get":{"tags":["corporate-buyback"],"summary":"Deprecated corporate buyback list","description":"Deprecated stub that always returns an empty list and a message pointing at /api/b2b-buyback/leads. It performs no database query.\n\n**Notes:** DEPRECATED - always returns an empty array regardless of input. Use GET /api/b2b-buyback/leads instead.\n\n_Source: `app/api/corporate-buyback/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Empty deprecated payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateBuybackGetResponse"},"example":{"data":[],"pagination":{"total":0,"pages":0,"currentPage":1,"limit":10},"message":"This endpoint is deprecated for fetching. Use /api/b2b-buyback/leads"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]},"post":{"tags":["corporate-buyback"],"summary":"Submit a website corporate buyback inquiry","description":"Public website intake form. Validates the payload with Zod and creates a B2BLead (source 'Website', status 'New') with an initial Inquiry interaction, mapping name to company name and district to city.\n\n**Notes:** No handler-level auth check - this is the public website form endpoint. Writes a B2BLead, NOT a CorporateBuyback row. Side effect: emails user@cashkr.com and user@cashkr.com. `status` is required by the schema but ignored. Audited via withAuditLog as CORPORATE_BUYBACK.\n\n_Source: `app/api/corporate-buyback/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateBuybackPostRequest"},"example":{"name":"Acme Pvt Ltd","email":"ramesh@acme.in","mobile":"9876543210","state":"Maharashtra","district":"Mumbai","pincode":"400001","subject":"Bulk laptop buyback","query":"We want to sell 40 laptops.","status":"PENDING","jobTitle":"IT Manager"}}}},"responses":{"200":{"description":"Lead created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateBuybackPostResponse"},"example":{"success":true,"data":{"id":"clx1","companyName":"Acme Pvt Ltd","status":"New","source":"Website"}}}}},"400":{"description":"Zod validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateBuybackPost400Response"},"example":{"error":"Invalid input","details":[{"path":["email"],"message":"Invalid email"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create buyback request"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"B2bBuybackDealsByIdItemsByItemIdPutRequest":{"type":"object","properties":{"serial":{"type":"string","description":"Serial number, or a JSON-encoded array of serials (one per unit)."},"inspectionNotes":{"type":"string","description":"Inspector's notes."},"maxQuote":{"type":"number","description":"Maximum quote allowed for this line."},"unitQuotes":{"type":"string","description":"Per-unit quoted prices."},"inspectedAt":{"type":"string","description":"ISO timestamp of inspection."},"condition":{"type":"string","description":"Graded condition, e.g. Good."},"firstQuotePrice":{"type":"number","description":"Initial per-unit quote."},"finalQuotePrice":{"type":"number","description":"Final per-unit quote."}},"description":"Request body for `PUT /api/b2b-buyback/deals/{id}/items/{itemId}`."},"B2bBuybackLeadsByIdPatchRequest":{"type":"object","properties":{"action":{"type":"string","description":"Set to 'add_interaction' to log an interaction instead of updating the lead."},"type":{"type":"string","description":"Interaction type when action='add_interaction', e.g. Call."},"details":{"type":"string","description":"Interaction details when action='add_interaction'."},"status":{"type":"string","description":"Lead status for a regular update, e.g. New | Contacted | Qualified | Converted."},"notes":{"type":"string","description":"Free-text notes on the lead."},"companyName":{"type":"string","description":"Company name."},"contactName":{"type":"string","description":"Contact person."},"contactPhone":{"type":"string","description":"Contact phone."},"contactEmail":{"type":"string","description":"Contact email."}},"description":"Request body for `PATCH /api/b2b-buyback/leads/{id}`."},"B2bBuybackDealsByIdPurchaseOrderGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdPurchaseOrderPostRequest":{"type":"object","properties":{"notes":{"type":"string","description":"Printed on the PDF and stored as poNotes. The whole body is optional."}},"description":"Request body for `POST /api/b2b-buyback/deals/{id}/purchase-order`."},"CorporateBuybackPost400Response":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdSellerInvoicePostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackLeadsByIdConvertPostRequest":{"type":"object","properties":{"companyName":{"type":"string","description":"Overrides the lead's company name."},"gstNumber":{"type":"string","description":"GSTIN for the new client."},"contactName":{"type":"string","description":"Overrides the lead's contact name."},"contactPhone":{"type":"string","description":"Overrides the lead's contact phone."},"contactEmail":{"type":"string","description":"Overrides the lead's contact email."},"address":{"type":"string","description":"Overrides the lead's address."},"city":{"type":"string","description":"Overrides the lead's city."},"designation":{"type":"string","description":"Contact designation; falls back to the lead's jobTitle."},"authorization":{"type":"string","format":"binary","description":"Authorization letter."},"gstpan":{"type":"string","format":"binary","description":"GST / PAN certificate."},"bank":{"type":"string","format":"binary","description":"Bank account proof."}},"description":"Request body for `POST /api/b2b-buyback/leads/{id}/convert`."},"B2bBuybackLeadsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdItemsByItemIdPutResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackLeadsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdPurchaseOrderPostResponse":{"type":"object","x-inferred-from-example":true},"CorporateBuybackPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Contact/company name, min 2 chars"},"email":{"type":"string","description":"Valid email address"},"mobile":{"type":"string","description":"Phone number, min 10 chars"},"state":{"type":"string","description":"State, min 2 chars"},"district":{"type":"string","description":"District - stored as the lead's city"},"pincode":{"type":"string","description":"Pincode, min 5 chars"},"subject":{"type":"string","description":"Inquiry subject, min 3 chars"},"query":{"type":"string","description":"Inquiry body, min 5 chars"},"status":{"type":"string","description":"Required by the schema: PENDING | IN_PROGRESS | APPROVED | REJECTED | COMPLETED. Ignored on write - the lead is always created as 'New'."},"adminNotes":{"type":"string","description":"Optional admin notes (not persisted)"},"assignedTo":{"type":"string","description":"Optional assignee (not persisted)"},"jobTitle":{"type":"string","description":"Contact job title"},"id":{"type":"string","description":"Accepted by the schema for updates but unused"}},"required":["name","email","mobile","state","district","pincode","subject","query","status"],"description":"Request body for `POST /api/corporate-buyback`."},"B2bBuybackLeadsPostRequest":{"type":"object","properties":{"companyName":{"type":"string","description":"Company name"},"contactName":{"type":"string","description":"Primary contact person"},"contactPhone":{"type":"string","description":"Contact phone"},"contactEmail":{"type":"string","description":"Contact email"},"jobTitle":{"type":"string","description":"Contact job title"},"website":{"type":"string","description":"Company website"},"industry":{"type":"string","description":"Industry"},"address":{"type":"string","description":"Street address"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"pincode":{"type":"string","description":"Pincode"},"subject":{"type":"string","description":"Inquiry subject"},"query":{"type":"string","description":"Inquiry text"},"status":{"type":"string","description":"Lead status; defaults to 'New'"},"source":{"type":"string","description":"Lead source"},"notes":{"type":"string","description":"Free-form notes"}},"description":"Request body for `POST /api/b2b-buyback/leads`."},"B2bBuybackDealsByIdUploadPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"CSV with a header row. Required columns: 'device type', 'brand', 'model', 'quantity'. Optional: specification/spec/variant, condition, 'is working', 'known issues'."}},"required":["file"],"description":"Request body for `POST /api/b2b-buyback/deals/{id}/upload`."},"SuccessMessageCountEnvelope":{"type":"object","x-inferred-from-example":true},"B2bBuybackLeadsPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdSellerInvoicePostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"PDF or image (application/pdf, image/jpeg, image/png, image/webp), max 10 MB."},"invoiceNumber":{"type":"string","description":"Seller invoice number, saved as sellerInvoiceNumber."},"invoiceDate":{"type":"string","description":"Invoice date, parsed with new Date(); ignored when unparseable."}},"required":["file"],"description":"Request body for `POST /api/b2b-buyback/deals/{id}/seller-invoice`."},"CorporateBuybackPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackLeadsImportPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"CSV file. Row order: Company, Name, Email, Phone, City, Source. Header row is skipped."}},"required":["file"],"description":"Request body for `POST /api/b2b-buyback/leads/import`."},"B2bBuybackLeadsByIdConvertPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackLeadsGetResponse":{"type":"object","x-inferred-from-example":true},"CorporateBuybackGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"B2bBuybackReportsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."}},"responses":{"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}}},"examples":{"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}