{"openapi":"3.1.0","info":{"title":"CashKr Admin API — B2B Buyback 1","description":"Tags: b2b-buyback","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"b2b-buyback"}],"paths":{"/api/b2b-buyback/clients":{"get":{"tags":["b2b-buyback"],"summary":"List B2B clients","description":"Returns all B2B clients newest first, with a deal count, optionally filtered by a free-text search and relationship status.\n\n**Notes:** Unpaginated — the whole client list is returned.\n\n_Source: `app/api/b2b-buyback/clients/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on company name, contact name, GST number, phone or email.","schema":{"type":"string","example":"Acme"}},{"name":"relationshipStatus","in":"query","required":false,"description":"Exact match on relationshipStatus.","schema":{"type":"string","example":"Active"}}],"responses":{"200":{"description":"Client list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsGetResponse"},"example":{"success":true,"data":[{"id":"clx9c1k7t0000zz","companyName":"Acme Pvt Ltd","contactEmail":"ops@acme.in","relationshipStatus":"Active","_count":{"deals":4}}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch clients"}}}}},"security":[]}},"/api/b2b-buyback/clients/{id}":{"get":{"tags":["b2b-buyback"],"summary":"Get a B2B client","description":"Returns one B2BClient with all of its deals (including deal items) and its 20 most recent interactions.\n\n_Source: `app/api/b2b-buyback/clients/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BClient id","schema":{"type":"string"},"example":"clx9c1k7t0000zz"}],"responses":{"200":{"description":"Client detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdGetResponse"},"example":{"success":true,"data":{"id":"clx9c1k7t0000zz","companyName":"Acme Pvt Ltd","gstNumber":"27AABCU9603R1ZM","relationshipStatus":"Active","deals":[],"interactions":[]}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Client not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch client"}}}}},"security":[]},"patch":{"tags":["b2b-buyback"],"summary":"Update a B2B client","description":"Applies the request body directly as the Prisma update payload for the B2BClient row — every writable client column can be set this way.\n\n**Notes:** The body is passed straight to prisma.b2BClient.update({ data: body }) with no whitelist, so any unknown key produces a 500. Wrapped in withAuditLog (entity B2B_CLIENT).\n\n_Source: `app/api/b2b-buyback/clients/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BClient id","schema":{"type":"string"},"example":"clx9c1k7t0000zz"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdPatchRequest"},"example":{"relationshipStatus":"Active","contactPhone":"9820011223"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdPatchResponse"},"example":{"success":true,"data":{"id":"clx9c1k7t0000zz","companyName":"Acme Pvt Ltd","relationshipStatus":"Active"}}}}},"500":{"description":"Update failed (includes a non-existent id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update client"}}}}},"security":[]}},"/api/b2b-buyback/clients/{id}/documents":{"post":{"tags":["b2b-buyback"],"summary":"Upload a B2B client document","description":"Uploads an authorization letter, GST/PAN certificate or bank account proof to Linode object storage and stores the resulting URL on the B2BClient row.\n\n**Notes:** multipart/form-data — do not set Content-Type manually. Writes to Linode object storage via uploadB2BClientDocument and overwrites the matching *Url column on the client. Wrapped in withAuditLog (entity B2B_CLIENT). No file-size or MIME validation.\n\n_Source: `app/api/b2b-buyback/clients/[id]/documents/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BClient id","schema":{"type":"string"},"example":"clx9c1k7t0000zz"}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdDocumentsPostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUrlEnvelope"},"example":{"success":true,"url":"https://cashkar.<region>.linodeobjects.com/b2b/clients/acme/authorization_letter_1a2b.pdf"}}}},"400":{"description":"Missing file/type or unknown type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid document type"}}}},"404":{"description":"Client not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Client not found"}}}},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to upload document"}}}}},"security":[]}},"/api/b2b-buyback/clients/{id}/interactions":{"get":{"tags":["b2b-buyback"],"summary":"List a client's interactions","description":"Returns every B2BClientInteraction for the client, newest first.\n\n_Source: `app/api/b2b-buyback/clients/[id]/interactions/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BClient id","schema":{"type":"string"},"example":"clx9c1k7t0000zz"}],"responses":{"200":{"description":"Interaction list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdInteractionsGetResponse"},"example":{"data":[{"id":"clxint0001","clientId":"clx9c1k7t0000zz","type":"Call","details":"Discussed Q3 volumes","performedBy":"Admin","date":"2026-08-28T11:00:00.000Z"}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch interactions"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Log a client interaction","description":"Creates a B2BClientInteraction and refreshes the client's lastContactDate to now.\n\n**Notes:** Side effect: always bumps B2BClient.lastContactDate. Wrapped in withAuditLog (entity B2B_CLIENT).\n\n_Source: `app/api/b2b-buyback/clients/[id]/interactions/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BClient id","schema":{"type":"string"},"example":"clx9c1k7t0000zz"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdInteractionsPostRequest"},"example":{"type":"Call","details":"Discussed Q3 volumes","performedBy":"Priya","date":"2026-08-28T11:00:00.000Z"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackClientsByIdInteractionsPostResponse"},"example":{"data":{"id":"clxint0001","clientId":"clx9c1k7t0000zz","type":"Call","details":"Discussed Q3 volumes","performedBy":"Priya"}}}}},"400":{"description":"type missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Interaction type is required"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create interaction"}}}}},"security":[]}},"/api/b2b-buyback/deals":{"get":{"tags":["b2b-buyback"],"summary":"List B2B deals, paginated","description":"Returns a page of deals newest first with their client summary and item counts, filterable by status, client and creation date range.\n\n_Source: `app/api/b2b-buyback/deals/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Deals per page.","schema":{"type":"integer","example":20,"default":20}},{"name":"status","in":"query","required":false,"description":"Single status, or a comma-separated list treated as an IN filter.","schema":{"type":"string","example":"Approved,InvoiceReceived"}},{"name":"clientId","in":"query","required":false,"description":"Restrict to one B2B client.","schema":{"type":"string","example":"clx9c1k7t0000zz"}},{"name":"corporateId","in":"query","required":false,"description":"Legacy parameter, accepted but ignored.","schema":{"type":"string"}},{"name":"from","in":"query","required":false,"description":"Created-at lower bound (YYYY-MM-DD, treated as 00:00:00 UTC).","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Created-at upper bound (YYYY-MM-DD, treated as 23:59:59.999 UTC).","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Paginated deals","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsGetResponse"},"example":{"data":[{"id":"clx9d0f2m0001ab","dealNumber":"B2B-2026-0031","status":"Approved","client":{"id":"clx9c1k7t0000zz","companyName":"Acme Pvt Ltd"},"_count":{"items":7}}],"total":118,"page":1,"pages":6}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch deals"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Create a deal, direct buyback, or lead","description":"Three-way endpoint: with isDirectBuyback it transactionally creates a B2BLead + B2BClient + deal for a non-client seller; with clientId it creates a deal for an existing client; with neither it records a website/form inquiry as a new B2BLead.\n\n**Notes:** Deal numbers are generated as B2B-<year>-<NNNN> by reading the latest matching dealNumber — not concurrency safe. Inspect `type` in the response to know which branch ran. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsPostRequest"},"example":{"clientId":"clx9c1k7t0000zz","subject":"Q3 laptop buyback","description":"120 ThinkPads","name":"Priya Nair","email":"priya@acme.in","phone":"9820011223","city":"Mumbai","state":"Maharashtra","pincode":"400001","items":[{"deviceType":"Laptop","brand":"Lenovo","model":"ThinkPad T14","quantity":120}]}}}},"responses":{"201":{"description":"Lead created (no clientId)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsPostResponse"},"example":{"data":{"id":"clx9l3p9q0002cd","companyName":"Priya Nair","status":"New","source":"Website"},"type":"lead","message":"Lead created successfully"}}}},"400":{"description":"Missing seller.companyName, or missing name/phone for a new lead","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Name and Phone are required for new leads"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create deal"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}":{"get":{"tags":["b2b-buyback"],"summary":"Get a B2B deal","description":"Returns one deal with its client, all items (oldest first) and its 50 most recent log entries.\n\n_Source: `app/api/b2b-buyback/deals/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"Deal detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdGetResponse"},"example":{"data":{"id":"clx9d0f2m0001ab","dealNumber":"B2B-2026-0031","status":"FinalQuoteSent","isDirectBuyback":false,"finalQuoteAmount":430000,"client":{},"items":[],"logs":[]}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch deal"}}}}},"security":[]},"put":{"tags":["b2b-buyback"],"summary":"Update a deal (status, quotes, payment)","description":"Applies a whitelisted set of updates to a deal — status (validated against the allowed transition map), quote amounts and notes, inspection details, corporate invoice and payment fields, and editable contact details — then writes a B2BDealLog entry.\n\n**Notes:** SIDE EFFECTS on status=Approved: auto-generates the Purchase Order PDF for every deal, and additionally the Acknowledgement PDF for direct buybacks — both non-blocking (failures are logged to the deal trail, not returned). status=Approved stamps approvedAt; status=PaymentComplete stamps paymentDate. Allowed transitions: Format->DataRequested/FirstQuoteSent/Cancelled, DataRequested->DataReceived, DataReceived->FirstQuoteSent, FirstQuoteSent->InspectionScheduled, InspectionScheduled->InspectionComplete, InspectionComplete->FinalQuoteSent, FinalQuoteSent->Approved, Approved->InvoiceReceived, InvoiceReceived->PaymentRequested, PaymentRequested/PaymentPending->PaymentComplete (all also ->Cancelled). Closed is only reachable through POST /close. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdPutRequest"},"example":{"status":"Approved","finalQuoteAmount":430000,"performedBy":"Priya"}}}},"responses":{"200":{"description":"Updated deal","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdPutResponse"},"example":{"data":{"id":"clx9d0f2m0001ab","dealNumber":"B2B-2026-0031","status":"Approved","approvedAt":"2026-09-01T09:14:00.000Z","client":{},"items":[]}}}}},"400":{"description":"Illegal status transition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid status transition from Format to Approved"}}}},"404":{"description":"Deal not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update deal"}}}}},"security":[]},"delete":{"tags":["b2b-buyback"],"summary":"Cancel a deal","description":"Soft-cancels the deal by setting status to Cancelled and appending a 'Deal Cancelled' log entry. No row is deleted.\n\n**Notes:** Bypasses the STATUS_TRANSITIONS map entirely — any deal, in any status, can be cancelled here. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"Cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdDeleteResponse"},"example":{"data":{"id":"clx9d0f2m0001ab","status":"Cancelled"},"message":"Deal cancelled"}}}},"500":{"description":"Cancel failed (includes an unknown id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to cancel deal"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/acknowledgement":{"get":{"tags":["b2b-buyback"],"summary":"Get the stored acknowledgement PDF","description":"Returns the acknowledgement number, URL and generation timestamp saved on the deal.\n\n_Source: `app/api/b2b-buyback/deals/[id]/acknowledgement/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"Acknowledgement metadata","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdAcknowledgementGetResponse"},"example":{"acknowledgementNumber":"ACK-2026-0031","acknowledgementUrl":"https://.../ack_B2B-2026-0031.pdf","acknowledgementGeneratedAt":"2026-09-01T09:14:02.000Z"}}}},"404":{"description":"Deal missing or PDF never generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Acknowledgement not generated"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Generate the acknowledgement PDF","description":"Generates (or regenerates) the purchase Acknowledgement PDF for a deal, uploads it to S3 and saves the number, URL and timestamp on the deal.\n\n**Notes:** force-dynamic, maxDuration 60s. Takes no request body. Uploads to S3 and mutates the deal. The same generator runs automatically when a direct-buyback deal moves to Approved via PUT /api/b2b-buyback/deals/{id}.\n\n_Source: `app/api/b2b-buyback/deals/[id]/acknowledgement/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"Generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdAcknowledgementPostResponse"},"example":{"ok":true,"deal":{"id":"clx9d0f2m0001ab","acknowledgementNumber":"ACK-2026-0031","acknowledgementUrl":"https://.../ack_B2B-2026-0031.pdf","acknowledgementGeneratedAt":"2026-09-01T09:14:02.000Z"}}}}},"400":{"description":"Client-side condition (deal not found, wrong state, no items)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Add at least one item before generating an acknowledgement"}}}},"500":{"description":"PDF or upload failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"S3 upload failed"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/close":{"post":{"tags":["b2b-buyback"],"summary":"Close a deal and move items to inventory","description":"Closes a PaymentComplete deal: creates one ExcessBuyback InStock row per unit (with its serial and unit price), flips the deal to Closed with closedAt, and writes a deal log — all in one transaction.\n\n**Notes:** MONEY/INVENTORY MUTATION. Only valid from status PaymentComplete; the plain PUT cannot set Closed. Refuses to close if any unit price from lib/b2b-pricing is missing or <= 0. Item.serial may hold a JSON array (one serial per unit). Wrapped in withAuditLog (entity B2B_DEAL, action STATUS_CHANGE).\n\n_Source: `app/api/b2b-buyback/deals/[id]/close/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdClosePostRequest"},"example":{"performedBy":"Priya"}}}},"responses":{"200":{"description":"Closed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdClosePostResponse"},"example":{"message":"Deal closed successfully","inventoryItemsCreated":42}}}},"400":{"description":"Wrong status, or some unit has no captured price","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Cannot close: these devices have no price captured (Apple iPhone 13). Complete the inspect…"}}}},"404":{"description":"Deal not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"Close failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to close deal"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/items":{"get":{"tags":["b2b-buyback"],"summary":"List a deal's items","description":"Returns every B2BDealItem on the deal, oldest first.\n\n_Source: `app/api/b2b-buyback/deals/[id]/items/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"responses":{"200":{"description":"Item list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsGetResponse"},"example":{"data":[{"id":"clx9i7r4x0003ef","deviceType":"Mobile","brand":"Apple","model":"iPhone 13","quantity":5}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch deal items"}}}}},"security":[]},"post":{"tags":["b2b-buyback"],"summary":"Add items to a deal","description":"Bulk-creates B2BDealItem rows on a deal that is still in Format or FirstQuoteSent status.\n\n**Notes:** Only allowed when deal.status is Format or FirstQuoteSent. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/items/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsPostRequest"},"example":{"items":[{"deviceType":"Mobile","brand":"Apple","model":"iPhone 13","quantity":5}]}}}},"responses":{"201":{"description":"Items added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsPostResponse"},"example":{"data":{"count":1},"message":"1 item(s) added"}}}},"400":{"description":"Empty items array or deal in a status that forbids adding items","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Cannot add items to deal in current status"}}}},"404":{"description":"Deal not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Deal not found"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to add deal items"}}}}},"security":[]},"put":{"tags":["b2b-buyback"],"summary":"Bulk update deal items and recompute total","description":"Updates many items at once by id (quotes, condition, notes, serial). If any finalQuotePrice is supplied it recalculates the deal's finalQuoteAmount as the sum of finalQuotePrice x quantity across all items.\n\n**Notes:** Side effect: rewrites B2BDeal.finalQuoteAmount when any finalQuotePrice is present. Updates run in parallel and are not transactional. Wrapped in withAuditLog (entity B2B_DEAL).\n\n_Source: `app/api/b2b-buyback/deals/[id]/items/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsPutRequest"},"example":{"items":[{"id":"clx9i7r4x0003ef","finalQuotePrice":21500,"condition":"Good"}]}}}},"responses":{"200":{"description":"Updated item list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsPutResponse"},"example":{"data":[{"id":"clx9i7r4x0003ef","finalQuotePrice":21500,"condition":"Good"}]}}}},"400":{"description":"items not an array","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Items array is required"}}}},"500":{"description":"Update failed (includes an unknown item id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update deal items"}}}}},"security":[]}},"/api/b2b-buyback/deals/{id}/items/{itemId}":{"get":{"tags":["b2b-buyback"],"summary":"Get one deal item","description":"Returns a single B2BDealItem, verifying it belongs to the given deal.\n\n_Source: `app/api/b2b-buyback/deals/[id]/items/[itemId]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"B2BDeal id","schema":{"type":"string"},"example":"clx9d0f2m0001ab"},{"name":"itemId","in":"path","required":true,"description":"B2BDealItem id","schema":{"type":"string"},"example":"clx9i7r4x0003ef"}],"responses":{"200":{"description":"Item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/B2bBuybackDealsByIdItemsByItemIdGetResponse"},"example":{"data":{"id":"clx9i7r4x0003ef","dealId":"clx9d0f2m0001ab","deviceType":"Mobile","brand":"Apple","model":"iPhone 13","quantity":5,"condition":"Good","finalQuotePrice":21500}}}}},"404":{"description":"Item not found in this deal","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch item"}}}}},"security":[]}}},"components":{"schemas":{"B2bBuybackDealsByIdItemsPutResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"B2bBuybackDealsByIdClosePostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdItemsPutRequest":{"type":"object","properties":{"items":{"type":"string","description":"Array of { id, firstQuotePrice?, finalQuotePrice?, condition?, inspectionNotes?, serial? }."}},"required":["items"],"description":"Request body for `PUT /api/b2b-buyback/deals/{id}/items`."},"B2bBuybackDealsByIdItemsPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdDeleteResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdClosePostRequest":{"type":"object","properties":{"performedBy":{"type":"string","description":"Name recorded on the 'Deal Closed' log entry."}},"description":"Request body for `POST /api/b2b-buyback/deals/{id}/close`."},"B2bBuybackClientsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdItemsGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsPostRequest":{"type":"object","properties":{"isDirectBuyback":{"type":"boolean","description":"Branch 1: create a direct buyback (lead + client + deal)."},"seller":{"type":"object","description":"Required when isDirectBuyback: { companyName (required), gstNumber, contactName, contactPhone, contactEmail, address, city, state, pincode, invoiceNumber, invoiceDate, invoiceUrl }."},"clientId":{"type":"string","description":"Branch 2: create a deal for this existing B2BClient."},"name":{"type":"string","description":"Branch 3 (lead): contact/company name. Required when neither isDirectBuyback nor clientId is set."},"phone":{"type":"string","description":"Branch 3 (lead): contact phone. Required with `name`."},"email":{"type":"string","description":"Contact email."},"city":{"type":"string","description":"City (pickup city on a deal)."},"state":{"type":"string","description":"State (pickup state on a deal)."},"pincode":{"type":"string","description":"Pickup pincode."},"subject":{"type":"string","description":"Deal subject / inquiry subject."},"description":{"type":"string","description":"Deal description / inquiry details."},"items":{"type":"string","description":"Optional initial items: { deviceType, brand, model, quantity }."}},"description":"Request body for `POST /api/b2b-buyback/deals`."},"B2bBuybackDealsByIdPutRequest":{"type":"object","properties":{"status":{"type":"string","description":"Target B2BDealStatus. Must be a legal transition from the current status; Closed is never reachable here."},"rejectionReason":{"type":"string","description":"Why the deal was rejected/cancelled."},"firstQuoteAmount":{"type":"number","description":"First quote total; also stamps firstQuoteDate."},"firstQuoteNotes":{"type":"string","description":"Notes on the first quote."},"inspectionDate":{"type":"string","description":"ISO date of inspection."},"inspectionNotes":{"type":"string","description":"Inspection notes."},"inspectionBy":{"type":"string","description":"Who inspected."},"finalQuoteAmount":{"type":"number","description":"Final quote total; also stamps finalQuoteDate."},"finalQuoteNotes":{"type":"string","description":"Notes on the final quote."},"corporateInvoiceNumber":{"type":"string","description":"Client invoice number."},"corporateInvoiceUrl":{"type":"string","description":"Client invoice file URL."},"corporateInvoiceAmount":{"type":"number","description":"Client invoice amount."},"paymentAmount":{"type":"number","description":"Amount paid."},"paymentTransactionId":{"type":"string","description":"Bank/UTR reference."},"paymentMode":{"type":"string","description":"e.g. NEFT | RTGS | UPI."},"performedBy":{"type":"string","description":"Name recorded on the deal log entry."},"logAction":{"type":"string","description":"Override the log entry's action label."},"logDescription":{"type":"string","description":"Override the log entry's description."},"contactName":{"type":"string","description":"Contact name (mirrored to sellerContactName on direct buybacks)."},"contactPhone":{"type":"string","description":"Contact phone (mirrored on direct buybacks)."},"contactEmail":{"type":"string","description":"Contact email (mirrored on direct buybacks)."},"sellerContactName":{"type":"string","description":"Seller contact name (mirrored to contactName on direct buybacks)."},"sellerContactPhone":{"type":"string","description":"Seller contact phone."},"sellerContactEmail":{"type":"string","description":"Seller contact email."}},"description":"Request body for `PUT /api/b2b-buyback/deals/{id}`."},"B2bBuybackDealsPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdItemsByItemIdGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessUrlEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"url":{"type":"string"}},"required":["success","url"],"description":"Upload acknowledgement `{ success: true, url }` with the stored object URL."},"B2bBuybackDealsByIdAcknowledgementGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdAcknowledgementPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackClientsByIdPatchRequest":{"type":"object","properties":{"companyName":{"type":"string","description":"Registered company name."},"gstNumber":{"type":"string","description":"GSTIN."},"contactName":{"type":"string","description":"Primary contact person."},"contactPhone":{"type":"string","description":"Contact phone."},"contactEmail":{"type":"string","description":"Contact email."},"address":{"type":"string","description":"Postal address."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State."},"relationshipStatus":{"type":"string","description":"e.g. Active | Dormant | Churned."},"status":{"type":"string","description":"Record status, e.g. Active."}},"description":"Request body for `PATCH /api/b2b-buyback/clients/{id}`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"B2bBuybackClientsGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackClientsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsByIdItemsPostRequest":{"type":"object","properties":{"items":{"type":"string","description":"Non-empty array of { deviceType, brand, model, serial?, quantity? }; quantity defaults to 1."}},"required":["items"],"description":"Request body for `POST /api/b2b-buyback/deals/{id}/items`."},"B2bBuybackClientsByIdDocumentsPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"The document to upload."},"type":{"type":"string","description":"One of authorization | gstpan | bank."}},"required":["file","type"],"description":"Request body for `POST /api/b2b-buyback/clients/{id}/documents`."},"B2bBuybackClientsByIdInteractionsPostResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackClientsByIdInteractionsPostRequest":{"type":"object","properties":{"type":{"type":"string","description":"Interaction type, e.g. Call | Email | Meeting | Inquiry."},"details":{"type":"string","description":"Free-text notes. Defaults to an empty string."},"performedBy":{"type":"string","description":"Who did it. Defaults to 'Admin'."},"date":{"type":"string","description":"ISO timestamp of the interaction. Defaults to now."}},"required":["type"],"description":"Request body for `POST /api/b2b-buyback/clients/{id}/interactions`."},"B2bBuybackDealsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackClientsByIdInteractionsGetResponse":{"type":"object","x-inferred-from-example":true},"B2bBuybackDealsGetResponse":{"type":"object","x-inferred-from-example":true}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}