{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Devices & Pricing 2","description":"Tags: devicePricing, graphic-card","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"devicePricing"},{"name":"graphic-card"}],"paths":{"/api/devicePricing":{"get":{"tags":["devicePricing"],"summary":"List device pricing with computed prices","description":"Paginated catalog listing for the pricing screen. Returns parent models with their class data plus derived goodPrice and age-bucket prices (price_3_6, price_6_11, price_11_plus). Variant-level filters (storage/ram/class/price) are resolved back to their parent rows.\n\n**Notes:** Watch groups its variants by baseURL, everything else by modelCode. Laptop has no parent/variant split. No handler-level auth check.\n\n_Source: `app/api/devicePricing/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","example":20,"default":10}},{"name":"deviceType","in":"query","required":false,"description":"Mobile (default when omitted), Tablet, Laptop, Mac, Watch, Console, Camera or Headphone.","schema":{"type":"string","example":"Mobile","default":"Mobile"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on brand, model or baseURL.","schema":{"type":"string","example":"iphone 13"}},{"name":"brand","in":"query","required":false,"description":"Case-insensitive brand contains filter.","schema":{"type":"string","example":"Apple"}},{"name":"fromDate","in":"query","required":false,"description":"createdAt lower bound; only applied together with toDate.","schema":{"type":"string","example":"2026-01-01"}},{"name":"toDate","in":"query","required":false,"description":"createdAt upper bound.","schema":{"type":"string","example":"2026-08-31"}},{"name":"storage","in":"query","required":false,"description":"Variant storage in GB.","schema":{"type":"integer","example":128}},{"name":"ram","in":"query","required":false,"description":"Variant RAM in GB.","schema":{"type":"integer","example":8}},{"name":"classId","in":"query","required":false,"description":"Class row id.","schema":{"type":"integer","example":14}},{"name":"priceMin","in":"query","required":false,"description":"Minimum price.","schema":{"type":"integer","example":10000}},{"name":"priceMax","in":"query","required":false,"description":"Maximum price.","schema":{"type":"integer","example":50000}}],"responses":{"200":{"description":"Pricing page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingGetResponse"},"example":{"data":[{"id":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","productId":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","brand":"Apple","model":"iPhone 13","price":32000,"goodPrice":28500,"price_3_6":30200,"price_6_11":28900,"price_11_plus":27100,"classData":{"id":14,"classType":"M1"}}],"pagination":{"total":480,"pages":48,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch products","details":"Error: ..."}}}}},"security":[]},"put":{"tags":["devicePricing"],"summary":"Update one device's price or class","description":"Updates the price and/or classId of a single catalog row and returns it with recomputed age-bucket prices. Records a PriceHistory row when the price actually changes.\n\n**Notes:** Changes the price quoted to customers. Console stores price as a varchar and is coerced automatically. PriceHistory is written with changedBy 'Admin', changeType 'manual'. No handler-level auth check.\n\n_Source: `app/api/devicePricing/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingPutRequest"},"example":{"id":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","deviceType":"Mobile","price":30500,"classId":14}}}},"responses":{"200":{"description":"Updated device","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingPutResponse"},"example":{"success":true,"data":{"id":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","price":30500,"price_3_6":28900,"price_6_11":27600,"price_11_plus":26000}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"At least one of classId or price must be provided"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update product","details":"Error: ..."}}}}},"security":[]},"patch":{"tags":["devicePricing"],"summary":"Bulk update device prices or classes","description":"Applies price and/or classId updates to many catalog rows of one device type in a single call, returning per-row successes and errors. Each price change also writes a PriceHistory row.\n\n**Notes:** Mass mutation of customer-facing prices, not transactional (partial failures are reported per row). PriceHistory changeType is 'bulk'. No handler-level auth check.\n\n_Source: `app/api/devicePricing/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingPatchRequest"},"example":{"deviceType":"Mobile","updates":[{"id":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","price":30500},{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","classId":15}]}}}},"responses":{"200":{"description":"Bulk result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingPatchResponse"},"example":{"success":true,"results":[{"id":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","price":30500}],"errors":[{"id":"bad-id","error":"Missing device ID"}],"totalUpdated":1,"totalFailed":1}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields: deviceType and updates array are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to process bulk update","details":"Error: ..."}}}}},"security":[]}},"/api/devicePricing/brands":{"get":{"tags":["devicePricing"],"summary":"List brands for a device type","description":"Returns the distinct, non-empty brand names present in the catalog table for the given device type, sorted alphabetically.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/devicePricing/brands/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"One of Mobile, Tablet, Laptop, Mac, Desktop, Camera, Headphone, Console, Watch, Drone, TV, AC. 400 if missing; an unknown type returns an empty list.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Brands","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingBrandsGetResponse"},"example":{"success":true,"brands":["Apple"]}}}},"400":{"description":"deviceType missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"deviceType is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch brands"}}}}},"security":[]}},"/api/devicePricing/classes":{"get":{"tags":["devicePricing"],"summary":"List class options for a device type","description":"Returns id and classType pairs for the class dropdown of the pricing table. Supported types are Mobile, Tablet, Laptop, Mac, Console, Camera, Watch and Headphone.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/devicePricing/classes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Device type. 400 if missing or unsupported.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Classes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingClassesGetResponse"},"example":{"classes":[{"id":14,"classType":"M1"}]}}}},"400":{"description":"Missing or unsupported deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unsupported deviceType: Drone"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch classes"}}}}},"security":[]}},"/api/devicePricing/export":{"get":{"tags":["devicePricing"],"summary":"Export all devices of a type","description":"Returns every catalog row for Mobile, Tablet, Laptop or Mac with its class data attached, unpaginated, for spreadsheet export.\n\n**Notes:** Unbounded read of the whole catalog table; heavy. No handler-level auth check.\n\n_Source: `app/api/devicePricing/export/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Only Mobile, Tablet, Laptop and Mac are supported; anything else returns 400.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"All devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingExportGetResponse"},"example":{"success":true,"devices":[{"id":"0f8c...","brand":"Apple","model":"iPhone 13","price":32000,"classData":{"id":14,"classType":"M1"}}],"total":4820}}}},"400":{"description":"Missing or invalid device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"deviceType is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to export devices","details":"Error: ..."}}}}},"security":[]}},"/api/devicePricing/history":{"get":{"tags":["devicePricing"],"summary":"Get price change history for a device","description":"Returns the last 50 PriceHistory rows for one device, newest first.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/devicePricing/history/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceId","in":"query","required":true,"description":"Catalog row id. 400 if missing.","schema":{"type":"string","example":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b"}},{"name":"deviceType","in":"query","required":true,"description":"Device type. 400 if missing.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"History","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingHistoryGetResponse"},"example":{"success":true,"history":[{"id":"3a4b...","deviceId":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","deviceType":"Mobile","oldPrice":32000,"newPrice":30500,"changedBy":"Admin","changeType":"manual","changedAt":"2026-08-20T11:02:00.000Z"}]}}}},"400":{"description":"Missing params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"deviceId and deviceType are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch price history","details":"Error: ..."}}}}},"security":[]},"post":{"tags":["devicePricing"],"summary":"Record a price change","description":"Manually inserts a PriceHistory row. Normally written automatically by the pricing PUT/PATCH handlers.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/devicePricing/history/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingHistoryPostRequest"},"example":{"deviceId":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","deviceType":"Mobile","oldPrice":32000,"newPrice":30500,"changedBy":"Admin","changeType":"manual"}}}},"responses":{"200":{"description":"Recorded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingHistoryPostResponse"},"example":{"success":true,"history":{"id":"3a4b...","oldPrice":32000,"newPrice":30500}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"deviceId, deviceType, oldPrice, and newPrice are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to record price history","details":"Error: ..."}}}}},"security":[]}},"/api/devicePricing/stats":{"get":{"tags":["devicePricing"],"summary":"Get pricing coverage statistics","description":"Counts Mobile/Tablet/Laptop/Mac catalog rows, how many lack a price or a class, price changes today and in the last 7 days, a 30-day change chart and price/class coverage percentages.\n\n**Notes:** Every individual count is wrapped in its own try/catch, so a missing table degrades to zero instead of failing. No handler-level auth check.\n\n_Source: `app/api/devicePricing/stats/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingStatsGetResponse"},"example":{"success":true,"stats":{"totalDevices":9120,"deviceCounts":{"Mobile":4820,"Tablet":1100,"Laptop":2400,"Mac":800},"devicesWithoutPrice":{"total":210,"Mobile":120,"Tablet":30,"Laptop":50,"Mac":10},"priceChangesToday":14,"priceChangesLast7Days":96,"priceCoverage":98,"classCoverage":99}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch pricing stats","details":"Error: ..."}}}}},"security":[]}},"/api/devicePricing/variants":{"get":{"tags":["devicePricing"],"summary":"List variants of a parent device","description":"Returns the child variant rows of a parent model, each with its class data and W1-W4/B1-B2 coefficients spread onto it. Mobile/Tablet/Laptop/Mac match on modelCode; Watch matches on baseURL (case size axis). Non-variant types return an empty array.\n\n**Notes:** Types outside Mobile/Tablet/Laptop/Mac/Watch return {success: true, variants: []} rather than an error. NextAuth session cookie required.\n\n_Source: `app/api/devicePricing/variants/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"parentId","in":"query","required":false,"description":"Parent catalog row id. Required unless modelCode is given, and always required for Watch.","schema":{"type":"string","example":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b"}},{"name":"modelCode","in":"query","required":false,"description":"Parent model code; alternative to parentId for non-Watch types.","schema":{"type":"string","example":"APIP100021"}},{"name":"model","in":"query","required":false,"description":"Parent model name; filters variants with a case-insensitive startsWith to avoid cross-model contamination.","schema":{"type":"string","example":"iPhone 13"}},{"name":"deviceType","in":"query","required":true,"description":"Device type. 400 if missing.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Variants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsGetResponse"},"example":{"success":true,"variants":[{"id":"5c6d7e8f-9a0b-1c2d-3e4f-5a6b7c8d9e0f","model":"iPhone 13 - 128GB/4GB","storage":128,"ram":4,"price":30500,"classData":{"id":14,"classType":"M1"},"W1":"0","W2":"10%","B1":"0","B2":"1500"}]}}}},"400":{"description":"Missing or unsupported params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing parentId/modelCode or deviceType"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Parent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Parent device not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch variants"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["devicePricing"],"summary":"Create variants under a parent device","description":"Creates one or more child variant rows that inherit brand, images and SEO fields from the parent, naming each '<parent model> - <storage>GB/<ram>GB'. Only Mobile, Tablet, Laptop and Mac are accepted.\n\n**Notes:** Creates rows one at a time, not transactionally. NextAuth session cookie required.\n\n_Source: `app/api/devicePricing/variants/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsPostRequest"},"example":{"parentId":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b","deviceType":"Mobile","variants":[{"storage":128,"ram":4,"price":30500,"classId":14},{"storage":256,"ram":4,"price":34500}]}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsPostResponse"},"example":{"success":true,"created":2,"variants":[{"id":"5c6d7e8f-9a0b-1c2d-3e4f-5a6b7c8d9e0f","model":"iPhone 13 - 128GB/4GB"}]}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Variants are not supported for device type \"Watch\""}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Parent not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Parent device not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create variants"}}}}},"security":[{"cookieAuth":[]}]}},"/api/devicePricing/variants/{id}":{"delete":{"tags":["devicePricing"],"summary":"Delete a device variant","description":"Permanently deletes a variant row from the catalog table for the given device type.\n\n**Notes:** DELETE with a JSON body — the deviceType must be sent in the body, not the query string. NextAuth session cookie required.\n\n_Source: `app/api/devicePricing/variants/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Id of the variant to delete","schema":{"type":"string"},"example":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsByIdDeleteRequest"},"example":{"deviceType":"Mobile"}}}},"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Variant deleted successfully"}}}},"400":{"description":"deviceType missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing deviceType"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete variant"}}}}},"security":[{"cookieAuth":[]}]}},"/api/devicePricing/variants/{id}/duplicate":{"post":{"tags":["devicePricing"],"summary":"Duplicate a device variant","description":"Copies an existing variant row, appending ' (Copy)' to its model name, and returns the new row.\n\n**Notes:** NextAuth session cookie (next-auth.session-token) required. Quirk: any deviceType other than Mobile/Tablet/Laptop is treated as Mac.\n\n_Source: `app/api/devicePricing/variants/[id]/duplicate/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Id of the variant to duplicate","schema":{"type":"string"},"example":"0f8c1a2b-3c4d-5e6f-7a8b-9c0d1e2f3a4b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsByIdDuplicatePostRequest"},"example":{"deviceType":"Mobile"}}}},"responses":{"200":{"description":"Duplicated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DevicePricingVariantsByIdDuplicatePostResponse"},"example":{"success":true,"variant":{"id":"5c6d7e8f-9a0b-1c2d-3e4f-5a6b7c8d9e0f","model":"iPhone 13 - 128GB/4GB (Copy)"}}}}},"400":{"description":"deviceType missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing deviceType"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Variant not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Variant not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to duplicate variant"}}}}},"security":[{"cookieAuth":[]}]}},"/api/graphic-card":{"get":{"tags":["graphic-card"],"summary":"List graphic cards","description":"Paginated GraphicCard catalog with optional case-insensitive search on name or value. Requires a logged-in admin session.\n\n**Notes:** Auth is enforced in the handler via getServerSession(authOptions) — NextAuth JWT cookie (next-auth.session-token).\n\n_Source: `app/api/graphic-card/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Page size","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Matches name or value","schema":{"type":"string","example":"RTX"}}],"responses":{"200":{"description":"Graphic card page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphicCardGetResponse"},"example":{"data":[{"id":12,"name":"NVIDIA RTX 3050","value":"rtx-3050"}],"pagination":{"total":1,"pages":1,"currentPage":1,"perPage":10}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch graphic cards"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["graphic-card"],"summary":"Create a graphic card","description":"Adds a GraphicCard catalog entry. Both name and value are required.\n\n**Notes:** Audit-logged via withAuditLog (entity PRODUCT).\n\n_Source: `app/api/graphic-card/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphicCardPostRequest"},"example":{"name":"NVIDIA RTX 3050","value":"rtx-3050"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphicCardResponse"},"example":{"id":12,"name":"NVIDIA RTX 3050","value":"rtx-3050"}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"All fields are required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create graphic card"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["graphic-card"],"summary":"Update a graphic card","description":"Updates the name and/or value of a GraphicCard identified by the id in the body. Only supplied fields are written.\n\n**Notes:** Audit-logged via withAuditLog (entity PRODUCT).\n\n_Source: `app/api/graphic-card/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphicCardPutRequest"},"example":{"id":12,"name":"NVIDIA RTX 3050 Ti","value":"rtx-3050-ti"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphicCardResponse"},"example":{"id":12,"name":"NVIDIA RTX 3050 Ti","value":"rtx-3050-ti"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Graphic Card ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update graphic card"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["graphic-card"],"summary":"Delete a graphic card","description":"Hard-deletes the GraphicCard whose id is passed as a query parameter.\n\n**Notes:** Destructive. Id comes from the query string, not the body. Audit-logged (entity PRODUCT).\n\n_Source: `app/api/graphic-card/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"GraphicCard id. Returns 400 if missing.","schema":{"type":"integer","example":12}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Graphic card deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Graphic Card ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete graphic card"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"DevicePricingGetResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingVariantsByIdDuplicatePostResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingBrandsGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"GraphicCardPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Display name, e.g. 'NVIDIA RTX 3050'"},"value":{"type":"string","description":"Slug/value stored against laptop specs"}},"required":["name","value"],"description":"Request body for `POST /api/graphic-card`."},"DevicePricingVariantsByIdDuplicatePostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile, Tablet or Laptop; anything else falls through to the Mac table"}},"required":["deviceType"],"description":"Request body for `POST /api/devicePricing/variants/{id}/duplicate`."},"DevicePricingPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Catalog row id"},"deviceType":{"type":"string","description":"Mobile, Tablet, Laptop, Mac, Console, Camera, Watch or Headphone"},"price":{"type":"integer","description":"New price. At least one of price or classId is required"},"classId":{"type":"integer","description":"New class row id"}},"required":["id","deviceType"],"description":"Request body for `PUT /api/devicePricing`."},"DevicePricingHistoryGetResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingClassesGetResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingPutResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingHistoryPostResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingPatchResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingExportGetResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingVariantsByIdDeleteRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile, Tablet or Laptop; anything else falls through to the Mac table"}},"required":["deviceType"],"description":"Request body for `DELETE /api/devicePricing/variants/{id}`."},"DevicePricingVariantsPostRequest":{"type":"object","properties":{"parentId":{"type":"string","description":"Parent catalog row id"},"deviceType":{"type":"string","description":"Mobile, Tablet, Laptop or Mac"},"variants":{"type":"array","items":{},"description":"Array of {storage, ram, price, classId?} objects"}},"required":["parentId","deviceType","variants"],"description":"Request body for `POST /api/devicePricing/variants`."},"DevicePricingPatchRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile, Tablet, Laptop, Mac, Console, Camera, Watch or Headphone"},"updates":{"type":"array","items":{},"description":"Non-empty array of {id, price?, classId?} objects"}},"required":["deviceType","updates"],"description":"Request body for `PATCH /api/devicePricing`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"DevicePricingHistoryPostRequest":{"type":"object","properties":{"deviceId":{"type":"string","description":"Catalog row id"},"deviceType":{"type":"string","description":"Device type"},"oldPrice":{"type":"integer","description":"Price before the change"},"newPrice":{"type":"integer","description":"Price after the change"},"changedBy":{"type":"string","description":"Actor label; defaults to 'System'"},"changeType":{"type":"string","description":"manual or bulk; defaults to 'manual'"}},"required":["deviceId","deviceType","oldPrice","newPrice"],"description":"Request body for `POST /api/devicePricing/history`."},"GraphicCardGetResponse":{"type":"object","x-inferred-from-example":true},"DevicePricingStatsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"DevicePricingVariantsGetResponse":{"type":"object","x-inferred-from-example":true},"GraphicCardResponse":{"type":"object","x-inferred-from-example":true},"GraphicCardPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"GraphicCard id (parsed with parseInt)"},"name":{"type":"string","description":"New display name"},"value":{"type":"string","description":"New slug/value"}},"required":["id"],"description":"Request body for `PUT /api/graphic-card`."},"DevicePricingVariantsPostResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}