{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Devices & Pricing 3","description":"Tags: model-requests, models, processor","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"model-requests"},{"name":"models"},{"name":"processor"}],"paths":{"/api/model-requests":{"get":{"tags":["model-requests"],"summary":"List customer \"model not listed\" requests","description":"Returns a paginated queue of model requests raised from the customer app, newest first, plus status tile counts. The counts ignore the status filter (so tabs stay stable) but do respect the deviceType and search filters.\n\n**Notes:** Read-only; the ModelRequest table is written by CashkrBackend.\n\n_Source: `app/api/model-requests/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"status","in":"query","required":false,"description":"pending | reviewed | added | rejected, or all","schema":{"type":"string","example":"pending","default":"all"}},{"name":"deviceType","in":"query","required":false,"description":"Device type filter, or all","schema":{"type":"string","example":"Mobile","default":"all"}},{"name":"search","in":"query","required":false,"description":"Matches model name, brand name, customer name or customer phone","schema":{"type":"string","example":"nothing"}},{"name":"page","in":"query","required":false,"description":"1-based page number, minimum 1","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Page size, clamped to 1-100","schema":{"type":"integer","example":20,"default":20}}],"responses":{"200":{"description":"Model request queue","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelRequestsGetResponse"},"example":{"requests":[{"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80","deviceType":"Mobile","brandName":"Nothing","modelName":"Phone (3a)","status":"pending"}],"counts":{"pending":34,"reviewed":12,"added":5,"rejected":3,"all":54},"pagination":{"page":1,"limit":20,"total":54,"totalPages":3}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch model requests"}}}}},"security":[{"cookieAuth":[]}]}},"/api/model-requests/{id}":{"get":{"tags":["model-requests"],"summary":"Get a model request with duplicate counts","description":"Returns a single \"model not listed\" request raised from the customer app, plus how many other requests exist for the same deviceType/brand/model (duplicateCount) and how many requests that customer has raised in total.\n\n**Notes:** Read-only. The ModelRequest table is written by CashkrBackend; admin only reads and flips status.\n\n_Source: `app/api/model-requests/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"ModelRequest id","schema":{"type":"string"},"example":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"}],"responses":{"200":{"description":"Model request detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelRequestsByIdGetResponse"},"example":{"request":{"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80","deviceType":"Mobile","brandName":"Nothing","modelName":"Phone (3a)","customerName":"Ravi Sharma","customerPhone":"9876543210","status":"pending"},"duplicateCount":7,"customerRequestCount":2}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"404":{"description":"Model request not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Model request not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch model request"}}}}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["model-requests"],"summary":"Update a model request status","description":"Moves a model request through pending -> reviewed -> added / rejected. Only those four status values are accepted; anything else is rejected with 400.\n\n**Notes:** The backend-owned table has no audit columns, so updatedAt is the only trail left by this change.\n\n_Source: `app/api/model-requests/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"ModelRequest id","schema":{"type":"string"},"example":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelRequestsByIdPatchRequest"},"example":{"status":"reviewed"}}}},"responses":{"200":{"description":"Updated model request row","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelRequestsByIdPatchResponse"},"example":{"id":"d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80","status":"reviewed","updatedAt":"2026-09-01T10:12:00.000Z"}}}},"400":{"description":"Invalid JSON or invalid status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Invalid status. Must be one of: pending, reviewed, added, rejected"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Update failed (includes not found)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update status"}}}}},"security":[{"cookieAuth":[]}]}},"/api/models":{"get":{"tags":["models"],"summary":"List device models with filters and pagination","description":"Returns catalog models for a given device type with search, brand and class filters, pagination and an optional parent/variant grouping. Also returns the distinct brand list for filter dropdowns.\n\n**Notes:** No handler-level auth check — this route is reachable only with an admin session.\n\n_Source: `app/api/models/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":false,"description":"Mobile | Tablet | Laptop | Mac | Desktop | Console | Camera | Headphone | Watch","schema":{"type":"string","example":"Mobile","default":"Mobile"}},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"includeVariants","in":"query","required":false,"description":"Group variants under their parent (only for types with an isParent column)","schema":{"type":"boolean","example":true,"default":false}},{"name":"search","in":"query","required":false,"description":"Matches brand, model or modelCode","schema":{"type":"string","example":"iPhone 13"}},{"name":"brand","in":"query","required":false,"description":"Exact brand filter (case-insensitive)","schema":{"type":"string","example":"Apple"}},{"name":"classId","in":"query","required":false,"description":"Pricing class id","schema":{"type":"integer","example":3}},{"name":"parentsOnly","in":"query","required":false,"description":"Only isParent=1 rows","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Model list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsGetResponse"},"example":{"success":true,"data":[{"id":"3f1c...","brand":"Apple","model":"iPhone 13","modelCode":"XXAPP100001","price":32000,"isParent":1,"variants":[]}],"pagination":{"total":120,"pages":6,"currentPage":1,"limit":20},"filters":{"brands":["Apple"]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch models"}}}}},"security":[]},"post":{"tags":["models"],"summary":"Create a model (optionally with bulk variants)","description":"Creates a parent catalog row for a device type, auto-generating modelCode, baseURL and SEO copy when not supplied, and optionally creates its variants in the same transaction.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Known issue documented in the code: the audit row's entityId is null for MODEL/CREATE because the response nests the id under data.model.id.\n\n_Source: `app/api/models/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsPostRequest"},"example":{"deviceType":"Mobile","brand":"Apple","model":"iPhone 15","classId":3,"price":52000,"variants":[{"storage":128,"ram":6,"price":52000},{"storage":256,"ram":6,"price":58000}]}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsPostResponse"},"example":{"success":true,"data":{"model":{"id":"3f1c...","brand":"Apple","model":"iPhone 15"},"variants":[]},"message":"Model and variants created successfully"}}}},"400":{"description":"Validation failed / duplicate variant specs / missing pricing class","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsListEnvelope"},"example":{"success":false,"error":"Validation failed","details":[]}}}},"409":{"description":"Parent model already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"A parent model \"Apple iPhone 15\" already exists (code: XXAPP100003). Use the existing mode…"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create model"}}}}},"security":[]},"put":{"tags":["models"],"summary":"Update a model with family-consistency guards","description":"Updates one catalog row. Fields not present on that device type's table are stripped. If the row belongs to a parent/variant family, renaming it carries the whole family to the new name in one transaction and duplicate parents per modelCode are rejected.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/models/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsPutRequest"},"example":{"id":"3f1c8b2a-7d4e-4d1b-9a55-2f1e77a0c111","deviceType":"Mobile","model":"iPhone 15 Pro","price":78000}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsPutResponse"},"example":{"success":true,"data":{"id":"3f1c...","model":"iPhone 15 Pro"},"message":"Model updated. Renamed 2 variants to match."}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsListEnvelope"},"example":{"success":false,"error":"Validation failed","details":[]}}}},"404":{"description":"Model not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Model not found"}}}},"409":{"description":"Family-consistency error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Family-consistency error: modelCode XXSAM100003 would have 2 parents after this update. Ea…"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update model"}}}}},"security":[]},"delete":{"tags":["models"],"summary":"Delete a model and optionally its variants","description":"Deletes one catalog row by id. With deleteVariants=true on a parent row, every isParent=0 sibling with the same brand + model is deleted first.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Destructive: deleteVariants=true removes every variant row of the family.\n\n_Source: `app/api/models/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Model row id; 400 if missing","schema":{"type":"string","example":"3f1c8b2a-7d4e-4d1b-9a55-2f1e77a0c111"}},{"name":"deviceType","in":"query","required":false,"description":"Device type / table to delete from","schema":{"type":"string","example":"Mobile","default":"Mobile"}},{"name":"deleteVariants","in":"query","required":false,"description":"Cascade delete the parent's variants","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Model and all variants deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Model ID is required"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Model not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete model"}}}}},"security":[]}},"/api/models/seo":{"get":{"tags":["models"],"summary":"Score SEO content passed as query params","description":"Scores supplied SEO fields, returning a per-field length breakdown against the optimal ranges plus improvement recommendations.\n\n_Source: `app/api/models/seo/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"pageTitle","in":"query","required":false,"description":"Optimal 30-60 chars","schema":{"type":"string","example":"Sell Apple iPhone 15 Online"}},{"name":"pageDescription","in":"query","required":false,"description":"Optimal 120-160 chars","schema":{"type":"string","example":"Get the best price for your Apple iPhone 15 with free doorstep pickup."}},{"name":"h1","in":"query","required":false,"description":"Optimal 20-70 chars","schema":{"type":"string","example":"Sell Apple iPhone 15"}},{"name":"alt","in":"query","required":false,"description":"Optimal 10-125 chars","schema":{"type":"string","example":"Apple iPhone 15 front view"}},{"name":"variantTitle","in":"query","required":false,"description":"Variant SEO title","schema":{"type":"string","example":"Sell Apple iPhone 15 128GB"}},{"name":"variantDescription","in":"query","required":false,"description":"Variant SEO description","schema":{"type":"string","example":"Sell your Apple iPhone 15 128GB"}}],"responses":{"200":{"description":"Score and breakdown","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsSeoGetResponse"},"example":{"success":true,"data":{"score":72,"breakdown":{"pageTitle":{"length":27,"optimal":"30-60 characters","status":"warning"}},"recommendations":["Page title is too short. Aim for 30-60 characters."]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to calculate SEO score"}}}}},"security":[]},"post":{"tags":["models"],"summary":"Generate SEO copy for a model or variant","description":"Generates page title, meta description, H1, alt text and variant copy for a brand/model/device type, plus an SEO score and recommendations.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/models/seo/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsSeoPostRequest"},"example":{"brand":"Apple","model":"iPhone 15","deviceType":"Mobile","storage":128,"ram":6,"isVariant":true}}}},"responses":{"200":{"description":"Generated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsSeoPostResponse"},"example":{"success":true,"data":{"pageTitle":"Sell Apple iPhone 15 Online","pageDescription":"Sell your Apple iPhone 15 ...","h1":"Sell Apple iPhone 15","alt":"Apple iPhone 15","score":86,"recommendations":["SEO content looks good! No improvements needed."]}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsListEnvelope"},"example":{"success":false,"error":"Validation failed","details":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to generate SEO content"}}}}},"security":[]}},"/api/models/{id}":{"get":{"tags":["models"],"summary":"Get one device model with its variants","description":"Fetches a single model from the device table selected by deviceType (Mobile, Tablet, Laptop, Desktop or Mac), including its class data. When the model is a parent (isParent = 1) and the type is not Laptop, its storage-ordered child variants are returned too.\n\n**Notes:** No handler-level auth check. deviceType selects the underlying Prisma table, so the same id in different tables returns different rows.\n\n_Source: `app/api/models/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Model id in the device-type table","schema":{"type":"string"},"example":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"},{"name":"deviceType","in":"query","required":false,"description":"Which device table to read: Mobile, Tablet, Laptop, Desktop or Mac; unknown values fall back to Mobile","schema":{"type":"string","example":"Mobile","default":"Mobile"}}],"responses":{"200":{"description":"Model with class data and variants","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsByIdGetResponse"},"example":{"success":true,"data":{"id":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091","brand":"Apple","model":"iPhone 15","storage":128,"price":42000,"isParent":1,"classData":{"id":3,"name":"A"},"variants":[]}}}}},"404":{"description":"Model not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Model not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch model","details":"..."}}}}},"security":[]},"put":{"tags":["models"],"summary":"Update a device model","description":"Updates a model row in the table chosen by deviceType. The payload is zod-validated and then filtered against a per-device-type allow-list of columns, so unsupported fields are silently stripped rather than reaching Prisma.\n\n**Notes:** Affects customer-facing quoted prices. Fields outside the per-device allow-list are dropped without error, so a silently ignored field is possible. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/models/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Model id in the device-type table","schema":{"type":"string"},"example":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsByIdPutRequest"},"example":{"deviceType":"Mobile","brand":"Apple","model":"iPhone 15","storage":128,"price":42000,"pageTitle":"Sell iPhone 15 128GB"}}}},"responses":{"200":{"description":"Model updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelsByIdPutResponse"},"example":{"success":true,"data":{"id":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091","brand":"Apple","model":"iPhone 15","price":42000},"message":"Model updated successfully"}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsListEnvelope"},"example":{"success":false,"error":"Validation failed","details":[]}}}},"500":{"description":"Server error (includes model not found)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update model","details":"..."}}}}},"security":[]},"delete":{"tags":["models"],"summary":"Delete a device model and optionally its variants","description":"Deletes a model from the table chosen by deviceType. If the model is a parent, deviceType is not Laptop and deleteVariants=true, every child variant sharing its brand and model name is deleted first.\n\n**Notes:** Irreversible and can remove many rows at once (deleteVariants deletes every isParent=0 row with the same brand and model). No handler-level auth check (withAuditLog only logs).\n\n_Source: `app/api/models/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Model id in the device-type table","schema":{"type":"string"},"example":"e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091"},{"name":"deviceType","in":"query","required":false,"description":"Which device table to delete from; unknown values fall back to Mobile","schema":{"type":"string","example":"Mobile","default":"Mobile"}},{"name":"deleteVariants","in":"query","required":false,"description":"Only the literal string \"true\" triggers cascade deletion of child variants","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Model and all variants deleted"}}}},"404":{"description":"Model not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Model not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to delete model","details":"..."}}}}},"security":[]}},"/api/processor":{"get":{"tags":["processor"],"summary":"List processors","description":"Paginated, searchable list of Processor catalog rows; search matches the processor name and generation.\n\n_Source: `app/api/processor/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Matches processor or generation","schema":{"type":"string","example":"i7"}}],"responses":{"200":{"description":"Processor list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessorGetResponse"},"example":{"data":[{"id":14,"processor":"Intel Core i7","generation":"12th Gen","value":85}],"pagination":{"total":40,"pages":4,"currentPage":1,"perPage":10}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch processors"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["processor"],"summary":"Create a processor","description":"Creates a Processor catalog row from a processor name, generation and pricing value.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/processor/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessorPostRequest"},"example":{"processor":"Intel Core i7","generation":"12th Gen","value":85}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessorResponse"},"example":{"id":14,"processor":"Intel Core i7","generation":"12th Gen","value":85}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"All fields are required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create processor"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["processor"],"summary":"Update a processor","description":"Updates the name, generation and/or value of an existing Processor row; only supplied fields change.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/processor/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessorPutRequest"},"example":{"id":14,"value":90}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessorResponse"},"example":{"id":14,"processor":"Intel Core i7","generation":"12th Gen","value":90}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Processor ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update processor"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["processor"],"summary":"Delete a processor","description":"Permanently deletes the Processor row with the given id.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/processor/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"Processor id; 400 if missing","schema":{"type":"integer","example":14}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Processor deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Processor ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete processor"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ModelsPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Model row id (uuid)"},"deviceType":{"type":"string","description":"Device type the row belongs to"},"brand":{"type":"string","description":"Brand"},"model":{"type":"string","description":"Model name (rename cascades to variants)"},"series":{"type":"string","description":"Series"},"img":{"type":"string","description":"Image URL"},"price":{"type":"integer","description":"Price"},"showPrice":{"type":"integer","description":"Displayed price"},"classId":{"type":"integer","description":"Pricing class id"},"storage":{"type":"integer","description":"Storage GB"},"ram":{"type":"integer","description":"RAM GB"},"size":{"type":"integer","description":"Case size mm"},"modelCode":{"type":"string","description":"Model code (family key)"},"isParent":{"type":"integer","description":"0 or 1"},"pageTitle":{"type":"string","description":"SEO title"},"pageDescription":{"type":"string","description":"SEO description"},"h1":{"type":"string","description":"SEO H1"},"alt":{"type":"string","description":"Alt text"}},"required":["id","deviceType"],"description":"Request body for `PUT /api/models`."},"ModelsSeoPostResponse":{"type":"object","x-inferred-from-example":true},"ModelsGetResponse":{"type":"object","x-inferred-from-example":true},"ModelsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"ProcessorPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Processor id"},"processor":{"type":"string","description":"Processor name"},"generation":{"type":"string","description":"Generation label"},"value":{"type":"number","description":"Pricing value"}},"required":["id"],"description":"Request body for `PUT /api/processor`."},"SuccessErrorDetailsListEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"array","items":{}}},"required":["details","error","success"],"description":"Validation error envelope `{ success: false, error, details[] }`."},"ModelRequestsByIdPatchRequest":{"type":"object","properties":{"status":{"type":"string","description":"One of pending | reviewed | added | rejected"}},"required":["status"],"description":"Request body for `PATCH /api/model-requests/{id}`."},"ModelsPostResponse":{"type":"object","x-inferred-from-example":true},"ProcessorResponse":{"type":"object","x-inferred-from-example":true},"ModelsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"ProcessorPostRequest":{"type":"object","properties":{"processor":{"type":"string","description":"Processor name, e.g. Intel Core i7"},"generation":{"type":"string","description":"Generation label, e.g. 12th Gen"},"value":{"type":"number","description":"Pricing value used by the laptop price engine"}},"required":["processor","generation","value"],"description":"Request body for `POST /api/processor`."},"ModelsSeoPostRequest":{"type":"object","properties":{"brand":{"type":"string","description":"Brand name"},"model":{"type":"string","description":"Model name"},"deviceType":{"type":"string","description":"Device type, e.g. Mobile"},"specs":{"type":"string","description":"Free-text specs used in the copy"},"storage":{"type":"integer","description":"Storage GB (needed for variant SEO)"},"ram":{"type":"integer","description":"RAM GB"},"isVariant":{"type":"boolean","description":"Generate variant-level copy; defaults to false"}},"required":["brand","model","deviceType"],"description":"Request body for `POST /api/models/seo`."},"ModelRequestsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"ModelsPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac | Desktop | Console | Camera | Headphone | Watch"},"brand":{"type":"string","description":"Brand name"},"model":{"type":"string","description":"Model name; required for every catalog that has the column"},"series":{"type":"string","description":"Series name"},"img":{"type":"string","description":"Image URL"},"price":{"type":"integer","description":"Base price, defaults to 0"},"showPrice":{"type":"integer","description":"Displayed price"},"classId":{"type":"integer","description":"Pricing class id; required for device types whose table has NOT NULL classId"},"storage":{"type":"integer","description":"Storage in GB"},"ram":{"type":"integer","description":"RAM in GB"},"size":{"type":"integer","description":"Case size in mm (Watch)"},"modelName":{"type":"string","description":"Camera model name"},"pageTitle":{"type":"string","description":"SEO title; auto-generated if absent"},"pageDescription":{"type":"string","description":"SEO meta description"},"h1":{"type":"string","description":"SEO H1"},"alt":{"type":"string","description":"Image alt text"},"variantTitle":{"type":"string","description":"Variant SEO title"},"variantDescription":{"type":"string","description":"Variant SEO description"},"baseURL":{"type":"string","description":"Page slug; auto-generated if absent"},"modelCode":{"type":"string","description":"Model code; auto-generated if absent"},"isParent":{"type":"integer","description":"1 = parent (default), 0 = variant"},"variants":{"type":"array","items":{},"description":"Bulk variants: [{storage, ram, size, price}]"}},"required":["deviceType","brand"],"description":"Request body for `POST /api/models`."},"ModelRequestsGetResponse":{"type":"object","x-inferred-from-example":true},"ModelRequestsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"ProcessorGetResponse":{"type":"object","x-inferred-from-example":true},"ModelsByIdPutRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac | Desktop - selects the table and the allowed column set"},"brand":{"type":"string","description":"Brand name"},"model":{"type":"string","description":"Model name (not allowed for Desktop)"},"series":{"type":"string","description":"Series label (Mobile/Tablet/Mac only)"},"img":{"type":"string","description":"Image URL"},"price":{"type":"integer","description":"Base price, integer >= 0"},"showPrice":{"type":"integer","description":"Displayed price, integer >= 0 (Laptop only)"},"classId":{"type":"integer","description":"Pricing class id, nullable"},"storage":{"type":"integer","description":"Storage in GB (Mobile/Tablet/Mac only)"},"ram":{"type":"integer","description":"RAM in GB (Mobile/Tablet/Mac only)"},"pageTitle":{"type":"string","description":"SEO page title"},"pageDescription":{"type":"string","description":"SEO meta description"},"h1":{"type":"string","description":"SEO H1"},"alt":{"type":"string","description":"Image alt text (not allowed for Desktop)"},"variantTitle":{"type":"string","description":"Variant SEO title (Mobile/Tablet/Mac only)"},"variantDescription":{"type":"string","description":"Variant SEO description (Mobile/Tablet/Mac only)"},"baseURL":{"type":"string","description":"URL slug base (not allowed for Desktop)"},"modelCode":{"type":"string","description":"Internal model code (not allowed for Desktop)"},"isParent":{"type":"integer","description":"0 or 1 - whether this row is the parent of storage variants"}},"required":["deviceType"],"description":"Request body for `PUT /api/models/{id}`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"ModelsPutResponse":{"type":"object","x-inferred-from-example":true},"ModelsSeoGetResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}