{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Devices & Pricing 1","description":"Tags: brands, camera-lens, check-model-code, classes, device-classes","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"brands"},{"name":"camera-lens"},{"name":"check-model-code"},{"name":"classes"},{"name":"device-classes"}],"paths":{"/api/brands":{"get":{"tags":["brands"],"summary":"List brands with filters","description":"Returns brand rows filtered by device type, brand name or free-text search, with sorting and a pagination envelope.\n\n**Notes:** No handler-level auth check. Pagination is cosmetic: skip/take are never applied, so every matching row is returned and pagination.pages equals the total count.\n\n_Source: `app/api/brands/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":false,"description":"Prisma DeviceType filter","schema":{"type":"string","example":"Mobile"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive search across brandName, title and description","schema":{"type":"string","example":"apple"}},{"name":"brandName","in":"query","required":false,"description":"Case-insensitive brandName contains-filter","schema":{"type":"string","example":"Apple"}},{"name":"page","in":"query","required":false,"description":"Echoed back in the pagination object only","schema":{"type":"integer","example":1,"default":1}},{"name":"sortBy","in":"query","required":false,"description":"Column to sort by","schema":{"type":"string","example":"brandName","default":"brandName"}},{"name":"sortOrder","in":"query","required":false,"description":"asc | desc","schema":{"type":"string","example":"asc","default":"asc"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsGetResponse"},"example":{"success":true,"data":[{"id":12,"brandName":"Apple","deviceType":"Mobile","brandLink":"/sell-old-apple-mobile","brandImg":"https://cdn.cashkr.com/brands/apple.png","title":"Sell old Apple mobile","description":"Get the best price"}],"pagination":{"total":18,"pages":18,"currentPage":1}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch brands","details":"..."}}}}},"security":[]},"post":{"tags":["brands"],"summary":"Create a brand","description":"Creates a brand row for a device type. All six fields are mandatory.\n\n**Notes:** No handler-level auth check. Audited via withAuditLog as BRAND.\n\n_Source: `app/api/brands/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsPostRequest"},"example":{"brandName":"Apple","deviceType":"Mobile","brandLink":"/sell-old-apple-mobile","brandImg":"https://cdn.cashkr.com/brands/apple.png","title":"Sell old Apple mobile","description":"Get the best price for your used iPhone."}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsPostResponse"},"example":{"success":true,"data":{"id":12,"brandName":"Apple","deviceType":"Mobile"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to create brand","details":"..."}}}}},"security":[]},"put":{"tags":["brands"],"summary":"Update a brand","description":"Full replace of a brand row. The id travels in the JSON body, not the URL, and every field is mandatory.\n\n**Notes:** No handler-level auth check. Unlike DELETE, the id is NOT parsed to an int here. Audited via withAuditLog as BRAND.\n\n_Source: `app/api/brands/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsPutRequest"},"example":{"id":12,"brandName":"Apple","deviceType":"Mobile","brandLink":"/sell-old-apple-mobile","brandImg":"https://cdn.cashkr.com/brands/apple.png","title":"Sell old Apple mobile","description":"Get the best price for your used iPhone."}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsPutResponse"},"example":{"success":true,"data":{"id":12,"brandName":"Apple"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update brand","details":"..."}}}}},"security":[]},"delete":{"tags":["brands"],"summary":"Delete a brand","description":"Hard-deletes the brand whose numeric id is given in the query string.\n\n**Notes:** No handler-level auth check - unauthenticated hard delete. Audited via withAuditLog as BRAND.\n\n_Source: `app/api/brands/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Brand id. Required - 400s when missing. Parsed with parseInt.","schema":{"type":"integer","example":12}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing brand ID"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to delete brand","details":"..."}}}}},"security":[]}},"/api/brands/field":{"patch":{"tags":["brands"],"summary":"Update a single field on a brand","description":"Generic single-column patch: writes `value` into the column named by `field` on the brand with the given id. Used for inline table edits.\n\n**Notes:** No handler-level auth check. The `field` name is NOT whitelisted - it is used directly as a Prisma column key, so any writable column on brands can be set. Audited via withAuditLog as BRAND.\n\n_Source: `app/api/brands/field/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsFieldPatchRequest"},"example":{"id":"12","field":"title","value":"Sell your old Apple device"}}}},"responses":{"200":{"description":"Updated brand","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsFieldPatchResponse"},"example":{"success":true,"data":{"id":12,"brandName":"Apple","title":"Sell your old Apple device"}}}}},"400":{"description":"Missing id or field","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update brand field","details":"..."}}}}},"security":[]}},"/api/brands/list":{"get":{"tags":["brands"],"summary":"List unique brand names for a device type","description":"Returns the distinct (case-insensitively deduplicated) brand names available for one device type, sorted alphabetically. Used to populate brand dropdowns.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/brands/list/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Prisma DeviceType, e.g. Mobile, Laptop, Tablet, Mac, Watch, Camera, Console, Headphone. Required - 400s when missing.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrandsListGetResponse"},"example":{"success":true,"brands":["Apple"]}}}},"400":{"description":"Missing deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"deviceType is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch brands"}}}}},"security":[]}},"/api/camera-lens":{"get":{"tags":["camera-lens"],"summary":"List camera lens add-on prices","description":"Paginated list of the CameraLens price table (brand, lensName, flat rupee value) used by the quote engine to add lens value on top of a camera body price.\n\n**Notes:** NextAuth session required. This table is live and consumed by the customer app/website for camera quoting.\n\n_Source: `app/api/camera-lens/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"page","in":"query","required":false,"description":"Page number, clamped to a minimum of 1","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 1-100","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Case-insensitive search across lensName and brand","schema":{"type":"string","example":"50mm"}},{"name":"brand","in":"query","required":false,"description":"Exact (case-insensitive) brand filter","schema":{"type":"string","example":"Canon"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLensGetResponse"},"example":{"data":[{"id":7,"brand":"Canon","lensName":"EF 50mm f/1.8 STM","value":4500}],"pagination":{"total":38,"pages":4,"currentPage":1,"perPage":10}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch camera lenses"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["camera-lens"],"summary":"Create a camera lens price","description":"Adds a lens add-on price. Rejects a duplicate brand+lensName pair with 409 so the quote engine never sees two prices for one lens.\n\n**Notes:** NextAuth session required. Affects live customer-facing camera quotes. Audited via withAuditLog as PRODUCT.\n\n_Source: `app/api/camera-lens/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLensPostRequest"},"example":{"brand":"Canon","lensName":"EF 50mm f/1.8 STM","value":4500}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLensResponse"},"example":{"id":7,"brand":"Canon","lensName":"EF 50mm f/1.8 STM","value":4500}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"brand, lensName and a numeric value are all required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"409":{"description":"Duplicate lens","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"A lens \"EF 50mm f/1.8 STM\" already exists for Canon."}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create camera lens"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["camera-lens"],"summary":"Update a camera lens price","description":"Partial update of a lens row - only the supplied fields are written. The id travels in the JSON body.\n\n**Notes:** NextAuth session required. Unlike POST there is no duplicate check here, so a rename can create two rows for the same lens. Affects live customer quotes. Audited via withAuditLog as PRODUCT.\n\n_Source: `app/api/camera-lens/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLensPutRequest"},"example":{"id":7,"value":5200}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CameraLensResponse"},"example":{"id":7,"brand":"Canon","lensName":"EF 50mm f/1.8 STM","value":5200}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"No fields to update"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update camera lens"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["camera-lens"],"summary":"Delete a camera lens price","description":"Hard-deletes the lens row identified by the ?id query parameter.\n\n**Notes:** NextAuth session required. Removing a lens changes live customer-facing camera quotes. Audited via withAuditLog as PRODUCT.\n\n_Source: `app/api/camera-lens/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"Lens id. Required - 400s when missing or non-numeric.","schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Lens deleted"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lens id is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete camera lens"}}}}},"security":[{"cookieAuth":[]}]}},"/api/check-model-code":{"get":{"tags":["check-model-code"],"summary":"Get next model-code sequence for a prefix","description":"Finds the highest existing model code starting with the given prefix in the device table for the device type and returns the next sequence number. Returns 100001 when no code matches yet.\n\n**Notes:** No handler-level auth check. The sequence is read from the last 6 characters of the highest code; Drone and TV store the column as 'modelcode' (lowercase c) while the rest use 'modelCode'. There is no reservation, so two concurrent callers can get the same number.\n\n_Source: `app/api/check-model-code/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"prefix","in":"query","required":true,"description":"Model code prefix to sequence. Required - 400s when missing.","schema":{"type":"string","example":"MOBAPL"}},{"name":"deviceType","in":"query","required":true,"description":"One of Mobile, Tablet, Laptop, Mac, Console, Camera, Watch, Headphone, AC, Drone, TV. Desktop is intentionally unsupported. Required - 400s when missing or unknown.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Next sequence","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckModelCodeGetResponse"},"example":{"success":true,"nextSequence":100042}}}},"400":{"description":"Missing or invalid parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Invalid device type: Desktop"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to check model code"}}}}},"security":[]}},"/api/classes":{"get":{"tags":["classes"],"summary":"List grading classes for a device table","description":"Returns every row of one device-class table (the condition/grade tiers used in quoting), ordered by id.\n\n**Notes:** No handler-level auth check. The table list is a hard-coded switch, so device types outside the eight listed are not supported.\n\n_Source: `app/api/classes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"tableName","in":"query","required":true,"description":"Which class table to read; matched case-insensitively. One of classMobile, classTablet, classLaptop, classMac, classWatch, classCamera, classHeadphone, classConsole. Required - 400s when missing or unknown.","schema":{"type":"string","example":"classMobile"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClassesGetResponse"},"example":{"success":true,"data":[{"id":1,"className":"Class A","description":"Like new"}]}}}},"400":{"description":"Missing or unknown tableName","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Unknown table name: classDrone"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch classes","details":"..."}}}}},"security":[]}},"/api/device-classes":{"get":{"tags":["device-classes"],"summary":"List device classes for a device type","description":"Paginated, sortable list of class rows (deduction tables) for one device type, optionally filtered by class id or a case-insensitive classType substring.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/device-classes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Device type. 400 if missing; an unknown value throws and returns 500.","schema":{"type":"string","example":"Mobile"}},{"name":"classType","in":"query","required":false,"description":"Case-insensitive contains filter on classType.","schema":{"type":"string","example":"M1"}},{"name":"classId","in":"query","required":false,"description":"Exact class row id.","schema":{"type":"integer","example":14}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","example":50,"default":50}},{"name":"sortBy","in":"query","required":false,"description":"Column to order by.","schema":{"type":"string","example":"credit","default":"classType"}},{"name":"sortOrder","in":"query","required":false,"description":"asc or desc.","schema":{"type":"string","example":"desc","default":"asc"}}],"responses":{"200":{"description":"Classes page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesGetResponse"},"example":{"success":true,"data":[{"id":14,"classType":"M1","credit":12,"deadPrice":500,"tier":"T1","W1":"0","W2":"10%"}],"pagination":{"total":26,"pages":1,"currentPage":1,"limit":50}}}}},"400":{"description":"deviceType missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"deviceType is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch device classes","details":"Error: Invalid device type: Foo"}}}}},"security":[]},"post":{"tags":["device-classes"],"summary":"Create a device class","description":"Creates a new deduction class for a device type. Pricing fields are mapped per device type (Mobile/Tablet take A/W/S/P/T/B, Console takes CD/E/P/A, etc.) and stored as strings; unknown fields for the type are dropped.\n\n**Notes:** A warnings array is returned when a whole critical deduction group (W2+, B2+, S2+) is zero. Console must NOT be sent CD0/E0/P0. No handler-level auth check.\n\n_Source: `app/api/device-classes/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesPostRequest"},"example":{"deviceType":"Mobile","classType":"M1","credit":12,"deadPrice":500,"tier":"T1","W1":"0","W2":"10%","B2":"1500"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesPostResponse"},"example":{"success":true,"data":{"id":27,"classType":"M1"},"warnings":["All Screen deductions (S2, S3, S4, S5) are set to 0"]}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"409":{"description":"Class already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Class M1 already exists for device type Mobile"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to create device class","details":"Error: ..."}}}}},"security":[]},"put":{"tags":["device-classes"],"summary":"Update a device class","description":"Replaces the class metadata and the full per-device-type pricing map for an existing class row.\n\n**Notes:** Any pricing column you omit is reset to '0' because the body map defaults it. No handler-level auth check.\n\n_Source: `app/api/device-classes/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesPutRequest"},"example":{"id":14,"deviceType":"Mobile","classType":"M1","credit":12,"deadPrice":500,"tier":"T1","W2":"10%"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesPutResponse"},"example":{"success":true,"data":{"id":14,"classType":"M1"}}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update device class","details":"Error: ..."}}}}},"security":[]},"delete":{"tags":["device-classes"],"summary":"Delete a device class","description":"Deletes the class row identified by the id and deviceType query params.\n\n**Notes:** Destructive and unauthenticated; devices referencing the class will lose their pricing.\n\n_Source: `app/api/device-classes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Class row id.","schema":{"type":"integer","example":14}},{"name":"deviceType","in":"query","required":true,"description":"Device type whose class table to delete from.","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing id or deviceType"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to delete device class","details":"Error: ..."}}}}},"security":[]}},"/api/device-classes/field":{"patch":{"tags":["device-classes"],"summary":"Update one field on a device class","description":"Inline-edit endpoint that writes a single column on the class table for the given device type. Pricing columns accept a flat amount ('500') or a percentage ('10%'); credit, deadPrice, tier and a few zero-tier columns are strict integers.\n\n**Notes:** Directly mutates pricing used to quote customers. Integer-only pricing columns: Watch.P0 and Console.CD0/E0/P0. No handler-level auth check (audit-logged only when a session exists).\n\n_Source: `app/api/device-classes/field/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesFieldPatchRequest"},"example":{"id":14,"deviceType":"Mobile","field":"W2","value":"10%"}}}},"responses":{"200":{"description":"Updated class row","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeviceClassesFieldPatchResponse"},"example":{"success":true,"data":{"id":14,"classType":"M1","W2":"10%"}}}}},"400":{"description":"Missing fields or invalid price format","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"'abc' is not a valid price. Enter a flat amount like 500, or a percentage like 10%."}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update device class field","details":"Error: ..."}}}}},"security":[]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ClassesGetResponse":{"type":"object","x-inferred-from-example":true},"BrandsPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Brand id to update"},"brandName":{"type":"string","description":"Brand name"},"deviceType":{"type":"string","description":"Prisma DeviceType"},"brandLink":{"type":"string","description":"Public landing page path"},"brandImg":{"type":"string","description":"Brand logo URL"},"title":{"type":"string","description":"SEO/page title"},"description":{"type":"string","description":"SEO/page description"}},"required":["id","brandName","deviceType","brandLink","brandImg","title","description"],"description":"Request body for `PUT /api/brands`."},"CameraLensPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Lens id. Required - 400s when missing or non-numeric."},"brand":{"type":"string","description":"New brand"},"lensName":{"type":"string","description":"New lens name"},"value":{"type":"integer","description":"New flat rupee add-on; must be non-negative"}},"required":["id"],"description":"Request body for `PUT /api/camera-lens`."},"DeviceClassesPostResponse":{"type":"object","x-inferred-from-example":true},"CheckModelCodeGetResponse":{"type":"object","x-inferred-from-example":true},"BrandsFieldPatchResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"BrandsFieldPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"Brand id"},"field":{"type":"string","description":"Column name to update, e.g. title, description, brandLink, brandImg"},"value":{"type":"string","description":"New value for that column"}},"required":["id","field"],"description":"Request body for `PATCH /api/brands/field`."},"BrandsPostRequest":{"type":"object","properties":{"brandName":{"type":"string","description":"Brand name, e.g. Apple"},"deviceType":{"type":"string","description":"Prisma DeviceType, e.g. Mobile"},"brandLink":{"type":"string","description":"Public landing page path"},"brandImg":{"type":"string","description":"Brand logo URL"},"title":{"type":"string","description":"SEO/page title"},"description":{"type":"string","description":"SEO/page description"}},"required":["brandName","deviceType","brandLink","brandImg","title","description"],"description":"Request body for `POST /api/brands`."},"CameraLensResponse":{"type":"object","x-inferred-from-example":true},"DeviceClassesPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Device type whose class table to write"},"classType":{"type":"string","description":"Class name, must be unique for the type"},"credit":{"type":"integer","description":"Credit points charged to a vendor for this class"},"deadPrice":{"type":"integer","description":"Dead/scrap price floor"},"tier":{"type":"string","description":"Tier label"},"W1":{"type":"string","description":"Warranty deduction; flat amount or percentage. Same for W2-W4, B1-B4, S1-S5, A1-A8, P1-P16, T1-T15, CD1-CD10, E1-E8, R1-R4, D1-D3 depending on device type"}},"required":["deviceType","classType","credit","deadPrice","tier"],"description":"Request body for `POST /api/device-classes`."},"BrandsPostResponse":{"type":"object","x-inferred-from-example":true},"DeviceClassesPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Class row id"},"deviceType":{"type":"string","description":"Device type"},"classType":{"type":"string","description":"Class name"},"credit":{"type":"integer","description":"Credit points"},"deadPrice":{"type":"integer","description":"Dead price"},"tier":{"type":"string","description":"Tier label"},"W1":{"type":"string","description":"Pricing column; all mapped columns for the device type are written, missing ones become '0'"}},"required":["id","deviceType","classType","credit","deadPrice","tier"],"description":"Request body for `PUT /api/device-classes`."},"DeviceClassesGetResponse":{"type":"object","x-inferred-from-example":true},"BrandsGetResponse":{"type":"object","x-inferred-from-example":true},"DeviceClassesFieldPatchRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Class row id (numeric strings are coerced)"},"deviceType":{"type":"string","description":"Mobile, Tablet, Laptop, Camera, Headphone, Console, Drone, TV, AC, Desktop, Mac or Watch"},"field":{"type":"string","description":"Column name, e.g. W2, B3, classType, credit, deadPrice, tier"},"value":{"type":"string","description":"New value. Pricing fields must match a flat amount or percentage; empty string means no deduction"}},"required":["id","deviceType","field","value"],"description":"Request body for `PATCH /api/device-classes/field`."},"CameraLensGetResponse":{"type":"object","x-inferred-from-example":true},"DeviceClassesPutResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"CameraLensPostRequest":{"type":"object","properties":{"brand":{"type":"string","description":"Lens brand, e.g. Canon"},"lensName":{"type":"string","description":"Lens model name"},"value":{"type":"integer","description":"Flat rupee amount added to the camera quote. Must be a non-negative number."}},"required":["brand","lensName","value"],"description":"Request body for `POST /api/camera-lens`."},"BrandsPutResponse":{"type":"object","x-inferred-from-example":true},"BrandsListGetResponse":{"type":"object","x-inferred-from-example":true},"DeviceClassesFieldPatchResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}