{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Devices & Pricing 4","description":"Tags: products, ram, storage, variants","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"products"},{"name":"ram"},{"name":"storage"},{"name":"variants"}],"paths":{"/api/products":{"get":{"tags":["products"],"summary":"List products with filters, variants and good price","description":"Paginated product listing across the device catalogs. Parent rows come back with their variants nested and a computed goodPrice; when a search term is given with no deviceType, every catalog table is searched and merged.\n\n**Notes:** Cross-table search caps each catalog at 100 matched rows before merging and paginating in memory.\n\n_Source: `app/api/products/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"sortBy","in":"query","required":false,"description":"Sort column","schema":{"type":"string","example":"createdAt","default":"createdAt"}},{"$ref":"#/components/parameters/SortOrderParam"},{"name":"deviceType","in":"query","required":false,"description":"Catalog table to query; empty searches all when search is set","schema":{"type":"string","example":"Mobile"}},{"name":"search","in":"query","required":false,"description":"Matches brand, model or baseURL","schema":{"type":"string","example":"iPhone"}},{"name":"brand","in":"query","required":false,"description":"Brand filter","schema":{"type":"string","example":"Apple"}},{"name":"fromDate","in":"query","required":false,"description":"createdAt lower bound","schema":{"type":"string","example":"2026-01-01"}},{"name":"toDate","in":"query","required":false,"description":"createdAt upper bound","schema":{"type":"string","example":"2026-08-31"}},{"name":"storage","in":"query","required":false,"description":"Storage filter in GB","schema":{"type":"integer","example":128}},{"name":"ram","in":"query","required":false,"description":"RAM filter in GB","schema":{"type":"integer","example":8}},{"name":"priceMin","in":"query","required":false,"description":"Minimum price","schema":{"type":"integer","example":10000}},{"name":"priceMax","in":"query","required":false,"description":"Maximum price","schema":{"type":"integer","example":90000}}],"responses":{"200":{"description":"Product list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsGetResponse"},"example":{"data":[{"id":"3f1c...","brand":"Apple","model":"iPhone 13","price":32000,"goodPrice":29500,"variants":[]}],"pagination":{"total":240,"pages":24,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch products","details":"..."}}}}},"security":[]},"post":{"tags":["products"],"summary":"Create a product with optional variants","description":"Creates a parent product row in the catalog table for the given device type and, for Mobile/Tablet/Mac, creates each supplied variant as an isParent=0 row inheriting the parent's SEO and imagery.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/products/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsPostRequest"},"example":{"deviceType":"Mobile","brand":"Apple","model":"iPhone 15","classId":3,"price":52000,"img":"https://cdn.cashkr.com/iphone15.png","variants":[{"storage":128,"ram":6,"price":52000,"classId":3}]}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsPostResponse"},"example":{"success":true,"data":{"id":"3f1c...","brand":"Apple","model":"iPhone 15","isParent":1}}}}},"400":{"description":"Unsupported device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Creating a Drone product is not supported yet. Supported types: Mobile, Tablet, Laptop, Ma…"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create product"}}}}},"security":[]},"put":{"tags":["products"],"summary":"Update a product and its variants","description":"Updates a parent product row by id and device type. Variants are only touched when a variants key is present in the payload; variants with an id are updated and the rest created.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. classType, credit, tier and goodPrice are stripped from the payload before writing.\n\n_Source: `app/api/products/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsPutRequest"},"example":{"id":"3f1c8b2a-7d4e-4d1b-9a55-2f1e77a0c111","deviceType":"Mobile","price":49000}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsPutResponse"},"example":{"success":true,"data":{"id":"3f1c...","price":49000}}}}},"400":{"description":"Missing id/deviceType or unsupported type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields: id and deviceType"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update product"}}}}},"security":[]},"delete":{"tags":["products"],"summary":"Delete a product and optionally its variants","description":"Deletes a product row from the catalog table for the given device type; with deleteVariants=true on a parent row, its isParent=0 siblings sharing the model are deleted too.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Destructive.\n\n_Source: `app/api/products/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Product row id; 400 if missing","schema":{"type":"string","example":"3f1c8b2a-7d4e-4d1b-9a55-2f1e77a0c111"}},{"name":"deviceType","in":"query","required":true,"description":"Mobile | Tablet | Laptop | Mac | Desktop; 400 if missing","schema":{"type":"string","example":"Mobile"}},{"name":"deleteVariants","in":"query","required":false,"description":"Also delete the parent's variants","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Product deleted successfully"}}}},"400":{"description":"Missing id or deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Product ID and device type are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete product"}}}}},"security":[]}},"/api/products/variant":{"put":{"tags":["products"],"summary":"Update a product variant","description":"Updates the storage, RAM, price, variant SEO and pricing class of a single variant row in the Mobile, Tablet, Laptop or Mac catalog.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Laptop variants only accept price and classId.\n\n_Source: `app/api/products/variant/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsVariantPutRequest"},"example":{"id":"7c2b1a90-4e6f-4c22-8a10-9f0d5e6a1234","deviceType":"Mobile","variant":{"storage":256,"ram":6,"price":58000,"classId":3,"variantTitle":"Sell Apple iPhone 15 256GB"}}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsVariantPutResponse"},"example":{"success":true,"data":{"id":"7c2b1a90","storage":256,"price":58000}}}}},"400":{"description":"Missing fields or invalid device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update variant"}}}}},"security":[]},"delete":{"tags":["products"],"summary":"Delete a product variant","description":"Deletes a single variant row from the Mobile, Tablet, Laptop or Mac catalog. Unusually for a DELETE, the id and device type are read from a JSON request body.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Requires a JSON body on a DELETE request.\n\n_Source: `app/api/products/variant/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductsVariantDeleteRequest"},"example":{"id":"7c2b1a90-4e6f-4c22-8a10-9f0d5e6a1234","deviceType":"Mobile"}}}},"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Variant deleted successfully"}}}},"400":{"description":"Missing fields or invalid device type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete variant"}}}}},"security":[]}},"/api/ram":{"get":{"tags":["ram"],"summary":"List RAM options","description":"Paginated, searchable list of RAM catalog rows used by the laptop pricing engine.\n\n_Source: `app/api/ram/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Matches the size field","schema":{"type":"string","example":"16GB"}}],"responses":{"200":{"description":"RAM list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamGetResponse"},"example":{"data":[{"id":5,"size":"16GB","value":40}],"pagination":{"total":8,"pages":1,"currentPage":1,"perPage":10}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch RAM"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["ram"],"summary":"Create a RAM option","description":"Creates a RAM catalog row from a size label and pricing value.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/ram/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamPostRequest"},"example":{"size":"16GB","value":40}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamResponse"},"example":{"id":5,"size":"16GB","value":40}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"All fields are required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create RAM"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["ram"],"summary":"Update a RAM option","description":"Updates the size label and/or pricing value of an existing RAM row; only supplied fields change.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/ram/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamPutRequest"},"example":{"id":5,"value":45}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RamResponse"},"example":{"id":5,"size":"16GB","value":45}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"RAM ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update RAM"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["ram"],"summary":"Delete a RAM option","description":"Permanently deletes the RAM catalog row with the given id.\n\n**Notes:** Wrapped in withAuditLog (PRODUCT).\n\n_Source: `app/api/ram/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"RAM row id; 400 if missing","schema":{"type":"integer","example":5}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"RAM deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"RAM ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete RAM"}}}}},"security":[{"cookieAuth":[]}]}},"/api/storage":{"get":{"tags":["storage"],"summary":"List storage options","description":"Paginated list of device storage size options, optionally filtered by a case-insensitive substring match on size.\n\n_Source: `app/api/storage/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Substring match on the size field","schema":{"type":"string","example":"128"}}],"responses":{"200":{"description":"Paginated storage list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageGetResponse"},"example":{"data":[{"id":3,"size":"128GB","value":"128"}],"pagination":{"total":6,"pages":1,"currentPage":1,"perPage":10}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch Storage"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["storage"],"summary":"Create a storage option","description":"Creates a new storage size option. Both size and value are required.\n\n_Source: `app/api/storage/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoragePostRequest"},"example":{"size":"128GB","value":"128"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageResponse"},"example":{"id":7,"size":"128GB","value":"128"}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"All fields are required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create Storage"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["storage"],"summary":"Update a storage option","description":"Updates the size and/or value of an existing storage option identified by id in the JSON body.\n\n**Notes:** Id is taken from the body, not the URL.\n\n_Source: `app/api/storage/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoragePutRequest"},"example":{"id":7,"size":"256GB","value":"256"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageResponse"},"example":{"id":7,"size":"256GB","value":"256"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Storage ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update Storage"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["storage"],"summary":"Delete a storage option","description":"Deletes the storage option whose id is supplied as a query parameter.\n\n_Source: `app/api/storage/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"Storage row id; 400 if missing","schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Storage deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Storage ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete Storage"}}}}},"security":[{"cookieAuth":[]}]}},"/api/variants":{"post":{"tags":["variants"],"summary":"Create a device variant under a parent product","description":"Creates a child variant (storage/RAM for Mobile, Tablet, Mac; case size for Watch; price-only for Laptop and Desktop) inheriting brand, model, images and SEO fields from the parent product. Same-spec duplicates within a modelCode family are rejected with 409.\n\n**Notes:** No handler-level auth check. Sets device buy-back prices shown to customers, so it is price-sensitive. Duplicate detection only covers Mobile, Tablet, Mac and Watch (keyed on modelCode plus specs, with missing specs treated as 0) - Laptop and Desktop have no duplicate guard. Laptop and Desktop variants persist only price/classId; their storage, RAM and variant title fields are commented out in the code. An unrecognised deviceType falls through every branch and returns success:true with data null.\n\n_Source: `app/api/variants/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantsPostRequest"},"example":{"parentId":"9f1c2b44-3d21-4a7e-9d10-5e6f7a8b9c0d","deviceType":"Mobile","storage":512,"ram":12,"price":"62000","classId":"CLS_A"}}}},"responses":{"200":{"description":"Variant created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantsPostResponse"},"example":{"success":true,"data":{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","brand":"Samsung","model":"Galaxy S26 5G","storage":512,"ram":12,"price":"62000","isParent":0}}}}},"404":{"description":"Parent product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Parent product not found"}}}},"409":{"description":"A variant with the same specs already exists in this model family","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantsPost409Response"},"example":{"success":false,"error":"Samsung Galaxy S26 5G already has a 512GB / 12GB RAM variant at ₹60000. Edit that variant'…","existingVariantId":"0f9e8d7c-6b5a-4938-2716-05f4e3d2c1b0"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to create variant","details":"PrismaClientKnownRequestError..."}}}}},"security":[]},"put":{"tags":["variants"],"summary":"Update a device variant","description":"Updates a variant's specs and price in the catalog matching deviceType. Mobile, Tablet and Mac update storage, RAM, price, class and variant copy; Watch updates size; Laptop and Desktop update price and class only.\n\n**Notes:** No handler-level auth check. Price-sensitive: this is the intended way to re-price an existing variant rather than creating a duplicate. Fields are written unconditionally, so omitting storage/ram/price on a Mobile variant sets them to undefined/null rather than leaving them unchanged. An unrecognised deviceType returns success:true with data null and changes nothing.\n\n_Source: `app/api/variants/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantsPutRequest"},"example":{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","deviceType":"Mobile","storage":512,"ram":12,"price":"60000","classId":"CLS_A"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantsPutResponse"},"example":{"success":true,"data":{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","storage":512,"ram":12,"price":"60000"}}}}},"400":{"description":"Missing id or deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields: id and deviceType"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to update variant","details":"Record to update not found."}}}}},"security":[]},"delete":{"tags":["variants"],"summary":"Delete a device variant","description":"Deletes a variant row from the catalog table matching the deviceType query parameter.\n\n**Notes:** No handler-level auth check. Hard delete with no parent/variant guard - passing a parent product's id deletes the parent row itself. An unrecognised deviceType still returns success:true without deleting anything.\n\n_Source: `app/api/variants/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Variant id; 400 if missing","schema":{"type":"string","example":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d"}},{"name":"deviceType","in":"query","required":true,"description":"Mobile, Tablet, Mac, Watch, Laptop or Desktop; 400 if missing","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Variant deleted successfully"}}}},"400":{"description":"Missing id or deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Variant ID and device type are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to delete variant","details":"Record to delete does not exist."}}}}},"security":[]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ProductsPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac plus the simple device types; anything else 400s"},"brand":{"type":"string","description":"Brand name"},"model":{"type":"string","description":"Model name"},"modelCode":{"type":"string","description":"Model code"},"baseURL":{"type":"string","description":"Page slug"},"img":{"type":"string","description":"Image URL"},"series":{"type":"string","description":"Series"},"price":{"type":"integer","description":"Parent price"},"classId":{"type":"integer","description":"Pricing class id (parsed to int and connected)"},"pageTitle":{"type":"string","description":"SEO title"},"pageDescription":{"type":"string","description":"SEO description"},"h1":{"type":"string","description":"SEO H1"},"alt":{"type":"string","description":"Alt text"},"variants":{"type":"array","items":{},"description":"[{storage, ram, price, classId, modelCode, variantTitle, variantDescription}]"}},"required":["deviceType","brand","model"],"description":"Request body for `POST /api/products`."},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"VariantsPost409Response":{"type":"object","x-inferred-from-example":true},"ProductsPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Product row id"},"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac plus the simple device types"},"brand":{"type":"string","description":"Brand"},"model":{"type":"string","description":"Model name"},"price":{"type":"integer","description":"Price"},"classId":{"type":"integer","description":"Pricing class id"},"img":{"type":"string","description":"Image URL"},"pageTitle":{"type":"string","description":"SEO title"},"pageDescription":{"type":"string","description":"SEO description"},"variants":{"type":"array","items":{},"description":"Only processed when the key is present; omit to leave variants untouched"}},"required":["id","deviceType"],"description":"Request body for `PUT /api/products`."},"RamPostRequest":{"type":"object","properties":{"size":{"type":"string","description":"RAM size label, e.g. 16GB"},"value":{"type":"number","description":"Pricing value"}},"required":["size","value"],"description":"Request body for `POST /api/ram`."},"VariantsPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Variant id; 400 if missing"},"deviceType":{"type":"string","description":"Mobile, Tablet, Mac, Watch, Laptop or Desktop; 400 if missing"},"price":{"type":"string","description":"New price"},"storage":{"type":"integer","description":"Storage in GB (Mobile, Tablet, Mac)"},"ram":{"type":"integer","description":"RAM in GB (Mobile, Tablet, Mac)"},"size":{"type":"integer","description":"Case size in mm (Watch)"},"classId":{"type":"string","description":"Pricing class id"},"variantTitle":{"type":"string","description":"Variant title"},"variantDescription":{"type":"string","description":"Variant description"}},"required":["id","deviceType"],"description":"Request body for `PUT /api/variants`."},"RamPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"RAM row id"},"size":{"type":"string","description":"RAM size label"},"value":{"type":"number","description":"Pricing value"}},"required":["id"],"description":"Request body for `PUT /api/ram`."},"VariantsPostRequest":{"type":"object","properties":{"parentId":{"type":"string","description":"Id of the parent product row in the matching device catalog"},"deviceType":{"type":"string","description":"Mobile, Tablet, Mac, Watch, Laptop or Desktop. An unknown value silently returns success with data null."},"price":{"type":"string","description":"Buy-back price for this variant"},"storage":{"type":"integer","description":"Storage in GB (Mobile, Tablet, Mac)"},"ram":{"type":"integer","description":"RAM in GB (Mobile, Tablet, Mac)"},"size":{"type":"integer","description":"Watch case size in mm (Watch only)"},"classId":{"type":"string","description":"Pricing class id"},"modelCode":{"type":"string","description":"Overrides the parent's modelCode; also the key used for duplicate detection"},"showPrice":{"type":"string","description":"Laptop only: displayed price"},"id":{"type":"string","description":"Explicit variant id; a uuid v4 is generated when omitted"},"variantTitle":{"type":"string","description":"Defaults to a generated title from brand, model and specs"},"variantDescription":{"type":"string","description":"Defaults to a generated description"}},"required":["parentId","deviceType","price"],"description":"Request body for `POST /api/variants`."},"StorageResponse":{"type":"object","x-inferred-from-example":true},"ProductsVariantPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Variant row id"},"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac; anything else 400s"},"variant":{"type":"object","description":"{ storage, ram, price, variantTitle, variantDescription, classId }"}},"required":["id","deviceType","variant"],"description":"Request body for `PUT /api/products/variant`."},"RamResponse":{"type":"object","x-inferred-from-example":true},"ProductsPutResponse":{"type":"object","x-inferred-from-example":true},"ProductsGetResponse":{"type":"object","x-inferred-from-example":true},"StoragePostRequest":{"type":"object","properties":{"size":{"type":"string","description":"Display label, e.g. 128GB"},"value":{"type":"string","description":"Underlying value, e.g. 128"}},"required":["size","value"],"description":"Request body for `POST /api/storage`."},"StorageGetResponse":{"type":"object","x-inferred-from-example":true},"VariantsPostResponse":{"type":"object","x-inferred-from-example":true},"ProductsVariantDeleteRequest":{"type":"object","properties":{"id":{"type":"string","description":"Variant row id"},"deviceType":{"type":"string","description":"Mobile | Tablet | Laptop | Mac"}},"required":["id","deviceType"],"description":"Request body for `DELETE /api/products/variant`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"RamGetResponse":{"type":"object","x-inferred-from-example":true},"ProductsPostResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"VariantsPutResponse":{"type":"object","x-inferred-from-example":true},"StoragePutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Storage row id"},"size":{"type":"string","description":"New display label"},"value":{"type":"string","description":"New value"}},"required":["id"],"description":"Request body for `PUT /api/storage`."},"ProductsVariantPutResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}