{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Customers","description":"Tags: customer-addresses, customer-payments, customers","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"customer-addresses"},{"name":"customer-payments"},{"name":"customers"}],"paths":{"/api/customer-addresses":{"get":{"tags":["customer-addresses"],"summary":"List addresses for a customer","description":"Returns the saved addresses (id, type, address, city, pincode) for the customer given by the customerId query param.\n\n**Notes:** The token is only checked for presence — it is never validated or decoded.\n\n_Source: `app/api/customer-addresses/route.ts`_\n\n_Auth: `other: accessToken cookie or Authorization Bearer token — presence only, token is not verified`_","parameters":[{"name":"customerId","in":"query","required":false,"description":"Customer id whose addresses are returned; when omitted the Prisma filter matches nothing","schema":{"type":"string","example":"cus_9f3a2b41"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressesGetResponse"},"example":{"success":true,"addresses":[{"addressId":"addr_1021","addressType":"Home","address":"12 MG Road, Indiranagar","city":"Bengaluru","pincode":560038}]}}}},"401":{"description":"No accessToken cookie and no Authorization header","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":401,"message":"Unauthorized Request"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorDetailsEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error","details":"…"}}}}}},"security":[{"unverifiedAccessToken":[]}]},"post":{"tags":["customer-addresses"],"summary":"Create an address for a customer","description":"Validates the body with zod and creates a new address row for the customer given by the customerId query param. Wrapped in withAuditLog(entity CUSTOMER).\n\n**Notes:** Side effect: writes an audit-log entry (withAuditLog entity CUSTOMER).\n\n_Source: `app/api/customer-addresses/route.ts`_\n\n_Auth: `other: accessToken cookie or Authorization Bearer token — presence only, token is not verified`_","parameters":[{"name":"customerId","in":"query","required":false,"description":"Customer the address is attached to","schema":{"type":"string","example":"cus_9f3a2b41"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressesPostRequest"},"example":{"addressType":"Home","address":"12 MG Road, Indiranagar","city":"Bengaluru","pincode":"560038"}}}},"responses":{"200":{"description":"Address created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressesPostResponse"},"example":{"success":true,"address":{"addressId":"addr_1021","addressType":"Home","address":"12 MG Road, Indiranagar","city":"Bengaluru","pincode":560038,"customerId":"cus_9f3a2b41"}}}}},"400":{"description":"Zod validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressesPost400Response"},"example":{"success":false,"error":{"code":400,"message":"Validation Error","details":[{"path":["pincode"],"message":"Pincode must be a 6-digit number"}]}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":401,"message":"Unauthorized Request"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorDetailsEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error","details":"…"}}}}}},"security":[{"unverifiedAccessToken":[]}]}},"/api/customer-payments":{"get":{"tags":["customer-payments"],"summary":"Get customer bank/UPI payment details","description":"Returns the stored payment record for the customer given by the customerId query param, decrypting the field-level-encrypted bank/UPI PII before responding.\n\n**Notes:** Returns decrypted PII (bank account number, IFSC, UPI id). The token is only checked for presence, never verified — treat this endpoint as sensitive.\n\n_Source: `app/api/customer-payments/route.ts`_\n\n_Auth: `other: accessToken cookie or Authorization Bearer token — presence only, token is not verified`_","parameters":[{"name":"customerId","in":"query","required":false,"description":"Customer whose payment record is returned","schema":{"type":"string","example":"cus_9f3a2b41"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentsGetResponse"},"example":{"success":true,"payment":{"paymentId":"pay_3311","bankBeneficiaryName":"Rahul Sharma","bankName":"HDFC Bank","bankIFSC":"HDFC0001234","bankAccNumber":"50100234567890","upiNo":"rahul@okhdfcbank"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":401,"message":"Unauthorized Request"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorDetailsEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error","details":"…"}}}}}},"security":[{"unverifiedAccessToken":[]}]},"post":{"tags":["customer-payments"],"summary":"Upsert customer bank/UPI payment details","description":"Encrypts the bank/UPI fields with the shared field-encryption helper and upserts the payment record for the customer given by the customerId query param. Wrapped in withAuditLog(entity FINANCE).\n\n**Notes:** Note the body is read BEFORE the auth check. Side effects: writes encrypted payment PII and an audit-log entry (entity FINANCE). The returned payment object still holds the encrypted values.\n\n_Source: `app/api/customer-payments/route.ts`_\n\n_Auth: `other: accessToken cookie or Authorization Bearer token — presence only, token is not verified`_","parameters":[{"name":"customerId","in":"query","required":false,"description":"Customer whose payment record is upserted","schema":{"type":"string","example":"cus_9f3a2b41"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentsPostRequest"},"example":{"bankBeneficiaryName":"Rahul Sharma","bankName":"HDFC Bank","bankIFSC":"HDFC0001234","bankAccNumber":"50100234567890","upiNo":"rahul@okhdfcbank"}}}},"responses":{"200":{"description":"Payment record created or updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPaymentsPostResponse"},"example":{"success":true,"payment":{"paymentId":"pay_3311","customerId":"cus_9f3a2b41","bankName":"HDFC Bank"}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":401,"message":"Unauthorized Request"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorDetailsEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error","details":"…"}}}}}},"security":[{"unverifiedAccessToken":[]}]}},"/api/customers":{"get":{"tags":["customers"],"summary":"List customers with search and pagination","description":"Returns a paginated, searchable list of customers flattened to id, name, email, phone, primary address fields, isBlocked, order count and createdAt, plus pagination metadata.\n\n**Notes:** No handler-level auth check. On databases without the isBlocked column it falls back to a $queryRawUnsafe path that interpolates the search term into SQL.\n\n_Source: `app/api/customers/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on firstName, lastName, email or phone","schema":{"type":"string","example":"rahul"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 1-50","schema":{"type":"integer","example":10,"default":10}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersGetResponse"},"example":{"data":[{"id":"cus_9f3a2b41","name":"Rahul Sharma","email":"rahul@example.com","phone":"9876543210","city":"Bengaluru","address":"12 MG Road, Indiranagar","pincode":560038,"isBlocked":false,"orders":3,"createdAt":"2026-05-02T11:04:00.000Z"}],"pagination":{"page":1,"pages":24,"total":238,"limit":10}}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load customers"}}}}},"security":[]}},"/api/customers/block":{"patch":{"tags":["customers"],"summary":"Block or unblock a customer","description":"Sets Customers.isBlocked for the given customer id. Returns 400 if the isBlocked column has not been migrated yet. Wrapped in withAuditLog(entity CUSTOMER, action STATUS_CHANGE).\n\n**Notes:** No handler-level auth check — a state-changing endpoint that anyone reaching the route can call. Side effect: writes a STATUS_CHANGE audit-log entry.\n\n_Source: `app/api/customers/block/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersBlockPatchRequest"},"example":{"id":"cus_9f3a2b41","isBlocked":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersBlockPatchResponse"},"example":{"customerId":"cus_9f3a2b41","isBlocked":true}}}},"400":{"description":"Missing id, or isBlocked column not migrated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Customer id is required"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update customer"}}}}},"security":[]}},"/api/customers/do-not-contact":{"post":{"tags":["customers"],"summary":"Create do not contact","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/customers/do-not-contact/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/customers/{id}":{"get":{"tags":["customers"],"summary":"Get customer detail with leads and reviews","description":"Returns a flattened customer object (id, name, email, phone, primary address fields, isBlocked) together with all addresses, the 50 most recent master leads, the 50 most recent reviews and the average rating.\n\n**Notes:** No handler-level auth check. Probes information_schema for the Customers.isBlocked column and returns false when the migration has not been applied.\n\n_Source: `app/api/customers/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Customer id","schema":{"type":"string"},"example":"cus_9f3a2b41"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersByIdGetResponse"},"example":{"id":"cus_9f3a2b41","name":"Rahul Sharma","email":"rahul@example.com","phone":"9876543210","city":"Bengaluru","address":"12 MG Road, Indiranagar","pincode":560038,"isBlocked":false,"addresses":[],"masterLeads":[],"reviews":[],"averageRating":4.5}}}},"400":{"description":"Missing customer id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Customer id required"}}}},"404":{"description":"Customer not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Customer not found"}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load customer details"}}}}},"security":[]}},"/api/customers/{id}/activity":{"get":{"tags":["customers"],"summary":"List a customer's activity log","description":"Returns the customer's activity log entries (newest first) plus per-category counts. Supports category filtering, a case-insensitive description search and a capped limit.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/customers/[id]/activity/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Customer id","schema":{"type":"string"},"example":"cus_9f3a2b41"},{"name":"category","in":"query","required":false,"description":"One of AUTH, ORDER, QUOTE, PROFILE, PAYMENT, COUPON, REFERRAL; anything else is ignored","schema":{"type":"string","example":"ORDER"}},{"name":"limit","in":"query","required":false,"description":"Max rows, clamped to 1-500","schema":{"type":"integer","example":100,"default":100}},{"name":"search","in":"query","required":false,"description":"Case-insensitive substring match on the description field","schema":{"type":"string","example":"pickup"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersByIdActivityGetResponse"},"example":{"data":[{"id":881,"customerId":"cus_9f3a2b41","category":"ORDER","action":"ORDER_PLACED","description":"Order placed for iPhone 13","platform":"web","ipAddress":"49.36.11.4","createdAt":"2026-08-28T09:12:44.000Z"}],"stats":{"ORDER":12,"AUTH":30}}}}},"400":{"description":"Missing customer id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Customer id required"}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load customer activity"}}}}},"security":[]}},"/api/customers/{id}/activity/export":{"get":{"tags":["customers"],"summary":"Export customer activity log as CSV","description":"Streams up to 10,000 CustomerActivityLog rows for the customer as a CSV attachment with columns Timestamp, Category, Action, Description, Platform, IP Address, Entity Type, Entity ID.\n\n**Notes:** No handler-level auth check — anyone who can reach the route can export a customer's full activity trail including IP addresses. Response is text/csv, not JSON.\n\n_Source: `app/api/customers/[id]/activity/export/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Customer id","schema":{"type":"string"},"example":"cus_9f3a2b41"}],"responses":{"200":{"description":"CSV file (Content-Disposition: attachment; filename=customer-{id}-activity-YYYY-MM-DD.csv)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomersByIdActivityExportGetResponse"},"example":"\"Timestamp\",\"Category\",\"Action\",\"Description\",\"Platform\",\"IP Address\",\"Entity Type\",\"Entit…"}}},"400":{"description":"Missing customer id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Customer id required"}}}},"500":{"description":"Export failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to export activity"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"CustomerAddressesPost400Response":{"type":"object","x-inferred-from-example":true},"CustomersBlockPatchResponse":{"type":"object","x-inferred-from-example":true},"CustomersByIdGetResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"CustomerAddressesGetResponse":{"type":"object","x-inferred-from-example":true},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"CustomersGetResponse":{"type":"object","x-inferred-from-example":true},"CustomerAddressesPostRequest":{"type":"object","properties":{"addressType":{"type":"string","description":"One of Home, Office, Other"},"address":{"type":"string","description":"Street address, min 5 characters"},"city":{"type":"string","description":"City name, min 2 characters"},"pincode":{"type":"string","description":"Exactly 6 digits; stored as an integer"}},"required":["addressType","address","city","pincode"],"description":"Request body for `POST /api/customer-addresses`."},"CustomersBlockPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"Customer id; 400 when missing"},"isBlocked":{"type":"boolean","description":"Coerced with !! — omitting it unblocks the customer"}},"required":["id"],"description":"Request body for `PATCH /api/customers/block`."},"CustomerAddressesPostResponse":{"type":"object","x-inferred-from-example":true},"CustomersByIdActivityExportGetResponse":{"type":"string","x-inferred-from-example":true},"CustomerPaymentsGetResponse":{"type":"object","x-inferred-from-example":true},"CodedErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}},"required":["error","success"],"description":"Structured error envelope `{ success: false, error: { code, message } }`."},"CustomersByIdActivityGetResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"CodedErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"details":{"type":"string"}},"required":["code","details","message"]}},"required":["error","success"],"description":"Structured error envelope `{ success: false, error: { code, message, details } }`."},"CustomerPaymentsPostResponse":{"type":"object","x-inferred-from-example":true},"CustomerPaymentsPostRequest":{"type":"object","properties":{"bankBeneficiaryName":{"type":"string","description":"Account holder name (encrypted at rest)"},"bankName":{"type":"string","description":"Bank name (stored in plaintext)"},"bankIFSC":{"type":"string","description":"IFSC code (encrypted at rest)"},"bankAccNumber":{"type":"string","description":"Bank account number (encrypted at rest)"},"upiNo":{"type":"string","description":"UPI id (encrypted at rest)"}},"description":"Request body for `POST /api/customer-payments`."}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}