{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Dashboards 1","description":"Tags: analytics, dashboard","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"analytics"},{"name":"dashboard"}],"paths":{"/api/analytics/cx":{"get":{"tags":["analytics"],"summary":"Failed-order / CX analytics report","description":"Aggregates failed leads into primary and secondary status breakdowns, themed categories, city/device/model splits, top failing vendors, custom failure reasons and a daily trend, plus a price-gap analysis between expected and offered amounts.\n\n**Notes:** No handler-level auth check. Redis-cached 300s (the cache key ignores the ai flag). Capped at 20000 failed leads. Excludes pincode 400000 and city 'test'. ai=true calls the LLM insight generator.\n\n_Source: `app/api/analytics/cx/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"IST start date; defaults to 30 days ago when from/to are not both supplied","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (inclusive)","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to 'true' to also generate an LLM narrative insight","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Failed-order analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsCxGetResponse"},"example":{"kpis":{"totalFailures":1240,"vendorFailures":610,"customerFailures":480,"avgPriceGap":1850,"priceGapPercent":14},"primaryStatusBreakdown":[],"secondaryStatusBreakdown":[],"categoryBreakdown":[],"dailyTrend":[],"aiInsight":null}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch data"}}}}},"security":[]}},"/api/analytics/funnel":{"get":{"tags":["analytics"],"summary":"Lead-to-completion funnel analytics","description":"Builds the six-step lead funnel with per-step dropoff and conversion, plus device and city breakdowns, requote acceptance by price-drop band, top dropout reasons and average stage velocity.\n\n**Notes:** No handler-level auth check. Redis-cached 180s (the cache key ignores the ai flag). Capped at 30000 leads. Demo/test users are excluded via lib/analytics/exclude-demo.\n\n_Source: `app/api/analytics/funnel/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"range","in":"query","required":false,"description":"today | yesterday | last7 | last30; ignored when from and to are both given","schema":{"type":"string","example":"last7","default":"last30"}},{"name":"from","in":"query","required":false,"description":"IST start date (YYYY-MM-DD)","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (YYYY-MM-DD, inclusive)","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to 'true' to generate an LLM narrative insight","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Funnel analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsFunnelGetResponse"},"example":{"dateRange":{"start":"2026-08-01T00:00:00.000Z","end":"2026-08-31T18:29:59.999Z"},"kpis":{"totalLeads":5120,"completed":980,"funnelCVR":19},"funnelSteps":[],"dailyTrend":[],"deviceBreakdown":[],"cityBreakdown":[],"requoteImpact":{},"dropoutDetective":[],"velocity":{},"aiInsight":[]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch funnel data"}}}}},"security":[]}},"/api/analytics/geo":{"get":{"tags":["analytics"],"summary":"Geographic coverage and expansion analytics","description":"Aggregates leads by city and pincode against vendor coverage to produce demand-per-vendor ratios, an expansion readiness score, coverage gaps, low-completion areas and uncovered pincodes.\n\n**Notes:** No handler-level auth check. Redis-cached 300s except for aiOnly requests. Capped at 20000 leads and 10000 vendor-pincode rows; returns at most 50 cities.\n\n_Source: `app/api/analytics/geo/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"IST start date; defaults to 30 days ago","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (inclusive)","schema":{"type":"string","example":"2026-08-31"}},{"name":"aiOnly","in":"query","required":false,"description":"Set to 'true' to bypass the cache and generate the LLM expansion insight","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Geo analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsGeoGetResponse"},"example":{"summary":{"totalCities":42,"totalLeads":5120,"totalOrders":1400,"overallCompletionRate":70,"uncoveredLeads":210,"avgDemandRatio":12.4},"cities":[],"coverageGaps":[],"expansionReady":[],"vendorPressure":[],"uncoveredPincodes":[],"dailyTrend":[],"aiInsight":null}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch geo data"}}}}},"security":[]}},"/api/analytics/growth":{"get":{"tags":["analytics"],"summary":"Growth KPIs, trends and exceptions","description":"Returns lead/order/completion KPIs with completion and fail rates computed against vendor-caused failures, plus daily trend, city and device breakdowns, pickup TAT and exception lists for weak cities.\n\n**Notes:** No handler-level auth check. The LLM insight runs by default and is raced against a 2.5s timeout; results are only Redis-cached (180s) when ai=false. Excludes pincode 400000 and city 'test'. requoteRate is a hardcoded 0 placeholder.\n\n_Source: `app/api/analytics/growth/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"range","in":"query","required":false,"description":"today | yesterday | last7 | last30; ignored when from and to are both given","schema":{"type":"string","example":"last7","default":"last30"}},{"name":"from","in":"query","required":false,"description":"Start date","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date (end of day)","schema":{"type":"string","example":"2026-08-31"}},{"name":"city","in":"query","required":false,"description":"City filter; 'all' means no filter","schema":{"type":"string","example":"Mumbai"}},{"name":"device","in":"query","required":false,"description":"Device type filter; 'all' means no filter","schema":{"type":"string","example":"Mobile"}},{"name":"ai","in":"query","required":false,"description":"Defaults to on; set to 'false' to skip the LLM insight and enable Redis caching","schema":{"type":"boolean","example":false,"default":true}}],"responses":{"200":{"description":"Growth analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsGrowthGetResponse"},"example":{"dateRange":{"start":"2026-08-01T00:00:00.000Z","end":"2026-08-31T23:59:59.999Z"},"kpis":{"leads":{"value":5120},"orders":{"value":1400},"completed":{"value":980},"completionRate":{"value":70},"avgPickupTAT":{"value":1.4}},"charts":{"dailyTrend":[],"cityBreakdown":[],"deviceBreakdown":[]},"exceptions":{}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch growth data","details":"..."}}}}},"security":[]}},"/api/analytics/marketing":{"get":{"tags":["analytics"],"summary":"Marketing spend and attribution analytics","description":"Joins LeadAttribution UTM data with MarketingMetrics spend to report campaign, source, keyword, creative, hourly and city-by-campaign performance, weekly conversion cohorts and both attributed and platform-reported CPL/CPA/ROAS.\n\n**Notes:** No handler-level auth check. Redis-cached 180s. Capped at 50000 attributions and 10000 metric rows. Completion/failure windows come from lib/leads/completed-window (LeadLogs based) rather than updatedAt; spend that cannot be campaign-matched is distributed proportionally per source.\n\n_Source: `app/api/analytics/marketing/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"range","in":"query","required":false,"description":"today | yesterday | last7 | last30; ignored when from and to are both given","schema":{"type":"string","example":"last7","default":"last30"}},{"name":"from","in":"query","required":false,"description":"IST start date","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (exclusive upper bound at end of day)","schema":{"type":"string","example":"2026-08-31"}},{"name":"source","in":"query","required":false,"description":"Normalised UTM source filter (Facebook, Instagram, Google, Bing, Direct); 'all' means no filter","schema":{"type":"string","example":"Facebook"}},{"name":"ai","in":"query","required":false,"description":"Set to 'true' to generate an LLM narrative insight","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Marketing analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsMarketingGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-09-01T00:00:00.000Z"},"summary":{"totalLeads":5120,"totalOrders":1400,"totalCompleted":980,"spend":480000,"cpl":120,"cpa":430,"effectiveCPA":610,"platformRoas":3.2},"campaigns":[],"sources":[],"keywords":[],"creatives":[],"hourly":[],"cityCampaign":[],"cohorts":[]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch marketing data"}}}}},"security":[]}},"/api/analytics/overview":{"get":{"tags":["analytics"],"summary":"Executive analytics overview dashboard","description":"Headline dashboard combining lead/order/completion KPIs with period-over-period deltas, marketing spend efficiency (CPL, CPA, effective CPA, platform CAC/ROAS), daily trend, best and worst campaigns, worst vendors and cities, top vendors/cities and alerts.\n\n**Notes:** No handler-level auth check. Redis-cached 180s unless ai=true. Uses paid-attribution helpers for CPL/CPA and excludes demo/test users via lib/analytics/exclude-demo.\n\n_Source: `app/api/analytics/overview/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"range","in":"query","required":false,"description":"today | yesterday | last7 | last30","schema":{"type":"string","example":"last7","default":"last30"}},{"name":"from","in":"query","required":false,"description":"Start date; used with 'to' instead of range","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date","schema":{"type":"string","example":"2026-08-31"}},{"name":"city","in":"query","required":false,"description":"City filter","schema":{"type":"string","example":"Mumbai"}},{"name":"device","in":"query","required":false,"description":"Device type filter","schema":{"type":"string","example":"Mobile"}},{"name":"compare","in":"query","required":false,"description":"Set to '1' to include the previous-period comparison","schema":{"type":"boolean","example":true,"default":false}},{"name":"ai","in":"query","required":false,"description":"Set to 'true' to generate an LLM insight; disables Redis caching for that call","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Overview dashboard payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsOverviewGetResponse"},"example":{"kpis":{"leads":{"value":5120,"delta":8},"orders":{"value":1400,"delta":5},"completed":{"value":980,"delta":3},"cpl":{"value":120,"format":"currency"},"completionRate":{"value":70,"format":"percent"}},"dailyTrend":[],"topCampaigns":[],"worstCpaCampaigns":[],"topVendors":[],"topCities":[],"alerts":[]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch analytics data"}}}}},"security":[]}},"/api/analytics/pricing":{"get":{"tags":["analytics"],"summary":"Get pricing & model analytics","description":"Aggregates leads, requote logs and the device catalog into pricing KPIs: conversion, average price drop, lost revenue, per-model/brand/city/price-bracket breakdowns and catalog utilisation. Results are cached in Redis for 300s.\n\n**Notes:** Read-only. Redis cached 300s (key analytics:pricing:<from>:<to>); safety caps of 30k leads / 20k requote logs / 5k catalog rows per device table. ai=true lazily imports lib/ai/insight-generator and calls an LLM.\n\n_Source: `app/api/analytics/pricing/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"IST start date (YYYY-MM-DD). Defaults to 30 days ago when from/to are not both given.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (YYYY-MM-DD).","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to 'true' to also generate an LLM insight summary (slower).","schema":{"type":"string","example":"true"}}],"responses":{"200":{"description":"Pricing analytics payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsPricingGetResponse"},"example":{"kpis":{"totalLeads":4210,"totalOrders":812,"conversionRate":19,"avgPriceDrop":14,"lostRevenue":18540000,"catalogUtilization":37},"deviceTypeStats":[],"modelStats":[],"brandStats":[],"priceBrackets":[],"cityStats":[],"requoteReasons":[],"dailyTrend":[],"aiInsight":null}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pricing data"}}}}},"security":[]}},"/api/analytics/reviews":{"get":{"tags":["analytics"],"summary":"Get customer review & NPS analytics","description":"Aggregates customer reviews into NPS, rating distribution, vendor leaderboards, city/zone/unserviced-pincode breakdowns and paginated recent/bad review lists. Cached in Redis for 120s.\n\n**Notes:** Only reviews with reviewedBy='Customer' are counted. Page size is fixed at 10. Redis cache key includes every page param, TTL 120s.\n\n_Source: `app/api/analytics/reviews/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"IST start date (YYYY-MM-DD).","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"IST end date (YYYY-MM-DD).","schema":{"type":"string","example":"2026-08-31"}},{"name":"includeAi","in":"query","required":false,"description":"Set to 'true' to generate an AI reputation insight.","schema":{"type":"string","example":"true"}},{"name":"cityPage","in":"query","required":false,"description":"Page for the city breakdown (10 rows/page).","schema":{"type":"integer","example":1,"default":1}},{"name":"zonePage","in":"query","required":false,"description":"Page for the zone breakdown.","schema":{"type":"integer","example":1,"default":1}},{"name":"unservicedPage","in":"query","required":false,"description":"Page for the unserviced-pincode list.","schema":{"type":"integer","example":1,"default":1}},{"name":"recentPage","in":"query","required":false,"description":"Page for the recent-reviews list.","schema":{"type":"integer","example":1,"default":1}},{"name":"badPage","in":"query","required":false,"description":"Page for the 1-3 star review list.","schema":{"type":"integer","example":1,"default":1}}],"responses":{"200":{"description":"Review analytics payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsReviewsGetResponse"},"example":{"kpis":{"totalReviews":640,"avgRating":4.3,"nps":62,"promoters":430,"detractors":78,"reviewRate":41,"commentRate":22},"ratingDist":[],"bestVendors":[],"worstVendors":[],"cityStats":[],"recentReviews":[],"pageSize":10}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch reviews"}}}}},"security":[]}},"/api/analytics/vendors":{"get":{"tags":["analytics"],"summary":"Get vendor performance analytics","description":"Per-vendor completion, failure, delay and TAT metrics over a preset date range, plus top/bottom performers and SLA breach lists. Cached in Redis for 180s.\n\n**Notes:** Only counts isCompleted=1 orders; excludes test rows (pincode 400000, city 'test'). Caps at 20,000 orders newest-first. Returns at most 50 vendors in `vendors`.\n\n_Source: `app/api/analytics/vendors/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"range","in":"query","required":false,"description":"One of today | yesterday | last7 | last30. Anything else falls back to last 30 days.","schema":{"type":"string","example":"last7","default":"last30"}},{"name":"city","in":"query","required":false,"description":"Restrict to one city; 'all' or omitted means every city.","schema":{"type":"string","example":"Mumbai"}}],"responses":{"200":{"description":"Vendor analytics payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsVendorsGetResponse"},"example":{"dateRange":{"from":"2026-08-02T00:00:00.000Z","to":"2026-09-01T10:00:00.000Z"},"summary":{"activeVendors":84,"ordersAssigned":1920,"overallCompletionRate":71,"slaViolationCount":12},"vendors":[],"topPerformers":[],"bottomPerformers":[]}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendor data"}}}}},"security":[]}},"/api/dashboard/b2b":{"get":{"tags":["dashboard"],"summary":"Get B2B pipeline dashboard","description":"Aggregates the B2B deal pipeline by stage, pipeline value, monthly deal count, lead/conversion stats, top clients, lead sources, pending inspections, follow-ups due today and the 5 most recent deals, plus a generated AI insight.\n\n**Notes:** No handler-level auth check. Redis-cached 300s under key b2b-dashboard; sends Cache-Control private, s-maxage=300. Calls the AI insight generator (lib/ai/insight-generator) on cache miss.\n\n_Source: `app/api/dashboard/b2b/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardB2bGetResponse"},"example":{"pipeline":[{"stage":"Format","count":4}],"summary":{"pipelineValue":1850000,"dealsThisMonth":6,"totalLeads":142,"newLeads":21,"conversionRate":18,"pendingInspections":3,"followUpsDue":2},"topClients":[{"id":11,"name":"Acme Corp","totalValue":620000,"dealCount":4}],"leadSources":[{"source":"Referral","count":31}],"recentDeals":[{"id":88,"dealNumber":"B2B-2026-088","status":"Invoice","client":"Acme Corp","value":240000,"createdAt":"2026-08-30T05:10:00.000Z"}],"aiInsight":"Pipeline value is up…"}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load B2B dashboard"}}}}},"security":[]}},"/api/dashboard/campaign-performance":{"get":{"tags":["dashboard"],"summary":"Get campaign performance metrics","description":"Joins LeadAttribution with MasterLeads outcomes to report per-campaign leads, orders, completions, conversion rates, effective CPA and city split, plus source/city filter facets and a daily trend.\n\n**Notes:** No handler-level auth check. Redis-cached 300s keyed on all filters.\n\n_Source: `app/api/dashboard/campaign-performance/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD); defaults to 30 days ago","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD), inclusive","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"source","in":"query","required":false,"description":"Filter to a single utm source","schema":{"type":"string","example":"google"}},{"name":"city","in":"query","required":false,"description":"Filter leads to one city","schema":{"type":"string","example":"Bengaluru"}},{"name":"sortBy","in":"query","required":false,"description":"Column to sort campaigns by","schema":{"type":"string","example":"leads","default":"leads"}},{"$ref":"#/components/parameters/SortOrderParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCampaignPerformanceGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"summary":{"totalLeads":1240,"totalOrders":410,"totalCompleted":288,"overallConversionRate":33,"overallCompletionRate":70,"uniqueCampaigns":14,"uniqueSources":6},"campaigns":[],"topByCompletion":[],"filters":{"sources":[],"cities":[]},"dailyTrend":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load campaign performance"}}}}},"security":[]}},"/api/dashboard/ceo-report":{"get":{"tags":["dashboard"],"summary":"Get CEO executive report","description":"Large executive report over an IST-bounded window: revenue, profit, cash in bank vs baseline, inventory value, burn rate and runway, orders completed, GMV/GCV, net take rate and period-over-period comparisons.\n\n**Notes:** No handler-level auth check despite exposing full company financials. Redis-cached 300s keyed on period/from/to/ai. All dates are IST (UTC+5:30). Heavy query — expect a slow first (uncached) response.\n\n_Source: `app/api/dashboard/ceo-report/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"period","in":"query","required":false,"description":"today, week, month, quarter or year; ignored when from and to are both supplied","schema":{"type":"string","example":"month","default":"month"}},{"name":"from","in":"query","required":false,"description":"Custom window start (YYYY-MM-DD, IST); must be used with to","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Custom window end (YYYY-MM-DD, IST); must be used with from","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to \"true\" to generate the AI narrative section","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCeoReportGetResponse"},"example":{"period":"month","dateRange":{"from":"2026-08-01","to":"2026-08-31","days":31},"executive":{"totalRevenue":2840000,"totalProfit":610000,"cashInBank":1750000,"inventoryValue":980000,"burnRate":420000,"runwayMonths":4.2,"ordersCompleted":388,"gmv":19400000,"netTakeRatePct":14.6,"alerts":2}}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch CEO report data","details":"…"}}}}},"security":[]}},"/api/dashboard/cfo-report":{"get":{"tags":["dashboard"],"summary":"Get CFO financial report","description":"Full CFO report over an IST window: revenue and turnover with GST breakdown, burn, gross/net profit and margins, cash, receivables, inventory, revenue streams and expense breakdown, each with previous-period comparisons.\n\n**Notes:** No handler-level auth check despite exposing full financials. Redis-cached 300s. Excludes demo/test leads via lib/analytics/exclude-demo and uses LeadLogs-based completion windows. Heavy query.\n\n_Source: `app/api/dashboard/cfo-report/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST); must be used with to","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST); must be used with from","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to \"true\" to include the AI narrative","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCfoReportGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z","days":31},"summary":{"totalRevenue":2840000,"revenueChange":12,"turnover":21500000,"turnoverBreakdown":{"b2cCommissionGross":3100000,"deviceResaleGrossSale":6400000,"b2bCapitalDeployed":12000000},"totalBurn":2230000,"grossProfit":1420000,"grossMargin":50,"netProfit":610000,"netMargin":21,"totalCash":1750000,"totalReceivables":480000,"inventoryValue":980000},"revenueStreams":[],"expenses":{}}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailEnvelope"},"example":{"error":"Failed to generate CFO report","detail":"…"}}}}},"security":[]}},"/api/dashboard/cfo-report/filings":{"get":{"tags":["dashboard"],"summary":"List compliance filings","description":"Returns ComplianceFiling rows for the CFO compliance calendar, ordered by due date, optionally filtered by kind, period, or a dueDate range.\n\n**Notes:** force-dynamic. Unlike POST/DELETE on the same route, GET performs no session check.\n\n_Source: `app/api/dashboard/cfo-report/filings/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"kind","in":"query","required":false,"description":"One of GSTR_1, GSTR_3B, TDS_DEPOSIT, TDS_RETURN_26Q, TDS_RETURN_24Q, ADVANCE_TAX, PF, ESI, PT, ROC_ANNUAL, INCOME_TAX_RETURN, OTHER; invalid values are ignored","schema":{"type":"string","example":"GSTR_3B"}},{"name":"period","in":"query","required":false,"description":"Filing period, YYYY-MM or YYYY-Qn","schema":{"type":"string","example":"2026-08"}},{"name":"from","in":"query","required":false,"description":"dueDate lower bound","schema":{"type":"string","example":"2026-04-01"}},{"name":"to","in":"query","required":false,"description":"dueDate upper bound","schema":{"type":"string","example":"2027-03-31"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCfoReportFilingsGetResponse"},"example":{"filings":[{"id":14,"kind":"GSTR_3B","period":"2026-08","dueDate":"2026-09-20T00:00:00.000Z","filedAt":"2026-09-18T06:22:00.000Z","amount":142000,"reference":"ARN123456","filedBy":{"id":3,"name":"Priya","email":"user@cashkr.com"}}]}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"AnalyticsGeoGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCampaignPerformanceGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailEnvelope":{"type":"object","properties":{"error":{"type":"string"},"detail":{"type":"string"}},"required":["detail","error"],"description":"Error envelope `{ error, detail }` (singular `detail` string)."},"DashboardB2bGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsMarketingGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsPricingGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsFunnelGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsGrowthGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCfoReportFilingsGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsCxGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCfoReportGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsVendorsGetResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"AnalyticsOverviewGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCeoReportGetResponse":{"type":"object","x-inferred-from-example":true},"AnalyticsReviewsGetResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}}},"parameters":{"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"}},"examples":{"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}