{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Dashboards 3","description":"Tags: dashboard","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"dashboard"}],"paths":{"/api/dashboard/nurture-analytics/email":{"get":{"tags":["dashboard"],"summary":"Get email nurture campaign analytics","description":"Combines Pabbly campaign lifetime stats (sends, delivers, opens, clicks, unsubs, bounces) with in-house ClickEvent(channel=EMAIL) attribution to show which drip templates drove genuine orders.\n\n**Notes:** No handler-level auth check. Proxies the upstream Pabbly email API at PABBLY_EMAIL_BASE_URL (default https://emails.pabbly.com/api/v2) using PABBLY_EMAIL_API_TOKEN; when the token is unset it returns a pabblyError string instead of campaign stats. Deliberately not window-scoped — Pabbly reports lifetime totals.\n\n_Source: `app/api/dashboard/nurture-analytics/email/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardNurtureAnalyticsEmailGetResponse"},"example":{"campaigns":[{"id":"cmp_884","name":"Quote reminder D+1","sent":4200,"delivered":4050,"opened":1610,"uniqueOpens":1180,"clicked":260,"unsubscribed":9,"bounced":150,"openRate":29.1}],"pabblyError":null}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch email analytics"}}}}},"security":[],"parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"}]}},"/api/dashboard/price-integrity":{"get":{"tags":["dashboard"],"summary":"Get price-integrity / requote report","description":"Measures how far final prices drop below generated quotes: overall drop rate, average drop percentage and amount, a drop-size distribution, top requote reasons, vendor and city breakdowns and the worst-offending vendors.\n\n**Notes:** No handler-level auth check. Redis-cached 300s. Scans are capped at 30,000 leads and 20,000 requote logs. vendorBreakdown is capped at 20 rows and cityBreakdown at 15.\n\n_Source: `app/api/dashboard/price-integrity/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"name":"to","in":"query","required":false,"description":"Window end, inclusive","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"vendorId","in":"query","required":false,"description":"Restrict to one vendor","schema":{"type":"string","example":"ven_4471"}},{"name":"city","in":"query","required":false,"description":"Restrict to one city","schema":{"type":"string","example":"Bengaluru"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardPriceIntegrityGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"summary":{"totalOrders":1180,"ordersWithDrop":259,"overallDropRate":22,"avgDropPercentage":14,"avgDropAmount":1840,"totalDropAmount":476560},"distribution":[],"topReasons":[],"vendorBreakdown":[],"cityBreakdown":[],"worstVendors":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load price integrity report"}}}}},"security":[]}},"/api/dashboard/referrals":{"get":{"tags":["dashboard"],"summary":"Get referral programme dashboard","description":"Referral analytics for the window: referral leads by outcome, unique referrers, conversion rate, revenue and AOV, programme counts, funnel and status/device/city breakdowns, daily trend, top referrers, and reward transaction totals pulled from the external referral service.\n\n**Notes:** No handler-level auth check. Redis-cached 90s. Proxies GET {NEXT_PUBLIC_API_URL}/admin/referral/transactions/stats (default http://backend.internal:8083/api/v1) with headers x-admin-request and x-internal-service-token: NEXT_PUBLIC_REFERRAL_API_TOKEN, 5s timeout; transactionStats is null when that call fails.\n\n_Source: `app/api/dashboard/referrals/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-01","default":"first day of current month"}},{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-31","default":"now"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardReferralsGetResponse"},"example":{"summary":{"totalReferralLeads":410,"completedReferralLeads":188,"failedReferralLeads":62,"inProgressReferralLeads":160,"uniqueReferrers":221,"conversionRate":46,"totalRevenue":384000,"avgOrderValue":2042,"allTimeReferralLeads":5120,"totalPrograms":6,"activePrograms":2},"comparison":{"totalLeads":11,"completedLeads":8,"uniqueReferrers":5},"funnel":[],"statusBreakdown":[],"deviceBreakdown":[],"cityBreakdown":[],"dailyTrend":[],"topReferrers":[],"transactionStats":{"pending":{"count":18,"amount":9000},"approved":{"count":42,"amount":21000},"paid":{"count":120,"amount":60000},"cancelled":{"count":3,"amount":1500}}}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch referral dashboard data","details":"…"}}}}},"security":[]}},"/api/dashboard/sales":{"get":{"tags":["dashboard"],"summary":"Get sales pipeline dashboard","description":"Sales pipeline for the window: stage counts by primary and secondary status, headline KPIs with previous-period comparison, failure reasons, daily trend, device analysis, top vendors, city performance, top models and an optional AI insight.\n\n**Notes:** No handler-level auth check. Redis-cached 90s keyed on from/to only — the includeAi flag is not part of the cache key.\n\n_Source: `app/api/dashboard/sales/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"},{"name":"includeAi","in":"query","required":false,"description":"Set to \"true\" to generate the AI insight","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSalesGetResponse"},"example":{"kpis":{"totalLeads":4210,"completed":842,"completionRate":71},"pipeline":[],"secondaryBreakdown":[],"failReasons":[],"dailyTrend":[],"deviceAnalysis":[],"topVendors":[],"cityPerformance":[],"topModels":[],"aiInsight":null}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch sales pipeline data"}}}}},"security":[]}},"/api/dashboard/summary":{"get":{"tags":["dashboard"],"summary":"Get headline dashboard summary","description":"The main dashboard tile set: total and new users, orders received/completed/converted, failed-by-vendor-after-requote, completion and requote percentages, per-device order counts, B2B buybacks closed, vendors onboarded, period comparisons, recent orders and an optional AI insight.\n\n**Notes:** No handler-level auth check. Redis-cached 60s. All windows are IST (UTC+5:30). Device tiles cover Mobile, Tablet, Laptop, Mac, Console, Watch, Camera and Headphone. Excludes demo/test leads.\n\n_Source: `app/api/dashboard/summary/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"period","in":"query","required":false,"description":"Named window; ignored when from and to are both supplied","schema":{"type":"string","example":"today","default":"today"}},{"name":"from","in":"query","required":false,"description":"Custom window start (YYYY-MM-DD, IST); must be used with to","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Custom window end (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-31"}},{"name":"ai","in":"query","required":false,"description":"Set to \"true\" to generate the AI insight","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSummaryGetResponse"},"example":{"period":"today","totalUsers":18420,"newUsersToday":64,"ordersReceived":58,"ordersCompleted":41,"ordersConverted":47,"failedByVendorAfterRequote":3,"completionPercentage":"70.7","requotePercentage":"22.4","deviceOrders":[{"type":"Mobile","label":"Smartphone","count":38}],"b2bBuybacksClosed":2,"vendorsOnboarded":1,"comparison":{"ordersReceived":12,"ordersCompleted":8},"recentOrders":[{"model":"iPhone 13","price":28400,"city":"Bengaluru"}],"aiInsight":null}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load dashboard summary"}}}}},"security":[]}},"/api/dashboard/suspicious-vendors":{"get":{"tags":["dashboard"],"summary":"List vendors with suspicious requote rates","description":"Compares generated vs final price on completed leads per vendor and returns the top 5 vendors with a requote rate above 30% and at least 3 completed orders, with their average price deviation.\n\n**Notes:** No handler-level auth check. Redis-cached 300s. Unbounded MasterLeads scan capped at 30,000 rows; unlike the other dashboards this window filters on updatedAt in UTC, not IST createdAt.\n\n_Source: `app/api/dashboard/suspicious-vendors/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Filters on lead updatedAt (UTC); only applied when to is also supplied","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Upper bound on lead updatedAt (UTC)","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Success — a bare JSON array, not an object","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardSuspiciousVendorsGetResponse"},"example":[{"vendorId":"ven_4471","name":"Amit Kumar","shopName":"Kumar Mobiles","totalCompleted":22,"requotePercentage":54,"avgDeviation":2310}]}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch data"}}}}},"security":[]}},"/api/dashboard/ticker":{"get":{"tags":["dashboard"],"summary":"Get live ticker counters","description":"The live tape counters for today (users, new users, orders received/completed/converted, phone/tablet/laptop/mac counts, vendors onboarded) alongside the same-wall-clock-time counts from yesterday so the UI can render day-over-day arrows.\n\n**Notes:** No handler-level auth check and no parameters. Redis-cached 90s under key dashboard:ticker:v4 (bump the version on any shape change). Client is expected to poll every 60s. Windows are IST. Excludes demo/test leads.\n\n_Source: `app/api/dashboard/ticker/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardTickerGetResponse"},"example":{"totalUsers":18420,"newUsersToday":64,"ordersReceivedToday":58,"ordersCompletedToday":41,"ordersConvertedToday":47,"phoneToday":38,"tabletToday":6,"laptopToday":9,"macToday":5,"vendorsOnboardedToday":1,"yesterday":{"newUsers":57,"ordersReceived":52,"ordersCompleted":38,"ordersConverted":44,"phone":34,"tablet":5,"laptop":8,"mac":5,"vendorsOnboarded":0},"serverTimestamp":1788000000000}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load ticker data"}}}}},"security":[]}},"/api/dashboard/trust-safety":{"get":{"tags":["dashboard"],"summary":"Get trust and safety dashboard metrics","description":"Aggregates lead flags, vendor flags, suspicious-order detection, vendor health counts, daily trends and recent unresolved flags for the Trust & Safety dashboard. Optionally appends an LLM-generated insight.\n\n**Notes:** Redis-cached 180s (skipped when includeAi=true). Caps: 10000 lead flags, 10000 vendor flags, 30000 completed leads. No handler-level auth check.\n\n_Source: `app/api/dashboard/trust-safety/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD, IST).","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD, IST), inclusive.","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"includeAi","in":"query","required":false,"description":"When 'true', generates an AI insight and bypasses the Redis cache.","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Trust and safety metrics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardTrustSafetyGetResponse"},"example":{"kpis":{"totalLeadFlags":42,"resolvedCount":30,"unresolvedCount":12,"resolutionRate":71,"avgResolutionHrs":18.4,"totalVendorFlags":7,"totalSuspicious":61,"suspiciousRate":4,"completedOrders":1520,"vendorHealth":{"totalVendors":380,"liveVendors":240,"holdVendors":20,"pendingVendors":40,"internalVendors":6}},"flagBreakdown":{"newPhoneDrops":18,"fakeRequotes":5,"conditionJumps":22,"drasticDrops":9,"screenIssues":30},"dailyTrend":[{"date":"2026-08-01","leadFlags":2,"vendorFlags":0,"suspicious":0}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch trust & safety metrics"}}}}},"security":[]}},"/api/dashboard/trust-safety/orders":{"get":{"tags":["dashboard"],"summary":"List suspicious completed orders","description":"Scans completed leads in a date range and flags suspicious ones (new-phone price drops, fake requotes, body-condition jumps, screen scratches). Returns a flat array of flagged orders with price drop amounts and vendor info.\n\n**Notes:** Redis-cached for 180s keyed on from/to/vendorId; responds with Cache-Control: private, s-maxage=180. Reads at most 30000 completed leads (LEADS_CAP). No handler-level auth check.\n\n_Source: `app/api/dashboard/trust-safety/orders/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD). Defaults to 30 days ago.","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD), inclusive.","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"vendorId","in":"query","required":false,"description":"Restrict to a single vendor.","schema":{"type":"string","example":"b3f1c2d4-1111-2222-3333-444455556666"}}],"responses":{"200":{"description":"Array of flagged orders","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardTrustSafetyOrdersGetResponse"},"example":[{"leadId":"9f0a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b","token":"CK123456","modelName":"iPhone 13 128GB","vendorName":"Sharma Mobiles","generatedPrice":32000,"finalPrice":24000,"dropAmount":8000,"dropPercentage":25,"warranty":"W1","conditionJump":"B1 → B3","flags":["NEW_PHONE_DROP"],"createdAt":"2026-08-14T09:12:00.000Z"}]}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch suspicious orders"}}}}},"security":[]}},"/api/dashboard/vendor-evaluation":{"get":{"tags":["dashboard"],"summary":"Get full evaluation report for one vendor","description":"Deep single-vendor report: health score and verdict, KPIs (completion/failure/requote rates, SLA, CPA, order values), credit and payment analytics, review ratings, charts, coverage, strengths/weaknesses and a trust-and-safety section.\n\n**Notes:** Redis-cached 90s. For internal vendors the from date is clamped to INTERNAL_VENDOR_START_DATE. Leads capped at 10000. No handler-level auth check.\n\n_Source: `app/api/dashboard/vendor-evaluation/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id to evaluate. 400 if missing.","schema":{"type":"string","example":"b3f1c2d4-1111-2222-3333-444455556666"}},{"name":"from","in":"query","required":false,"description":"Start date filter (YYYY-MM-DD).","schema":{"type":"string","example":"2026-06-01"}},{"name":"to","in":"query","required":false,"description":"End date filter (YYYY-MM-DD), inclusive.","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Vendor evaluation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardVendorEvaluationGetResponse"},"example":{"vendor":{"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","shopName":"Sharma Mobiles","creditsAvailable":340,"vendorAge":412},"healthScore":{"score":74,"verdict":"Good","verdictColor":"blue"},"strengths":["High completion rate (78%)"],"weaknesses":["High requote rate (27%) — pricing issues"],"kpis":{"totalAssigned":210,"completed":150,"completionRate":78,"avgRating":4.2}}}}},"400":{"description":"vendorId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"vendorId is required"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Vendor not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor evaluation"}}}}},"security":[]}},"/api/dashboard/vendor-leaderboard":{"get":{"tags":["dashboard"],"summary":"Rank live vendors on a leaderboard","description":"Builds a scored leaderboard of live, approved, non-internal vendors with completion rate, vendor-fail rate, requote rate, on-time pickup rate, CX call answer rate, revenue, ratings and flags. Also returns the list of cities for filtering.\n\n**Notes:** Redis-cached 120s. Returns {leaderboard: [], cities: []} when no vendors match. No handler-level auth check.\n\n_Source: `app/api/dashboard/vendor-leaderboard/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Filter to one city; 'all' means no filter.","schema":{"type":"string","example":"Mumbai"}},{"name":"sortBy","in":"query","required":false,"description":"One of score, revenue, orders, completion, rating, requote, vendorFail, onTimePickup, cxCall. Unknown values fall back to completion.","schema":{"type":"string","example":"completion","default":"score"}},{"name":"from","in":"query","required":false,"description":"Start date for lead/review/flag filters.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date, inclusive.","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Leaderboard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardVendorLeaderboardGetResponse"},"example":{"leaderboard":[{"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","name":"Ravi Sharma","city":"Mumbai","score":78,"verdict":"Good","completed":84,"completionRate":81.2,"revenue":42800,"avgRating":4.3}],"cities":["Mumbai"],"total":1,"summary":{"avgScore":78,"excellent":0,"good":1,"average":0,"belowAverage":0,"poor":0}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor leaderboard"}}}}},"security":[]}},"/api/dashboard/vendor-performance":{"get":{"tags":["dashboard"],"summary":"Get performance KPIs for one vendor","description":"Returns lead-volume KPIs, completion/requote percentages, credit spend, CPA and average order value plus charts (orders by status, failed reasons, daily trend) for a single vendor.\n\n**Notes:** Redis-cached 180s. Leads capped at 10000. No handler-level auth check.\n\n_Source: `app/api/dashboard/vendor-performance/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id. 400 if missing.","schema":{"type":"string","example":"b3f1c2d4-1111-2222-3333-444455556666"}},{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD).","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD), inclusive.","schema":{"type":"string","example":"2026-08-31"}},{"name":"deviceType","in":"query","required":false,"description":"Restrict to one device type (Mobile, Tablet, Laptop, Mac, ...).","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Vendor performance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardVendorPerformanceGetResponse"},"example":{"kpis":{"totalOrdersReceived":210,"totalOrdersCompleted":150,"cpa":12.4,"averageOrderValue":18.2,"completionPct":78.1,"requotePct":12.9,"creditsSpent":1860},"charts":{"ordersByStatus":[{"status":"Completed","count":150}],"failedReasons":[{"reason":"Customer not available","count":12}],"trend":[{"date":"2026-08-01","assigned":8,"completed":6,"failed":1}]}}}}},"400":{"description":"vendorId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"vendorId is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor performance"}}}}},"security":[]}},"/api/dashboard/vendor-scorecard":{"get":{"tags":["dashboard"],"summary":"Get vendor scorecard with health tiers","description":"Operational scorecard across all vendors with assigned leads in the window: completion/failure rates, vendor-fault attribution, average requote drop, complaints, rejections, a composite health score and a Platinum-to-AtRisk tier, plus a flagged-for-review list.\n\n**Notes:** Redis-cached 180s. Reads up to 100000 leads. No handler-level auth check.\n\n_Source: `app/api/dashboard/vendor-scorecard/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD, IST). Defaults to 90 days ago.","schema":{"type":"string","example":"2026-06-01","default":"today-90d"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD, IST), inclusive.","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"minLeads","in":"query","required":false,"description":"Minimum assigned leads for a vendor to appear.","schema":{"type":"integer","example":10,"default":5}}],"responses":{"200":{"description":"Scorecard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardVendorScorecardGetResponse"},"example":{"generatedAt":"2026-09-01T06:00:00.000Z","window":{"from":"2026-06-03T18:30:00.000Z","to":"2026-09-01T06:00:00.000Z"},"counts":{"totalAssignedVendors":180,"vendorsShown":96,"flaggedForReview":14},"tierCounts":{"Platinum":8,"Gold":30,"Silver":34,"Bronze":16,"AtRisk":8},"vendors":[{"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","name":"Sharma Mobiles","healthScore":82,"tier":"Platinum","completionRate":88}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendor scorecard"}}}}},"security":[]}},"/api/dashboard/vendor-sla":{"get":{"tags":["dashboard"],"summary":"Get vendor SLA and ops report","description":"Per-vendor SLA metrics (completion, vendor/customer fail rates, requote rate, pickup delay and on-time rates, orders per credit, efficiency score, SLA violations) plus summary, top/bottom performers, daily ops trend, failure reasons, city breakdown and pickup TAT buckets.\n\n**Notes:** Redis-cached 300s keyed on every filter including includeAi. Runs a raw SQL daily-trend query on MasterLeads. No handler-level auth check.\n\n_Source: `app/api/dashboard/vendor-sla/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (YYYY-MM-DD, IST).","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"name":"to","in":"query","required":false,"description":"End date (YYYY-MM-DD, IST), inclusive.","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"city","in":"query","required":false,"description":"Exact city filter on leads.","schema":{"type":"string","example":"Mumbai"}},{"name":"deviceType","in":"query","required":false,"description":"Device type filter on leads.","schema":{"type":"string","example":"Mobile"}},{"name":"sortBy","in":"query","required":false,"description":"Numeric vendor-metric field to sort by.","schema":{"type":"string","example":"efficiencyScore","default":"assigned"}},{"$ref":"#/components/parameters/SortOrderParam"},{"name":"limit","in":"query","required":false,"description":"Max vendors returned in the vendors array.","schema":{"type":"integer","example":100,"default":50}},{"name":"includeAi","in":"query","required":false,"description":"Generate an AI ops insight.","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"SLA report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardVendorSlaGetResponse"},"example":{"dateRange":{"from":"2026-08-01T18:30:00.000Z","to":"2026-08-31T18:29:59.999Z"},"summary":{"totalVendors":96,"totalAssigned":2100,"totalCompleted":1520,"overallCompletionRate":72,"slaViolationCount":21},"vendors":[{"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","vendorName":"Ravi Sharma","completionRate":81.2,"efficiencyScore":78,"slaViolations":[]}],"tatBuckets":{"sameDay":640,"oneToTwo":500,"threePlus":380,"total":1520}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor SLA report"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"DashboardVendorScorecardGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardVendorPerformanceGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardNurtureAnalyticsEmailGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardSalesGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardVendorEvaluationGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardSummaryGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardReferralsGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardVendorLeaderboardGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardPriceIntegrityGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardVendorSlaGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardSuspiciousVendorsGetResponse":{"type":"array","x-inferred-from-example":true},"DashboardTrustSafetyOrdersGetResponse":{"type":"array","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"DashboardTickerGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardTrustSafetyGetResponse":{"type":"object","x-inferred-from-example":true}},"parameters":{"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}