{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Dashboards 2","description":"Tags: dashboard","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"dashboard"}],"paths":{"/api/dashboard/cfo-report/filings":{"post":{"tags":["dashboard"],"summary":"Mark a compliance filing as filed","description":"Upserts a ComplianceFiling keyed on (kind, period) and stamps the signed-in admin as filedBy. Used to mark a compliance due as filed.\n\n**Notes:** NextAuth session cookie (next-auth.session-token) via getServerSession(authOptions); the session user id must be numeric.\n\n_Source: `app/api/dashboard/cfo-report/filings/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCfoReportFilingsPostRequest"},"example":{"kind":"GSTR_3B","period":"2026-08","dueDate":"2026-09-20","filedAt":"2026-09-18","amount":142000,"reference":"ARN123456","notes":"Filed via portal"}}}},"responses":{"200":{"description":"Filing upserted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCfoReportFilingsPostResponse"},"example":{"ok":true,"filing":{"id":14,"kind":"GSTR_3B","period":"2026-08","filedById":3}}}}},"400":{"description":"Invalid kind, missing period or bad dueDate","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"period is required (YYYY-MM or YYYY-Qn)"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["dashboard"],"summary":"Undo a marked compliance filing","description":"Deletes the ComplianceFiling identified by the (kind, period) pair in the JSON body, undoing a filing that was marked as filed.\n\n**Notes:** DELETE with a JSON body. Side effect: permanently removes the filing row.\n\n_Source: `app/api/dashboard/cfo-report/filings/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCfoReportFilingsDeleteRequest"},"example":{"kind":"GSTR_3B","period":"2026-08"}}}},"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Missing or invalid kind/period","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"kind and period are required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"No such filing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Filing not found"}}}}},"security":[{"cookieAuth":[]}]}},"/api/dashboard/channel-attribution":{"get":{"tags":["dashboard"],"summary":"Get marketing channel attribution","description":"Classifies LeadAttribution rows (utm, gclid, fbclid, referrer) into paid/organic channels and joins lead outcomes and prices to report leads, completions and revenue per channel and campaign, with a daily trend.\n\n**Notes:** No handler-level auth check. Redis-cached 180s. Reads up to 100,000 attribution rows per call.\n\n_Source: `app/api/dashboard/channel-attribution/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST); needs to as well","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"$ref":"#/components/parameters/ToParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardChannelAttributionGetResponse"},"example":{"generatedAt":"2026-09-01T06:30:00.000Z","window":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"summary":{"totalLeadsAllSources":4210,"totalLeadsWithAttribution":3120,"uncapturedShare":26,"paid":{"leads":980,"completed":301,"completionRate":31,"revenue":812000},"organic":{"leads":2140,"completed":702,"completionRate":33,"revenue":1640000}},"channels":[],"campaigns":[],"dailyTrend":[],"topChannels":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch channel attribution"}}}}},"security":[]}},"/api/dashboard/cmo-report":{"get":{"tags":["dashboard"],"summary":"Get CMO marketing report","description":"The marketing report: leads, orders, completions, revenue and spend with CPL/CPA/effective-CPA/CTR/ROAS, online vs offline spend split, blended efficiency metrics, plus GA4 session data and Google Search Console query/page data.\n\n**Notes:** No handler-level auth check. Redis-cached 300s. Calls upstream GA4 (lib/ga4) and Google Search Console (lib/gsc) APIs and reads offline marketing spend. The largest route in this range — expect slow uncached responses.\n\n_Source: `app/api/dashboard/cmo-report/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST); must be used with to","schema":{"type":"string","example":"2026-08-01","default":"today-30d"}},{"$ref":"#/components/parameters/ToParam"},{"name":"ai","in":"query","required":false,"description":"Set to \"true\" to include the AI narrative","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCmoReportGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z","days":31},"summary":{"totalLeads":4210,"leadsChange":9,"totalOrders":1180,"completedOrders":842,"totalRevenue":2840000,"totalSpend":610000,"cpl":145,"cpa":517,"effectiveCPA":724,"ctr":2.4,"roas":4.6,"onlineSpend":460000,"offlineSpend":150000,"marketingSpendTotal":610000}}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailEnvelope"},"example":{"error":"Failed to generate CMO report","detail":"…"}}}}},"security":[]}},"/api/dashboard/coo-report":{"get":{"tags":["dashboard"],"summary":"Get COO operations report","description":"Operations report: today-vs-yesterday throughput, live queues (unassigned, no-action, overdue pickup, awaiting payment), daily trend, SLA/TAT distribution and on-time rate, failure breakdown and reasons, coverage gaps, vendor performance and customer health.\n\n**Notes:** No handler-level auth check. Redis-cached 60s. Sections 1 and 2 (today vs yesterday, live queues) ignore the from/to window. Excludes demo/test leads.\n\n_Source: `app/api/dashboard/coo-report/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST); drives the trend, SLA, failure, coverage and vendor sections","schema":{"type":"string","example":"2026-08-25","default":"today-6d"}},{"$ref":"#/components/parameters/ToParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCooReportGetResponse"},"example":{"dateRange":{"from":"2026-08-25T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z","days":7},"today":{"ordersReceived":58,"ordersReceivedDelta":12.5,"ordersCompleted":41,"ordersFailed":4,"activeVendors":22,"totalLiveVendors":40,"vendorUtilization":55},"queues":{"pendingPickup":63,"unassigned":9,"noActionAssigned":11,"overduePickup":4,"awaitingPayment":7},"dailyTrend":[],"sla":{"tatAvgHours":18.4,"tatMedianHours":14,"onTimeRate":86,"requoteRate":22,"completionRate":71},"failures":{"breakdown":[],"topReasons":[]}}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailEnvelope"},"example":{"error":"Failed to generate COO report","detail":"…"}}}}},"security":[]}},"/api/dashboard/coupons":{"get":{"tags":["dashboard"],"summary":"Get coupon usage dashboard","description":"Coupon analytics for the window: master coupon counts by state, usage and unique customers, discount given, revenue from coupon leads, abandoned-cart token redemption, breakdowns by status/device/platform/accessibility and the top coupons.\n\n**Notes:** No handler-level auth check. Redis-cached 90s.\n\n_Source: `app/api/dashboard/coupons/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-01","default":"first day of current month"}},{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-31","default":"now"}},{"name":"refresh","in":"query","required":false,"description":"Set to `true` to bypass the cached response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCouponsGetResponse"},"example":{"summary":{"totalCoupons":48,"activeCoupons":12,"expiredCoupons":30,"upcomingCoupons":6,"totalUsageInPeriod":312,"allTimeUsage":4180,"newCouponsInPeriod":4,"uniqueCustomers":268,"couponLeadsRevenue":184000,"completedCouponOrders":141,"totalDiscountGiven":96000,"avgDiscountPerUse":23,"abandonedCartTokens":540,"abandonedCartRedeemed":88,"abandonedCartRedemptionRate":"16.3"},"comparison":{"usage":14,"newCoupons":-20,"uniqueCustomers":9},"dailyTrend":[],"topCoupons":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch coupon dashboard data","details":"…"}}}}},"security":[]}},"/api/dashboard/coverage-heatmap":{"get":{"tags":["dashboard"],"summary":"Get city/pincode coverage heatmap","description":"Per-city and per-pincode lead, order, completion and failure metrics with vendor-coverage flags, surfacing coverage gaps, low-completion areas and high-performing areas.\n\n**Notes:** No handler-level auth check. Redis-cached 600s. Cities array capped at 50 entries.\n\n_Source: `app/api/dashboard/coverage-heatmap/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"name":"to","in":"query","required":false,"description":"Window end, inclusive","schema":{"type":"string","example":"2026-08-31","default":"today"}},{"name":"city","in":"query","required":false,"description":"Restrict to a single city","schema":{"type":"string","example":"Bengaluru"}},{"name":"sortBy","in":"query","required":false,"description":"Column to sort cities by","schema":{"type":"string","example":"leads","default":"leads"}},{"$ref":"#/components/parameters/SortOrderParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCoverageHeatmapGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"summary":{"totalCities":37,"totalLeads":4210,"totalOrders":1180,"totalCompleted":842,"overallCompletionRate":71,"uncoveredLeads":94,"coverageGapCount":6},"cities":[],"coverageGaps":[],"lowCompletionAreas":[],"highPerformingAreas":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load coverage heatmap"}}}}},"security":[]}},"/api/dashboard/cx-reasons":{"get":{"tags":["dashboard"],"summary":"Get customer-experience failure reasons","description":"Breaks down why orders fail or are abandoned: top cancellation reasons, vendor vs customer fault split, primary/secondary status and category breakdowns, abandonment by funnel stage, daily trend and derived insights.\n\n**Notes:** No handler-level auth check. Redis-cached 300s.\n\n_Source: `app/api/dashboard/cx-reasons/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"name":"to","in":"query","required":false,"description":"Window end, inclusive","schema":{"type":"string","example":"2026-08-31","default":"today"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardCxReasonsGetResponse"},"example":{"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"summary":{"totalFailures":214,"vendorFailures":96,"customerFailures":118,"abandonedCarts":830,"vendorFailRate":45},"topCancellationReasons":[],"secondaryStatusBreakdown":[],"primaryStatusBreakdown":[],"categoryBreakdown":[],"abandonmentByStage":[],"dailyTrend":[],"insights":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load CX reasons report"}}}}},"security":[]}},"/api/dashboard/data-quality":{"get":{"tags":["dashboard"],"summary":"Get data-quality health metrics","description":"Reports field-completeness for MasterLeads and LeadAttribution, detected data issues, freshness of the pipeline, a daily trend and status stats, with an optional AI insight.\n\n**Notes:** No handler-level auth check. Redis-cached 300s, but includeAi=true skips both the cache read and the cache write.\n\n_Source: `app/api/dashboard/data-quality/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"},{"name":"includeAi","in":"query","required":false,"description":"Set to \"true\" to generate an AI insight; also bypasses the Redis cache","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardDataQualityGetResponse"},"example":{"kpis":{"completenessScore":87,"totalLeads":4210},"leadFieldHealth":[],"attributionFieldHealth":[],"dataIssues":[],"freshness":{},"dailyTrend":[],"statusStats":[],"aiInsight":null}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch data quality metrics"}}}}},"security":[]}},"/api/dashboard/dead-sku":{"get":{"tags":["dashboard"],"summary":"Get dead-SKU catalog report","description":"Scans mobiles, laptops, tablets, macs and watches for catalogue models with no or low pickup in the window and returns a Delist / Reprice / Audit / Monitor recommendation per SKU, grouped by device type.\n\n**Notes:** No handler-level auth check. Redis-cached 600s keyed on days.\n\n_Source: `app/api/dashboard/dead-sku/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"days","in":"query","required":false,"description":"Look-back window in days","schema":{"type":"integer","example":90,"default":90}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardDeadSkuGetResponse"},"example":{"generatedAt":"2026-09-01T06:30:00.000Z","windowDays":90,"summary":{"totalSkus":1840,"actionable":212,"delist":118,"reprice":74},"byDeviceType":[{"deviceType":"Mobile","count":96}],"skus":[{"deviceType":"Mobile","modelId":"dm_2211","brand":"Samsung","model":"Galaxy A12","price":4200,"leads":0,"completed":0,"failed":0,"completionRate":0,"lastLeadAt":null,"daysSinceLastLead":null,"recommendation":"Delist"}]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch dead-SKU report"}}}}},"security":[]}},"/api/dashboard/finance":{"get":{"tags":["dashboard"],"summary":"Get finance dashboard","description":"Finance KPIs for the window: total, B2C commission and device-resale revenue with margins and trends, vendor cash collected, B2B capital deployed, GST audit fields, expenses, net profit, pending payouts, receivables, cash/bank balances and coupon usage, plus revenue/expense breakdowns.\n\n**Notes:** No handler-level auth check despite exposing revenue, profit and cash balances. Redis-cached 60s. Excludes internal test and demo orders.\n\n_Source: `app/api/dashboard/finance/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardFinanceGetResponse"},"example":{"kpis":{"totalRevenue":2840000,"b2cRevenue":1420000,"b2cOrders":388,"deviceSaleRevenue":980000,"deviceSaleProfit":210000,"deviceSaleMargin":21,"vendorCashCollected":640000,"b2bCapitalDeployed":12000000,"totalExpenses":2230000,"netProfit":610000,"netMargin":21,"pendingPayoutTotal":180000,"b2bReceivableTotal":480000,"totalCash":250000,"totalBank":1500000,"activeCoupons":12,"couponUsage":312},"revenueBreakdown":[],"revenueByDevice":[],"expenseBreakdown":[],"expenseByPaymentMethod":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to load finance dashboard"}}}}},"security":[]}},"/api/dashboard/focus-board":{"get":{"tags":["dashboard"],"summary":"Get daily focus board","description":"The morning action board: today/yesterday scoreboard plus a list of attention items (stuck generated leads, assigned-but-no-pickup, quotes expiring, recoverable vendor failures, open complaints, aging inventory) each with a count, severity and suggested action.\n\n**Notes:** No handler-level auth check and no parameters. Redis-cached 60s under key dashboard:focus-board:v1.\n\n_Source: `app/api/dashboard/focus-board/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardFocusBoardGetResponse"},"example":{"generatedAt":"2026-09-01T06:30:00.000Z","scoreboard":{"today":{"leads":58,"completed":41},"yesterday":{"leads":52,"completed":38}},"attention":[{"key":"stuck_generated","label":"Generated leads with no vendor >24h","count":9,"severity":"medium","action":"Force-assign or recruit vendor for pincode"}]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch focus board"}}}}},"security":[]}},"/api/dashboard/funnel":{"get":{"tags":["dashboard"],"summary":"Get 30-day lead funnel","description":"Fixed 30-day lead funnel by primary status with conversion, completion, failure and requote rates, pending pickups, abandoned leads, failed-reason counts and a daily trend.\n\n**Notes:** No handler-level auth check and no parameters — the window is hard-coded to the last 30 days. Redis-cached 300s under key funnel-dashboard. Excludes demo/test leads.\n\n_Source: `app/api/dashboard/funnel/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardFunnelGetResponse"},"example":{"funnel":[{"stage":"Generated","count":4210}],"metrics":{"totalLeads":4210,"completedCount":842,"conversionRate":28,"completionRate":71,"failureRate":18,"pendingPickups":63,"abandonedLeads":830,"requoteRate":22},"failedReasons":[{"reason":"Device condition mismatch","count":41}],"dailyTrend":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load funnel dashboard"}}}}},"security":[]}},"/api/dashboard/growth-scoreboard":{"get":{"tags":["dashboard"],"summary":"Get growth scoreboard KPIs","description":"Period-over-period growth KPIs (leads, orders, completions, failures, cancellations, requotes, revenue, pickup timeliness) each with a trend against the immediately preceding comparable period, plus an optional AI insight and daily trend.\n\n**Notes:** No handler-level auth check and no Redis cache on this route. Uses raw SQL over MasterLeads for the daily trend.\n\n_Source: `app/api/dashboard/growth-scoreboard/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"period","in":"query","required":false,"description":"today, week or month; ignored when from and to are both supplied","schema":{"type":"string","example":"month","default":"month"}},{"name":"from","in":"query","required":false,"description":"Custom window start; must be used with to","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Custom window end, treated as end of day","schema":{"type":"string","example":"2026-08-31"}},{"name":"includeAi","in":"query","required":false,"description":"Set to \"true\" to generate the AI insight","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardGrowthScoreboardGetResponse"},"example":{"period":"month","dateRange":{"start":"2026-08-01T00:00:00.000Z","end":"2026-08-31T23:59:59.999Z"},"aiInsight":null,"kpis":{"leads":{"value":4210,"trend":9},"orders":{"value":1180,"trend":6}}}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load growth scoreboard"}}}}},"security":[]}},"/api/dashboard/inventory":{"get":{"tags":["dashboard"],"summary":"Get inventory dashboard","description":"Inventory KPIs (stock on hand, inventory and potential-revenue value, average cost, added/sold in period, sales revenue, profit, margin, holding days, aging count) with breakdowns by source, condition, aging bucket, top sold devices, aging items and vendor supply.\n\n**Notes:** No handler-level auth check. Redis-cached 180s. Sold/stock item scans are capped at 20,000 rows each.\n\n_Source: `app/api/dashboard/inventory/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardInventoryGetResponse"},"example":{"kpis":{"totalInStock":412,"inventoryValue":980000,"potentialRevenue":1240000,"avgCostPrice":2379,"addedInPeriod":188,"soldInPeriod":161,"salesRevenue":640000,"profit":132000,"margin":21,"avgHoldingDays":18,"agingCount":34,"totalSoldAllTime":4820},"sourceBreakdown":[],"conditionBreakdown":[],"agingBuckets":[],"dailyTrend":[],"topDevices":[],"agingInventory":[],"vendorSupply":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to load inventory dashboard"}}}}},"security":[]}},"/api/dashboard/model-performance":{"get":{"tags":["dashboard"],"summary":"Get per-model performance matrix","description":"One row per device model: leads, completion rate, revenue, average requote drop and top failure reason, plus health buckets, price-tier performance and a failure heatmap. Default window is the last 90 days.\n\n**Notes:** No handler-level auth check. Redis-cached 180s keyed on all filters. Price tiers are fixed at 0-10K / 10-25K / 25-50K / 50K-1L / 1L+.\n\n_Source: `app/api/dashboard/model-performance/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST); needs to as well","schema":{"type":"string","example":"2026-06-01","default":"today-90d"}},{"$ref":"#/components/parameters/ToParam"},{"name":"deviceType","in":"query","required":false,"description":"Filter by device type; \"All\" disables the filter","schema":{"type":"string","example":"Mobile"}},{"name":"city","in":"query","required":false,"description":"Filter by city; \"All\" disables the filter","schema":{"type":"string","example":"Bengaluru"}},{"name":"minLeads","in":"query","required":false,"description":"Minimum leads a model needs before it is listed","schema":{"type":"integer","example":3,"default":3}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardModelPerformanceGetResponse"},"example":{"generatedAt":"2026-09-01T06:30:00.000Z","window":{"from":"2026-06-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"counts":{"totalLeads":12400,"uniqueModels":612,"modelsShown":184},"healthBuckets":[],"priceTierPerformance":[],"failureHeatmap":[],"models":[]}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch model performance"}}}}},"security":[]}},"/api/dashboard/nurture-analytics":{"get":{"tags":["dashboard"],"summary":"Get WhatsApp nurture funnel analytics","description":"WhatsApp/push nurture funnel read from internal records: per-cohort sent, responded, yes, hot-lead and order counts, holdout lift against the randomized control group, decline-reason split, push touches/taps and suppression state.\n\n**Notes:** No handler-level auth check and no Redis cache. A genuine order is isCompleted=1 and primaryStatus != Failed.\n\n_Source: `app/api/dashboard/nurture-analytics/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-01","default":"first day of current month"}},{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST)","schema":{"type":"string","example":"2026-08-31","default":"now"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardNurtureAnalyticsGetResponse"},"example":{"period":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z"},"totals":{"sent":2100,"responded":610,"hot":180,"orders":142,"convRate":6.8,"respondRate":29},"components":[],"botResponses":{"yes":310,"better_price":120,"need_time":95}}}}},"500":{"description":"Load failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch nurture analytics"}}}}},"security":[]}},"/api/dashboard/nurture-analytics/campaign":{"get":{"tags":["dashboard"],"summary":"List campaign","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/dashboard/nurture-analytics/campaign/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/dashboard/nurture-analytics/campaigns/{id}":{"get":{"tags":["dashboard"],"summary":"Per-templateKey analytics for a generic registry campaign","description":"Sends, recipients, clicks, clickers and orders per `templateKey` for a campaign in `lib/campaign-registry` with `view: \"generic\"` and a key prefix (currently `P1_`). Read from our own ledger (`MarketingTouch`, `ClickEvent`, `MasterLeads`), with no provider calls. Excludes `DemoUsers` and messenger link-preview bots. An order counts when the customer has a placed lead created or updated after their first click on that key.\n\n_Source: `app/api/dashboard/nurture-analytics/campaigns/[id]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign id from the campaign registry","schema":{"type":"string"},"example":"p1"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"DashboardFinanceGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"DashboardCouponsGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardModelPerformanceGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailEnvelope":{"type":"object","properties":{"error":{"type":"string"},"detail":{"type":"string"}},"required":["detail","error"],"description":"Error envelope `{ error, detail }` (singular `detail` string)."},"DashboardFocusBoardGetResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"DashboardCfoReportFilingsPostResponse":{"type":"object","x-inferred-from-example":true},"DashboardInventoryGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCfoReportFilingsPostRequest":{"type":"object","properties":{"kind":{"type":"string","description":"One of GSTR_1, GSTR_3B, TDS_DEPOSIT, TDS_RETURN_26Q, TDS_RETURN_24Q, ADVANCE_TAX, PF, ESI, PT, ROC_ANNUAL, INCOME_TAX_RETURN, OTHER"},"period":{"type":"string","description":"Non-empty period string, YYYY-MM or YYYY-Qn"},"dueDate":{"type":"string","description":"Statutory due date, any parseable date string"},"filedAt":{"type":"string","description":"When it was actually filed; defaults to now"},"amount":{"type":"number","description":"Amount paid with the filing"},"reference":{"type":"string","description":"ARN / challan / acknowledgement number"},"notes":{"type":"string","description":"Free-text note"}},"required":["kind","period","dueDate"],"description":"Request body for `POST /api/dashboard/cfo-report/filings`."},"DashboardGrowthScoreboardGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCoverageHeatmapGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCmoReportGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCxReasonsGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardNurtureAnalyticsGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardCfoReportFilingsDeleteRequest":{"type":"object","properties":{"kind":{"type":"string","description":"Filing kind enum value"},"period":{"type":"string","description":"Filing period, YYYY-MM or YYYY-Qn"}},"required":["kind","period"],"description":"Request body for `DELETE /api/dashboard/cfo-report/filings`."},"DashboardChannelAttributionGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardFunnelGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardDataQualityGetResponse":{"type":"object","x-inferred-from-example":true},"DashboardDeadSkuGetResponse":{"type":"object","x-inferred-from-example":true},"OkFlag":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"],"description":"Bare `{ ok: true }` acknowledgement."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"DashboardCooReportGetResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"examples":{"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"parameters":{"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}