{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Finance 2","description":"Tags: finance","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"finance"}],"paths":{"/api/finance/expenses/{id}":{"patch":{"tags":["finance"],"summary":"Update an expense","description":"Partially updates an expense. Fields left out of the body are untouched, except title and category which are written as sent.\n\n**Notes:** A non-existent id surfaces as 500, not 404. No handler-level auth check.\n\n_Source: `app/api/finance/expenses/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Expense id","schema":{"type":"string"},"example":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesByIdPatchRequest"},"example":{"amount":46000,"paymentMethod":"Bank Transfer","transactionId":"NEFT2026081499"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesByIdPatchResponse"},"example":{"success":true,"data":{"id":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f","amount":46000}}}}},"500":{"description":"Server error (including a missing row)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update expense"}}}}},"security":[]},"delete":{"tags":["finance"],"summary":"Delete an expense","description":"Permanently deletes an expense row.\n\n**Notes:** Destructive and unauthenticated.\n\n_Source: `app/api/finance/expenses/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Expense id","schema":{"type":"string"},"example":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Expense deleted"}}}},"500":{"description":"Server error (including a missing row)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete expense"}}}}},"security":[]}},"/api/finance/low-credit-vendors":{"get":{"tags":["finance"],"summary":"List vendors below a credit threshold","description":"Returns up to 200 live, approved vendors whose available credits are at or below the threshold, ordered lowest first, with counts of zero-credit and low-credit vendors.\n\n**Notes:** force-dynamic. Returns vendor phone numbers with No handler-level auth check.\n\n_Source: `app/api/finance/low-credit-vendors/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive match on first name, last name, shop name, or a substring of the phone number.","schema":{"type":"string","example":"sharma"}},{"name":"threshold","in":"query","required":false,"description":"Credit threshold (inclusive).","schema":{"type":"integer","example":100,"default":50}}],"responses":{"200":{"description":"Low-credit vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceLowCreditVendorsGetResponse"},"example":{"success":true,"data":[{"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","firstName":"Ravi","lastName":"Sharma","phoneNumber":"9876543210","shopName":"Sharma Mobiles","city":"Mumbai","creditsAvailable":12,"status":"live"}],"summary":{"total":18,"zeroCredit":4,"lowCredit":14,"threshold":50}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendors"}}}}},"security":[]}},"/api/finance/pending-payments":{"get":{"tags":["finance"],"summary":"List sales with outstanding balances","description":"Returns internal sales whose received amount is below the total, with customer details, sold items and the full payment log, plus totals for pending and received amounts.\n\n**Notes:** force-dynamic. The search filter is applied in the DB but the pending-amount filter is applied in JS after loading every InternalSale row — unbounded read. No handler-level auth check.\n\n_Source: `app/api/finance/pending-payments/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive match on customerName, or a substring of customerPhone.","schema":{"type":"string","example":"9876543210"}}],"responses":{"200":{"description":"Pending sales","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePendingPaymentsGetResponse"},"example":{"success":true,"data":[{"saleId":"7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f","saleIdShort":"7C8D9E0F","customerName":"Imran Khan","customerPhone":"9876543210","totalAmount":62000,"receivedAmount":40000,"pendingAmount":22000,"itemCount":2}],"summary":{"totalPending":118000,"totalReceived":240000,"count":9}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pending payments"}}}}},"security":[]},"patch":{"tags":["finance"],"summary":"Record a payment against a sale","description":"Adds a payment to an internal sale: increments receivedAmount and writes a SalePaymentLog entry atomically. Rejects amounts above the outstanding balance.\n\n**Notes:** MUTATES MONEY. Not wrapped in withAuditLog, so this money movement is not audit-logged. No handler-level auth check.\n\n_Source: `app/api/finance/pending-payments/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePendingPaymentsPatchRequest"},"example":{"saleId":"7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f","amount":22000,"paymentMethod":"UPI","transactionId":"UPI2026083011223","note":"Final settlement"}}}},"responses":{"200":{"description":"Recorded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePendingPaymentsPatchResponse"},"example":{"success":true,"data":{"id":"7c8d9e0f-1a2b-3c4d-5e6f-7a8b9c0d1e2f","receivedAmount":62000}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Payment amount (30000) exceeds pending amount (22000)"}}}},"404":{"description":"Sale not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Sale not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update"}}}}},"security":[]}},"/api/finance/purchase-orders":{"get":{"tags":["finance"],"summary":"List purchase orders","description":"Paginated purchase order listing with search, status, supplier and order-date filters, returning each PO's GST-inclusive total plus a grand total and per-status counts.\n\n**Notes:** force-dynamic. No handler-level auth check.\n\n_Source: `app/api/finance/purchase-orders/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"page","in":"query","required":false,"description":"Page number (min 1).","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 1-50.","schema":{"type":"integer","example":20,"default":20}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on poNumber or supplierName.","schema":{"type":"string","example":"CK-PO-0001"}},{"name":"status","in":"query","required":false,"description":"Draft, Sent, Received, Closed or Cancelled; ignored if invalid.","schema":{"type":"string","example":"Draft"}},{"name":"supplierId","in":"query","required":false,"description":"Filter by supplier.","schema":{"type":"string","example":"8e9f0a1b-2c3d-4e5f-6a7b-8c9d0e1f2a3b"}},{"name":"startDate","in":"query","required":false,"description":"orderDate lower bound.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"orderDate upper bound (end of day).","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Purchase orders page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersGetResponse"},"example":{"success":true,"data":[{"id":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b","poNumber":"CK-PO-000123","status":"Draft","supplierName":"Acme Traders","total":2950,"_count":{"items":1}}],"summary":{"count":34,"totalValue":412000,"byStatus":{"Draft":8,"Sent":20,"Closed":6}},"pagination":{"total":34,"page":1,"limit":20,"totalPages":2}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch purchase orders"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Create a purchase order","description":"Creates a Draft purchase order: snapshots the supplier's name, GST and address onto the PO, mints a collision-free PO number under an advisory lock, writes the line items and adds a 'Created' activity log entry.\n\n**Notes:** NextAuth session cookie required. Number minting and row creation share one transaction so a failure never burns a PO number. A non-Unclassified category flushes every cmo-report:* Redis key.\n\n_Source: `app/api/finance/purchase-orders/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersPostRequest"},"example":{"supplierId":"8e9f0a1b-2c3d-4e5f-6a7b-8c9d0e1f2a3b","category":"MarketingOffline","orderDate":"2026-08-14","expectedDate":"2026-08-25","notes":"Deliver to the Andheri office","items":[{"description":"Standee printing","hsnSac":"998912","quantity":10,"unit":"pcs","rate":850,"gstRate":18}]}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersPostResponse"},"example":{"success":true,"data":{"id":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b","poNumber":"CK-PO-000124","status":"Draft"}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Add at least one line item"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"404":{"description":"Supplier not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Supplier not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create purchase order"}}}}},"security":[{"cookieAuth":[]}]}},"/api/finance/purchase-orders/{id}":{"get":{"tags":["finance"],"summary":"Get one purchase order","description":"Returns a purchase order with its line items, supplier, creator and activity logs, plus a GST-inclusive computed total.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/finance/purchase-orders/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PurchaseOrder id","schema":{"type":"string"},"example":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b"}],"responses":{"200":{"description":"Purchase order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersByIdGetResponse"},"example":{"success":true,"data":{"id":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b","poNumber":"CK-PO-000123","status":"Draft","supplierName":"Acme Traders","items":[{"description":"Screen protectors","quantity":100,"rate":25,"gstRate":18}],"total":2950}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Purchase order not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch purchase order"}}}}},"security":[]},"patch":{"tags":["finance"],"summary":"Update or transition a purchase order","description":"Edits PO fields, category and dates, and/or moves it to a new status through the allowed transition graph. Line items may only be replaced while the PO is still a Draft; a status change is logged in the PO activity trail.\n\n**Notes:** gstRate defaults to 18 per item. Changing the category flushes every cmo-report:* Redis key. No handler-level auth check.\n\n_Source: `app/api/finance/purchase-orders/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PurchaseOrder id","schema":{"type":"string"},"example":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersByIdPatchRequest"},"example":{"status":"Sent","category":"MarketingOffline","notes":"Deliver to the Andheri office"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersByIdPatchResponse"},"example":{"success":true,"data":{"id":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b","status":"Sent","total":2950}}}}},"400":{"description":"Invalid status, illegal transition, item edit on a non-Draft PO, or empty item list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Cannot move a Closed PO to Draft"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Purchase order not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update purchase order"}}}}},"security":[]},"delete":{"tags":["finance"],"summary":"Delete a draft or cancelled purchase order","description":"Permanently deletes a purchase order. Only POs in Draft or Cancelled status may be deleted.\n\n**Notes:** Destructive and unauthenticated.\n\n_Source: `app/api/finance/purchase-orders/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PurchaseOrder id","schema":{"type":"string"},"example":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Purchase order deleted"}}}},"400":{"description":"Wrong status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Only Draft or Cancelled purchase orders can be deleted"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Purchase order not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete purchase order"}}}}},"security":[]}},"/api/finance/purchase-orders/{id}/pdf":{"get":{"tags":["finance"],"summary":"Download a purchase order as PDF","description":"Regenerates the PO PDF from the current purchase order state and streams it back as an attachment, while best-effort archiving a copy to S3 and stamping pdfUrl and pdfGeneratedAt on the PO.\n\n**Notes:** force-dynamic with maxDuration 60. SIDE EFFECT: uploads to S3 under finance/purchase-orders/{id}/ and updates the PO row; an S3 failure is logged and the download still succeeds. Response is binary, not JSON. No handler-level auth check.\n\n_Source: `app/api/finance/purchase-orders/[id]/pdf/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PurchaseOrder id","schema":{"type":"string"},"example":"6f708a9b-0c1d-2e3f-4a5b-6c7d8e9f0a1b"}],"responses":{"200":{"description":"application/pdf attachment named <poNumber>.pdf","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchaseOrdersByIdPdfGetResponse"},"example":"<binary PDF>"}}},"400":{"description":"PO has no line items","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Add at least one line item before downloading the PO"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Purchase order not found"}}}},"500":{"description":"Generation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"..."}}}}},"security":[]}},"/api/finance/purchases":{"get":{"tags":["finance"],"summary":"List device purchases across all sources","description":"Merges three purchase sources — completed in-house B2C leads, manual ExcessBuyback entries and completed B2B deal items — into one paginated, searchable feed with in-stock and sold counts and a total purchase value.\n\n**Notes:** force-dynamic. Each source is capped at max(500, skip+limit) rows and merging/filtering happens in JS, so summary totals reflect only the capped window. Internal leads are floored at INTERNAL_VENDOR_START_DATE. No handler-level auth check.\n\n_Source: `app/api/finance/purchases/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendor","in":"query","required":false,"description":"Store vendor id. When set, B2B deals are excluded entirely.","schema":{"type":"string","example":"b3f1c2d4-1111-2222-3333-444455556666"}},{"name":"startDate","in":"query","required":false,"description":"Only applied when both startDate and endDate are given.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"End of the date window.","schema":{"type":"string","example":"2026-08-31"}},{"name":"status","in":"query","required":false,"description":"All, InStock or Sold.","schema":{"type":"string","example":"InStock","default":"All"}},{"name":"q","in":"query","required":false,"description":"Case-insensitive substring match on device, serial or vendor.","schema":{"type":"string","example":"iphone"}},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Purchases page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinancePurchasesGetResponse"},"example":{"success":true,"data":[{"id":"9f0a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b","date":"2026-08-14T09:12:00.000Z","type":"B2C","device":"iPhone 13","description":"4GB / 128GB","serial":"356938035643809","vendor":"Cashkr Internal","price":30500,"source":"Internal","status":"InStock"}],"summary":{"totalPurchases":1840000,"totalItems":96,"inStockCount":40,"soldCount":56},"pagination":{"page":1,"limit":20,"total":96,"totalPages":5}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch purchases"}}}}},"security":[]}},"/api/finance/reports/credits":{"get":{"tags":["finance"],"summary":"Get the vendor credit report","description":"Aggregates credit purchases (vendor payments), credit usage logs, manual credit operations and outstanding vendor balances into one report with a summary and four sample tables.\n\n**Notes:** force-dynamic. The four table arrays are capped at 25 (20 for vendorsWithCredits), and totalCreditsSold / totalCreditRevenue / totalCreditsUsed are computed from those capped samples, so they under-report on large ranges. No handler-level auth check.\n\n_Source: `app/api/finance/reports/credits/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"Lower bound (approvedAt for payments, createdAt for the rest).","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Upper bound.","schema":{"type":"string","example":"2026-08-31"}},{"name":"vendorId","in":"query","required":false,"description":"Restrict to one vendor.","schema":{"type":"string","example":"b3f1c2d4-1111-2222-3333-444455556666"}}],"responses":{"200":{"description":"Credit report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReportsCreditsGetResponse"},"example":{"summary":{"totalCreditsSold":4200,"totalCreditRevenue":496000,"totalCreditsUsed":380,"creditsAdded":500,"creditsRemoved":120,"totalOutstandingCredits":84000,"netCreditsFlow":4200},"data":{"creditPurchases":[],"creditUsage":[],"creditOperations":[],"vendorsWithCredits":[]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to generate credit report"}}}}},"security":[]}},"/api/finance/reports/gst":{"get":{"tags":["finance"],"summary":"Get the margin-scheme GST report","description":"Computes margin-scheme GST (18%, split into CGST and SGST) on every sold ExcessBuyback device, with totals, a monthly breakdown, the top 15 devices by GST liability and up to 100 device rows.\n\n**Notes:** force-dynamic. GST is margin - margin/1.18 and only applied where the margin is positive. Loads all matching sold devices with no cap. No handler-level auth check.\n\n_Source: `app/api/finance/reports/gst/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"updatedAt lower bound on sold devices.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"updatedAt upper bound.","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"GST report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReportsGstGetResponse"},"example":{"summary":{"totalSales":620000,"totalPurchases":540000,"totalMargin":80000,"totalGst":12203.39,"totalCgst":6101.7,"totalSgst":6101.7,"totalDevices":96,"gstLiableCount":88},"monthlyBreakdown":[{"month":"2026-08","sales":620000,"margin":80000,"gst":12203.39,"count":96}],"topDevices":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to generate GST report"}}}}},"security":[]}},"/api/finance/reports/money":{"get":{"tags":["finance"],"summary":"Get the money in/out cash-flow report","description":"Cash-flow report combining device purchases, internal sales, expenses, approved vendor credit payments, completed B2C orders and petty-cash transactions, with accurate DB-aggregate totals, a per-payment-method breakdown and 25-row sample tables.\n\n**Notes:** Redis-cached 120s keyed only on startDate/endDate — the paymentMethod filter is NOT in the key, so filtered and unfiltered calls can share a cached response. B2C buyback value is reported as informational GMV, not money-in (b2cRevenue is always 0). byPaymentMethod is computed from the 25-row samples only. No handler-level auth check.\n\n_Source: `app/api/finance/reports/money/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"Lower bound; applied to createdAt, expense date or approvedAt depending on the source.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Upper bound.","schema":{"type":"string","example":"2026-08-31"}},{"name":"paymentMethod","in":"query","required":false,"description":"Filters purchases, expenses and cash transactions by payment method. NOTE: not part of the Redis cache key.","schema":{"type":"string","example":"Cash"}}],"responses":{"200":{"description":"Money report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReportsMoneyGetResponse"},"example":{"summary":{"totalMoneyIn":736000,"totalMoneyOut":852000,"netFlow":-116000,"breakdown":{"b2cRevenue":0,"b2cBuybackGmv":1840000,"sales":240000,"creditRevenue":496000,"purchases":540000,"expenses":312000},"byPaymentMethod":{"Cash":{"in":40000,"out":82000},"BankTransfer":{"in":496000,"out":0},"UPI":{"in":0,"out":12000}}},"data":{"purchases":[],"sales":[],"expenses":[],"creditPurchases":[],"b2cOrders":[],"cashTransactions":[]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to generate money report"}}}}},"security":[]}},"/api/finance/reports/profit-loss":{"get":{"tags":["finance"],"summary":"Get the profit and loss report","description":"P&L combining B2C commission revenue (net of 18% GST, external vendors only) and device-resale net margin against expenses, with an expense breakdown by category, a day/week/month trend and the top 10 devices by profit.\n\n**Notes:** Redis-cached 120s keyed on startDate/endDate/groupBy. B2C completion dates come from LeadLogs (bump-immune) rather than MasterLeads.updatedAt. creditRevenue and b2bRevenue are deliberately always 0 to avoid double-counting; the trend series still adds credit and B2B payments, so it does not tie back to summary.totalRevenue. No handler-level auth check.\n\n_Source: `app/api/finance/reports/profit-loss/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"Lower bound of the window.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Upper bound of the window.","schema":{"type":"string","example":"2026-08-31"}},{"name":"groupBy","in":"query","required":false,"description":"day, week or month for the trend series.","schema":{"type":"string","example":"month","default":"day"}}],"responses":{"200":{"description":"P&L report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReportsProfitLossGetResponse"},"example":{"summary":{"totalRevenue":184000,"totalCosts":312000,"netProfit":-128000,"profitMargin":-69.57,"breakdown":{"b2cRevenue":116000,"b2cCommissionGross":136880,"b2cGst":20880,"deviceRevenue":68000,"deviceCost":540000,"deviceGrossSale":620000,"deviceGrossMargin":80000,"deviceGst":12000,"creditRevenue":0,"b2bRevenue":0,"vendorCashCollected":496000,"b2cBuybackGmv":1840000,"b2bCapitalDeployed":220000,"totalGst":32880,"totalExpenses":312000}},"expensesByCategory":{"Rent":45000,"Salaries":210000},"trend":[{"date":"2026-08-01","revenue":42000,"cost":12000,"profit":30000}],"topDevices":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to generate P&L report"}}}}},"security":[]}}},"components":{"schemas":{"FinancePurchaseOrdersByIdPdfGetResponse":{"type":"string","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"FinancePurchaseOrdersByIdGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceReportsMoneyGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceExpensesByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"FinancePendingPaymentsPatchRequest":{"type":"object","properties":{"saleId":{"type":"string","description":"InternalSale id"},"amount":{"type":"number","description":"Payment amount; must be > 0 and not exceed the pending amount"},"paymentMethod":{"type":"string","description":"Cash, UPI, BankTransfer, Card, ..."},"transactionId":{"type":"string","description":"Bank/UPI reference"},"note":{"type":"string","description":"Free-text note on the payment log"}},"required":["saleId","amount","paymentMethod"],"description":"Request body for `PATCH /api/finance/pending-payments`."},"FinancePendingPaymentsPatchResponse":{"type":"object","x-inferred-from-example":true},"FinanceLowCreditVendorsGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceReportsCreditsGetResponse":{"type":"object","x-inferred-from-example":true},"FinancePendingPaymentsGetResponse":{"type":"object","x-inferred-from-example":true},"FinancePurchasesGetResponse":{"type":"object","x-inferred-from-example":true},"FinancePurchaseOrdersGetResponse":{"type":"object","x-inferred-from-example":true},"FinancePurchaseOrdersPostRequest":{"type":"object","properties":{"supplierId":{"type":"string","description":"Existing Supplier id"},"items":{"type":"array","items":{},"description":"Non-empty array of {description, hsnSac?, quantity, unit?, rate, gstRate?}; gstRate defaults to 18"},"category":{"type":"string","description":"Unclassified (default), MarketingOnline, MarketingOffline or NonMarketing"},"orderDate":{"type":"string","description":"Defaults to now"},"expectedDate":{"type":"string","description":"Expected delivery date"},"notes":{"type":"string","description":"Notes printed on the PO"},"internalNotes":{"type":"string","description":"Internal-only notes"}},"required":["supplierId","items"],"description":"Request body for `POST /api/finance/purchase-orders`."},"FinancePurchaseOrdersPostResponse":{"type":"object","x-inferred-from-example":true},"FinancePurchaseOrdersByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"FinanceReportsProfitLossGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"FinanceReportsGstGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceExpensesByIdPatchRequest":{"type":"object","properties":{"title":{"type":"string","description":"Expense title"},"description":{"type":"string","description":"Longer note"},"amount":{"type":"number","description":"Amount in rupees"},"category":{"type":"string","description":"Salaries, Rent, Bills, Costs, Marketing, Operations or Miscellaneous"},"date":{"type":"string","description":"Expense date (ISO or YYYY-MM-DD)"},"paymentMethod":{"type":"string","description":"Cash, UPI, Bank Transfer, Card or Cheque"},"receiptUrl":{"type":"string","description":"Uploaded receipt URL"},"transactionId":{"type":"string","description":"Bank/UPI reference"}},"description":"Request body for `PATCH /api/finance/expenses/{id}`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"FinancePurchaseOrdersByIdPatchRequest":{"type":"object","properties":{"status":{"type":"string","description":"Draft, Sent, Received, Closed or Cancelled; must be a legal transition from the current status"},"category":{"type":"string","description":"Unclassified, MarketingOnline, MarketingOffline or NonMarketing"},"orderDate":{"type":"string","description":"Order date"},"expectedDate":{"type":"string","description":"Expected delivery date; null clears it"},"notes":{"type":"string","description":"Notes printed on the PO"},"internalNotes":{"type":"string","description":"Internal-only notes"},"items":{"type":"array","items":{},"description":"Full replacement array of {description, hsnSac?, quantity, unit?, rate, gstRate?}; Draft only"}},"description":"Request body for `PATCH /api/finance/purchase-orders/{id}`."}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"examples":{"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}