{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Finance 1","description":"Tags: credit-algorithm, credits, exports, finance","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"credit-algorithm"},{"name":"credits"},{"name":"exports"},{"name":"finance"}],"paths":{"/api/credit-algorithm":{"get":{"tags":["credit-algorithm"],"summary":"List vendor credit algorithm ranges","description":"Paginated list of AddCreditAlgorithm price bands (from-to price range mapped to a credit cost, with optional per-vendor-type overrides Type1..Type5), ordered by the range start.\n\n**Notes:** No handler-level auth check. These rows drive how many credits a vendor is charged for a lead, so they directly affect vendor billing.\n\n_Source: `app/api/credit-algorithm/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"deviceType","in":"query","required":false,"description":"Prisma DeviceType filter","schema":{"type":"string","example":"Laptop"}},{"name":"search","in":"query","required":false,"description":"Numeric search matched exactly against from, to or credit","schema":{"type":"string","example":"5000"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAlgorithmGetResponse"},"example":{"success":true,"data":[{"id":4,"deviceType":"Laptop","from":5000,"to":15000,"credit":30,"Type1":25,"Type2":30,"Type3":35,"Type4":null,"Type5":null}],"pagination":{"page":1,"limit":10,"total":22,"totalPages":3}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch credit algorithms"}}}}},"security":[]},"post":{"tags":["credit-algorithm"],"summary":"Create a credit algorithm range","description":"Adds a price band mapping a device price range to a credit cost. Rejects any range that overlaps an existing band for the same device type.\n\n**Notes:** No handler-level auth check. Changes what vendors are charged in credits per lead - a pricing change with financial impact. Audited via withAuditLog as PRICING.\n\n_Source: `app/api/credit-algorithm/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAlgorithmPostRequest"},"example":{"deviceType":"Laptop","from":5000,"to":15000,"credit":30,"Type1":25,"Type2":30,"Type3":35}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAlgorithmPostResponse"},"example":{"success":true,"data":{"id":4,"deviceType":"Laptop","from":5000,"to":15000,"credit":30},"message":"Credit algorithm created successfully"}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"409":{"description":"Overlapping price range","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Price range overlaps with existing algorithm"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create credit algorithm"}}}}},"security":[]},"put":{"tags":["credit-algorithm"],"summary":"Update a credit algorithm range","description":"Partial update of a price band; the id travels in the JSON body. When from, to and deviceType are all supplied, the new range is re-checked for overlap against the other bands.\n\n**Notes:** No handler-level auth check. The overlap check is skipped unless from, to AND deviceType are all present, so a partial edit can create overlapping bands. Affects vendor credit billing. Audited via withAuditLog as PRICING.\n\n_Source: `app/api/credit-algorithm/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAlgorithmPutRequest"},"example":{"id":4,"deviceType":"Laptop","from":5000,"to":15000,"credit":35}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditAlgorithmPutResponse"},"example":{"success":true,"data":{"id":4,"credit":35},"message":"Credit algorithm updated successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Algorithm ID is required"}}}},"409":{"description":"Overlapping price range","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Price range overlaps with existing algorithm"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update credit algorithm"}}}}},"security":[]},"delete":{"tags":["credit-algorithm"],"summary":"Delete a credit algorithm range","description":"Hard-deletes one price band by numeric id.\n\n**Notes:** No handler-level auth check. Removing a band leaves a price gap: lead pricing lookups for prices in that range then find no algorithm. Audited via withAuditLog as PRICING.\n\n_Source: `app/api/credit-algorithm/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Algorithm row id. Required - 400s when missing.","schema":{"type":"integer","example":4}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Credit algorithm deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Algorithm ID is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete credit algorithm"}}}}},"security":[]}},"/api/credits":{"get":{"tags":["credits"],"summary":"Look up credit cost for a device price","description":"Finds the credit algorithm band whose from-to range contains the given price for the device type and returns just the credit value.\n\n**Notes:** No handler-level auth check. A price of 0 is rejected as missing because the check is a truthiness test.\n\n_Source: `app/api/credits/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Prisma DeviceType. Required - 400s when missing.","schema":{"type":"string","example":"Laptop"}},{"name":"price","in":"query","required":true,"description":"Device price to look up. Required - a missing or zero price 400s.","schema":{"type":"integer","example":12000,"default":0}}],"responses":{"200":{"description":"Credit value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsGetResponse"},"example":{"credit":30}}}},"400":{"description":"Missing parameter","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Device type is required"}}}},"404":{"description":"No band covers that price","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"No credit algorithm found for the given parameters"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch credit algorithm"}}}}},"security":[]},"post":{"tags":["credits"],"summary":"List credit algorithm bands for a device type","description":"Despite being a POST, this is a read: it returns every credit algorithm band, optionally filtered to one device type, ordered by the range start.\n\n**Notes:** No handler-level auth check. Read-only despite the POST verb - it creates nothing. Not paginated. Audited via withAuditLog as CREDIT.\n\n_Source: `app/api/credits/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsPostRequest"},"example":{"deviceType":"Laptop"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditsPostResponse"},"example":{"algorithms":[{"id":4,"deviceType":"Laptop","from":5000,"to":15000,"credit":30,"Type1":25,"Type2":30,"Type3":35,"Type4":null,"Type5":null}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch credit algorithms"}}}}},"security":[]}},"/api/exports/gst-statement":{"get":{"tags":["exports"],"summary":"Export the GST statement for a period","description":"Builds the CA-facing GST statement from approved vendor credit payments in the period, as CSV (default) or JSON, with per-invoice CGST/SGST/IGST split and a tally row. Can optionally email the CSV to the accountant instead of returning it.\n\n**Notes:** Designed for Pabbly/cron. CSV response carries X-Period-From/To, X-Invoice-Count, X-Total-Taxable, X-Total-Tax, X-Total-Invoice headers and Content-Disposition attachment. Internal vendors are excluded. SIDE EFFECT when send=true: emails the statement (skipped if there are zero rows).\n\n_Source: `app/api/exports/gst-statement/route.ts`_\n\n_Auth: `other: Bearer token equal to EXPORTS_API_TOKEN in the Authorization header`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date YYYY-MM-DD, interpreted in IST. Clamped to FINANCIAL_YEAR_START_DATE.","schema":{"type":"string","example":"2026-08-01","default":"1st of previous month (IST)"}},{"name":"to","in":"query","required":false,"description":"End date YYYY-MM-DD, inclusive, interpreted in IST.","schema":{"type":"string","example":"2026-08-31","default":"last day of previous month (IST)"}},{"name":"format","in":"query","required":false,"description":"csv or json.","schema":{"type":"string","example":"json","default":"csv"}},{"name":"status","in":"query","required":false,"description":"approved (default), rejected, or all.","schema":{"type":"string","example":"all","default":"approved"}},{"name":"type","in":"query","required":false,"description":"razorpay, phonepe, manual or all.","schema":{"type":"string","example":"razorpay","default":"all"}},{"name":"send","in":"query","required":false,"description":"When 'true', emails the CSV to the accountant and returns a JSON receipt instead of the file.","schema":{"type":"boolean","example":true,"default":false}},{"name":"to_email","in":"query","required":false,"description":"Override recipient for the &send=true email (testing only).","schema":{"type":"string","example":"ca@example.com"}}],"responses":{"200":{"description":"CSV attachment (default) or JSON when format=json / send=true","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportsGstStatementGetResponse"},"example":{"period":{"from":"2026-08-01","to":"2026-08-31"},"summary":{"invoiceCount":42,"taxable":152000,"cgst":13680,"sgst":13680,"igst":0,"totalGst":27360,"total":179360},"rows":[{"invoiceNo":"CK/2026-27/000123","invoiceDate":"14/08/2026","recipientName":"Ravi Sharma","taxableValue":4237.29,"totalTax":762.71,"invoiceTotal":5000}]}}}},"400":{"description":"Invalid date","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid date: 2026-13-40"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Token not configured or email send failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"EXPORTS_API_TOKEN not configured on server."}}}}},"security":[{"exportsToken":[]}]}},"/api/finance/cash-balance":{"get":{"tags":["finance"],"summary":"List cash and bank accounts","description":"Returns every CashBalance account with a summary of cash total, bank total and net balance computed by DB aggregates.\n\n**Notes:** force-dynamic. No handler-level auth check.\n\n_Source: `app/api/finance/cash-balance/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashBalanceGetResponse"},"example":{"data":[{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","accountType":"Cash","accountName":"Petty Cash","balance":12500}],"summary":{"cashTotal":12500,"bankTotal":480000,"netBalance":492500}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch cash balances"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Create a cash or bank account","description":"Creates a new CashBalance account with an optional opening balance.\n\n**Notes:** Mutates money-tracking data. No handler-level auth check.\n\n_Source: `app/api/finance/cash-balance/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashBalancePostRequest"},"example":{"accountType":"Bank","accountName":"HDFC Current","initialBalance":100000}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashBalancePostResponse"},"example":{"success":true,"data":{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","accountType":"Bank","accountName":"HDFC Current","balance":100000}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Account type and name are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create account"}}}}},"security":[]},"patch":{"tags":["finance"],"summary":"Adjust an account balance manually","description":"Applies a signed manual correction to an account balance and records a matching CashTransaction (IN for positive, OUT for negative) with category 'Adjustment', atomically.\n\n**Notes:** MUTATES MONEY. No handler-level auth check.\n\n_Source: `app/api/finance/cash-balance/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashBalancePatchRequest"},"example":{"accountId":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","adjustment":-2500,"reason":"Cash count shortfall"}}}},"responses":{"200":{"description":"Adjusted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashBalancePatchResponse"},"example":{"success":true,"data":{"id":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","balance":10000}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Account ID and adjustment are required"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Account not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to adjust balance"}}}}},"security":[]}},"/api/finance/cash-transactions":{"get":{"tags":["finance"],"summary":"List cash transactions","description":"Paginated CashTransaction listing with account and creator names, filterable by account, direction, category and date range, plus totalIn / totalOut / netFlow for the filtered set.\n\n**Notes:** force-dynamic. No handler-level auth check.\n\n_Source: `app/api/finance/cash-transactions/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"accountId","in":"query","required":false,"description":"Filter by account.","schema":{"type":"string","example":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d"}},{"name":"type","in":"query","required":false,"description":"IN or OUT.","schema":{"type":"string","example":"OUT"}},{"name":"category","in":"query","required":false,"description":"Transaction category.","schema":{"type":"string","example":"Adjustment"}},{"name":"startDate","in":"query","required":false,"description":"createdAt lower bound.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"createdAt upper bound.","schema":{"type":"string","example":"2026-08-31"}},{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","example":50,"default":50}},{"$ref":"#/components/parameters/PageParam"}],"responses":{"200":{"description":"Transactions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashTransactionsGetResponse"},"example":{"data":[{"id":"9a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d","type":"OUT","amount":2500,"category":"Adjustment","description":"Cash count shortfall","account":{"accountName":"Petty Cash","accountType":"Cash"},"createdBy":{"name":"Admin"}}],"summary":{"totalIn":480000,"totalOut":122000,"netFlow":358000},"pagination":{"total":214,"page":1,"limit":50}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch transactions"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Record a cash transaction","description":"Creates a CashTransaction and updates the account balance atomically. IN adds to the balance, OUT subtracts.\n\n**Notes:** MUTATES MONEY. No handler-level auth check.\n\n_Source: `app/api/finance/cash-transactions/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashTransactionsPostRequest"},"example":{"accountId":"1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d","type":"OUT","amount":4500,"category":"DevicePurchase","description":"Bought iPhone 12 from walk-in","paymentMethod":"UPI","transactionId":"UPI2026081412345"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceCashTransactionsPostResponse"},"example":{"success":true,"data":{"id":"9a0b1c2d-3e4f-5a6b-7c8d-9e0f1a2b3c4d","type":"OUT","amount":4500},"newBalance":8000}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Type must be IN or OUT"}}}},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Account not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create transaction"}}}}},"security":[]}},"/api/finance/device-trail":{"get":{"tags":["finance"],"summary":"Trace a device's full lifecycle","description":"Looks up an IMEI, serial, leadId or B2B deal number across CompletedDocuments, MasterLeads, ExcessBuyback, B2BDealItem and B2BDeal, and returns for each match a unified trail: source, customer payment, inventory, outbound sale and a chronological event timeline.\n\n**Notes:** Redis-cached 60s keyed on the lowercased query, only when there is at least one match. Exposes seller name/phone and full bank account and UPI details of the customer — sensitive, and there is No handler-level auth check.\n\n_Source: `app/api/finance/device-trail/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":true,"description":"IMEI, device serial, MasterLeads leadId, ExcessBuyback id or B2B dealNumber. 400 if empty.","schema":{"type":"string","example":"356938035643809"}}],"responses":{"200":{"description":"Matching trails","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceDeviceTrailGetResponse"},"example":{"success":true,"trails":[{"matchKey":"9f0a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b","matchedOn":"imei (handover)","deviceLabel":"iPhone 13 (Mobile)","source":{"kind":"B2C_LEAD","sellerName":"Asha Verma","imei":"356938035643809"},"customerPayment":{"generatedPrice":"32000","finalPrice":"30500","paymentMethod":"Bank"},"inventory":null,"outbound":null,"timeline":[{"at":"2026-08-14T09:12:00.000Z","kind":"LEAD_CREATED","description":"Lead 9f0a1b2c created (Mobile) — iPhone 13"}]}],"cached":false}}}},"400":{"description":"q missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Search value is required (q parameter)"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch device trail","details":"Error: ..."}}}}},"security":[]}},"/api/finance/expenses":{"get":{"tags":["finance"],"summary":"List expenses with totals","description":"Paginated expense listing with search and filters, returning a summary of total spend, row count and a per-category breakdown.\n\n**Notes:** force-dynamic. No handler-level auth check.\n\n_Source: `app/api/finance/expenses/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"page","in":"query","required":false,"description":"Page number (min 1).","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 1-50.","schema":{"type":"integer","example":25,"default":10}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on title or description.","schema":{"type":"string","example":"rent"}},{"name":"category","in":"query","required":false,"description":"Exact category filter.","schema":{"type":"string","example":"Rent"}},{"name":"paymentMethod","in":"query","required":false,"description":"Exact payment method filter.","schema":{"type":"string","example":"Cash"}},{"name":"startDate","in":"query","required":false,"description":"Expense date lower bound.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Expense date upper bound (end of day).","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Expenses page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesGetResponse"},"example":{"success":true,"data":[{"id":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f","title":"Office rent August","amount":45000,"category":"Rent"}],"summary":{"totalExpenses":312000,"count":48,"byCategory":{"Rent":45000,"Salaries":210000}},"pagination":{"total":48,"page":1,"limit":10,"totalPages":5}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch expenses"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Create an expense","description":"Records a new expense attributed to the signed-in admin. Non-cash payments must carry a transaction id.\n\n**Notes:** NextAuth session cookie required — the admin id becomes createdById. Note that a missing paymentMethod also triggers the transactionId requirement.\n\n_Source: `app/api/finance/expenses/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesPostRequest"},"example":{"title":"Office rent August","amount":45000,"category":"Rent","date":"2026-08-01","paymentMethod":"Bank Transfer","transactionId":"NEFT2026080199"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesPostResponse"},"example":{"success":true,"data":{"id":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f","title":"Office rent August","amount":45000,"createdBy":{"id":3,"name":"Admin"}}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Transaction ID is required for non-cash payments"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create expense"}}}}},"security":[{"cookieAuth":[]}]}},"/api/finance/expenses/upload":{"post":{"tags":["finance"],"summary":"Bulk import expenses from a spreadsheet","description":"Parses an uploaded .xlsx, .xls or .csv file and bulk-creates expense rows. Recognised columns are Title, Amount, Category, Date, Payment Method, Description and Recurring; invalid rows are skipped and reported.\n\n**Notes:** Only the first sheet is read. Excel serial date numbers are handled. Errors are truncated to the first 50. NextAuth session cookie required; the admin id becomes createdById.\n\n_Source: `app/api/finance/expenses/upload/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/FinanceExpensesUploadPostRequest"}}}},"responses":{"200":{"description":"Import result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesUploadPostResponse"},"example":{"success":true,"imported":46,"totalRows":48,"totalErrors":2,"errors":[{"row":7,"message":"Invalid amount: \"abc\""}]}}}},"400":{"description":"Missing file, wrong extension or empty sheet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Only .xlsx, .xls, or .csv files are allowed"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to process upload"}}}}},"security":[{"cookieAuth":[]}]}},"/api/finance/expenses/{id}":{"get":{"tags":["finance"],"summary":"Get one expense","description":"Fetches a single expense row with the admin who created it.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/finance/expenses/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Expense id","schema":{"type":"string"},"example":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f"}],"responses":{"200":{"description":"Expense","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceExpensesByIdGetResponse"},"example":{"success":true,"data":{"id":"4d5e6f70-8a9b-0c1d-2e3f-4a5b6c7d8e9f","title":"Office rent August","amount":45000,"category":"Rent","date":"2026-08-01T00:00:00.000Z","createdBy":{"id":3,"name":"Admin"}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Expense not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch expense"}}}}},"security":[]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"FinanceCashTransactionsPostRequest":{"type":"object","properties":{"accountId":{"type":"string","description":"CashBalance account id"},"type":{"type":"string","description":"IN or OUT"},"amount":{"type":"number","description":"Positive amount"},"category":{"type":"string","description":"Transaction category"},"description":{"type":"string","description":"Human-readable description"},"paymentMethod":{"type":"string","description":"Defaults to Cash for Cash accounts, BankTransfer otherwise"},"transactionId":{"type":"string","description":"Bank/UPI reference"},"referenceId":{"type":"string","description":"Linked entity id"},"referenceType":{"type":"string","description":"Linked entity type"},"createdById":{"type":"integer","description":"Admin id recorded as creator"}},"required":["accountId","type","amount","category","description"],"description":"Request body for `POST /api/finance/cash-transactions`."},"FinanceExpensesByIdGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceExpensesGetResponse":{"type":"object","x-inferred-from-example":true},"CreditAlgorithmPostResponse":{"type":"object","x-inferred-from-example":true},"CreditAlgorithmPutResponse":{"type":"object","x-inferred-from-example":true},"FinanceCashBalanceGetResponse":{"type":"object","x-inferred-from-example":true},"CreditAlgorithmGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceCashBalancePostRequest":{"type":"object","properties":{"accountType":{"type":"string","description":"Cash or Bank"},"accountName":{"type":"string","description":"Display name of the account"},"initialBalance":{"type":"number","description":"Opening balance; defaults to 0"}},"required":["accountType","accountName"],"description":"Request body for `POST /api/finance/cash-balance`."},"FinanceDeviceTrailGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceCashTransactionsPostResponse":{"type":"object","x-inferred-from-example":true},"FinanceCashBalancePatchRequest":{"type":"object","properties":{"accountId":{"type":"string","description":"CashBalance account id"},"adjustment":{"type":"number","description":"Signed amount to add to the balance"},"reason":{"type":"string","description":"Description stored on the transaction"}},"required":["accountId","adjustment"],"description":"Request body for `PATCH /api/finance/cash-balance`."},"FinanceCashBalancePatchResponse":{"type":"object","x-inferred-from-example":true},"CreditsGetResponse":{"type":"object","x-inferred-from-example":true},"CreditAlgorithmPutRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Algorithm row id. Required - 400s when missing."},"deviceType":{"type":"string","description":"Prisma DeviceType"},"from":{"type":"integer","description":"New lower bound"},"to":{"type":"integer","description":"New upper bound"},"credit":{"type":"integer","description":"New credit cost"},"Type1":{"type":"integer","description":"Vendor type 1 override; send null/0 to clear"},"Type2":{"type":"integer","description":"Vendor type 2 override"},"Type3":{"type":"integer","description":"Vendor type 3 override"},"Type4":{"type":"integer","description":"Vendor type 4 override"},"Type5":{"type":"integer","description":"Vendor type 5 override"}},"required":["id"],"description":"Request body for `PUT /api/credit-algorithm`."},"FinanceCashBalancePostResponse":{"type":"object","x-inferred-from-example":true},"FinanceCashTransactionsGetResponse":{"type":"object","x-inferred-from-example":true},"CreditAlgorithmPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Prisma DeviceType, e.g. Laptop"},"from":{"type":"integer","description":"Inclusive lower bound of the device price range"},"to":{"type":"integer","description":"Inclusive upper bound of the device price range"},"credit":{"type":"integer","description":"Credits charged for a lead in this range"},"Type1":{"type":"integer","description":"Credit override for vendor type 1"},"Type2":{"type":"integer","description":"Credit override for vendor type 2"},"Type3":{"type":"integer","description":"Credit override for vendor type 3"},"Type4":{"type":"integer","description":"Credit override for vendor type 4"},"Type5":{"type":"integer","description":"Credit override for vendor type 5"}},"required":["deviceType","from","to","credit"],"description":"Request body for `POST /api/credit-algorithm`."},"FinanceExpensesUploadPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":".xlsx, .xls or .csv with a header row"}},"required":["file"],"description":"Request body for `POST /api/finance/expenses/upload`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"FinanceExpensesPostRequest":{"type":"object","properties":{"title":{"type":"string","description":"Expense title"},"amount":{"type":"number","description":"Amount in rupees"},"category":{"type":"string","description":"Salaries, Rent, Bills, Costs, Marketing, Operations or Miscellaneous"},"date":{"type":"string","description":"Expense date"},"description":{"type":"string","description":"Longer note"},"paymentMethod":{"type":"string","description":"Cash, UPI, Bank Transfer, Card or Cheque"},"transactionId":{"type":"string","description":"Required unless paymentMethod is exactly 'Cash'"},"receiptUrl":{"type":"string","description":"Uploaded receipt URL"}},"required":["title","amount","category","date"],"description":"Request body for `POST /api/finance/expenses`."},"CreditsPostResponse":{"type":"object","x-inferred-from-example":true},"CreditsPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Prisma DeviceType to filter by. Omit to return every band for all device types."}},"description":"Request body for `POST /api/credits`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"FinanceExpensesPostResponse":{"type":"object","x-inferred-from-example":true},"FinanceExpensesUploadPostResponse":{"type":"object","x-inferred-from-example":true},"ExportsGstStatementGetResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"examples":{"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}