{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Finance 3","description":"Tags: finance, getallpaymets, gift-cards, review-refunds","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"finance"},{"name":"getallpaymets"},{"name":"gift-cards"},{"name":"review-refunds"}],"paths":{"/api/finance/returns/credits":{"get":{"tags":["finance"],"summary":"Search vendors for credit refund","description":"Fuzzy-searches StoreVendors and Vendors by first/last name, shop name or phone and returns up to 5 of each with their available credit points. Used by the finance returns screen to pick the vendor whose credits are being refunded.\n\n**Notes:** No handler-level auth check — the deny-by-default middleware requires an admin session for this route. Wrapped handlers on this file use withAuditLog, which only logs (it does not enforce auth).\n\n_Source: `app/api/finance/returns/credits/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":true,"description":"Search term matched against firstName, lastName, shopName and phoneNumber. Returns 400 if missing.","schema":{"type":"string","example":"Ravi"}}],"responses":{"200":{"description":"Matching vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsCreditsGetResponse"},"example":{"data":[{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","vendorName":"Ravi Kumar","shopName":"Ravi Mobiles","vendorPhone":"9876543210","creditPoints":120,"type":"Store"}]}}}},"400":{"description":"Missing q","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Query required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to search vendors"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Refund all credits of a vendor","description":"Zeroes the vendor's creditsAvailable (StoreVendors first, then Vendors) and writes a FinanceReturnLog row of type CREDIT with amount = oldCredits * 10. Mutates money-equivalent balances.\n\n**Notes:** Side effect: sets creditsAvailable to 0 for the vendor and creates a FinanceReturnLog entry. Audit-logged via withAuditLog (entity FINANCE) but NOT auth-protected.\n\n_Source: `app/api/finance/returns/credits/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsCreditsPostRequest"},"example":{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","transactionId":"TXN-2026-0912"}}}},"responses":{"200":{"description":"Credits refunded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor ID and Transaction ID required"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process refund"}}}}},"security":[]}},"/api/finance/returns/devices":{"get":{"tags":["finance"],"summary":"Search sold devices by IMEI or name","description":"Returns up to 10 ExcessBuyback rows with status 'Sold' whose serial or deviceName contains the query, including the linked internal sale and vendor. Feeds the device-return picker.\n\n**Notes:** No handler-level auth check (middleware now gates /api/* by default).\n\n_Source: `app/api/finance/returns/devices/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":true,"description":"IMEI/serial or device name fragment. Returns 400 if missing.","schema":{"type":"string","example":"358240051111110"}}],"responses":{"200":{"description":"Matching sold devices","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsDevicesGetResponse"},"example":{"data":[{"id":"6b1a0f3c-2f0f-4c0f-9a1e-9f7c1c2b3d4e","deviceName":"iPhone 13 128GB","serial":"358240051111110","price":28000,"sellingPrice":32000,"status":"Sold","internalSale":{"id":"0f9c1b2a-1111-2222-3333-444455556666","customerName":"Anil Sharma","totalAmount":32000,"receivedAmount":32000}}]}}}},"400":{"description":"Missing q","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Query required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to search devices"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Process a sold-device return","description":"Puts a Sold ExcessBuyback item back to InStock, clears its sale link and selling price, reduces the parent InternalSale totalAmount/receivedAmount accordingly, and writes a FinanceReturnLog row of type DEVICE.\n\n**Notes:** Money-mutating: rewrites InternalSale totals. Runs in a single prisma.$transaction. Audit-logged (entity FINANCE), not auth-protected.\n\n_Source: `app/api/finance/returns/devices/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsDevicesPostRequest"},"example":{"id":"6b1a0f3c-2f0f-4c0f-9a1e-9f7c1c2b3d4e","reason":"Display defect reported by customer","transactionId":"TXN-2026-0913","amount":32000}}}},"responses":{"200":{"description":"Return processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing fields or item not Sold","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item is not in Sold status"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process return"}}}}},"security":[]}},"/api/finance/returns/logs":{"get":{"tags":["finance"],"summary":"List finance return logs","description":"Returns all FinanceReturnLog rows (credit, device and purchase returns) newest first, optionally restricted to a createdAt date range.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/finance/returns/logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (inclusive). Only applied when both from and to are given.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date; extended to 23:59:59.999 of that day.","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Return log rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsLogsGetResponse"},"example":{"data":[{"id":12,"type":"DEVICE","description":"iPhone 13 (358240051111110) returned. Reason: Display defect","amount":32000,"referenceId":"TXN-2026-0913","vendorName":"Ravi Mobiles","createdAt":"2026-08-21T09:12:00.000Z"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch logs"}}}}},"security":[]}},"/api/finance/returns/purchases":{"get":{"tags":["finance"],"summary":"Search in-stock purchases to return","description":"Returns up to 10 InStock ExcessBuyback items matching the query on serial or deviceName, with vendor name resolved (external vendor names are parsed out of the condition string).\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/finance/returns/purchases/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":true,"description":"Serial/IMEI or device name fragment. Returns 400 if missing.","schema":{"type":"string","example":"Redmi"}}],"responses":{"200":{"description":"Matching in-stock purchases","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsPurchasesGetResponse"},"example":{"data":[{"id":"1c2d3e4f-5555-6666-7777-888899990000","deviceName":"Redmi Note 12","serial":"868200051234567","price":7500,"status":"InStock","source":"External","vendorName":"Sri Balaji Traders","vendorPhone":null,"condition":"Good | External Vendor: Sri Balaji Traders","createdAt":"2026-08-10T06:30:00.000Z"}]}}}},"400":{"description":"Missing q","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Query required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to search purchases"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Return a purchased device to the seller","description":"Marks an InStock ExcessBuyback item as PurchaseReturned and records a FinanceReturnLog row of type PURCHASE with the refund amount and payment method.\n\n**Notes:** Removes the item from sellable inventory and books a refund. Audit-logged (entity FINANCE), not auth-protected.\n\n_Source: `app/api/finance/returns/purchases/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceReturnsPurchasesPostRequest"},"example":{"id":"1c2d3e4f-5555-6666-7777-888899990000","reason":"Wrong IMEI supplied","transactionId":"TXN-2026-0914","refundAmount":7500,"paymentMethod":"UPI"}}}},"responses":{"200":{"description":"Purchase return processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing fields or item not InStock","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item is not in stock, cannot return"}}}},"404":{"description":"Item not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Item not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process purchase return"}}}}},"security":[]}},"/api/finance/sales":{"get":{"tags":["finance"],"summary":"List internal device sales with margins","description":"Paginated list of InternalSale records with their sold items, per-item cost/sale/margin and GST-on-margin computed at 18%, plus a summary block (totals across the whole filter) and pagination.\n\n**Notes:** force-dynamic. No handler-level auth check. Margin/GST/itemCount in the summary are computed from the current page only; totalSales/totalReceived/totalPending come from a full aggregate.\n\n_Source: `app/api/finance/sales/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"Filter on InternalSale.createdAt; only applied together with endDate","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"End of the createdAt range","schema":{"type":"string","example":"2026-08-31"}},{"name":"customerType","in":"query","required":false,"description":"SalesCustomer.type filter; the literal 'All' disables it","schema":{"type":"string","example":"Dealer"}},{"name":"q","in":"query","required":false,"description":"Search on customer name/phone or item deviceName/serial","schema":{"type":"string","example":"9876543210"}},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Sales page with summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSalesGetResponse"},"example":{"success":true,"data":[{"saleId":"0f9c1b2a-1111-2222-3333-444455556666","saleIdShort":"0F9C1B2A","customerName":"Anil Sharma","customerPhone":"9876543210","customerType":"Dealer","paymentMethod":"UPI","totalAmount":32000,"receivedAmount":32000,"pendingAmount":0,"itemCount":1,"totalMargin":4000,"totalGst":610.17,"totalProfit":3389.83}],"summary":{"totalSales":32000,"totalMargin":4000,"totalGst":610.17,"totalProfit":3389.83,"itemCount":1,"saleCount":1,"totalPending":0,"totalReceived":32000},"pagination":{"page":1,"limit":20,"total":1,"totalPages":1}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch sales"}}}}},"security":[]}},"/api/finance/suppliers":{"get":{"tags":["finance"],"summary":"List suppliers","description":"Returns up to 500 suppliers sorted by company name, each with a _count of purchase orders. Supports an active-only flag and a text search on company name, contact name or GSTIN.\n\n**Notes:** force-dynamic. No handler-level auth check.\n\n_Source: `app/api/finance/suppliers/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"active","in":"query","required":false,"description":"Pass '1' to return only isActive suppliers","schema":{"type":"string","example":"1"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on companyName, contactName or gstNumber","schema":{"type":"string","example":"Balaji"}}],"responses":{"200":{"description":"Supplier list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersGetResponse"},"example":{"success":true,"data":[{"id":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33","companyName":"Sri Balaji Traders","gstNumber":"36ABCDE1234F1Z5","isActive":true,"_count":{"purchaseOrders":4}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch suppliers"}}}}},"security":[]},"post":{"tags":["finance"],"summary":"Create a supplier","description":"Creates a Supplier row. companyName is the only required field; all other strings are trimmed and stored as null when blank.\n\n**Notes:** Audit-logged (entity SUPPLIER). No handler-level auth check.\n\n_Source: `app/api/finance/suppliers/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersPostRequest"},"example":{"companyName":"Sri Balaji Traders","gstNumber":"36ABCDE1234F1Z5","contactName":"Suresh","contactPhone":"9876501234","city":"Hyderabad","state":"Telangana","pincode":"500081"}}}},"responses":{"200":{"description":"Created supplier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersPostResponse"},"example":{"success":true,"data":{"id":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33","companyName":"Sri Balaji Traders"}}}}},"400":{"description":"Missing company name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Company name is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create supplier"}}}}},"security":[]}},"/api/finance/suppliers/{id}":{"get":{"tags":["finance"],"summary":"Get one supplier","description":"Returns a single Supplier row with a _count of its purchase orders.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/finance/suppliers/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Supplier id","schema":{"type":"string"},"example":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33"}],"responses":{"200":{"description":"Supplier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersByIdGetResponse"},"example":{"success":true,"data":{"id":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33","companyName":"Sri Balaji Traders","gstNumber":"36ABCDE1234F1Z5","isActive":true,"_count":{"purchaseOrders":4}}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Supplier not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch supplier"}}}}},"security":[]},"patch":{"tags":["finance"],"summary":"Update a supplier","description":"Partially updates a Supplier. Every field is optional; only keys present in the body are written (strings are trimmed, empty strings become null).\n\n**Notes:** Audit-logged via withAuditLog (entity SUPPLIER). No handler-level auth check.\n\n_Source: `app/api/finance/suppliers/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Supplier id","schema":{"type":"string"},"example":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersByIdPatchRequest"},"example":{"contactPhone":"9876501234","isActive":true}}}},"responses":{"200":{"description":"Updated supplier","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersByIdPatchResponse"},"example":{"success":true,"data":{"id":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33","companyName":"Sri Balaji Traders","contactPhone":"9876501234","isActive":true}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update supplier"}}}}},"security":[]},"delete":{"tags":["finance"],"summary":"Delete or deactivate a supplier","description":"Hard-deletes the supplier when it has no purchase orders; otherwise soft-deletes by setting isActive = false and reports deactivated: true.\n\n**Notes:** Destructive when the supplier has zero POs. Audit-logged (entity SUPPLIER). No handler-level auth check.\n\n_Source: `app/api/finance/suppliers/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Supplier id","schema":{"type":"string"},"example":"9f2b6a41-3c8e-4b1a-8b7d-2a5c1e0f7d33"}],"responses":{"200":{"description":"Deleted or deactivated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FinanceSuppliersByIdDeleteResponse"},"example":{"success":true,"message":"Supplier has purchase orders — deactivated instead of deleting","deactivated":true}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete supplier"}}}}},"security":[]}},"/api/getallpaymets":{"post":{"tags":["getallpaymets"],"summary":"Get a vendor's payments and payment logs","description":"Returns every VendorPayments row and every VendorPaymentsLogs row for the given vendorId, nested under a doubly-wrapped data object.\n\n**Notes:** No handler-level auth check. Note the misspelled path ('getallpaymets') and the nested data.data envelope. No pagination — returns every row for the vendor.\n\n_Source: `app/api/getallpaymets/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallpaymetsPostRequest"},"example":{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666"}}}},"responses":{"200":{"description":"Payments and logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallpaymetsPostResponse"},"example":{"data":{"success":true,"data":{"payments":[{"id":41,"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","amount":15000,"status":"Approved"}],"paymentsLogs":[]}}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendors"}}}}},"security":[]}},"/api/gift-cards/value/{leadId}":{"get":{"tags":["gift-cards"],"summary":"Get gift-card payout value for a lead","description":"Mirrors the backend's authoritative gift-card payout amount for a lead. Requires an admin next-auth session and forwards the session accessToken to GET {BACKEND_API}/admin/gift-cards/value/{leadId} using the admin gateway header triple.\n\n**Notes:** Upstream: BACKEND_API || NEXT_PUBLIC_API_URL (fallback http://backend.internal:8083/api/v1) + /admin/gift-cards/value/{leadId}. Needs the admin gateway triple (x-admin-request + x-internal-service-token + the admin's own JWT) — a plain BACKEND_ADMIN_TOKEN bearer is rejected upstream. The amount is owned by the backend and must not be recomputed here.\n\n_Source: `app/api/gift-cards/value/[leadId]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId","schema":{"type":"string"},"example":"8a7b6c5d-4444-3333-2222-111100009999"}],"responses":{"200":{"description":"Upstream gift-card value (status is proxied from upstream)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GiftCardsValueByLeadIdGetResponse"},"example":{"success":true,"data":{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","cashValue":24000,"giftCardValue":25200,"bonusPercent":5}}}}},"400":{"description":"Missing leadId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"leadId is required"}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"502":{"description":"Upstream fetch failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"TypeError: fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/review-refunds":{"get":{"tags":["review-refunds"],"summary":"List vendor review proofs for verification","description":"Paginated list of vendor-uploaded review proofs with their order and vendor details, the order's creditPoints and the potential refund computed from the active refund percentage.\n\n_Source: `app/api/review-refunds/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"status","in":"query","required":false,"description":"Pending | Accepted | Rejected | Revoked; anything else means all","schema":{"type":"string","example":"Pending","default":"all"}},{"name":"search","in":"query","required":false,"description":"Matches leadId, order token, vendor name, phone or shop name","schema":{"type":"string","example":"CK4512"}},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Review proofs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsGetResponse"},"example":{"success":true,"data":[{"id":"cm3proof0001","leadId":"LD-2026-004512","token":"CK4512","status":"Pending","orderCreditPoints":300,"potentialRefund":150,"vendor":{"vendorId":"VEN456","name":"Amit Sharma","creditsAvailable":900}}],"currentRefundPercentage":50,"pagination":{"page":1,"limit":20,"total":37,"totalPages":2}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch review refunds"}}}}},"security":[{"cookieAuth":[]}]}},"/api/review-refunds/{id}/accept":{"patch":{"tags":["review-refunds"],"summary":"Accept a review proof and refund credits","description":"Accepts a pending vendor review proof and, in one transaction, credits the configured percentage of the order's creditPoints to the vendor's wallet with a matching VendorCreditLogs ledger entry.\n\n**Notes:** Mutates money: credits the vendor wallet using the active ReviewRefundConfig percentage (0 when inactive). Also sends a best-effort VENDOR_REVIEW_APPROVED push. Wrapped in withAuditLog (VENDOR). No request body is read.\n\n_Source: `app/api/review-refunds/[id]/accept/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"ReviewProof id","schema":{"type":"string"},"example":"cm3proof0001"}],"responses":{"200":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsByIdAcceptPatchResponse"},"example":{"success":true,"message":"Review accepted. 150 credits refunded to vendor.","data":{"id":"cm3proof0001","refundCredits":150,"refundPercentage":50,"previousCredits":900,"newCredits":1050}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"404":{"description":"Proof not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Review proof not found"}}}},"409":{"description":"Not pending","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Only a pending review can be accepted (current: Accepted)"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to accept review"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"FinanceReturnsDevicesGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceSuppliersPostRequest":{"type":"object","properties":{"companyName":{"type":"string","description":"Registered company name"},"gstNumber":{"type":"string","description":"GSTIN"},"contactName":{"type":"string","description":"Primary contact person"},"contactPhone":{"type":"string","description":"Contact phone"},"contactEmail":{"type":"string","description":"Contact email"},"address":{"type":"string","description":"Street address"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"pincode":{"type":"string","description":"PIN code"},"notes":{"type":"string","description":"Free-text notes"}},"required":["companyName"],"description":"Request body for `POST /api/finance/suppliers`."},"FinanceSuppliersByIdGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceReturnsCreditsPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id from the GET search (StoreVendors or Vendors)"},"transactionId":{"type":"string","description":"Reference id of the refund payout, stored as referenceId on the log"}},"required":["vendorId","transactionId"],"description":"Request body for `POST /api/finance/returns/credits`."},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"ReviewRefundsGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceSuppliersByIdDeleteResponse":{"type":"object","x-inferred-from-example":true},"FinanceSuppliersByIdPatchRequest":{"type":"object","properties":{"companyName":{"type":"string","description":"Registered company name"},"gstNumber":{"type":"string","description":"GSTIN"},"contactName":{"type":"string","description":"Primary contact person"},"contactPhone":{"type":"string","description":"Contact phone"},"contactEmail":{"type":"string","description":"Contact email"},"address":{"type":"string","description":"Street address"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"pincode":{"type":"string","description":"PIN code"},"notes":{"type":"string","description":"Free-text notes"},"isActive":{"type":"boolean","description":"Activate/deactivate the supplier"}},"description":"Request body for `PATCH /api/finance/suppliers/{id}`."},"ReviewRefundsByIdAcceptPatchResponse":{"type":"object","x-inferred-from-example":true},"FinanceReturnsCreditsGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceSalesGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceSuppliersPostResponse":{"type":"object","x-inferred-from-example":true},"GiftCardsValueByLeadIdGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceReturnsLogsGetResponse":{"type":"object","x-inferred-from-example":true},"GetallpaymetsPostResponse":{"type":"object","x-inferred-from-example":true},"FinanceReturnsDevicesPostRequest":{"type":"object","properties":{"id":{"type":"string","description":"ExcessBuyback item id (must currently be in Sold status)"},"reason":{"type":"string","description":"Why the device is being returned"},"transactionId":{"type":"string","description":"Refund transaction reference"},"amount":{"type":"number","description":"Refund amount; parsed with parseFloat"}},"required":["id","reason","transactionId","amount"],"description":"Request body for `POST /api/finance/returns/devices`."},"GetallpaymetsPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id whose payments are fetched"}},"required":["vendorId"],"description":"Request body for `POST /api/getallpaymets`."},"FinanceSuppliersGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceReturnsPurchasesPostRequest":{"type":"object","properties":{"id":{"type":"string","description":"ExcessBuyback item id; must be InStock"},"reason":{"type":"string","description":"Reason for the purchase return"},"transactionId":{"type":"string","description":"Refund transaction reference"},"refundAmount":{"type":"number","description":"Amount refunded to the seller"},"paymentMethod":{"type":"string","description":"Cash / Bank / UPI — appended to the log description"}},"required":["id","reason","transactionId","refundAmount"],"description":"Request body for `POST /api/finance/returns/purchases`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"FinanceReturnsPurchasesGetResponse":{"type":"object","x-inferred-from-example":true},"FinanceSuppliersByIdPatchResponse":{"type":"object","x-inferred-from-example":true}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}