{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Finance 4","description":"Tags: review-refunds, updatevendorpayment, upload-invoice","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"review-refunds"},{"name":"updatevendorpayment"},{"name":"upload-invoice"}],"paths":{"/api/review-refunds/{id}/reject":{"patch":{"tags":["review-refunds"],"summary":"Reject a review proof with a reason","description":"Rejects a pending review proof, storing the rejection reason and reviewing admin so the vendor can re-upload within the attempt cap.\n\n**Notes:** Sends a best-effort VENDOR_REVIEW_REJECTED push. Wrapped in withAuditLog (VENDOR).\n\n_Source: `app/api/review-refunds/[id]/reject/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"ReviewProof id","schema":{"type":"string"},"example":"cm3proof0001"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsByIdRejectPatchRequest"},"example":{"reason":"Screenshot does not show a published review"}}}},"responses":{"200":{"description":"Rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsByIdRejectPatchResponse"},"example":{"success":true,"message":"Review rejected. Vendor can re-upload.","data":{"id":"cm3proof0001","status":"Rejected"}}}}},"400":{"description":"Missing reason","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"A rejection reason is required"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"404":{"description":"Proof not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Review proof not found"}}}},"409":{"description":"Not pending","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Only a pending review can be rejected (current: Accepted)"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to reject review"}}}}},"security":[{"cookieAuth":[]}]}},"/api/review-refunds/{id}/revoke":{"patch":{"tags":["review-refunds"],"summary":"Revoke an accepted review and reverse the refund","description":"Fraud safety path: revokes an already-accepted review proof and, in one transaction, debits the previously credited points back from the vendor's wallet with a matching Debited ledger entry.\n\n**Notes:** Mutates money: debits the vendor wallet. Sends a best-effort VENDOR_REVIEW_REVOKED push. Wrapped in withAuditLog (VENDOR).\n\n_Source: `app/api/review-refunds/[id]/revoke/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"ReviewProof id","schema":{"type":"string"},"example":"cm3proof0001"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsByIdRevokePatchRequest"},"example":{"reason":"Review was deleted by the vendor after payout"}}}},"responses":{"200":{"description":"Revoked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewRefundsByIdRevokePatchResponse"},"example":{"success":true,"message":"Review revoked. 150 credits reversed.","data":{"id":"cm3proof0001","reversedCredits":150,"previousCredits":1050,"newCredits":900}}}}},"400":{"description":"Missing reason","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"A revoke reason is required"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"404":{"description":"Proof not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Review proof not found"}}}},"409":{"description":"Not accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Only an accepted review can be revoked (current: Pending)"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to revoke review"}}}}},"security":[{"cookieAuth":[]}]}},"/api/updatevendorpayment":{"post":{"tags":["updatevendorpayment"],"summary":"Approve or reject a vendor credit purchase","description":"Approves or rejects a vendorPayments record. On approval it records the admin-verified deposit amount, issues credits (amount/1.18 then /10, floored), writes credit operation logs, mints a GST tax invoice and pushes a Firebase notification to the vendor.\n\n**Notes:** MUTATES MONEY. Credits = floor((verifiedAmount / 1.18) / 10), i.e. the amount is treated as GST-inclusive at 18%. All error paths return HTTP 200 with success:false, including PAID_AMOUNT_REQUIRED and PAID_AMOUNT_INVALID errorCodes - clients must check the body. Side effects on approval: increments vendor creditsAvailable, writes creditOperationLogs and vendorCreditOperation rows, generates and freezes a GST tax invoice PDF to S3 and emails it to the vendor via ensureVendorInvoice (skipped for isInternal vendors so the external invoice series stays gapless), sends a VENDOR_PAYMENT_APPROVED Firebase push, and logs an APPROVE/REJECT admin activity. Notification and invoice failures are swallowed and do not fail the approval. The response returns emailData/fcmData for the caller to act on.\n\n_Source: `app/api/updatevendorpayment/route.ts`_\n\n_Auth: `other: reads getServerSession only to name the approver in logs - the approval itself is not gated, so not gated by the handler itself`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendorpaymentPostRequest"},"example":{"id":4821,"vendorid":"VND_LX7K2P_A1B2C3D4","action":"approve","transactionId":"UTR2026090112345","paidAmount":100000}}}},"responses":{"200":{"description":"Not found / mismatch / server error (also HTTP 200)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor ID doesn't match payment record"}}}}},"security":[]}},"/api/upload-invoice":{"post":{"tags":["upload-invoice"],"summary":"Upload and compress an expense invoice image","description":"Accepts a multipart image, compresses it with sharp (max width 1920, JPEG quality 80) and uploads it to Linode object storage under Expenses/YYYY/MM. Returns the file URL.\n\n**Notes:** No handler-level auth check. Send as multipart/form-data. Always re-encoded to JPEG regardless of input format, so the returned URL ends in .jpg. Stored on Linode Object Storage (not S3) in a month-partitioned Expenses folder; audit-logged as FINANCE/CREATE.\n\n_Source: `app/api/upload-invoice/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UploadInvoicePostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUrlEnvelope_2"},"example":{"success":true,"url":"https://cashkr.ap-south-1.linodeobjects.com/Expenses/2026/09/invoice-8821.jpg"}}}},"400":{"description":"No file or non-image type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Only image files are allowed"}}}},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to upload invoice"}}}}},"security":[]}}},"components":{"schemas":{"ReviewRefundsByIdRevokePatchRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Why the refund is being reversed; blank or missing 400s"}},"required":["reason"],"description":"Request body for `PATCH /api/review-refunds/{id}/revoke`."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ReviewRefundsByIdRevokePatchResponse":{"type":"object","x-inferred-from-example":true},"ReviewRefundsByIdRejectPatchRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Why the proof was rejected; blank or missing 400s"}},"required":["reason"],"description":"Request body for `PATCH /api/review-refunds/{id}/reject`."},"ReviewRefundsByIdRejectPatchResponse":{"type":"object","x-inferred-from-example":true},"UploadInvoicePostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Invoice image. MIME type must start with image/. No explicit size cap in this route."}},"required":["file"],"description":"Request body for `POST /api/upload-invoice`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"UpdatevendorpaymentPostRequest":{"type":"object","properties":{"id":{"type":"integer","description":"vendorPayments paymentId; accepted as string or number"},"vendorid":{"type":"string","description":"Vendor id; must match the payment record or the request is refused"},"action":{"type":"string","description":"'approve' issues credits; anything else is treated as a rejection"},"transactionId":{"type":"string","description":"Bank/UPI transaction reference; stored only on approval"},"paidAmount":{"type":"number","description":"REQUIRED when action is 'approve': the admin-verified amount actually deposited. Must be a positive number. If it differs from the applied amount by more than 1 rupee, the verified figure overwrites the payment amount and drives the credit calculation."}},"required":["id","vendorid","action"],"description":"Request body for `POST /api/updatevendorpayment`."},"SuccessUrlEnvelope_2":{"type":"object","x-inferred-from-example":true}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}