{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Geography 1","description":"Tags: addnewarea, areas","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"addnewarea"},{"name":"areas"}],"paths":{"/api/addnewarea":{"post":{"tags":["addnewarea"],"summary":"Add a serviceable area (pincode)","description":"Thin proxy that forwards pincode/city/state/devicetype to the backend /addnewarea endpoint using the server-side admin token.\n\n**Notes:** No handler-level auth check; the deny-by-default middleware requires an admin session. Proxies to ${BACKEND_API}/addnewarea with Authorization: Bearer ${BACKEND_ADMIN_TOKEN}. Errors are swallowed and returned with HTTP 200.\n\n_Source: `app/api/addnewarea/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddnewareaPostRequest"},"example":{"pincode":"400001","city":"Mumbai","state":"Maharashtra","devicetype":"Mobile"}}}},"responses":{"200":{"description":"Caught error (still returned as 200)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"fetch failed"}}}}},"security":[]}},"/api/areas":{"get":{"tags":["areas"],"summary":"List pincodes, paginated","description":"Returns a page of Pincodes rows ordered by creation date, with optional case-insensitive search across city, state and pincode number.\n\n_Source: `app/api/areas/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","example":20,"default":10}},{"name":"search","in":"query","required":false,"description":"Matches city or state (contains, case-insensitive) or an exact pincode when numeric.","schema":{"type":"string","example":"Mumbai"}}],"responses":{"200":{"description":"Paginated pincodes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasGetResponse"},"example":{"data":[{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true}],"pagination":{"total":19240,"page":1,"limit":10,"totalPages":1924}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pincodes"}}}}},"security":[]},"post":{"tags":["areas"],"summary":"Create a pincode","description":"Creates a new Pincodes row. Rejects a pincode number that already exists.\n\n**Notes:** Wrapped in withAuditLog (entity AREA).\n\n_Source: `app/api/areas/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasPostRequest"},"example":{"pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true,"deviceType":["Mobile"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasPostResponse"},"example":{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true,"deviceType":["Mobile"]}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode, city, and state are required"}}}},"409":{"description":"Duplicate pincode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode already exists"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create pincode"}}}}},"security":[]}},"/api/areas/all":{"get":{"tags":["areas"],"summary":"List all pincodes (no pagination)","description":"Returns every row of the Pincodes table sorted by city, state then pincode. Intended for dropdowns and bulk client-side filtering.\n\n**Notes:** Unbounded result set — the whole Pincodes table is returned.\n\n_Source: `app/api/areas/all/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Array of pincode rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasAllGetResponse"},"example":[{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true,"deviceType":["Mobile"]}]}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch all pincodes"}}}}},"security":[]}},"/api/areas/bulk-delete":{"post":{"tags":["areas"],"summary":"Preview a bulk pincode deletion","description":"Validates a list of pincodes (or Pincodes row ids), reports which exist, which are malformed and how many vendors currently cover them. Nothing is deleted by this call.\n\n**Notes:** Read-only preview step for the DELETE on the same path. A pincode must parse to a number in 100000-999999 to be considered valid.\n\n_Source: `app/api/areas/bulk-delete/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasBulkDeletePostRequest"},"example":{"pincodes":[400001,400002],"ids":[]}}}},"responses":{"200":{"description":"Preview computed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasBulkDeletePostResponse"},"example":{"success":true,"summary":{"totalRequested":3,"foundCount":2,"notFoundCount":0,"invalidCount":1,"affectedVendorsCount":4},"toDelete":[{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true,"zoneName":"South Mumbai","vendorCount":3}],"notFound":[],"invalid":["12"]}}}},"400":{"description":"Neither valid pincodes nor ids supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"No valid pincodes or IDs provided for preview"}}}},"500":{"description":"Preview failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to preview pincode deletion","error":"..."}}}}},"security":[]},"delete":{"tags":["areas"],"summary":"Bulk delete pincodes and clean vendor coverage","description":"Permanently deletes the matching Pincodes rows and removes those pincodes from every VendorPincodes coverage array. Takes a JSON body even though it is a DELETE.\n\n**Notes:** DESTRUCTIVE and not transactional — pincodes are deleted first, then vendor coverage arrays are rewritten one update at a time. Wrapped in withAuditLog (entity AREA, action BULK_DELETE), which logs but does NOT enforce auth. Run the POST preview first.\n\n_Source: `app/api/areas/bulk-delete/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasBulkDeleteDeleteRequest"},"example":{"ids":[],"pincodes":[400001,400002]}}}},"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasBulkDeleteDeleteResponse"},"example":{"success":true,"deletedCount":2,"updatedVendorCount":4,"message":"Successfully deleted 2 pincode(s). Cleaned coverage for 4 vendor assignment(s)."}}}},"400":{"description":"No ids or pincodes supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"No pincodes or IDs provided for deletion"}}}},"404":{"description":"Nothing matched","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"No matching pincodes found to delete"}}}},"500":{"description":"Deletion failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to delete pincodes","error":"..."}}}}},"security":[]}},"/api/areas/cities":{"get":{"tags":["areas"],"summary":"List distinct city/state pairs","description":"Returns the distinct { city, state } combinations present in the Pincodes table, sorted by city. Used to populate filter dropdowns.\n\n_Source: `app/api/areas/cities/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Distinct city/state pairs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCitiesGetResponse"},"example":[{"city":"Bengaluru","state":"Karnataka"}]}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch cities"}}}}},"security":[]}},"/api/areas/cities-paginated":{"get":{"tags":["areas"],"summary":"List cities with their pincodes, paginated","description":"Groups the Pincodes table by (city, state) and returns one page of groups, each with its full pincode list and serviceable count.\n\n**Notes:** Pagination is applied in memory after grouping every city, so `total` is the number of city groups, not pincodes.\n\n_Source: `app/api/areas/cities-paginated/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on city or state.","schema":{"type":"string","example":"Mumbai"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"City groups per page.","schema":{"type":"integer","example":10,"default":10}}],"responses":{"200":{"description":"Paginated city groups","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCitiesPaginatedGetResponse"},"example":{"data":[{"city":"Mumbai","state":"Maharashtra","pincodes":[],"totalPincodes":62,"serviceableCount":44}],"pagination":{"total":180,"page":1,"limit":10,"totalPages":18}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch paginated cities"}}}}},"security":[]}},"/api/areas/coverage-gaps":{"get":{"tags":["areas"],"summary":"Compute coverage-gap alerts by pincode","description":"Finds pincodes with live demand we cannot serve and classifies the root cause as no_coverage, device_gap, no_credits, at_capacity or vendor_inactive, with severity and an owner-facing summary line. Cached in Redis for 60s.\n\n**Notes:** force-dynamic. Scans at most 20,000 active leads (isCompleted=1, not Completed/Failed, no failedLead row, test orders excluded) and uses lib/sla/order-sla to decide breaches. Purely computed — nothing is persisted; use POST /api/areas/coverage-gaps/route-to-owner to create a closeable record.\n\n_Source: `app/api/areas/coverage-gaps/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Case-insensitive city filter; omit for all cities.","schema":{"type":"string","example":"Bengaluru"}}],"responses":{"200":{"description":"Gap list plus rollup","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsGetResponse"},"example":{"gaps":[{"pincode":560037,"city":"Bengaluru","state":"Karnataka","isServiceable":false,"gapType":"no_coverage","severity":"critical","openOrders":6,"unassignedOrders":6,"breachedOrders":2,"atRiskOrders":6,"liveVendors":0,"vendorsAbleToAccept":0,"vendorBlockers":{"noCredits":0,"atCapacity":0,"ready":0},"deviceTypes":["mobile"],"summary":"6 open order(s) with no live vendor covering this pincode."}],"summary":{"totalGaps":41,"critical":3,"high":12,"ordersAtRisk":118},"generatedAt":"2026-09-01T09:00:00.000Z"}}}},"500":{"description":"Computation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to compute coverage gaps"}}}}},"security":[]}},"/api/areas/coverage-gaps/queue":{"get":{"tags":["areas"],"summary":"List an owner's coverage-gap queue","description":"Returns the COVERAGE_GAP LeadFlags routed to one owner, oldest first. Open flags by default; pass status=closed for resolved ones.\n\n**Notes:** No handler-level auth check on GET, unlike the PATCH on the same path.\n\n_Source: `app/api/areas/coverage-gaps/queue/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"owner","in":"query","required":true,"description":"Owner name the gap was routed to. Required — 400 if missing.","schema":{"type":"string","example":"Kishan"}},{"name":"status","in":"query","required":false,"description":"'open' (isResolved=false) or 'closed' (isResolved=true).","schema":{"type":"string","example":"open","default":"open"}}],"responses":{"200":{"description":"Queue for the owner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsQueueGetResponse"},"example":{"owner":"Kishan","status":"open","count":2,"flags":[{"id":1841,"leadId":"LD-10233","description":"Coverage gap in 560037 for mobile [no_coverage]","flaggedBy":"7","isResolved":false,"masterLead":{"pincode":560037,"city":"Bengaluru"}}]}}}},"400":{"description":"owner missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"owner is required"}}}}},"security":[]},"patch":{"tags":["areas"],"summary":"Close a routed coverage-gap flag","description":"Marks a COVERAGE_GAP LeadFlag resolved, stamping resolvedAt, the acting admin as resolvedBy and optional resolution notes.\n\n**Notes:** Requires a NextAuth session cookie (next-auth.session-token). Wrapped in withAuditLog (entity ORDER, action RESOLVE).\n\n_Source: `app/api/areas/coverage-gaps/queue/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsQueuePatchRequest"},"example":{"flagId":1841,"resolutionNotes":"Vendor V-2201 onboarded for 560037"}}}},"responses":{"200":{"description":"Resolved (or already resolved)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsQueuePatchResponse"},"example":{"success":true,"flagId":1841,"resolvedAt":"2026-09-01T09:12:44.000Z"}}}},"400":{"description":"flagId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"flagId is required"}}}},"401":{"description":"No NextAuth session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"404":{"description":"Not a coverage-gap flag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Coverage-gap flag not found"}}}}},"security":[{"cookieAuth":[]}]}},"/api/areas/coverage-gaps/route-to-owner":{"post":{"tags":["areas"],"summary":"Route a coverage gap to an owner","description":"Persists a coverage gap as a COVERAGE_GAP LeadFlag anchored to a representative at-risk order in that pincode, routed to the owner mapped from gapType (or an explicit owner).\n\n**Notes:** Default owner mapping: no_coverage/device_gap/at_capacity -> 'Kishan', no_credits/vendor_inactive -> 'Aatif'. Wrapped in withAuditLog (entity ORDER, action FLAG). Deduplicates against any open COVERAGE_GAP flag on the anchor lead.\n\n_Source: `app/api/areas/coverage-gaps/route-to-owner/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsRouteToOwnerPostRequest"},"example":{"pincode":560037,"gapType":"no_coverage","deviceTypes":["mobile"],"note":"3 orders stuck since Friday"}}}},"responses":{"200":{"description":"An open gap flag already exists for this pincode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsRouteToOwnerPost200Response"},"example":{"success":true,"deduped":true,"flagId":1839,"message":"Gap already routed and open"}}}},"201":{"description":"Flag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasCoverageGapsRouteToOwnerPost201Response"},"example":{"success":true,"flagId":1841,"routedTo":"Kishan"}}}},"400":{"description":"Missing pincode/gapType or unknown gapType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"pincode and gapType are required"}}}},"401":{"description":"No NextAuth session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"409":{"description":"No open/at-risk order to anchor the flag to","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"No open/at-risk order in pincode 560037 to anchor the gap"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/areas/id":{"get":{"tags":["areas"],"summary":"Get one pincode by id","description":"Fetches a single Pincodes row. The id is passed as a query string parameter, not as a path segment.\n\n**Notes:** Path is literally /api/areas/id — the identifier is the ?id= query param.\n\n_Source: `app/api/areas/id/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Pincodes row id (cuid). Required — 400 if missing.","schema":{"type":"string","example":"clx8s0a1b0000qw"}}],"responses":{"200":{"description":"Pincode row","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasIdGetResponse"},"example":{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true,"deviceType":["Mobile"]}}}},"400":{"description":"id missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID format"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch pincode"}}}}},"security":[]},"patch":{"tags":["areas"],"summary":"Update a pincode","description":"Updates serviceability, pincode number, city, state or device types for one Pincodes row selected by the ?id= query param.\n\n**Notes:** Wrapped in withAuditLog (entity AREA). Note isServiceable is assigned unconditionally, so leaving it out clears it.\n\n_Source: `app/api/areas/id/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Pincodes row id. Required — 400 if missing.","schema":{"type":"string","example":"clx8s0a1b0000qw"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasIdPatchRequest"},"example":{"isServiceable":true,"city":"Mumbai","state":"Maharashtra","deviceType":["Mobile","Laptop"]}}}},"responses":{"200":{"description":"Updated row","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasIdPatchResponse"},"example":{"id":"clx8s0a1b0000qw","pincode":400001,"city":"Mumbai","state":"Maharashtra","isServiceable":true}}}},"400":{"description":"id missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID format"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode not found"}}}},"409":{"description":"Pincode number already used by another row","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode already exists"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update pincode"}}}}},"security":[]},"delete":{"tags":["areas"],"summary":"Delete a pincode","description":"Permanently deletes the Pincodes row identified by the ?id= query param.\n\n**Notes:** DESTRUCTIVE. Wrapped in withAuditLog (entity AREA). Unlike /api/areas/bulk-delete it does NOT clean up VendorPincodes coverage arrays.\n\n_Source: `app/api/areas/id/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Pincodes row id. Required — 400 if missing.","schema":{"type":"string","example":"clx8s0a1b0000qw"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Pincode deleted successfully"}}}},"400":{"description":"id missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid ID format"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Pincode not found"}}}},"500":{"description":"Delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete pincode"}}}}},"security":[]}},"/api/areas/import":{"post":{"tags":["areas"],"summary":"Import pincodes (create or update)","description":"Creates missing Pincodes rows and updates existing ones (serviceability, device types, city, state) from a strictly-typed row array. Returns per-row validation errors alongside the counts.\n\n**Notes:** Mutating and not transactional: creates run as one createMany(skipDuplicates), then updates run in parallel. Existing rows have their deviceType array REPLACED, not merged. Wrapped in withAuditLog (entity AREA, action IMPORT).\n\n_Source: `app/api/areas/import/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasImportPostRequest"},"example":{"rows":[{"pincode":400001,"city":"Mumbai","state":"Maharashtra","deviceType":["Mobile"],"isServiceable":true}]}}}},"responses":{"200":{"description":"Import finished","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasImportPostResponse"},"example":{"success":true,"created":12,"updated":3,"message":"Imported 12 new pincodes. Updated 3 existing pincodes."}}}},"400":{"description":"No rows, or no row survived validation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasImportPost400Response"},"example":{"message":"No valid rows to import","errors":[{"row":1,"message":"Pincode must be 6 digits"}]}}}},"500":{"description":"Import failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to import pincodes"}}}}},"security":[]}},"/api/areas/import/preview":{"post":{"tags":["areas"],"summary":"Preview a pincode import","description":"Normalises and validates uploaded rows (accepting both camelCase and spreadsheet-style headers), then reports for each valid row whether it would create or update a Pincodes record. Nothing is written.\n\n**Notes:** Read-only companion to POST /api/areas/import. Pincode must be 100000-999999; city and state are required.\n\n_Source: `app/api/areas/import/preview/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasImportPreviewPostRequest"},"example":{"rows":[{"pincode":400001,"city":"Mumbai","state":"Maharashtra","deviceType":"Mobile,Laptop","Serviceable":"Yes"}]}}}},"responses":{"200":{"description":"Preview computed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasImportPreviewPostResponse"},"example":{"success":true,"summary":{"totalRows":1,"validCount":1,"newCount":0,"updateCount":1,"invalidCount":0},"validRows":[{"rowNumber":1,"pincode":400001,"city":"Mumbai","state":"Maharashtra","deviceType":["Mobile"],"isServiceable":true,"actionType":"update","existingData":{"city":"Mumbai","state":"Maharashtra","isServiceable":true,"deviceType":["Mobile"]}}],"invalidRows":[]}}}},"400":{"description":"No rows supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"No rows provided for preview"}}}},"500":{"description":"Preview failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to preview import","error":"..."}}}}},"security":[]}},"/api/areas/reports":{"get":{"tags":["areas"],"summary":"Get city-wise completion & failure report","description":"Builds a city-level report of raw vs operational completion rates, failure-reason breakdowns with owner split, per-city top vendors and vendor concentration, plus underperformer / over-indexed-reason / declining insights against the previous equal-length window.\n\n**Notes:** Read-only. Cities are canonicalised (Bengaluru/Bangalore merged) via lib/city-normalise, so filters match the canonical name. Two completion rates are returned: raw and operational (pre-visit failures excluded). Deltas and outliers are volume-gated at 20 orders.\n\n_Source: `app/api/areas/reports/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"ISO start date. Falls back to `days`, then 30 days ago.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"ISO end date (extended to 23:59:59.999).","schema":{"type":"string","example":"2026-08-31"}},{"name":"days","in":"query","required":false,"description":"Window length in days when `from` is not supplied.","schema":{"type":"integer","example":60,"default":30}},{"name":"city","in":"query","required":false,"description":"City filter applied after canonicalisation ('all' = no filter).","schema":{"type":"string","example":"Bangalore"}},{"name":"vendorId","in":"query","required":false,"description":"Restrict to one vendor ('all' = no filter).","schema":{"type":"string","example":"VEN-1042"}},{"name":"deviceType","in":"query","required":false,"description":"Device key: mobile|tablet|laptop|mac|console|watch|camera|headphone ('all' = no filter).","schema":{"type":"string","example":"mobile"}},{"name":"includeTest","in":"query","required":false,"description":"Set 'true' to include test orders.","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"City report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasReportsGetResponse"},"example":{"summary":{"totalOrders":5120,"completed":3410,"failed":1290,"open":420,"rawCompletionRate":73,"operationalCompletionRate":86,"citiesCount":34,"vendorsCount":91,"operationalDelta":2},"cities":[],"vendors":[],"nationalReasons":[],"insights":{"underperformers":[],"overIndexed":[],"declining":[]},"filters":{"cities":[],"vendors":[]},"deviceTypes":[]}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to build city report","error":"..."}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"AreasImportPreviewPostRequest":{"type":"object","properties":{"rows":{"type":"string","description":"Rows to validate. Each accepts pincode/Pincode, city/City, state/State, deviceType/'Device Types'/deviceTypes, isServiceable/Serviceable."}},"required":["rows"],"description":"Request body for `POST /api/areas/import/preview`."},"AreasBulkDeleteDeleteResponse":{"type":"object","x-inferred-from-example":true},"AreasImportPostRequest":{"type":"object","properties":{"rows":{"type":"string","description":"Rows of { pincode:number, city:string, state:string, deviceType?:string[], isServiceable?:boolean }. pincode MUST already be a number here (unlike the preview route)."}},"required":["rows"],"description":"Request body for `POST /api/areas/import`."},"AreasImportPost400Response":{"type":"object","x-inferred-from-example":true},"AreasImportPostResponse":{"type":"object","x-inferred-from-example":true},"AreasCoverageGapsQueuePatchResponse":{"type":"object","x-inferred-from-example":true},"AreasAllGetResponse":{"type":"array","x-inferred-from-example":true},"AreasGetResponse":{"type":"object","x-inferred-from-example":true},"AreasBulkDeletePostResponse":{"type":"object","x-inferred-from-example":true},"AreasCoverageGapsQueueGetResponse":{"type":"object","x-inferred-from-example":true},"AreasCoverageGapsRouteToOwnerPost201Response":{"type":"object","x-inferred-from-example":true},"MessageErrorEnvelope":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message"],"description":"Error envelope `{ message, error }`."},"AreasPostResponse":{"type":"object","x-inferred-from-example":true},"AreasCoverageGapsQueuePatchRequest":{"type":"object","properties":{"flagId":{"type":"integer","description":"LeadFlag id to close."},"resolutionNotes":{"type":"string","description":"Free-text note stored on the flag."}},"required":["flagId"],"description":"Request body for `PATCH /api/areas/coverage-gaps/queue`."},"AreasIdPatchResponse":{"type":"object","x-inferred-from-example":true},"AreasBulkDeleteDeleteRequest":{"type":"object","properties":{"ids":{"type":"string","description":"Pincodes row ids to delete. Takes precedence over `pincodes`."},"pincodes":{"type":"string","description":"Pincode numbers to delete when `ids` is empty."}},"description":"Request body for `DELETE /api/areas/bulk-delete`."},"AreasBulkDeletePostRequest":{"type":"object","properties":{"pincodes":{"type":"string","description":"6-digit pincodes to preview. Used when `ids` is empty."},"ids":{"type":"string","description":"Pincodes row ids. Takes precedence over `pincodes` when non-empty."}},"description":"Request body for `POST /api/areas/bulk-delete`."},"AreasCoverageGapsRouteToOwnerPostRequest":{"type":"object","properties":{"pincode":{"type":"integer","description":"Pincode with the gap."},"gapType":{"type":"string","description":"One of no_coverage | device_gap | at_capacity | no_credits | vendor_inactive."},"owner":{"type":"string","description":"Override the default owner for this gapType."},"deviceTypes":{"type":"string","description":"Device types with unmet demand, appended to the flag description."},"note":{"type":"string","description":"Free-text note appended to the description."}},"required":["pincode","gapType"],"description":"Request body for `POST /api/areas/coverage-gaps/route-to-owner`."},"AreasReportsGetResponse":{"type":"object","x-inferred-from-example":true},"AreasPostRequest":{"type":"object","properties":{"pincode":{"type":"integer","description":"6-digit pincode."},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"State name."},"isServiceable":{"type":"boolean","description":"Defaults to false."},"deviceType":{"type":"string","description":"Device types serviceable here. Defaults to []."}},"required":["pincode","city","state"],"description":"Request body for `POST /api/areas`."},"AreasCoverageGapsGetResponse":{"type":"object","x-inferred-from-example":true},"AddnewareaPostRequest":{"type":"object","properties":{"pincode":{"type":"string","description":"Pincode to add"},"city":{"type":"string","description":"City name"},"state":{"type":"string","description":"State name"},"devicetype":{"type":"string","description":"Device type the area is enabled for, e.g. Mobile"}},"required":["pincode","city","state","devicetype"],"description":"Request body for `POST /api/addnewarea`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"AreasCitiesPaginatedGetResponse":{"type":"object","x-inferred-from-example":true},"AreasCitiesGetResponse":{"type":"array","x-inferred-from-example":true},"AreasCoverageGapsRouteToOwnerPost200Response":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"AreasImportPreviewPostResponse":{"type":"object","x-inferred-from-example":true},"AreasIdGetResponse":{"type":"object","x-inferred-from-example":true},"AreasIdPatchRequest":{"type":"object","properties":{"isServiceable":{"type":"boolean","description":"Serviceability flag. Always written, so omitting it sets it to undefined/null."},"pincode":{"type":"integer","description":"New 6-digit pincode; must not collide with another row (409)."},"city":{"type":"string","description":"City name."},"state":{"type":"string","description":"State name."},"deviceType":{"type":"string","description":"Device types serviceable in this pincode."}},"description":"Request body for `PATCH /api/areas/id`."}},"responses":{"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"examples":{"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}