{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Geography 2","description":"Tags: areas, cities, city, pincode, zones","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"areas"},{"name":"cities"},{"name":"city"},{"name":"pincode"},{"name":"zones"}],"paths":{"/api/areas/unserviced":{"get":{"tags":["areas"],"summary":"Report demand on unserviced pincodes","description":"Combines internal leads and GA4 pincode_failed events landing on known-but-unserviceable pincodes, grouped by pincode and by city, with a separate aggregate for pincodes absent from the Pincodes table.\n\n**Notes:** Reads Google Analytics 4 via lib/ga4 for pincode_failed events; if GA4 is unconfigured the route still succeeds with stats.ga4Available=false. GA4 carries no device dimension, so setting deviceType drops GA4 rows entirely (flagged as stats.ga4ExcludedByDeviceFilter). Also returns the full unpaginated list in `allPincodes`.\n\n_Source: `app/api/areas/unserviced/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"from","in":"query","required":false,"description":"Start date (alias: startDate). Defaults to 30 days ago.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"End date (alias: endDate), extended to end of day.","schema":{"type":"string","example":"2026-08-31"}},{"name":"days","in":"query","required":false,"description":"Window length when `from` is absent.","schema":{"type":"integer","example":60,"default":30}},{"name":"timeSlot","in":"query","required":false,"description":"Pickup slot filter (alias: pickupTime); 'all' disables it.","schema":{"type":"string","example":"10AM-1PM"}},{"name":"deviceType","in":"query","required":false,"description":"Device filter (alias: device); 'all' disables it. Excludes GA4 data when set.","schema":{"type":"string","example":"mobile"}},{"name":"city","in":"query","required":false,"description":"Substring, case-insensitive city filter.","schema":{"type":"string","example":"Pune"}},{"name":"search","in":"query","required":false,"description":"Matches pincode, city or state.","schema":{"type":"string","example":"5600"}},{"name":"includeTest","in":"query","required":false,"description":"Set 'true' to include test orders and the test pincode.","schema":{"type":"string","example":"true","default":"false"}},{"name":"page","in":"query","required":false,"description":"1-based page for the flat pincode list.","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page for the flat list.","schema":{"type":"integer","example":20,"default":20}},{"name":"device","in":"query","required":false,"description":"Filter by device.","schema":{"type":"string"}},{"name":"endDate","in":"query","required":false,"description":"End of the date window (YYYY-MM-DD).","schema":{"type":"string"}},{"name":"pickupTime","in":"query","required":false,"description":"Filter by pickup time slot.","schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"description":"Start of the date window (YYYY-MM-DD).","schema":{"type":"string"}}],"responses":{"200":{"description":"Unserviced demand report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AreasUnservicedGetResponse"},"example":{"data":[{"pincode":560037,"city":"Bengaluru","state":"Karnataka","totalLeads":14,"failedChecks":62,"totalDemand":76,"deviceTypes":["mobile"]}],"cityGroups":[],"pagination":{"page":1,"limit":20,"total":340,"totalPages":17},"stats":{"totalUnservicedPincodes":340,"totalAffectedCities":61,"totalLostLeads":900,"totalFailedChecks":4100,"totalDemand":5000,"outsideNetwork":{"pincodesCount":210,"totalLeads":180,"failedChecks":720,"totalDemand":900},"ga4Available":true,"ga4Error":null},"cities":[],"deviceTypes":[],"timeSlots":[]}}}},"500":{"description":"Report failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to load unserviced data","error":"..."}}}}},"security":[]}},"/api/cities":{"get":{"tags":["cities"],"summary":"List all serviceable cities","description":"Returns the distinct, alphabetically sorted list of city names present in the pincodes table.\n\n**Notes:** No handler-level auth check. Takes no parameters.\n\n_Source: `app/api/cities/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitiesGetResponse"},"example":{"success":true,"data":["Ahmedabad"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch cities"}}}}},"security":[]}},"/api/city":{"get":{"tags":["city"],"summary":"Look up the city for a pincode","description":"Resolves a pincode to its city name from the pincodes table. Used to auto-fill the city when an address pincode is entered.\n\n**Notes:** No handler-level auth check. An unmatched pincode returns 500 rather than 404 because the handler reads data[0].city without checking for an empty result. Error strings still say 'brands' - the file was copy-pasted from app/api/brands/route.ts.\n\n_Source: `app/api/city/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"pincode","in":"query","required":false,"description":"Pincode to resolve. Not formally required, but omitting it makes the route read the first row of the whole table.","schema":{"type":"integer","example":400001}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityGetResponse"},"example":{"success":true,"city":"Mumbai"}}}},"500":{"description":"Unknown pincode or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to fetch brands","details":"TypeError: Cannot read properties of undefined (reading 'city')"}}}}},"security":[]},"post":{"tags":["city"],"summary":"Create a brand (misplaced handler)","description":"Despite living under /api/city, this handler validates and creates a row in the brands table - identical to POST /api/brands.\n\n**Notes:** No handler-level auth check. Copy-paste leftover from app/api/brands/route.ts - it writes to prisma.brands, NOT to a city table. Prefer POST /api/brands. Audited via withAuditLog as CITY.\n\n_Source: `app/api/city/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityPostRequest"},"example":{"brandName":"Apple","deviceType":"Mobile","brandLink":"/sell-old-apple-mobile","brandImg":"https://cdn.cashkr.com/brands/apple.png","title":"Sell old Apple mobile","description":"Get the best price for your used iPhone."}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityPostResponse"},"example":{"success":true,"data":{"id":12,"brandName":"Apple","deviceType":"Mobile"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorDetailsEnvelope"},"example":{"success":false,"error":"Failed to create brand","details":"..."}}}}},"security":[]}},"/api/pincode":{"get":{"tags":["pincode"],"summary":"Look up a pincode's city and state","description":"Validates a 6-digit pincode and returns its city, state and serviceable device types from the Pincodes table.\n\n_Source: `app/api/pincode/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"pincode","in":"query","required":true,"description":"6-digit Indian pincode; 400 if missing or malformed","schema":{"type":"string","example":"400058"}}],"responses":{"200":{"description":"Pincode found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PincodeGetResponse"},"example":{"success":true,"data":{"city":"Mumbai","state":"Maharashtra","deviceType":["Mobile"]}}}}},"400":{"description":"Invalid format","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":400,"message":"Invalid pincode format. Pincode must be a 6-digit number."}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":404,"message":"Pincode not found in our database."}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error"}}}}}},"security":[]}},"/api/zones":{"get":{"tags":["zones"],"summary":"List zones with pincode and vendor counts","description":"Paginated list of zones, newest first, each with a count of its pincodes and assigned vendors, optionally filtered by a name or city search.\n\n_Source: `app/api/zones/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on zone name or city","schema":{"type":"string","example":"Pune"}},{"name":"page","in":"query","required":false,"description":"Page number, minimum 1","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, minimum 1","schema":{"type":"integer","example":10,"default":10}}],"responses":{"200":{"description":"Zone page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesGetResponse"},"example":{"data":[{"id":"zn_1","name":"Pune West","city":"Pune","state":"Maharashtra","_count":{"pincodes":14,"vendors":6}}],"pagination":{"total":12,"page":1,"limit":10,"totalPages":2}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch zones"}}}}},"security":[]},"post":{"tags":["zones"],"summary":"Create a zone","description":"Creates a zone with a unique name, city and state, optionally connecting an initial set of pincodes by their Pincodes table UUIDs.\n\n**Notes:** Audit-logged (entity ZONE), No handler-level auth check. pincodeIds are Pincodes row UUIDs, not pincode numbers.\n\n_Source: `app/api/zones/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesPostRequest"},"example":{"name":"Pune West","city":"Pune","state":"Maharashtra","description":"Kothrud + Warje","pincodeIds":["pc_1","pc_2"]}}}},"responses":{"200":{"description":"Zone created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesPostResponse"},"example":{"id":"zn_1","name":"Pune West","city":"Pune","state":"Maharashtra","_count":{"pincodes":2}}}}},"400":{"description":"Missing name/city/state, or the zone name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone with this name already exists"}}}},"500":{"description":"Create failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to create zone"}}}}},"security":[]}},"/api/zones/pincodes":{"get":{"tags":["zones"],"summary":"Search pincodes available for zones","description":"Returns up to 100 pincodes with their city, state and currently assigned zone, filtered by a free-text search across city, state and the pincode number, and/or an exact city match.\n\n**Notes:** Response is a bare array, not an object.\n\n_Source: `app/api/zones/pincodes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive match on city or state; if numeric also matches the pincode exactly","schema":{"type":"string","example":"411"}},{"name":"city","in":"query","required":false,"description":"Exact city match","schema":{"type":"string","example":"Pune"}}],"responses":{"200":{"description":"Pincode array (max 100)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesPincodesGetResponse"},"example":[{"id":"pc_1","pincode":411004,"city":"Pune","state":"Maharashtra","zoneId":"zn_1","zone":{"name":"Pune West"}}]}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error fetching pincodes"}}}}},"security":[]},"put":{"tags":["zones"],"summary":"Assign pincodes to a zone","description":"Sets zoneId on every Pincodes row whose pincode number appears in the supplied list, moving those pincodes into the given zone.\n\n**Notes:** Audit-logged (entity PINCODE), No handler-level auth check. Moves pincodes out of whatever zone they were in previously.\n\n_Source: `app/api/zones/pincodes/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesPincodesPutRequest"},"example":{"zoneId":"zn_1","pincodes":[411004,411014]}}}},"responses":{"200":{"description":"Pincodes assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageCountEnvelope"},"example":{"message":"Pincodes assigned successfully","count":2}}}},"400":{"description":"zoneId missing or pincodes not an array","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Invalid request. ZoneId and pincodes array required."}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to assign pincodes"}}}}},"security":[]}},"/api/zones/pincodes/coordinates":{"put":{"tags":["zones"],"summary":"Batch update pincode lat/lng coordinates","description":"Applies a batch of coordinate updates, setting lat and lng on every Pincodes row matching each pincode number. Updates run as parallel updateMany calls, not one transaction.\n\n**Notes:** Audit-logged (entity PINCODE), No handler-level auth check. `count` is the number of update operations issued, not rows changed. Not transactional — a mid-batch failure leaves partial updates applied.\n\n_Source: `app/api/zones/pincodes/coordinates/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesPincodesCoordinatesPutRequest"},"example":{"updates":[{"pincode":411004,"lat":18.5074,"lng":73.8077},{"pincode":411014,"lat":18.5622,"lng":73.9145}]}}}},"responses":{"200":{"description":"Coordinates updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageCountEnvelope"},"example":{"message":"Coordinates updated","count":2}}}},"400":{"description":"updates missing or empty","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Invalid updates"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error updating coordinates"}}}}},"security":[]}},"/api/zones/{id}":{"get":{"tags":["zones"],"summary":"Get one zone with its pincodes","description":"Returns the zone including its full pincode list and a count of the vendors assigned to it.\n\n_Source: `app/api/zones/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Zone id","schema":{"type":"string"},"example":"zn_1"}],"responses":{"200":{"description":"Zone detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesByIdGetResponse"},"example":{"id":"zn_1","name":"Pune West","city":"Pune","state":"Maharashtra","pincodes":[{"id":"pc_1","pincode":411004,"city":"Pune"}],"_count":{"vendors":6}}}}},"404":{"description":"Zone not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error fetching zone"}}}}},"security":[]},"put":{"tags":["zones"],"summary":"Update a zone","description":"Updates the zone's name, city, state or description. When pincodeIds is supplied the zone's pincode set is REPLACED with exactly that list (Prisma `set`), not merged.\n\n**Notes:** Audit-logged (entity ZONE), No handler-level auth check. Replacing pincodeIds changes coverage for every vendor holding this zone.\n\n_Source: `app/api/zones/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Zone id","schema":{"type":"string"},"example":"zn_1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesByIdPutRequest"},"example":{"name":"Pune West","city":"Pune","state":"Maharashtra","description":"Kothrud + Warje","pincodeIds":["pc_1","pc_2"]}}}},"responses":{"200":{"description":"Updated zone with its pincodes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZonesByIdPutResponse"},"example":{"id":"zn_1","name":"Pune West","pincodes":[{"id":"pc_1","pincode":411004}]}}}},"500":{"description":"Update failed (also returned when the zone does not exist)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error updating zone"}}}}},"security":[]},"delete":{"tags":["zones"],"summary":"Delete a zone","description":"Permanently deletes the zone record.\n\n**Notes:** Destructive, audit-logged (entity ZONE) but unauthenticated. Does not clean up VendorPincodes — use DELETE /api/vendors/{vendorId}/zones for that.\n\n_Source: `app/api/zones/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Zone id","schema":{"type":"string"},"example":"zn_1"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone deleted"}}}},"500":{"description":"Delete failed (also returned when the zone does not exist)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error deleting zone"}}}}},"security":[]}}},"components":{"schemas":{"SuccessErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error","success"],"description":"Error envelope `{ success: false, error, details }` where `details` is a string."},"ZonesPincodesPutRequest":{"type":"object","properties":{"zoneId":{"type":"string","description":"Zone to assign the pincodes to"},"pincodes":{"type":"array","items":{},"description":"Array of pincode numbers (strings or numbers; parsed with parseInt)"}},"required":["zoneId","pincodes"],"description":"Request body for `PUT /api/zones/pincodes`."},"ZonesPincodesCoordinatesPutRequest":{"type":"object","properties":{"updates":{"type":"array","items":{},"description":"Non-empty array of { pincode: number, lat: number, lng: number }"}},"required":["updates"],"description":"Request body for `PUT /api/zones/pincodes/coordinates`."},"CitiesGetResponse":{"type":"object","x-inferred-from-example":true},"CityPostResponse":{"type":"object","x-inferred-from-example":true},"ZonesPostResponse":{"type":"object","x-inferred-from-example":true},"ZonesGetResponse":{"type":"object","x-inferred-from-example":true},"CodedErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}},"required":["error","success"],"description":"Structured error envelope `{ success: false, error: { code, message } }`."},"ZonesByIdPutResponse":{"type":"object","x-inferred-from-example":true},"MessageErrorEnvelope":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message"],"description":"Error envelope `{ message, error }`."},"MessageCountEnvelope":{"type":"object","properties":{"message":{"type":"string"},"count":{"type":"integer"}},"required":["count","message"],"description":"Acknowledgement `{ message, count }` for bulk operations."},"AreasUnservicedGetResponse":{"type":"object","x-inferred-from-example":true},"ZonesByIdPutRequest":{"type":"object","properties":{"name":{"type":"string","description":"Zone name; only applied when truthy"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"description":{"type":"string","description":"Free text; applied even when empty string"},"pincodeIds":{"type":"array","items":{},"description":"Array of Pincodes table UUIDs; REPLACES the zone's whole pincode set"}},"description":"Request body for `PUT /api/zones/{id}`."},"ZonesPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Zone name; must be unique"},"city":{"type":"string","description":"City"},"state":{"type":"string","description":"State"},"description":{"type":"string","description":"Free text"},"pincodeIds":{"type":"array","items":{},"description":"Array of Pincodes table UUID strings to connect on creation"}},"required":["name","city","state"],"description":"Request body for `POST /api/zones`."},"ZonesPincodesGetResponse":{"type":"array","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"PincodeGetResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"CityPostRequest":{"type":"object","properties":{"brandName":{"type":"string","description":"Brand name"},"deviceType":{"type":"string","description":"Prisma DeviceType"},"brandLink":{"type":"string","description":"Public landing page path"},"brandImg":{"type":"string","description":"Brand logo URL"},"title":{"type":"string","description":"SEO/page title"},"description":{"type":"string","description":"SEO/page description"}},"required":["brandName","deviceType","brandLink","brandImg","title","description"],"description":"Request body for `POST /api/city`."},"ZonesByIdGetResponse":{"type":"object","x-inferred-from-example":true},"CityGetResponse":{"type":"object","x-inferred-from-example":true}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}