{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Infrastructure 1","description":"Tags: acefone, cost-monitor","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"acefone"},{"name":"cost-monitor"}],"paths":{"/api/acefone/call":{"post":{"tags":["acefone"],"summary":"Start click-to-call to a customer","description":"Looks up the logged-in admin's Acefone agent by login_id, then triggers a click-to-call from their softphone extension to the customer number, retrying on the mobile agent id if the softphone is offline.\n\n**Notes:** Side effect: places a real phone call. Upstream: https://api.acefone.in/v1/users for agent lookup and ACEFONE_CLICK_TO_CALL_URL (default https://api.acefone.in/v1/click_to_call). Writes an acefone_fallback.log file on the server when the softphone is offline.\n\n_Source: `app/api/acefone/call/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcefoneCallPostRequest"},"example":{"customerNumber":"9876543210"}}}},"responses":{"200":{"description":"Call initiated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Call initiated"}}}},"400":{"description":"Missing customer number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Customer number is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Acefone key missing or upstream failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to initiate call"}}}}},"security":[{"cookieAuth":[]}]}},"/api/acefone/call-details":{"get":{"tags":["acefone"],"summary":"Fetch Acefone call records","description":"Proxies to the Acefone CDR API to look up call records by call id, caller phone or destination phone. Falls back from call_id search to phone search when the id returns nothing.\n\n**Notes:** Upstream: ACEFONE_API_URL (default https://api.acefone.in/v1/call/records) with ACEFONE_API_KEY as a bearer token. Read-only.\n\n_Source: `app/api/acefone/call-details/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"callId","in":"query","required":false,"description":"Acefone call id. One of callId, callerPhone or targetPhone is required.","schema":{"type":"string","example":"1712345678.98765"}},{"name":"fromDate","in":"query","required":false,"description":"Start date passed through as from_date","schema":{"type":"string","example":"2026-08-01"}},{"name":"toDate","in":"query","required":false,"description":"End date passed through as to_date","schema":{"type":"string","example":"2026-08-31"}},{"name":"callerPhone","in":"query","required":false,"description":"Inbound caller number; normalised to 91XXXXXXXXXX","schema":{"type":"string","example":"9876543210"}},{"name":"targetPhone","in":"query","required":false,"description":"Outbound destination number; normalised to 91XXXXXXXXXX","schema":{"type":"string","example":"9876543210"}},{"name":"page","in":"query","required":false,"description":"Page number forwarded to Acefone","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Page size forwarded to Acefone","schema":{"type":"integer","example":20,"default":20}}],"responses":{"200":{"description":"Call records from Acefone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcefoneCallDetailsGetResponse"},"example":{"success":true,"data":{"results":[],"count":0}}}}},"400":{"description":"No identifier supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Call ID or phone number is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Acefone key missing or upstream error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Acefone API key is not configured"}}}}},"security":[{"cookieAuth":[]}]}},"/api/acefone/did-performance":{"get":{"tags":["acefone"],"summary":"Compare answer rates before/after dedicated DIDs","description":"Builds a per-vendor before/after answer-rate report from vendor_call_daily_stats, with vendors still on the shared DID acting as a control group. Returns treatment, control and pooled figures in percentage points.\n\n**Notes:** Reads pre-ingested stats only, never calls Acefone live. force-dynamic. Shared DID number comes from DID_NUMBER (default 918065927449). Control vendors need >= 30 inbound calls on both sides.\n\n_Source: `app/api/acefone/did-performance/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"beforeFrom","in":"query","required":false,"description":"Start of the before window (YYYY-MM-DD); ignored if malformed","schema":{"type":"string","example":"2026-07-13","default":"2026-07-13"}},{"name":"beforeTo","in":"query","required":false,"description":"End of the before window","schema":{"type":"string","example":"2026-08-03","default":"2026-08-03"}},{"name":"afterFrom","in":"query","required":false,"description":"Start of the after window","schema":{"type":"string","example":"2026-08-05","default":"2026-08-05"}},{"name":"afterTo","in":"query","required":false,"description":"End of the after window","schema":{"type":"string","example":"2026-08-26","default":"2026-08-26"}}],"responses":{"200":{"description":"DID performance report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcefoneDidPerformanceGetResponse"},"example":{"success":true,"data":{"range":{"beforeFrom":"2026-07-13","beforeTo":"2026-08-03","afterFrom":"2026-08-05","afterTo":"2026-08-26"},"treatment":[],"control":[],"minControlCalls":30}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Report build failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to load DID performance"}}}}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/accounts/{id}":{"patch":{"tags":["cost-monitor"],"summary":"Update a cost provider account","description":"Partial update of an account's label, external account id or notes. Empty strings for externalAccountId/notes are stored as null.\n\n**Notes:** Admin session required. At least one of the three fields must be present or the route 400s.\n\n_Source: `app/api/cost-monitor/accounts/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id","schema":{"type":"string"},"example":"3"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdPatchRequest"},"example":{"label":"Linode - Production","externalAccountId":"acct_884412","notes":"Main app servers"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdPatchResponse"},"example":{"ok":true,"account":{"id":3,"label":"Linode - Production","externalAccountId":"acct_884412","lastSyncedAt":null,"syncStatus":null,"syncError":null,"notes":"Main app servers","createdAt":"2026-06-01T00:00:00.000Z"}}}}},"400":{"description":"Invalid id, empty label, or no updatable fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Nothing to update"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"409":{"description":"Duplicate label for the provider","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"An account with that label already exists for this provider."}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["cost-monitor"],"summary":"Delete a cost provider account","description":"Hard-deletes the provider account. There is no deletedAt column, so this is a real delete.\n\n**Notes:** Admin session required. DESTRUCTIVE: the delete cascades and drops the account's subscriptions and all of its cost entries. The UI confirms before calling.\n\n_Source: `app/api/cost-monitor/accounts/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id","schema":{"type":"string"},"example":"3"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Invalid account id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid account id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/accounts/{id}/entries":{"get":{"tags":["cost-monitor"],"summary":"List cost entries for a provider account","description":"Returns up to 500 CostEntry rows for one provider account, newest entry date first, optionally narrowed by a date range and entry type. Each row carries the native amount plus the INR and USD amounts frozen at insert time.\n\n**Notes:** Admin session enforced by requireAdminSession() (NextAuth cookie). Hard cap of 500 rows - there is no paging.\n\n_Source: `app/api/cost-monitor/accounts/[id]/entries/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id. Must be numeric or the route 400s.","schema":{"type":"string"},"example":"3"},{"name":"from","in":"query","required":false,"description":"Inclusive lower bound on entryDate. Unparseable values are ignored.","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Inclusive upper bound on entryDate. Unparseable values are ignored.","schema":{"type":"string","example":"2026-08-31"}},{"name":"type","in":"query","required":false,"description":"subscription | usage | one_time | credit | refund. Any other value is silently ignored.","schema":{"type":"string","example":"subscription"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdEntriesGetResponse"},"example":{"entries":[{"id":91,"accountId":3,"entryDate":"2026-08-15T00:00:00.000Z","amount":40,"currency":"USD","amountInINR":3480,"amountInUSD":40,"type":"subscription","description":"Subscription: Linode Nanode (monthly)","source":"manual","externalRef":"subscription:12","createdAt":"2026-08-15T06:02:11.000Z","createdById":4}]}}}},"400":{"description":"Invalid account id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid account id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["cost-monitor"],"summary":"Add a manual cost entry to an account","description":"Records a spend line against a provider account. The native amount is stored as the audit source of truth and is also converted to INR and USD at the current exchange rate at insert time.\n\n**Notes:** Admin session required. Entries are stamped source='manual' and createdById from the session. Currency conversion uses the cached exchange rate (see /api/cost-monitor/exchange-rate/refresh); the converted columns are frozen and are NOT re-computed if the rate later changes.\n\n_Source: `app/api/cost-monitor/accounts/[id]/entries/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id","schema":{"type":"string"},"example":"3"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdEntriesPostRequest"},"example":{"entryDate":"2026-08-15","amount":40,"currency":"USD","type":"subscription","description":"Linode Nanode August","externalRef":"INV-88213"}}}},"responses":{"200":{"description":"Entry created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdEntriesPostResponse"},"example":{"ok":true,"entry":{"id":91,"accountId":3,"amount":40,"currency":"USD","amountInINR":3480,"amountInUSD":40,"type":"subscription","source":"manual"}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"currency must be USD or INR"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/accounts/{id}/subscriptions":{"get":{"tags":["cost-monitor"],"summary":"List subscriptions on a provider account","description":"Returns every CostSubscription for the account, ordered by endDate (nulls first, i.e. still-active subscriptions) then by next renewal date.\n\n**Notes:** Admin session required.\n\n_Source: `app/api/cost-monitor/accounts/[id]/subscriptions/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id","schema":{"type":"string"},"example":"3"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdSubscriptionsGetResponse"},"example":{"subscriptions":[{"id":12,"accountId":3,"name":"Linode Nanode","amount":40,"currency":"USD","billingCycle":"monthly","nextRenewalDate":"2026-10-01T00:00:00.000Z","startDate":"2026-06-01T00:00:00.000Z","endDate":null,"autoRenew":true,"seats":null,"notes":null}]}}}},"400":{"description":"Invalid account id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid account id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["cost-monitor"],"summary":"Create a subscription on an account","description":"Adds a recurring cost subscription (autoRenew is always set true) and immediately writes one CostEntry for the current billing period so the dashboard reflects the spend right away.\n\n**Notes:** Admin session required. SIDE EFFECT: also creates a CostEntry (type 'subscription', source 'manual', externalRef 'subscription:<id>') dated today, or dated startDate when startDate is in the future. A scheduled job rolls further entries forward as renewals pass. autoRenew cannot be set to false through this endpoint.\n\n_Source: `app/api/cost-monitor/accounts/[id]/subscriptions/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostProviderAccount id","schema":{"type":"string"},"example":"3"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdSubscriptionsPostRequest"},"example":{"name":"Linode Nanode","amount":40,"currency":"USD","billingCycle":"monthly","startDate":"2026-06-01","nextRenewalDate":"2026-10-01","seats":null,"notes":"Main app server"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorAccountsByIdSubscriptionsPostResponse"},"example":{"ok":true,"subscription":{"id":12,"accountId":3,"name":"Linode Nanode","amount":40,"currency":"USD","billingCycle":"monthly","autoRenew":true}}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"billingCycle must be monthly | quarterly | yearly | one_time"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/alerts/test":{"post":{"tags":["cost-monitor"],"summary":"Send a test cost alert to Slack","description":"Fires a test cost-alert message through the configured Slack webhook so an admin can verify the alerting path end to end. Takes no parameters.\n\n**Notes:** Admin session required. SIDE EFFECT: posts a real message into the Slack channel behind SLACK_WEBHOOK_COST_ALERTS. Accepts no request body.\n\n_Source: `app/api/cost-monitor/alerts/test/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Test alert sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Slack webhook not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"SLACK_WEBHOOK_COST_ALERTS is not set on the server. Add it to .env and restart."}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"},"502":{"description":"Slack rejected the message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Slack rejected the test message — check webhook URL."}}}}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/budgets":{"get":{"tags":["cost-monitor"],"summary":"List cost budgets","description":"Returns every CostBudget row ordered by scope then scopeRef. Takes no parameters.\n\n**Notes:** Admin session required.\n\n_Source: `app/api/cost-monitor/budgets/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorBudgetsGetResponse"},"example":{"budgets":[{"id":5,"scope":"provider","scopeRef":"linode","monthlyBudget":60000,"currency":"INR","alertThreshold":0.8,"lastAlertedAt":null,"createdAt":"2026-06-01T00:00:00.000Z","updatedAt":"2026-08-01T00:00:00.000Z"}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["cost-monitor"],"summary":"Create a cost budget","description":"Creates a monthly spend cap for a scope. For 'category' and 'provider' scopes the scopeRef is validated against existing CostProvider rows before the budget is written.\n\n**Notes:** Admin session required. (scope, scopeRef) is uniquely constrained - a duplicate returns 409 rather than colliding silently.\n\n_Source: `app/api/cost-monitor/budgets/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorBudgetsPostRequest"},"example":{"scope":"provider","scopeRef":"linode","monthlyBudget":60000,"currency":"INR","alertThreshold":0.8}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorBudgetsPostResponse"},"example":{"ok":true,"budget":{"id":5,"scope":"provider","scopeRef":"linode","monthlyBudget":60000,"currency":"INR","alertThreshold":0.8}}}}},"400":{"description":"Validation error or unknown scopeRef","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"No provider with slug \"linode\""}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"409":{"description":"Budget already exists for that scope/scopeRef","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"A budget already exists for that scope/scopeRef. PATCH the existing row instead."}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/budgets/{id}":{"patch":{"tags":["cost-monitor"],"summary":"Update a cost budget","description":"Partial update of a budget's monthly amount, currency or alert threshold.\n\n**Notes:** Admin session required. scope and scopeRef cannot be changed here - delete and recreate instead.\n\n_Source: `app/api/cost-monitor/budgets/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostBudget id. Must be numeric.","schema":{"type":"string"},"example":"5"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorBudgetsByIdPatchRequest"},"example":{"monthlyBudget":75000,"currency":"INR","alertThreshold":0.9}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorBudgetsByIdPatchResponse"},"example":{"ok":true,"budget":{"id":5,"scope":"provider","scopeRef":"linode","monthlyBudget":75000,"currency":"INR","alertThreshold":0.9,"lastAlertedAt":null}}}}},"400":{"description":"Validation error or nothing to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"alertThreshold must be in (0, 1]"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Budget not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Budget not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["cost-monitor"],"summary":"Delete a cost budget","description":"Hard-deletes the budget row, which also stops any threshold alerting tied to that scope.\n\n**Notes:** Admin session required.\n\n_Source: `app/api/cost-monitor/budgets/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostBudget id","schema":{"type":"string"},"example":"5"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Invalid budget id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid budget id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Budget not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Budget not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/entries/{id}":{"patch":{"tags":["cost-monitor"],"summary":"Update a cost entry","description":"Partial update of a single cost entry. If amount or currency changes, the INR and USD columns are recomputed at the current exchange rate.\n\n**Notes:** Admin session required. accountId cannot be changed here. Editing amount/currency re-converts at TODAY's rate, which can diverge from the rate originally recorded for that entry date.\n\n_Source: `app/api/cost-monitor/entries/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostEntry id. Must be numeric.","schema":{"type":"string"},"example":"91"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorEntriesByIdPatchRequest"},"example":{"amount":45,"currency":"USD","description":"Linode Nanode August (corrected)"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorEntriesByIdPatchResponse"},"example":{"ok":true,"entry":{"id":91,"accountId":3,"amount":45,"currency":"USD","amountInINR":3915,"amountInUSD":45,"type":"subscription"}}}}},"400":{"description":"Validation error or nothing to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"amount must be a non-zero number"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Entry not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Entry not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["cost-monitor"],"summary":"Delete a cost entry","description":"Hard-deletes a single cost entry, removing it from all spend aggregations.\n\n**Notes:** Admin session required.\n\n_Source: `app/api/cost-monitor/entries/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostEntry id","schema":{"type":"string"},"example":"91"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Invalid entry id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid entry id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Entry not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Entry not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/exchange-rate/refresh":{"post":{"tags":["cost-monitor"],"summary":"Refresh the USD/INR exchange rate","description":"Admin-triggered FX refresh: pulls the latest USD to INR rate, stores it, and returns both the refresh result and the newest stored rate row. Takes no parameters.\n\n**Notes:** Admin session required. Calls an external FX provider and writes a CostExchangeRate row. maxDuration is 30s. The cron equivalent is POST /api/cron/cost-monitor/exchange-rate, which uses bearer auth instead but calls the same helper. Note ok:true is returned even when the refresh itself failed - check the `ok` and `error` fields in the body.\n\n_Source: `app/api/cost-monitor/exchange-rate/refresh/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Refresh result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorExchangeRateRefreshPostResponse"},"example":{"ok":true,"rate":87.12,"source":"exchangerate.host","asOfDate":"2026-09-01","error":null,"latest":{"asOfDate":"2026-09-01","source":"exchangerate.host"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"CostMonitorExchangeRateRefreshPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorEntriesByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorAccountsByIdPatchRequest":{"type":"object","properties":{"label":{"type":"string","description":"Account label. Must be non-empty when supplied; unique per provider."},"externalAccountId":{"type":"string","description":"Provider-side account id. Send an empty string or null to clear."},"notes":{"type":"string","description":"Free-form notes. Send an empty string or null to clear."}},"description":"Request body for `PATCH /api/cost-monitor/accounts/{id}`."},"AcefoneCallPostRequest":{"type":"object","properties":{"customerNumber":{"type":"string","description":"Customer phone; 10-digit numbers are prefixed with 91"}},"required":["customerNumber"],"description":"Request body for `POST /api/acefone/call`."},"CostMonitorAccountsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorEntriesByIdPatchRequest":{"type":"object","properties":{"entryDate":{"type":"string","description":"ISO date the cost was incurred"},"amount":{"type":"number","description":"Non-zero amount; changing it re-runs the FX conversion"},"currency":{"type":"string","description":"USD or INR; changing it re-runs the FX conversion"},"type":{"type":"string","description":"subscription | usage | one_time | credit | refund"},"description":{"type":"string","description":"Must be non-empty when supplied"},"externalRef":{"type":"string","description":"Provider invoice reference; empty string clears it to null"}},"description":"Request body for `PATCH /api/cost-monitor/entries/{id}`."},"CostMonitorAccountsByIdSubscriptionsGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorBudgetsGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorBudgetsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorBudgetsPostRequest":{"type":"object","properties":{"scope":{"type":"string","description":"global | category | provider"},"scopeRef":{"type":"string","description":"Required (and must exist) for category and provider scopes: a CostProvider category name, or a provider slug. Forced to null for the global scope."},"monthlyBudget":{"type":"number","description":"Monthly cap; must be greater than 0"},"currency":{"type":"string","description":"USD or INR. Defaults to INR."},"alertThreshold":{"type":"number","description":"Fraction of the budget at which to alert, in (0, 1]. Defaults to 0.8."}},"required":["scope","monthlyBudget"],"description":"Request body for `POST /api/cost-monitor/budgets`."},"CostMonitorAccountsByIdEntriesGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorAccountsByIdEntriesPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorAccountsByIdSubscriptionsPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorBudgetsPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorAccountsByIdSubscriptionsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Subscription name; must be non-empty"},"amount":{"type":"number","description":"Recurring amount; must be greater than 0"},"currency":{"type":"string","description":"USD or INR"},"billingCycle":{"type":"string","description":"monthly | quarterly | yearly | one_time"},"startDate":{"type":"string","description":"ISO date the subscription starts"},"nextRenewalDate":{"type":"string","description":"ISO date of the next renewal"},"seats":{"type":"integer","description":"Seat count; must be a positive integer when supplied"},"notes":{"type":"string","description":"Free-form notes"}},"required":["name","amount","currency","billingCycle","startDate","nextRenewalDate"],"description":"Request body for `POST /api/cost-monitor/accounts/{id}/subscriptions`."},"AcefoneDidPerformanceGetResponse":{"type":"object","x-inferred-from-example":true},"OkFlag":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"],"description":"Bare `{ ok: true }` acknowledgement."},"CostMonitorAccountsByIdEntriesPostRequest":{"type":"object","properties":{"entryDate":{"type":"string","description":"ISO date the cost was incurred"},"amount":{"type":"number","description":"Non-zero amount in the given currency. Negative values are allowed (credits/refunds)."},"currency":{"type":"string","description":"USD or INR (upper-cased before validation)"},"type":{"type":"string","description":"subscription | usage | one_time | credit | refund (lower-cased before validation)"},"description":{"type":"string","description":"Human-readable description; must be non-empty"},"externalRef":{"type":"string","description":"Invoice or reference id from the provider"},"metadata":{"type":"object","description":"Accepted by the body interface but not persisted by this handler"}},"required":["entryDate","amount","currency","type","description"],"description":"Request body for `POST /api/cost-monitor/accounts/{id}/entries`."},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"CostMonitorBudgetsByIdPatchRequest":{"type":"object","properties":{"monthlyBudget":{"type":"number","description":"Monthly cap; must be greater than 0"},"currency":{"type":"string","description":"USD or INR"},"alertThreshold":{"type":"number","description":"Fraction of the budget at which to alert; must be in (0, 1], e.g. 0.8 for 80%"}},"description":"Request body for `PATCH /api/cost-monitor/budgets/{id}`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"AcefoneCallDetailsGetResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"InternalServerErrorOkFlag":{"summary":"500 InternalServerErrorOkFlag","value":{"ok":false,"error":"Internal error"}},"UnauthorizedOkFlag":{"summary":"401 UnauthorizedOkFlag","value":{"ok":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerErrorOkFlag":{"description":"Internal server error - unhandled failure. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerErrorOkFlag"}}}}},"UnauthorizedOkFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedOkFlag"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}