{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Infrastructure 4","description":"Tags: linode, services, sidekick, upload-image, uploads","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"linode"},{"name":"services"},{"name":"sidekick"},{"name":"upload-image"},{"name":"uploads"}],"paths":{"/api/linode/settings":{"put":{"tags":["linode"],"summary":"Update Linode budgets, thresholds and Slack webhook","description":"Partially updates the Linode cost settings: budgets (non-numeric or negative values are dropped), alert thresholds (clamped to their valid ranges) and the Slack webhook override. Responds with the same payload as GET.\n\n**Notes:** Persistent configuration change: sets the alerting webhook and budget/threshold values used by the Linode alerting job. An unparseable body is treated as {} (no-op) rather than a 400.\n\n_Source: `app/api/linode/settings/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeSettingsPutRequest"},"example":{"budgets":{"total":500},"thresholds":{"transferPoolPct":85,"minSavingsAlert":15,"cpuP95Alert":90},"slackWebhookUrl":"https://hooks.slack.com/services/T000/B000/XXXXXXXX"}}}},"responses":{"200":{"description":"Updated - returns the full GET payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeSettingsPutResponse"},"example":{"budgets":{"total":500},"thresholds":{"transferPoolPct":85,"minSavingsAlert":15,"cpuP95Alert":90},"slack":{"configured":true,"source":"override","last4":"…XXXX"},"accounts":[],"defaults":{"thresholds":{"transferPoolPct":80,"minSavingsAlert":10,"cpuP95Alert":85}}}}}},"400":{"description":"Slack webhook URL has the wrong host","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"slackWebhookUrl must start with https://hooks.slack.com/"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/sync":{"post":{"tags":["linode"],"summary":"Trigger a manual Linode live sync","description":"Runs runLiveSync, which pulls current account, resource and usage data from the Linode API into the local tables, and returns the sync result plus the elapsed duration.\n\n**Notes:** Uses getServerSession(authOptions) directly (any authenticated user, not requireAdminSession). Long-running: maxDuration 300s; performs many outbound Linode API calls and bulk DB writes. Request body is ignored.\n\n_Source: `app/api/linode/sync/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeSyncPostResponse"},"example":{"ok":true,"accounts":1,"resources":17,"durationMs":8421}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"description":"Sync failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"Linode API timeout","durationMs":300000}}}}},"security":[{"cookieAuth":[]}]}},"/api/linode/transfer-pool":{"get":{"tags":["linode"],"summary":"Get Linode transfer pool usage and overage forecast","description":"Returns the account transfer pool used/quota GB from the latest snapshot, the used percentage, a projected end-of-month GB figure based on cycle progress, an estimated overage cost in USD, and per-instance transfer usage sorted highest first.\n\n**Notes:** Read-only.\n\n_Source: `app/api/linode/transfer-pool/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Transfer pool status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeTransferPoolGetResponse"},"example":{"usedGB":1240.5,"quotaGB":4000,"percentage":31.01,"projectedEOMGB":2658.2,"projectedOverageUSD":0,"byInstance":[{"resourceId":7,"label":"ck-api-prod","transferUsedGB":310.2}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/services/analyze-sentiment":{"post":{"tags":["services"],"summary":"Analyze review sentiment","description":"Runs the AI sentiment analyzer over a review text and rating and returns its verdict. Intended for the customer app.\n\n**Notes:** not gated by the handler itself: the code comments say the 401 was disabled to simplify testing, so a bad or absent Authorization header only produces a server-side warning.\n\n_Source: `app/api/services/analyze-sentiment/route.ts`_\n\n_Auth: `other: checks Authorization against Bearer CRON_SECRET but does not enforce it — a mismatch only logs a warning and the request proceeds`_\n\n_Audit 2026-09 (stage): security corrected: guarded by `bearerMatches(request.headers.get('authorization'), process.env.CRON_SECRET)`. It was previously documented as unauthenticated._","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicesAnalyzeSentimentPostRequest"},"example":{"text":"Vendor was polite but arrived an hour late.","rating":3}}}},"responses":{"200":{"description":"Sentiment result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServicesAnalyzeSentimentPostResponse"},"example":{"sentiment":"MIXED","score":0.4,"tags":["late_pickup"]}}}},"400":{"description":"Missing rating","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Rating is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Analysis failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Analysis failed"}}}}},"security":[{"cronSecretBearer":[]}]}},"/api/sidekick/chat":{"post":{"tags":["sidekick"],"summary":"Send a message to the Sidekick AI assistant","description":"Runs the OpenAI tool-calling loop for the CashKr Sidekick admin analyst, persisting the user turn and assistant reply to the shared SidekickConversation/SidekickMessage tables. Creates a new conversation when conversationId is omitted.\n\n**Notes:** Calls the OpenAI Chat Completions API upstream (https://api.openai.com/v1/chat/completions, model from OPENAI_MODEL, default gpt-4o-mini) and costs tokens per call. Per-admin rate limit via lib/sidekick/rate-limit, returns 429 with a Retry-After header. maxDuration 60s, force-dynamic. Up to 5 tool-calling iterations; history capped at 30 turns. Conversations are SHARED across all admins. The assistant is read-only (no write tools).\n\n_Source: `app/api/sidekick/chat/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SidekickChatPostRequest"},"example":{"messages":[{"role":"user","content":"How many leads did we close this week?"}],"conversationId":"clx8s2h9k0001abcd1234"}}}},"responses":{"200":{"description":"Assistant reply","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SidekickChatPostResponse"},"example":{"conversationId":"clx8s2h9k0001abcd1234","isNewConversation":false,"reply":"**42 leads** closed this week.","toolCalls":[{"name":"count_leads","arguments":{"from":"2026-08-25","to":"2026-09-01"},"ok":true,"durationMs":180}],"tokensUsed":2143,"remainingThisMinute":4,"truncated":false}}}},"400":{"description":"Last message is not a non-empty user turn","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Last message must be a non-empty user turn."}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Conversation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Conversation not found"}}}},"429":{"description":"Per-admin rate limit reached (Retry-After header set)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Rate limit reached. Try again in 37s."}}}},"500":{"description":"OpenAI or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"OPENAI_API_KEY missing"}}}}},"security":[{"cookieAuth":[]}]}},"/api/sidekick/conversations":{"get":{"tags":["sidekick"],"summary":"List recent Sidekick conversations","description":"Lists conversations across all admins ordered by most recent message, with creator name and message count.\n\n**Notes:** Shared across all admins - not scoped to the caller.\n\n_Source: `app/api/sidekick/conversations/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"limit","in":"query","required":false,"description":"Max conversations to return; clamped to 1-200","schema":{"type":"integer","example":50,"default":50}}],"responses":{"200":{"description":"Conversation list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SidekickConversationsGetResponse"},"example":{"conversations":[{"id":"clx8s2h9k0001abcd1234","title":"Leads closed this week","lastMessageAt":"2026-09-01T07:55:00.000Z","messageCount":4,"createdByName":"Priya"}]}}}},"401":{"$ref":"#/components/responses/Unauthorized"}},"security":[{"cookieAuth":[]}]}},"/api/sidekick/conversations/{id}":{"get":{"tags":["sidekick"],"summary":"Get a Sidekick conversation with messages","description":"Returns a single conversation's metadata plus all its messages in chronological order, including tool-call traces and sender names.\n\n**Notes:** Conversations are shared - any logged-in admin can read any conversation.\n\n_Source: `app/api/sidekick/conversations/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Sidekick conversation id (cuid)","schema":{"type":"string"},"example":"clx8s2h9k0001abcd1234"}],"responses":{"200":{"description":"Conversation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SidekickConversationsByIdGetResponse"},"example":{"conversation":{"id":"clx8s2h9k0001abcd1234","title":"Leads closed this week","messageCount":4,"createdByName":"Priya","messages":[{"id":1,"role":"user","content":"How many leads did we close this week?","senderName":"Priya"}]}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Not found"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["sidekick"],"summary":"Delete a Sidekick conversation","description":"Permanently deletes the conversation and cascade-deletes all of its messages.\n\n**Notes:** Anyone-can-delete policy: any authenticated admin may delete any conversation, including ones they did not create. Cascades to messages.\n\n_Source: `app/api/sidekick/conversations/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Sidekick conversation id (cuid)","schema":{"type":"string"},"example":"clx8s2h9k0001abcd1234"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Delete failed / not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Record to delete does not exist."}}}}},"security":[{"cookieAuth":[]}]}},"/api/upload-image":{"post":{"tags":["upload-image"],"summary":"Upload an image to S3","description":"Accepts a multipart image upload, validates that it is an image under 5MB, and stores it in the S3 bucket under the given path and file name. Returns the public URL.\n\n**Notes:** No handler-level auth check - anyone can write objects into the S3 bucket. Send as multipart/form-data (do not set Content-Type manually). Uploads via lib/utils/uploadToS3 to AWS S3; the caller-supplied path is used as the key prefix without sanitisation.\n\n_Source: `app/api/upload-image/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UploadImagePostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadImagePostResponse"},"example":{"success":true,"url":"https://cashkr-assets.s3.amazonaws.com/vendor-documents/document-1725177600000.jpg","message":"File uploaded successfully"}}}},"400":{"description":"No file, non-image type, or over 5MB","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"File size must be less than 5MB"}}}},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"error":"Upload failed","success":false}}}}},"security":[]}},"/api/uploads/sign":{"post":{"tags":["uploads"],"summary":"Create sign","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: folder, fileName, contentType, size). \n\n_Source: `app/api/uploads/sign/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadsSignPostRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"OkErrorDurationEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"},"durationMs":{"type":"integer"}},"required":["durationMs","error","ok"],"description":"Job/cron failure envelope `{ ok: false, error, durationMs }`."},"SidekickChatPostRequest":{"type":"object","properties":{"messages":{"type":"array","items":{},"description":"Chat turns; only the LAST entry (role must be user) is used, truncated to 4000 chars. Earlier turns are ignored - history is loaded from the DB."},"conversationId":{"type":"string","description":"Existing conversation to continue; 404 if it does not exist. Omit to start a new one."}},"required":["messages"],"description":"Request body for `POST /api/sidekick/chat`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"SidekickConversationsGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeTransferPoolGetResponse":{"type":"object","x-inferred-from-example":true},"UploadsSignPostRequest":{"type":"object","additionalProperties":true,"properties":{"folder":{"description":"`folder`"},"fileName":{"description":"`fileName`"},"contentType":{"description":"`contentType`"},"size":{"description":"`size`"}},"description":"Request body for `POST /api/uploads/sign`."},"ServicesAnalyzeSentimentPostRequest":{"type":"object","properties":{"text":{"type":"string","description":"Review text to analyze"},"rating":{"type":"number","description":"Star rating; 400 if undefined"}},"required":["rating"],"description":"Request body for `POST /api/services/analyze-sentiment`."},"LinodeSettingsPutResponse":{"type":"object","x-inferred-from-example":true},"ServicesAnalyzeSentimentPostResponse":{"type":"object","x-inferred-from-example":true},"UploadImagePostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Image file. MIME type must start with image/ and size must be under 5MB."},"path":{"type":"string","description":"S3 key prefix; defaults to 'vendor-documents/'"},"fileName":{"type":"string","description":"Base file name; defaults to 'document'"}},"required":["file"],"description":"Request body for `POST /api/upload-image`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"SidekickChatPostResponse":{"type":"object","x-inferred-from-example":true},"OkFlag":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"],"description":"Bare `{ ok: true }` acknowledgement."},"LinodeSettingsPutRequest":{"type":"object","properties":{"budgets":{"type":"object","description":"Map of budget key to USD amount; entries that are not finite numbers >= 0 are ignored"},"thresholds.transferPoolPct":{"type":"number","description":"Transfer pool alert percentage, clamped 0-100"},"thresholds.minSavingsAlert":{"type":"number","description":"Minimum monthly savings (USD) worth alerting on, clamped 0-100000"},"thresholds.cpuP95Alert":{"type":"number","description":"CPU p95 alert percentage, clamped 0-100"},"slackWebhookUrl":{"type":"string","description":"Slack incoming webhook override; must start with https://hooks.slack.com/. Send null or \"\" to clear the override and fall back to the env value; omit the key to leave it untouched"}},"description":"Request body for `PUT /api/linode/settings`."},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"UploadImagePostResponse":{"type":"object","x-inferred-from-example":true},"SidekickConversationsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeSyncPostResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"InternalServerErrorOkFlag":{"summary":"500 InternalServerErrorOkFlag","value":{"ok":false,"error":"Internal error"}},"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"UnauthorizedOkFlag":{"summary":"401 UnauthorizedOkFlag","value":{"ok":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"InternalServerErrorOkFlag":{"description":"Internal server error - unhandled failure. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerErrorOkFlag"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"UnauthorizedOkFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedOkFlag"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}