{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Infrastructure 2","description":"Tags: cost-monitor, cron","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"cost-monitor"},{"name":"cron"}],"paths":{"/api/cost-monitor/overview":{"get":{"tags":["cost-monitor"],"summary":"Get the cost monitor dashboard payload","description":"Single wide aggregator for the Cost Monitor overview page: MTD/last-month/YTD/range totals with MoM and YoY change, spend by category, spend by provider, renewals due in the next 30 days, a 12-month trend series, and budget status including providers over their alert threshold.\n\n**Notes:** Admin session required. Expensive: it runs a batch of eight queries plus FX lookups on every call; the dashboard refetches roughly every 60 seconds. yoyChangePct is null until there is at least a year of entry history.\n\n_Source: `app/api/cost-monitor/overview/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"range","in":"query","required":false,"description":"this_month | last_month | last_3 | last_6 | ytd | last_12. Unknown values silently fall back to this_month. Affects ONLY the totals.rangeSpend* fields; the chart, provider table, renewals and budgets are window-independent.","schema":{"type":"string","example":"last_3","default":"this_month"}}],"responses":{"200":{"description":"Dashboard payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorOverviewGetResponse"},"example":{"range":"this_month","totals":{"mtdSpendINR":412300.5,"mtdSpendUSD":4732.11,"lastMonthSpendINR":389100,"ytdSpendINR":3120400,"rangeSpendINR":412300.5,"rangeSpendUSD":4732.11,"momChangePct":6,"yoyChangePct":18.4},"byCategory":[{"category":"infrastructure","displayName":"Infrastructure","mtdINR":210000,"lastMonthINR":198000,"percentOfTotal":50.9,"providerCount":4,"icon":"infrastructure"}],"byProvider":[{"slug":"linode","displayName":"Linode","category":"infrastructure","mtdINR":98000,"mtdUSD":1125,"lastMonthINR":94000,"ytdINR":760000,"everINR":1520000,"momChangePct":4.3,"nextRenewalDate":"2026-10-01T00:00:00.000Z","syncMethod":"manual","hasError":false}],"upcomingRenewals":[{"subscriptionId":12,"providerSlug":"linode","providerDisplayName":"Linode","name":"Linode Nanode","amount":40,"currency":"USD","amountINR":3484.8,"nextRenewalDate":"2026-10-01T00:00:00.000Z","daysUntil":30}],"last12Months":[{"month":"2026-09","inr":412300.5,"usd":4732.11,"byCategory":{"infrastructure":210000}}],"budgetStatus":{"globalBudgetINR":500000,"globalSpentINR":412300.5,"globalPercentUsed":82.5,"overBudgetProviders":[{"slug":"linode","displayName":"Linode","percentUsed":92.1}]}}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/providers":{"get":{"tags":["cost-monitor"],"summary":"List active cost providers grouped by category","description":"Returns all active CostProvider rows grouped into the fixed category order (infrastructure, marketing, saas_tools, payments, telephony, mobile, analytics), with any unrecognised category appended at the end. Takes no parameters.\n\n**Notes:** Admin session required. Inactive providers (isActive=false) are excluded.\n\n_Source: `app/api/cost-monitor/providers/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorProvidersGetResponse"},"example":{"groups":[{"category":"infrastructure","label":"Infrastructure","providers":[{"id":1,"slug":"linode","displayName":"Linode","category":"infrastructure","iconName":"server","syncMethod":"manual","defaultCurrency":"USD","websiteUrl":"https://linode.com","sortOrder":1}]}],"total":18}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/providers/{slug}":{"get":{"tags":["cost-monitor"],"summary":"Get a cost provider and its accounts","description":"Returns the provider record (slug, display name, category, sync method, default currency, active flag) together with all of its accounts ordered oldest first, including each account's sync status and error.\n\n**Notes:** Admin session required. Read-only - this file exports GET only.\n\n_Source: `app/api/cost-monitor/providers/[slug]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"slug","in":"path","required":true,"description":"CostProvider slug","schema":{"type":"string"},"example":"linode"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorProvidersBySlugGetResponse"},"example":{"provider":{"id":1,"slug":"linode","displayName":"Linode","category":"infrastructure","websiteUrl":"https://linode.com","iconName":"server","syncMethod":"manual","defaultCurrency":"USD","isActive":true,"description":"App and DB servers"},"accounts":[{"id":3,"label":"Linode - Production","externalAccountId":"acct_884412","lastSyncedAt":null,"syncStatus":null,"syncError":null,"notes":"Main app servers","createdAt":"2026-06-01T00:00:00.000Z"}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Provider not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Provider not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/providers/{slug}/accounts":{"post":{"tags":["cost-monitor"],"summary":"Add an account to a cost provider","description":"Creates a CostProviderAccount under the provider identified by slug. Labels must be unique within a provider.\n\n**Notes:** Admin session required. This file exports POST only - there is no GET here; list a provider's accounts via GET /api/cost-monitor/providers/{slug}.\n\n_Source: `app/api/cost-monitor/providers/[slug]/accounts/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"slug","in":"path","required":true,"description":"CostProvider slug","schema":{"type":"string"},"example":"linode"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorProvidersBySlugAccountsPostRequest"},"example":{"label":"Linode - Production","externalAccountId":"acct_884412","notes":"Main app servers"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorProvidersBySlugAccountsPostResponse"},"example":{"ok":true,"account":{"id":3,"label":"Linode - Production","externalAccountId":"acct_884412","lastSyncedAt":null,"syncStatus":null,"syncError":null,"notes":"Main app servers","createdAt":"2026-09-01T00:00:00.000Z"}}}}},"400":{"description":"Label missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Label is required"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Provider not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Provider not found"}}}},"409":{"description":"Duplicate label","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account label \"Linode - Production\" already exists for this provider."}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/providers/{slug}/stats":{"get":{"tags":["cost-monitor"],"summary":"Get spend stats for one cost provider","description":"Aggregates cost entries across every account under the provider into MTD, last-month and YTD totals, month-over-month change, active subscription count, next renewal date and a 12-month INR/USD series.\n\n**Notes:** Admin session required. Sums the pre-computed amountInINR/amountInUSD columns, so the FX rate captured at insert time is preserved. A provider with no accounts returns a zero-filled payload with a 200.\n\n_Source: `app/api/cost-monitor/providers/[slug]/stats/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"slug","in":"path","required":true,"description":"CostProvider slug","schema":{"type":"string"},"example":"linode"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorProvidersBySlugStatsGetResponse"},"example":{"mtdSpendINR":98000,"mtdSpendUSD":1125,"lastMonthSpendINR":94000,"ytdSpendINR":760000,"activeSubscriptionsCount":3,"nextRenewalDate":"2026-10-01T00:00:00.000Z","monthOverMonthChangePct":4.3,"last12Months":[{"month":"2026-09","inr":98000,"usd":1125}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Provider not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Provider not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/settings":{"get":{"tags":["cost-monitor"],"summary":"Get cost monitor settings page data","description":"Read-only aggregator for the settings screen: all budgets, the active provider catalog with its categories, the latest USD/INR and INR/USD exchange rates, and whether the Slack cost-alert webhook is configured (masked to its last 4 characters).\n\n**Notes:** Admin session required. The Slack webhook URL is never returned - only a configured flag and its last 4 characters. exchangeRate is null when no USD/INR rate has been stored yet.\n\n_Source: `app/api/cost-monitor/settings/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorSettingsGetResponse"},"example":{"budgets":[{"id":5,"scope":"provider","scopeRef":"linode","monthlyBudget":60000,"currency":"INR","alertThreshold":0.8,"lastAlertedAt":null}],"providers":[{"slug":"linode","displayName":"Linode","category":"infrastructure","defaultCurrency":"USD"}],"categories":["infrastructure"],"exchangeRate":{"usdToInr":87.12,"inrToUsd":0.0115,"asOfDate":"2026-09-01","source":"exchangerate.host"},"slack":{"configured":true,"last4":"a9f2"}}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cost-monitor/subscriptions/{id}":{"patch":{"tags":["cost-monitor"],"summary":"Update a cost subscription","description":"Partial update of any subscription field, including autoRenew and endDate. Only the keys you send are written.\n\n**Notes:** Admin session required. Unlike POST on the account route, no CostEntry is generated by an update. accountId cannot be changed.\n\n_Source: `app/api/cost-monitor/subscriptions/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostSubscription id. Must be numeric.","schema":{"type":"string"},"example":"12"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorSubscriptionsByIdPatchRequest"},"example":{"amount":45,"nextRenewalDate":"2026-11-01","autoRenew":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorSubscriptionsByIdPatchResponse"},"example":{"ok":true,"subscription":{"id":12,"accountId":3,"name":"Linode Nanode","amount":45,"currency":"USD","billingCycle":"monthly","nextRenewalDate":"2026-11-01T00:00:00.000Z","endDate":null,"autoRenew":true}}}}},"400":{"description":"Validation error or nothing to update","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"amount must be a positive number"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Subscription not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Subscription not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["cost-monitor"],"summary":"Cancel a cost subscription","description":"Cancels rather than deletes: sets endDate to today and autoRenew to false, so the row stays available for renewal forecasting and history.\n\n**Notes:** Admin session required. NOT a hard delete - the row survives with endDate set. Reverse it by PATCHing endDate to null and autoRenew to true. Existing CostEntry rows are untouched.\n\n_Source: `app/api/cost-monitor/subscriptions/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"CostSubscription id","schema":{"type":"string"},"example":"12"}],"responses":{"200":{"description":"Cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostMonitorSubscriptionsByIdDeleteResponse"},"example":{"ok":true,"subscription":{"id":12,"name":"Linode Nanode","endDate":"2026-09-01T00:00:00.000Z","autoRenew":false}}}}},"400":{"description":"Invalid subscription id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid subscription id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Subscription not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Subscription not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/cron/cost-monitor/daily":{"post":{"tags":["cron"],"summary":"Run the daily cost monitor cron","description":"Master daily job that runs, in order: FX rate refresh, subscription renewal entry generation, budget threshold alert check, and 7-day renewal reminders. Each step is error-isolated so one failure does not skip the rest; failures are collected into the errors array.\n\n**Notes:** Scheduled from aaPanel: 0 2 * * * curl -fsS -X POST -H \"Authorization: Bearer $LINODE_CRON_SECRET\" https://<host>/api/cron/cost-monitor/daily. SIDE EFFECTS: writes new CostEntry rows for renewals, writes exchange rate rows, and POSTS BUDGET AND RENEWAL ALERTS TO SLACK. Do not fire casually. maxDuration 300s. `ok` is true only when errors is empty; a partial failure still returns 200 with errors populated.\n\n_Source: `app/api/cron/cost-monitor/daily/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Run summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronCostMonitorDailyPostResponse"},"example":{"ok":true,"exchangeRate":{"ok":true,"rate":87.12,"source":"exchangerate.host","asOfDate":"2026-09-01"},"renewals":{"created":3},"budgets":{"alerted":1},"reminders":{"sent":2},"errors":[],"durationMs":4213}}}},"401":{"description":"Bad or missing cron token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Unhandled failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"...","durationMs":1200}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/cost-monitor/exchange-rate":{"post":{"tags":["cron"],"summary":"Cron: refresh the USD/INR exchange rate","description":"Cron-authenticated wrapper around the FX refresh helper. Fetches the current USD to INR rate from the external provider and stores a CostExchangeRate row.\n\n**Notes:** Scheduled from aaPanel: 0 1 * * *. Same helper as the admin-session route POST /api/cost-monitor/exchange-rate/refresh. Calls an external FX API and writes to the database. maxDuration 60s.\n\n_Source: `app/api/cron/cost-monitor/exchange-rate/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Refresh result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronCostMonitorExchangeRatePostResponse"},"example":{"ok":true,"rate":87.12,"source":"exchangerate.host","asOfDate":"2026-09-01","error":null}}}},"401":{"description":"Bad or missing cron token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cronBearer":[]}]}},"/api/cron/cost-monitor/subscription-renewals":{"post":{"tags":["cron"],"summary":"Cron: generate subscription renewal entries","description":"Rolls active cost subscriptions forward: creates a CostEntry for every subscription whose renewal date has passed and advances its next renewal date.\n\n**Notes:** Scheduled from aaPanel: 30 1 * * *. SIDE EFFECT: inserts new cost entries, which changes reported spend. Also runs as step two of /api/cron/cost-monitor/daily. maxDuration 120s. The response spreads the helper's own result fields alongside ok and durationMs.\n\n_Source: `app/api/cron/cost-monitor/subscription-renewals/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Run summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronCostMonitorSubscriptionRenewalsPostResponse"},"example":{"ok":true,"created":3,"skipped":0,"durationMs":842}}}},"401":{"description":"Bad or missing cron token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"...","durationMs":120}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/ingest-data":{"get":{"tags":["cron"],"summary":"Cron: ingest Google Search Console data","description":"Scheduled ingestion job that syncs Google Search Console data into the SEOMetrics table. Google and Meta Ads are synced separately through a Pabbly webhook, so they are not handled here.\n\n**Notes:** SECURITY: the CRON_SECRET check is not enforced - an unauthenticated caller triggers the full sync and only produces a log line. Note this is a GET, unlike the cost-monitor crons which are POST. SIDE EFFECT: calls the Google Search Console API and writes SEOMetrics rows.\n\n_Source: `app/api/cron/ingest-data/route.ts`_\n\n_Auth: `other: compares Authorization to CRON_SECRET but only logs a warning - the request runs regardless, so it is not gated by the handler itself`_\n\n_Audit 2026-09 (stage): security corrected: this route calls `assertCronAuth(request)` and returns 401 without a valid `LINODE_CRON_SECRET` bearer token. It was previously documented as unauthenticated._","responses":{"200":{"description":"Ingestion result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronIngestDataGetResponse"},"example":{"success":true,"results":{"gsc":{"rowsUpserted":412}}}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Ingestion failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Ingestion failed"}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/leads/auto-assign":{"post":{"tags":["cron"],"summary":"Run lead auto-assignment sweep","description":"Cron endpoint that sweeps unassigned master leads and vendor-onboarding leads and auto-assigns them to vendors. Intended to run every minute from aaPanel cron.\n\n**Notes:** force-dynamic, maxDuration 60s. Side effect: mutates lead ownership (assigns vendors). Suggested schedule: * * * * *.\n\n_Source: `app/api/cron/leads/auto-assign/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Sweep completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronLeadsAutoAssignPostResponse"},"example":{"ok":true,"leads":{"assigned":3,"skipped":1},"vendorOnboarding":{"assigned":0},"durationMs":412}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Sweep failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":120}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/linode/invoice-sync":{"post":{"tags":["cron"],"summary":"Sync Linode invoices and consolidate costs","description":"Pulls invoices and invoice items from the Linode API for every stored Linode account, persists new ones, replaces daily cost accruals with the consolidated monthly invoice entry, and fires invoice-posted alerts.\n\n**Notes:** force-dynamic, maxDuration 300s. Calls the upstream Linode billing API. Side effects: writes LinodeInvoice/LinodeInvoiceItem rows, mutates cost ledger entries, sends alerts. Suggested schedule: 0 2 * * *.\n\n_Source: `app/api/cron/linode/invoice-sync/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronLinodeInvoiceSyncPostResponse"},"example":{"ok":true,"newInvoices":2,"newItems":37,"alertsSent":2,"dailyAccrualsReplaced":58,"consolidatedEntries":2,"errors":[],"durationMs":8421}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Sync failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":900}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/linode/live-sync":{"post":{"tags":["cron"],"summary":"Sync live Linode resource inventory","description":"Runs the Linode live-sync job which refreshes the current resource/instance inventory and usage snapshot from the Linode API.\n\n**Notes:** force-dynamic, maxDuration 300s. Calls the upstream Linode API. Suggested schedule: */15 * * * *.\n\n_Source: `app/api/cron/linode/live-sync/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronLinodeLiveSyncPostResponse"},"example":{"ok":true,"accounts":3,"resources":41,"durationMs":5210}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Sync failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":800}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/linode/recommendations":{"post":{"tags":["cron"],"summary":"Generate Linode cost recommendations","description":"Regenerates right-sizing / cost-saving recommendations for every Linode account and sends alerts for newly created recommendations whose monthly saving exceeds the configured minSavingsAlert threshold.\n\n**Notes:** force-dynamic, maxDuration 300s. Side effect: writes recommendation rows and sends alert notifications. Suggested schedule: 0 3 * * *.\n\n_Source: `app/api/cron/linode/recommendations/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Recommendations regenerated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronLinodeRecommendationsPostResponse"},"example":{"ok":true,"created":4,"updated":9,"dismissed":1,"alertsSent":2,"errors":[],"durationMs":3120}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Job failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":700}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/ops/close-aged-unclaimed":{"post":{"tags":["cron"],"summary":"Close aged unclaimed leads backlog","description":"Data-hygiene job that closes unclaimed leads older than the configured age so the unclaimed backlog stays at zero. Shares logic with scripts/close-aged-unclaimed-backlog.ts.\n\n**Notes:** force-dynamic, maxDuration 60s. Side effect: closes lead records. Suggested schedule: 30 2 * * *.\n\n_Source: `app/api/cron/ops/close-aged-unclaimed/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Cleanup completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronOpsCloseAgedUnclaimedPostResponse"},"example":{"ok":true,"closed":12,"anchor":{"viaSlot":8,"viaCreation":4},"durationMs":310}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Cleanup failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":95}}}}},"security":[{"cronBearer":[]}]}},"/api/cron/release-expired-holds":{"post":{"tags":["cron"],"summary":"Release vendors whose hold expired","description":"Finds vendors with status \"hold\" whose holdEndsAt has passed, sets them back to \"live\" and restores the maxLeads snapshot taken when the hold started. Vendors without a snapshot are left at maxLeads=0 for manual reactivation.\n\n**Notes:** force-dynamic, maxDuration 60s. Side effects: mutates vendor status/maxLeads and writes VendorActivityLog entries attributed to env SYSTEM_ADMIN_ID (audit log skipped when unset). Suggested schedule: */15 * * * *.\n\n_Source: `app/api/cron/release-expired-holds/route.ts`_\n\n_Auth: `cron-bearer`_","responses":{"200":{"description":"Holds processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CronReleaseExpiredHoldsPostResponse"},"example":{"ok":true,"checkedAt":"2026-09-01T06:15:00.000Z","candidates":3,"released":3,"errors":[],"durationMs":180}}}},"401":{"description":"Missing or wrong cron secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Unauthorized"}}}},"500":{"description":"Job failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorDurationEnvelope"},"example":{"ok":false,"error":"…","durationMs":60}}}}},"security":[{"cronBearer":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"CostMonitorSettingsGetResponse":{"type":"object","x-inferred-from-example":true},"OkErrorDurationEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"},"durationMs":{"type":"integer"}},"required":["durationMs","error","ok"],"description":"Job/cron failure envelope `{ ok: false, error, durationMs }`."},"CronLinodeInvoiceSyncPostResponse":{"type":"object","x-inferred-from-example":true},"CronReleaseExpiredHoldsPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorProvidersBySlugStatsGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorProvidersBySlugGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorOverviewGetResponse":{"type":"object","x-inferred-from-example":true},"CronCostMonitorDailyPostResponse":{"type":"object","x-inferred-from-example":true},"CronCostMonitorExchangeRatePostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorProvidersGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorSubscriptionsByIdPatchRequest":{"type":"object","properties":{"name":{"type":"string","description":"Subscription name; must be non-empty when supplied"},"amount":{"type":"number","description":"Must be greater than 0"},"currency":{"type":"string","description":"USD or INR"},"billingCycle":{"type":"string","description":"monthly | quarterly | yearly | one_time"},"nextRenewalDate":{"type":"string","description":"ISO date of the next renewal"},"startDate":{"type":"string","description":"ISO start date"},"endDate":{"type":"string","description":"ISO end date; send null or an empty string to reactivate an ended subscription"},"autoRenew":{"type":"boolean","description":"Whether renewal entries keep being generated"},"seats":{"type":"integer","description":"Positive integer, or null to clear"},"notes":{"type":"string","description":"Free-form notes; empty string clears to null"}},"description":"Request body for `PATCH /api/cost-monitor/subscriptions/{id}`."},"CronLinodeLiveSyncPostResponse":{"type":"object","x-inferred-from-example":true},"CronLinodeRecommendationsPostResponse":{"type":"object","x-inferred-from-example":true},"CronOpsCloseAgedUnclaimedPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorSubscriptionsByIdDeleteResponse":{"type":"object","x-inferred-from-example":true},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"CronCostMonitorSubscriptionRenewalsPostResponse":{"type":"object","x-inferred-from-example":true},"CronIngestDataGetResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorProvidersBySlugAccountsPostRequest":{"type":"object","properties":{"label":{"type":"string","description":"Account label; must be non-empty and unique for this provider"},"externalAccountId":{"type":"string","description":"Provider-side account id"},"notes":{"type":"string","description":"Free-form notes"}},"required":["label"],"description":"Request body for `POST /api/cost-monitor/providers/{slug}/accounts`."},"CostMonitorProvidersBySlugAccountsPostResponse":{"type":"object","x-inferred-from-example":true},"CostMonitorSubscriptionsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"CronLeadsAutoAssignPostResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"InternalServerErrorOkFlag":{"summary":"500 InternalServerErrorOkFlag","value":{"ok":false,"error":"Internal error"}},"UnauthorizedOkFlag":{"summary":"401 UnauthorizedOkFlag","value":{"ok":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerErrorOkFlag":{"description":"Internal server error - unhandled failure. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerErrorOkFlag"}}}}},"UnauthorizedOkFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedOkFlag"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}