{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Infrastructure 3","description":"Tags: email, integrations, internal, linode","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"email"},{"name":"integrations"},{"name":"internal"},{"name":"linode"}],"paths":{"/api/email/send":{"post":{"tags":["email"],"summary":"Send a transactional email","description":"Sends an HTML email through the Cashkr SMTP account (smtpout.secureserver.net) from noreply@cashkr.com to one or more recipients.\n\n**Notes:** SIDE EFFECT: actually delivers mail. Completely unauthenticated open relay to arbitrary recipients from the cashkr.com domain — treat as sensitive. Credentials come from EMAIL_USER/EMAIL_PASSWORD (or SMTP_USER/SMTP_PASSWORD).\n\n_Source: `app/api/email/send/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailSendPostRequest"},"example":{"email":["ops@cashkr.com"],"subject":"Daily payout summary","template":"<h1>Summary</h1><p>All good.</p>","text":"Summary: all good."}}}},"responses":{"200":{"description":"Sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing required fields: email, template, or subject"}}}},"500":{"description":"Send failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to send email"}}}}},"security":[]}},"/api/integrations/ads-sync":{"get":{"tags":["integrations"],"summary":"Ads-sync webhook usage hint","description":"Static readiness/usage document describing the POST payload shapes for Google and Meta.\n\n**Notes:** No handler-level auth check; safe read-only documentation endpoint.\n\n_Source: `app/api/integrations/ads-sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Usage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsAdsSyncGetResponse"},"example":{"status":"ready","usage":{"method":"POST","googleAds":{"response":"<raw Google Ads JSON>","source":"Google"},"metaAds":{"response":"<raw Meta Ads JSON>","source":"Meta"}}}}}}},"security":[]},"post":{"tags":["integrations"],"summary":"Ingest Google/Meta ad metrics webhook","description":"Webhook (called by Pabbly) that accepts a raw Google Ads or Meta Ads response, a batch of records, or a single record, parses it into AdMetricInput rows and upserts them into MarketingMetrics. Defaults the date to yesterday and the source to Google.\n\n**Notes:** force-dynamic. Writes MarketingMetrics (upsert, non-zero-wins). Audit-logged via withAuditLog (entity INTEGRATION, POST mapped to UPDATE). Logs a 1 KB preview of the body to the server console.\n\n_Source: `app/api/integrations/ads-sync/route.ts`_\n\n_Auth: `other: optional shared secret — when ADS_WEBHOOK_SECRET is set, body.secret or the x-webhook-secret header must match; when it is unset there is no auth at all`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsAdsSyncPostRequest"},"example":{"source":"Meta","date":"2026-08-31","records":[{"campaign":"CK_Brand_Search","campaign_id":"123456789","spend":4500.5,"clicks":320,"impressions":21000,"conversions":12,"conversion_value":96000}]}}}},"responses":{"200":{"description":"Nothing parsed — debug info is returned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsAdsSyncPostResponse"},"example":{"success":true,"recordsSynced":0,"message":"No active campaigns with spend found","debug":{"bodyKeys":["source"],"responseType":"undefined","responseIsArray":false,"responsePreview":"NO_RESPONSE_FIELD","source":"Google"}}}}},"401":{"description":"Bad secret (only when ADS_WEBHOOK_SECRET is set)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"adsWebhookSecret":[]},{}]}},"/api/integrations/google-ads/sync":{"get":{"tags":["integrations"],"summary":"Google Ads sync usage hint","description":"Static readiness/usage document describing the POST body and the 31-day maximum range.\n\n**Notes:** Unlike the POST handler, the GET is not permission-checked.\n\n_Source: `app/api/integrations/google-ads/sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Usage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGoogleAdsSyncGetResponse"},"example":{"status":"ready","usage":{"method":"POST","body":{"from":"YYYY-MM-DD (optional)","to":"YYYY-MM-DD (optional)","target":"campaigns | geo | both"},"default":"LAST_7_DAYS, both targets","maxDays":31}}}}}},"security":[]},"post":{"tags":["integrations"],"summary":"Run the Google Ads sync on demand","description":"Triggers the same campaign and geo sync functions the nightly job uses, either for LAST_7_DAYS (no range) or for an explicit backfill window of at most 31 days. Campaigns are synced before geo so partial failures still leave the headline numbers written.\n\n**Notes:** Auth via requirePageAccess('dashboard-cmo-report','view') — session-based page permission; root admins pass through. force-dynamic, maxDuration 300. Spends Google Ads API quota; the in-process 'running' guard does not hold across a PM2 cluster.\n\n_Source: `app/api/integrations/google-ads/sync/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGoogleAdsSyncPostRequest"},"example":{"from":"2026-08-01","to":"2026-08-31","target":"both"}}}},"responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGoogleAdsSyncPostResponse"},"example":{"ok":true,"range":{"from":"2026-08-01","to":"2026-08-31"},"campaigns":{"upserted":120},"geo":{"upserted":20400},"log":["campaigns 2026-08-01..2026-08-31"]}}}},"400":{"description":"Bad date range","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Range is 45 days; this endpoint syncs at most 31 at a time. Sync a month, then the next."}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"No access to the CMO report page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Access denied"}}}},"409":{"description":"A sync is already running in this process","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"A sync is already running. Wait for it to finish."}}}},"502":{"description":"Sync failed — partial log included","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGoogleAdsSyncPost502Response"},"example":{"error":"Google Ads API error","log":["campaigns 2026-08-01..2026-08-31"]}}}}},"security":[{"cookieAuth":[]}]}},"/api/integrations/gsc-sync":{"get":{"tags":["integrations"],"summary":"GSC sync usage hint","description":"Static readiness/usage document for the GSC sync webhook.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/integrations/gsc-sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Usage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGscSyncGetResponse"},"example":{"status":"ready","usage":{"method":"POST","description":"Syncs Google Search Console data into SEOMetrics table","schedule":"Daily at 7-8 AM IST via Pabbly"}}}}}},"security":[]},"post":{"tags":["integrations"],"summary":"Trigger the Google Search Console sync","description":"Pulls the last 30 days of Search Console data via syncGSCData() and upserts it into the SEOMetrics table. Designed to be called daily by Pabbly around 7-8 AM IST.\n\n**Notes:** force-dynamic. No handler-level auth check — anyone who can reach the URL can trigger a full 30-day Search Console pull and SEOMetrics upsert. Takes no request body.\n\n_Source: `app/api/integrations/gsc-sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Sync result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationsGscSyncPostResponse"},"example":{"success":true,"recordsSynced":30,"message":"30 day(s) of SEO data synced to SEOMetrics"}}}},"500":{"description":"Sync threw","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"GSC credentials missing"}}}}},"security":[]}},"/api/internal/vendor-invoice":{"post":{"tags":["internal"],"summary":"Mint and email a vendor tax invoice","description":"Service-to-service endpoint called by CashkrBackend right after a PhonePe/Razorpay vendor payment is auto-approved. Generates and freezes the invoice, stores it on S3 and emails it to the vendor. Idempotent — repeat calls never regenerate or re-send.\n\n**Notes:** Side effects: PDF generation, S3 upload and an email to the vendor. Not a browser endpoint. force-dynamic, maxDuration 60.\n\n_Source: `app/api/internal/vendor-invoice/route.ts`_\n\n_Auth: `internal-token`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalVendorInvoicePostRequest"},"example":{"paymentId":4187}}}},"responses":{"200":{"description":"Internal vendor — treated as a no-op success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalVendorInvoicePostResponse"},"example":{"ok":true,"paymentId":4187,"skipped":true,"reason":"internal vendor — no invoice"}}}},"400":{"description":"Bad body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"paymentId is required"}}}},"401":{"description":"Bad or missing service token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"404":{"description":"Payment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"payment 4187 not found"}}}},"409":{"description":"Payment not approved yet — caller should retry","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"payment 4187 is not approved"}}}},"503":{"description":"INTERNAL_SERVICE_TOKEN not configured — fails closed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Service not configured"}}}}},"security":[{"internalToken":[]}]}},"/api/linode/accounts/{id}":{"delete":{"tags":["linode"],"summary":"Delete a Linode account and all its cached data","description":"Removes the LinodeAccount row. Database cascades drop the associated snapshots, resources, invoices, resource stats and rightsizing recommendations.\n\n**Notes:** Irreversible: cascade deletes snapshots, resources, invoices, stats and recommendations. Guarded by requireAdminSession.\n\n_Source: `app/api/linode/accounts/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric LinodeAccount id","schema":{"type":"string"},"example":"1"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Invalid account id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid account id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/accounts/{id}/rotate-token":{"post":{"tags":["linode"],"summary":"Rotate the API token for a Linode account","description":"Validates the supplied Linode personal access token by calling the Linode account endpoint, then encrypts and stores it on the LinodeAccount record. The actor's id and email are written to the server log.\n\n**Notes:** Uses requireAdminSession from lib/linode/admin-auth (NextAuth session cookie). Calls the live Linode API (client.getAccount) before persisting; token is encrypted at rest. maxDuration 60s, force-dynamic.\n\n_Source: `app/api/linode/accounts/[id]/rotate-token/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric LinodeAccount id","schema":{"type":"string"},"example":"1"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeAccountsByIdRotateTokenPostRequest"},"example":{"token":"0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"}}}},"responses":{"200":{"description":"Token rotated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeAccountsByIdRotateTokenPostResponse"},"example":{"ok":true,"id":1,"label":"cashkr-prod"}}}},"400":{"description":"Invalid id, missing token, or Linode rejected the token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorStatusEnvelope"},"example":{"ok":false,"error":"Token validation failed: Invalid Token","status":401}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Account not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Account not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/alerts/test":{"post":{"tags":["linode"],"summary":"Send a test Slack alert","description":"Checks that a Slack incoming webhook is configured (env or DB override) and posts a test alert message to it.\n\n**Notes:** Side effect: posts a real message into the configured Slack channel. No request body is read.\n\n_Source: `app/api/linode/alerts/test/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Test alert sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkFlag"},"example":{"ok":true}}}},"400":{"description":"Slack webhook not configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Slack webhook not configured"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"description":"Slack rejected the message","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Slack rejected the test message — check webhook URL"}}}}},"security":[{"cookieAuth":[]}]}},"/api/linode/cost-history":{"get":{"tags":["linode"],"summary":"Get 13-month Linode cost history with forecast","description":"Returns 12 historical months of invoiced Linode spend plus the current month as a forecast derived from the latest account snapshot's uninvoiced balance and billing-cycle progress.\n\n**Notes:** Read-only. force-dynamic; no caching.\n\n_Source: `app/api/linode/cost-history/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Monthly cost series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeCostHistoryGetResponse"},"example":{"months":[{"month":"2025-09","totalUSD":412.55,"isForecast":false,"forecastUSD":null}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/overview":{"get":{"tags":["linode"],"summary":"Get Linode cost overview KPIs","description":"Returns month-to-date spend, end-of-month forecast and the delta against the last invoice, plus active resource count, total pending rightsizing savings, last live sync time and billing-cycle progress.\n\n**Notes:** Read-only aggregate over LinodeAccountSnapshot, LinodeInvoice, LinodeResource and RightsizingRecommendation.\n\n_Source: `app/api/linode/overview/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Overview KPIs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeOverviewGetResponse"},"example":{"spentMTD":210.4,"forecastEOM":438.9,"forecastDelta":26.35,"activeResources":17,"potentialMonthlySavings":84,"lastSyncedAt":"2026-09-01T04:00:00.000Z","cycleProgress":{"daysElapsed":14,"daysInCycle":30,"percentage":46.67}}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/recommendations":{"get":{"tags":["linode"],"summary":"List rightsizing recommendations by status","description":"Returns rightsizing recommendations filtered by status (pending, applied or dismissed), ordered by monthly savings then generation date, each with a summary of the underlying Linode resource.\n\n**Notes:** Read-only. Not paginated - returns every matching recommendation.\n\n_Source: `app/api/linode/recommendations/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"status","in":"query","required":false,"description":"One of pending | applied | dismissed; any other value silently falls back to pending","schema":{"type":"string","example":"pending","default":"pending"}}],"responses":{"200":{"description":"Recommendation list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeRecommendationsGetResponse"},"example":{"recommendations":[{"id":42,"resourceId":7,"generatedAt":"2026-08-28T02:10:00.000Z","currentPlan":"g6-standard-4","recommendedPlan":"g6-standard-2","direction":"downsize","reason":"CPU p95 under 12% for 30 days","monthlySavingsUSD":24,"confidenceScore":0.86,"status":"pending","resolvedAt":null,"resource":{"id":7,"linodeId":"58231904","label":"ck-api-prod","resourceType":"instance","region":"ap-south","planSlug":"g6-standard-4","vcpus":4,"memoryMB":8192,"monthlyPriceUSD":48}}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/recommendations/{id}/apply":{"post":{"tags":["linode"],"summary":"Apply a rightsizing recommendation (resize instance)","description":"Fires a real Linode instance resize to the recommended plan (with data migration and mutation confirmation) and marks the recommendation as applied. Only pending recommendations on resources of type instance are accepted.\n\n**Notes:** Real infrastructure change: calls Linode's resize API on a live instance (causes downtime/migration) and costs change immediately. Actor id/email/name is logged. maxDuration 120s.\n\n_Source: `app/api/linode/recommendations/[id]/apply/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric RightsizingRecommendation id","schema":{"type":"string"},"example":"42"}],"responses":{"200":{"description":"Resize accepted and recommendation applied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeRecommendationsByIdApplyPostResponse"},"example":{"ok":true,"recommendation":{"id":42,"status":"applied","recommendedPlan":"g6-standard-2","monthlySavingsUSD":24,"confidenceScore":0.86}}}}},"400":{"description":"Invalid id, non-instance resource, or non-numeric linodeId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Only Linode instances support automated resize"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Recommendation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Recommendation not found"}}}},"409":{"description":"Recommendation already applied or dismissed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Recommendation already applied"}}}},"500":{"description":"Linode API error or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorStatusEnvelope"},"example":{"ok":false,"error":"Linode resize failed","status":400}}}}},"security":[{"cookieAuth":[]}]}},"/api/linode/recommendations/{id}/dismiss":{"post":{"tags":["linode"],"summary":"Dismiss a rightsizing recommendation","description":"Sets the recommendation's status to dismissed and stamps resolvedAt, so it stops appearing in the pending list and stops counting toward potential savings.\n\n**Notes:** No request body is read. Unlike /apply, this does not touch Linode - DB status change only.\n\n_Source: `app/api/linode/recommendations/[id]/dismiss/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric RightsizingRecommendation id","schema":{"type":"string"},"example":"42"}],"responses":{"200":{"description":"Dismissed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeRecommendationsByIdDismissPostResponse"},"example":{"ok":true,"recommendation":{"id":42,"status":"dismissed","monthlySavingsUSD":24,"confidenceScore":0.86}}}}},"400":{"description":"Invalid recommendation id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid recommendation id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Recommendation not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Recommendation not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/resources":{"get":{"tags":["linode"],"summary":"List Linode resources with MTD cost share","description":"Returns every tracked Linode resource with its plan, latest captured stats, top pending rightsizing recommendation and a month-to-date cost share computed from the monthly price (plus backups) scaled by billing-cycle progress, sorted most expensive first.\n\n**Notes:** Read-only, unpaginated.\n\n_Source: `app/api/linode/resources/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Resource list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeResourcesGetResponse"},"example":{"resources":[{"id":7,"linodeId":"58231904","label":"ck-api-prod","resourceType":"instance","region":"ap-south","planSlug":"g6-standard-4","vcpus":4,"memoryMB":8192,"monthlyPriceUSD":48,"backupsEnabled":true,"backupsPriceUSD":5,"tags":["prod"],"status":"running","latestStats":{"cpuAvgPct":8.2,"cpuP95Pct":14.1,"netInMbps":2.4,"netOutMbps":5.9,"transferUsedGB":310.2,"capturedAt":"2026-08-31T00:00:00.000Z"},"pendingRecommendation":{"id":42,"direction":"downsize","recommendedPlan":"g6-standard-2","monthlySavingsUSD":24},"mtdCostShareUSD":24.73}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/resources/{id}/stats":{"get":{"tags":["linode"],"summary":"Get usage time series for one Linode resource","description":"Returns the resource metadata, a captured time series of CPU average/p95, network in/out and transfer used over the requested window, a summary (30-day CPU averages, peak and total transfer) and the 20 most recent rightsizing recommendations for that resource.\n\n**Notes:** Read-only. transferTotal30dGB is the max of the series (cycle counter), not a sum.\n\n_Source: `app/api/linode/resources/[id]/stats/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Numeric LinodeResource id","schema":{"type":"string"},"example":"7"},{"name":"days","in":"query","required":false,"description":"Lookback window in days; clamped to 1-365, non-numeric falls back to 30","schema":{"type":"integer","example":30,"default":30}}],"responses":{"200":{"description":"Resource stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeResourcesByIdStatsGetResponse"},"example":{"resource":{"id":7,"linodeId":"58231904","label":"ck-api-prod","resourceType":"instance","region":"ap-south","planSlug":"g6-standard-4","vcpus":4,"memoryMB":8192,"diskMB":163840,"monthlyPriceUSD":48,"backupsEnabled":true,"backupsPriceUSD":5,"tags":["prod"],"status":"running"},"series":[{"capturedAt":"2026-08-31T00:00:00.000Z","cpuAvgPct":8.2,"cpuP95Pct":14.1,"netInMbps":2.4,"netOutMbps":5.9,"transferUsedGB":310.2}],"summary":{"cpuAvg30d":8.4,"cpuP95_30d":15.2,"cpuPeak30d":41.3,"transferTotal30dGB":310.2},"recommendations":[]}}}},"400":{"description":"Invalid resource id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Invalid resource id"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"example":{"ok":false,"error":"Resource not found"}}}},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}},"/api/linode/settings":{"get":{"tags":["linode"],"summary":"Get Linode budgets, thresholds and Slack config","description":"Returns the configured per-key budgets, alert thresholds, Slack webhook status (configured flag, whether it comes from env or a DB override, and the masked last 4 characters), the list of connected Linode accounts with their last sync timestamps, and the default thresholds.\n\n**Notes:** The Slack webhook URL is never returned in full - only a masked last-4 fragment.\n\n_Source: `app/api/linode/settings/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Settings","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LinodeSettingsGetResponse"},"example":{"budgets":{"total":500},"thresholds":{"transferPoolPct":80,"minSavingsAlert":10,"cpuP95Alert":85},"slack":{"configured":true,"source":"env","last4":"…aB9x"},"accounts":[{"id":1,"label":"cashkr-prod","createdAt":"2026-01-04T10:00:00.000Z","lastLiveSyncAt":"2026-09-01T04:00:00.000Z","lastInvoiceSyncAt":"2026-09-01T02:00:00.000Z"}],"defaults":{"thresholds":{"transferPoolPct":80,"minSavingsAlert":10,"cpuP95Alert":85}}}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"$ref":"#/components/responses/InternalServerErrorOkFlag"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"LinodeResourcesGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"LinodeRecommendationsGetResponse":{"type":"object","x-inferred-from-example":true},"InternalVendorInvoicePostRequest":{"type":"object","properties":{"paymentId":{"type":"integer","description":"VendorPayments id; a numeric string is accepted and parsed"}},"required":["paymentId"],"description":"Request body for `POST /api/internal/vendor-invoice`."},"IntegrationsGoogleAdsSyncGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeCostHistoryGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeResourcesByIdStatsGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeSettingsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"IntegrationsGoogleAdsSyncPostResponse":{"type":"object","x-inferred-from-example":true},"IntegrationsGscSyncPostResponse":{"type":"object","x-inferred-from-example":true},"IntegrationsGoogleAdsSyncPost502Response":{"type":"object","x-inferred-from-example":true},"IntegrationsGscSyncGetResponse":{"type":"object","x-inferred-from-example":true},"LinodeRecommendationsByIdDismissPostResponse":{"type":"object","x-inferred-from-example":true},"IntegrationsAdsSyncPostRequest":{"type":"object","properties":{"secret":{"type":"string","description":"Alternative to the x-webhook-secret header"},"source":{"type":"string","description":"Google | Meta (also accepts facebook/fb); normalized for casing. Defaults to Google"},"date":{"type":"string","description":"YYYY-MM-DD the rows belong to; defaults to yesterday"},"response":{"type":"string","description":"Raw platform response (JSON string or object) — mode 1"},"records":{"type":"array","items":{},"description":"Array of flat metric records — mode 2"},"campaign":{"type":"string","description":"Single-record mode: campaign name"},"spend":{"type":"number","description":"Single-record mode: spend"},"clicks":{"type":"integer","description":"Single-record mode: clicks"},"impressions":{"type":"integer","description":"Single-record mode: impressions"},"conversions":{"type":"number","description":"Single-record mode: conversions"},"conversion_value":{"type":"number","description":"Single-record mode: conversion value"}},"description":"Request body for `POST /api/integrations/ads-sync`."},"LinodeAccountsByIdRotateTokenPostResponse":{"type":"object","x-inferred-from-example":true},"LinodeRecommendationsByIdApplyPostResponse":{"type":"object","x-inferred-from-example":true},"OkErrorStatusEnvelope":{"type":"object","x-inferred-from-example":true},"LinodeOverviewGetResponse":{"type":"object","x-inferred-from-example":true},"OkFlag":{"type":"object","properties":{"ok":{"type":"boolean"}},"required":["ok"],"description":"Bare `{ ok: true }` acknowledgement."},"InternalVendorInvoicePostResponse":{"type":"object","x-inferred-from-example":true},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"IntegrationsAdsSyncGetResponse":{"type":"object","x-inferred-from-example":true},"EmailSendPostRequest":{"type":"object","properties":{"email":{"type":"string","description":"Recipient address, or an array of addresses"},"subject":{"type":"string","description":"Email subject"},"template":{"type":"string","description":"HTML body"},"text":{"type":"string","description":"Plain-text alternative body"}},"required":["email","subject","template"],"description":"Request body for `POST /api/email/send`."},"IntegrationsGoogleAdsSyncPostRequest":{"type":"object","properties":{"from":{"type":"string","description":"YYYY-MM-DD range start; must be given together with 'to'"},"to":{"type":"string","description":"YYYY-MM-DD range end; cannot be in the future (IST)"},"target":{"type":"string","description":"campaigns | geo | both (default both)"}},"description":"Request body for `POST /api/integrations/google-ads/sync`."},"IntegrationsAdsSyncPostResponse":{"type":"object","x-inferred-from-example":true},"LinodeAccountsByIdRotateTokenPostRequest":{"type":"object","properties":{"token":{"type":"string","description":"New Linode personal access token; validated against the Linode API before being stored"}},"required":["token"],"description":"Request body for `POST /api/linode/accounts/{id}/rotate-token`."}},"examples":{"InternalServerErrorOkFlag":{"summary":"500 InternalServerErrorOkFlag","value":{"ok":false,"error":"Internal error"}},"UnauthorizedOkFlag":{"summary":"401 UnauthorizedOkFlag","value":{"ok":false,"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"InternalServerErrorOkFlag":{"description":"Internal server error - unhandled failure. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerErrorOkFlag"}}}}},"UnauthorizedOkFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedOkFlag"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}