{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Inventory & Merchandise","description":"Tags: inventory, merchandise","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"inventory"},{"name":"merchandise"}],"paths":{"/api/inventory":{"get":{"tags":["inventory"],"summary":"List unified inventory (excess, in-house, B2B)","description":"Merges three sources into one paginated list: ExcessBuyback items, completed internal-vendor MasterLeads (B2C in-house) and B2BDealItems from deals in PaymentComplete. Everything before the financial-year start date is hidden and results are cached in Redis for 60 seconds.\n\n**Notes:** No handler-level auth check. pagination.total is only an approximation (sum of the fetched batches, not a real count). Sold masterLeadIds are cached in Redis for 5 minutes under inventory:soldLeadIds.\n\n_Source: `app/api/inventory/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"q","in":"query","required":false,"description":"Matches device name/model, serial/IMEI, vendor first name or brand","schema":{"type":"string","example":"iPhone"}},{"name":"source","in":"query","required":false,"description":"B2C | B2B | Excess — selects which of the three sources are queried","schema":{"type":"string","example":"B2B"}},{"name":"status","in":"query","required":false,"description":"ExcessBuyback status filter; defaults to InStock so sold items are hidden","schema":{"type":"string","example":"Sold","default":"InStock"}},{"name":"oldInventory","in":"query","required":false,"description":"Pass 'true' to show only items older than 30 days (still within the financial year)","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Unified inventory page (Cache-Control: private, s-maxage=60)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryGetResponse"},"example":{"data":[{"id":"1c2d3e4f-5555-6666-7777-888899990000","source":"B2C Excess","deviceName":"Redmi Note 12","description":"Good","serial":"868200051234567","price":7500,"status":"InStock","vendorName":"Sri Balaji Traders","createdAt":"2026-08-10T06:30:00.000Z","specs":{"ram":"N/A","storage":"N/A"}}],"pagination":{"total":1,"limit":20,"page":1}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch inventory"}}}}},"security":[]},"post":{"tags":["inventory"],"summary":"Add one excess-buyback item manually","description":"Creates a single InStock ExcessBuyback row. The requirement source or external vendor name is appended into the condition string, and a transaction id is required for non-cash payments.\n\n**Notes:** Audit-logged (entity INVENTORY). No handler-level auth check. Does not invalidate the inventory:* Redis keys, so the GET can lag by up to 60 seconds.\n\n_Source: `app/api/inventory/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPostRequest"},"example":{"deviceName":"Redmi Note 12","price":7500,"serial":"868200051234567","condition":"Good","source":"External","externalVendorName":"Sri Balaji Traders","paymentMethod":"UPI","transactionId":"TXN-2026-0801"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPostResponse"},"example":{"success":true,"data":{"id":"1c2d3e4f-5555-6666-7777-888899990000","deviceName":"Redmi Note 12","price":7500,"status":"InStock","source":"External"}}}}},"400":{"description":"Validation failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Transaction ID is required for Bank/UPI payments"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to add item"}}}}},"security":[]}},"/api/inventory/bulk-purchase":{"post":{"tags":["inventory"],"summary":"Bulk-add purchased devices to inventory","description":"Validates a list of devices and createMany's them as InStock ExcessBuyback rows. Purchase-type specific fields (vendorId, externalVendorName, requirementSource) are required per type and the external vendor / requirement source is folded into the condition string.\n\n**Notes:** Writes inventory (money-relevant purchase records). Audit-logged (entity INVENTORY). No handler-level auth check.\n\n_Source: `app/api/inventory/bulk-purchase/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryBulkPurchasePostRequest"},"example":{"items":[{"deviceName":"Redmi Note 12","price":7500,"serial":"868200051234567","condition":"Good"}],"purchaseType":"External Vendor","externalVendorName":"Sri Balaji Traders","paymentMethod":"UPI","transactionId":"TXN-2026-0801","purchaseDate":"2026-08-01"}}}},"responses":{"200":{"description":"Rows created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryBulkPurchasePostResponse"},"example":{"success":true,"count":1}}}},"400":{"description":"Validation failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Row 1: Device name, price, and serial/IMEI are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to add items"}}}}},"security":[]}},"/api/inventory/buyers":{"get":{"tags":["inventory"],"summary":"Search customers as sale buyers","description":"Typeahead over the Customers table by first name, last name or phone, returning up to 10 matches with a flattened primary address. Returns an empty list for queries shorter than 2 characters.\n\n**Notes:** No handler-level auth check — exposes customer names, phones and addresses.\n\n_Source: `app/api/inventory/buyers/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Search term; must be at least 2 characters or an empty result is returned","schema":{"type":"string","example":"Anil"}}],"responses":{"200":{"description":"Matching buyers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryBuyersGetResponse"},"example":{"data":[{"id":"c1d2e3f4-1111-2222-3333-444455556666","name":"Anil Sharma","phone":"9876543210","address":"Plot 12, Gachibowli, Hyderabad"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch buyers"}}}}},"security":[]}},"/api/inventory/customers":{"get":{"tags":["inventory"],"summary":"List or search sales customers","description":"Returns up to 50 SalesCustomer rows newest first, optionally filtered by a name/phone search and by type (Customer or Dealer).\n\n**Notes:** No handler-level auth check. Backed by the SalesCustomer table (not Customers).\n\n_Source: `app/api/inventory/customers/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive match on firstName, lastName or phone","schema":{"type":"string","example":"Anil"}},{"name":"type","in":"query","required":false,"description":"'Customer' or 'Dealer'; any other value is ignored","schema":{"type":"string","example":"Dealer"}}],"responses":{"200":{"description":"Sales customers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryCustomersGetResponse"},"example":{"data":[{"customerId":"7a8b9c0d-1111-2222-3333-444455556666","firstName":"Anil","lastName":"Sharma","phone":"9876543210","email":"anil@example.com","type":"Dealer"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch customers"}}}}},"security":[]},"post":{"tags":["inventory"],"summary":"Create a sales customer","description":"Creates a SalesCustomer after checking that the phone is exactly 10 digits and not already registered. Any type other than 'Dealer' is stored as 'Customer'.\n\n**Notes:** Audit-logged (entity CUSTOMER). No handler-level auth check.\n\n_Source: `app/api/inventory/customers/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryCustomersPostRequest"},"example":{"firstName":"Anil","lastName":"Sharma","phone":"9876543210","email":"anil@example.com","type":"Dealer"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryCustomersPostResponse"},"example":{"success":true,"data":{"id":"7a8b9c0d-1111-2222-3333-444455556666","firstName":"Anil","phone":"9876543210","type":"Dealer","customerId":"7a8b9c0d-1111-2222-3333-444455556666"}}}}},"400":{"description":"Validation failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Phone number must be exactly 10 digits"}}}},"409":{"description":"Phone already registered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Customer with this phone already exists"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create customer"}}}}},"security":[]}},"/api/inventory/purchase-contacts":{"get":{"tags":["inventory"],"summary":"Search purchase contacts","description":"Returns PurchaseContact rows sorted by name, optionally filtered by a name or phone substring.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/inventory/purchase-contacts/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Substring match on name or phone","schema":{"type":"string","example":"Suresh"}},{"name":"limit","in":"query","required":false,"description":"Maximum rows returned","schema":{"type":"integer","example":20,"default":20}}],"responses":{"200":{"description":"Contacts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPurchaseContactsGetResponse"},"example":{"success":true,"data":[{"id":8,"name":"Suresh","phone":"9876501234"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch contacts"}}}}},"security":[]},"post":{"tags":["inventory"],"summary":"Create or update a purchase contact","description":"Upserts a PurchaseContact keyed on the whitespace-stripped phone number: an existing row has its name updated, otherwise a new contact is created.\n\n**Notes:** No handler-level auth check and no audit wrapper. Posting an existing phone silently renames that contact.\n\n_Source: `app/api/inventory/purchase-contacts/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPurchaseContactsPostRequest"},"example":{"name":"Suresh","phone":"9876501234"}}}},"responses":{"200":{"description":"Upserted contact","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryPurchaseContactsPostResponse"},"example":{"success":true,"data":{"id":8,"name":"Suresh","phone":"9876501234"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Name and phone are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create contact"}}}}},"security":[]}},"/api/inventory/reports":{"get":{"tags":["inventory"],"summary":"Inventory and sales summary report","description":"Aggregates InternalSale revenue, cost and profit for the chosen period along with current in-stock count and value, plus a per-sale date/amount series for charting.\n\n**Notes:** force-dynamic. No handler-level auth check — exposes revenue and margin figures.\n\n_Source: `app/api/inventory/reports/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"period","in":"query","required":false,"description":"month (current calendar month) | today | all","schema":{"type":"string","example":"today","default":"month"}}],"responses":{"200":{"description":"Summary and series","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryReportsGetResponse"},"example":{"summary":{"revenue":320000,"cost":280000,"profit":40000,"margin":"12.50","salesCount":10,"inventoryCount":42,"inventoryValue":315000},"sales":[{"date":"2026-08-21T09:12:00.000Z","amount":32000}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch report"}}}}},"security":[]}},"/api/inventory/sale":{"post":{"tags":["inventory"],"summary":"Punch an internal device sale","description":"Creates an InternalSale in a transaction, marks each sold item's ExcessBuyback row as Sold with its selling price (creating and back-filling a row from the MasterLead when the item is not yet in inventory), and logs the initial payment in SalePaymentLog.\n\n**Notes:** Money-mutating and multi-table: InternalSale, ExcessBuyback and SalePaymentLog. Items not present in ExcessBuyback are created as placeholder Sold rows and then back-filled from the MasterLead if one matches. Audit-logged (entity SALE). No handler-level auth check.\n\n_Source: `app/api/inventory/sale/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventorySalePostRequest"},"example":{"items":[{"id":"1c2d3e4f-5555-6666-7777-888899990000","sellingPrice":9000}],"customer":{"customerId":"7a8b9c0d-1111-2222-3333-444455556666","firstName":"Anil","lastName":"Sharma","phone":"9876543210"},"totalAmount":9000,"paymentMethod":"UPI","transactionId":"TXN-2026-0915","receivedAmount":9000}}}},"responses":{"200":{"description":"Sale created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventorySalePostResponse"},"example":{"success":true,"data":{"id":"0f9c1b2a-1111-2222-3333-444455556666","customerName":"Anil Sharma","totalAmount":9000,"receivedAmount":9000,"paymentMethod":"UPI"}}}}},"400":{"description":"No items or no customer","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Customer required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process sale"}}}}},"security":[]}},"/api/inventory/sales":{"get":{"tags":["inventory"],"summary":"List internal sales history","description":"Simple paginated list of InternalSale rows newest first, each with its sold items (name, serial, cost price and selling price).\n\n**Notes:** force-dynamic. No handler-level auth check. No filters — unlike /api/finance/sales this endpoint has no search or date range.\n\n_Source: `app/api/inventory/sales/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Sales history page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventorySalesGetResponse"},"example":{"data":[{"id":"0f9c1b2a-1111-2222-3333-444455556666","customerName":"Anil Sharma","customerPhone":"9876543210","totalAmount":9000,"createdAt":"2026-08-21T09:12:00.000Z","items":[{"name":"Redmi Note 12","price":7500,"sellingPrice":9000,"serial":"868200051234567"}]}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":20}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch sales history"}}}}},"security":[]}},"/api/inventory/vendors":{"get":{"tags":["inventory"],"summary":"Search approved vendors for purchases","description":"Typeahead over approved Vendors by first name, last name or phone, returning vendorId, name and phone sorted by first name.\n\n**Notes:** Only isApproved vendors are returned. No handler-level auth check.\n\n_Source: `app/api/inventory/vendors/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive match on firstName, lastName or phoneNumber","schema":{"type":"string","example":"Ravi"}},{"name":"limit","in":"query","required":false,"description":"Maximum rows returned","schema":{"type":"integer","example":10,"default":10}}],"responses":{"200":{"description":"Approved vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InventoryVendorsGetResponse"},"example":{"data":[{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","firstName":"Ravi","lastName":"Kumar","phone":"9876543210"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch vendors"}}}}},"security":[]}},"/api/merchandise/orders":{"get":{"tags":["merchandise"],"summary":"List merchandise orders","description":"Proxies to the merchandise backend's /orders/admin/list endpoint, forwarding the status, search, limit and offset query parameters, and returns the upstream JSON and status.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL. Absent query params are dropped rather than forwarded as empty values.\n\n_Source: `app/api/merchandise/orders/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"status","in":"query","required":false,"description":"Order status filter, forwarded upstream","schema":{"type":"string","example":"pending"}},{"name":"search","in":"query","required":false,"description":"Free-text search, forwarded upstream","schema":{"type":"string","example":"ravi"}},{"name":"limit","in":"query","required":false,"description":"Page size, forwarded upstream","schema":{"type":"integer","example":20}},{"name":"offset","in":"query","required":false,"description":"Row offset, forwarded upstream","schema":{"type":"integer","example":0}}],"responses":{"200":{"description":"Upstream order list passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseOrdersGetResponse"},"example":{"orders":[{"id":"MRCH-2026-000431","status":"pending","total":1499}],"total":42}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/merchandise/orders/{id}":{"get":{"tags":["merchandise"],"summary":"Get a merchandise order","description":"Proxies to the merchandise backend's /orders/admin/{id} endpoint and returns its JSON verbatim along with the upstream status code.\n\n**Notes:** Thin proxy to the merchandise service at process.env.NEXT_PUBLIC_MERCH_API_URL (via lib/merchandise/proxy merchFetch). Non-2xx upstream statuses are passed straight through.\n\n_Source: `app/api/merchandise/orders/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Merchandise order id (URL-encoded before being forwarded)","schema":{"type":"string"},"example":"MRCH-2026-000431"}],"responses":{"200":{"description":"Upstream order payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseOrdersByIdGetResponse"},"example":{"id":"MRCH-2026-000431","status":"shipped","total":1499}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/merchandise/orders/{id}/status":{"patch":{"tags":["merchandise"],"summary":"Update a merchandise order status","description":"Forwards the JSON body to the merchandise backend's /orders/{id}/status endpoint and returns the upstream response and status code.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL. The body is forwarded unvalidated, so upstream 4xx bodies surface here with their original status.\n\n_Source: `app/api/merchandise/orders/[id]/status/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Merchandise order id","schema":{"type":"string"},"example":"MRCH-2026-000431"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseOrdersByIdStatusPatchRequest"},"example":{"status":"shipped"}}}},"responses":{"200":{"description":"Upstream response passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseOrdersByIdStatusPatchResponse"},"example":{"id":"MRCH-2026-000431","status":"shipped"}}}},"400":{"description":"Invalid JSON body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid JSON body"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/merchandise/products":{"get":{"tags":["merchandise"],"summary":"List merchandise products","description":"Proxies to the merchandise backend's /products/admin/list endpoint, forwarding category, limit and offset, and returns the upstream JSON and status.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL.\n\n_Source: `app/api/merchandise/products/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"category","in":"query","required":false,"description":"Product category filter, forwarded upstream","schema":{"type":"string","example":"apparel"}},{"name":"limit","in":"query","required":false,"description":"Page size, forwarded upstream","schema":{"type":"integer","example":20}},{"name":"offset","in":"query","required":false,"description":"Row offset, forwarded upstream","schema":{"type":"integer","example":0}}],"responses":{"200":{"description":"Upstream product list passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseProductsGetResponse"},"example":{"products":[{"id":"prod_8241","name":"Cashkr Tote Bag","price":499}],"total":18}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["merchandise"],"summary":"Create a merchandise product","description":"Forwards the JSON body to the merchandise backend's /products endpoint as a POST and returns the upstream response and status.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL; no local validation, so the success status mirrors whatever the merchandise backend returns.\n\n_Source: `app/api/merchandise/products/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseProductsPostRequest"},"example":{"name":"Cashkr Tote Bag","price":499,"category":"apparel","stock":200}}}},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"}}}},"201":{"description":"Upstream create response passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseProductsPostResponse"},"example":{"id":"prod_8241","name":"Cashkr Tote Bag","price":499}}}},"400":{"description":"Invalid JSON body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid JSON body"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/merchandise/products/{id}":{"put":{"tags":["merchandise"],"summary":"Update a merchandise product","description":"Forwards the JSON body to the merchandise backend's /products/{id} endpoint as a PUT and returns the upstream response and status.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL; body passed through untouched.\n\n_Source: `app/api/merchandise/products/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Merchandise product id","schema":{"type":"string"},"example":"prod_8241"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseProductsByIdPutRequest"},"example":{"name":"Cashkr Tote Bag","price":499,"stock":120}}}},"responses":{"200":{"description":"Upstream response passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MerchandiseProductsByIdPutResponse"},"example":{"id":"prod_8241","name":"Cashkr Tote Bag","price":499}}}},"400":{"description":"Invalid JSON body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid JSON body"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["merchandise"],"summary":"Delete a merchandise product","description":"Proxies a DELETE to the merchandise backend's /products/{id} endpoint and returns the upstream response and status.\n\n**Notes:** Proxy to NEXT_PUBLIC_MERCH_API_URL. Deletion semantics (soft vs hard) are decided by the merchandise backend.\n\n_Source: `app/api/merchandise/products/[id]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Merchandise product id","schema":{"type":"string"},"example":"prod_8241"}],"responses":{"200":{"description":"Upstream response passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"502":{"description":"Upstream unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Upstream error","details":"fetch failed"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"InventoryVendorsGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"MerchandiseProductsPostResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"InventoryPurchaseContactsGetResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseProductsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"InventoryCustomersPostResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseProductsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Product name; the schema is enforced by the merchandise backend, not this route"},"price":{"type":"number","description":"Product price, forwarded upstream"},"category":{"type":"string","description":"Product category, forwarded upstream"}},"required":["name","price"],"description":"Request body for `POST /api/merchandise/products`."},"InventorySalesGetResponse":{"type":"object","x-inferred-from-example":true},"InventoryBulkPurchasePostResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseOrdersByIdStatusPatchResponse":{"type":"object","x-inferred-from-example":true},"InventoryCustomersPostRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"Given name"},"lastName":{"type":"string","description":"Surname; stored as empty string when omitted"},"phone":{"type":"string","description":"Exactly 10 digits; unique across SalesCustomer"},"email":{"type":"string","description":"Email; stored as empty string when omitted"},"type":{"type":"string","description":"'Dealer' to create a dealer, anything else becomes 'Customer'"}},"required":["firstName","phone"],"description":"Request body for `POST /api/inventory/customers`."},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"MerchandiseOrdersGetResponse":{"type":"object","x-inferred-from-example":true},"InventorySalePostRequest":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Non-empty array of { id, sellingPrice } — id is an ExcessBuyback id or a MasterLeads leadId"},"customer":{"type":"object","description":"Selected SalesCustomer: { customerId, firstName, lastName, phone }; customerId is mandatory"},"totalAmount":{"type":"number","description":"Sale total; parsed with parseFloat"},"paymentMethod":{"type":"string","description":"Cash (default) | Bank | UPI"},"transactionId":{"type":"string","description":"Payment reference"},"receivedAmount":{"type":"number","description":"Amount actually collected; defaults to totalAmount"},"saleDate":{"type":"string","description":"Backdate the sale's createdAt"}},"required":["items","customer","totalAmount"],"description":"Request body for `POST /api/inventory/sale`."},"MerchandiseOrdersByIdStatusPatchRequest":{"type":"object","properties":{"status":{"type":"string","description":"New order status; validated by the merchandise backend, not by this route"}},"required":["status"],"description":"Request body for `PATCH /api/merchandise/orders/{id}/status`."},"InventorySalePostResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseProductsByIdPutRequest":{"type":"object","properties":{"name":{"type":"string","description":"Product fields are passed through unvalidated; the merchandise backend defines the schema"},"price":{"type":"number","description":"Product price, forwarded upstream"}},"description":"Request body for `PUT /api/merchandise/products/{id}`."},"InventoryPurchaseContactsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Contact name (trimmed)"},"phone":{"type":"string","description":"Phone; all whitespace is removed and it is the upsert key"}},"required":["name","phone"],"description":"Request body for `POST /api/inventory/purchase-contacts`."},"InventoryPurchaseContactsPostResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseOrdersByIdGetResponse":{"type":"object","x-inferred-from-example":true},"InventoryReportsGetResponse":{"type":"object","x-inferred-from-example":true},"InventoryBulkPurchasePostRequest":{"type":"object","properties":{"items":{"type":"array","items":{},"description":"Non-empty array of { deviceName, price, serial, condition? } — all three of deviceName, price and serial are required per row"},"purchaseType":{"type":"string","description":"CashKr Vendor | External Vendor | Requirement; maps to source Excess | External | Requirement"},"vendorId":{"type":"string","description":"Required when purchaseType is 'CashKr Vendor'"},"externalVendorName":{"type":"string","description":"Required when purchaseType is 'External Vendor'"},"requirementSource":{"type":"string","description":"Required when purchaseType is 'Requirement'"},"paymentMethod":{"type":"string","description":"Cash (default) | Bank | UPI"},"transactionId":{"type":"string","description":"Required whenever paymentMethod is not Cash"},"purchaseDate":{"type":"string","description":"Backdate the createdAt of every row"},"purchaseContactId":{"type":"string","description":"PurchaseContact id to attribute the purchase to"}},"required":["items"],"description":"Request body for `POST /api/inventory/bulk-purchase`."},"InventoryCustomersGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"InventoryGetResponse":{"type":"object","x-inferred-from-example":true},"InventoryBuyersGetResponse":{"type":"object","x-inferred-from-example":true},"MerchandiseProductsGetResponse":{"type":"object","x-inferred-from-example":true},"InventoryPostRequest":{"type":"object","properties":{"deviceName":{"type":"string","description":"Device name/model"},"price":{"type":"number","description":"Purchase price"},"serial":{"type":"string","description":"Serial or IMEI"},"vendorId":{"type":"string","description":"CashKr vendor id, when bought from a vendor"},"condition":{"type":"string","description":"Free-text condition note"},"source":{"type":"string","description":"Excess (default) | External | Requirement | B2B"},"requirementSource":{"type":"string","description":"Appended to condition when source is 'Requirement'"},"externalVendorName":{"type":"string","description":"Appended to condition when source is 'External'"},"paymentMethod":{"type":"string","description":"Cash (default) | Bank | UPI"},"transactionId":{"type":"string","description":"Required when paymentMethod is not Cash"},"purchaseContactId":{"type":"string","description":"PurchaseContact id"}},"required":["deviceName","price","serial"],"description":"Request body for `POST /api/inventory`."},"InventoryPostResponse":{"type":"object","x-inferred-from-example":true}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}