{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Marketing 2","description":"Tags: cx, influencers, marketing","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"cx"},{"name":"influencers"},{"name":"marketing"}],"paths":{"/api/cx/settings":{"get":{"tags":["cx"],"summary":"List settings","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/settings/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"put":{"tags":["cx"],"summary":"Replace settings","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/cx/settings/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/settings/seed":{"post":{"tags":["cx"],"summary":"Seed — POST cx/settings/seed","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/settings/seed/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/webhooks/cxgenie":{"post":{"tags":["cx"],"summary":"Create cxgenie","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. Query parameters: token, verify_token. \n\n_Source: `app/api/cx/webhooks/cxgenie/route.ts`_\n\n_Auth: `webhookSecret`_","parameters":[{"name":"token","in":"query","required":false,"description":"Query parameter `token`.","schema":{"type":"string"}},{"name":"verify_token","in":"query","required":false,"description":"Query parameter `verify_token`.","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"webhookSecret":[]}]}},"/api/influencers/{segments}":{"get":{"tags":["influencers"],"summary":"Get influencers","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/influencers/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"post":{"tags":["influencers"],"summary":"Create influencers","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/influencers/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"patch":{"tags":["influencers"],"summary":"Update influencers","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/influencers/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]}},"/api/marketing/analytics":{"get":{"tags":["marketing"],"summary":"Get marketing campaign and push analytics","description":"Aggregates campaign counts by status and type, the 10 most recent campaigns, push-notification totals (recipients, successes, failures) with a per-day breakdown, and segment/template counts, all over a trailing window.\n\n**Notes:** No handler-level auth check - this endpoint exposes marketing volume metrics to any caller who can reach it.\n\n_Source: `app/api/marketing/analytics/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"days","in":"query","required":false,"description":"Trailing window in days","schema":{"type":"integer","example":30,"default":30}},{"name":"targetApp","in":"query","required":false,"description":"Filter to one app: customer or vendor","schema":{"type":"string","example":"customer"}}],"responses":{"200":{"description":"Analytics payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingAnalyticsGetResponse"},"example":{"overview":{"totalCampaigns":12,"activeCampaigns":3,"completedCampaigns":7,"totalSegments":9,"totalTemplates":21,"totalNotificationsSent":48210,"totalDelivered":45102,"totalFailed":3108,"overallDeliveryRate":"93.6"},"campaignsByType":[{"type":"one-time","count":8}],"recentCampaigns":[],"dailyStats":[{"date":"2026-08-31","sent":1500,"delivered":1421,"failed":79,"count":2}],"period":{"days":30,"since":"2026-08-02T00:00:00.000Z"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch analytics"}}}}},"security":[]}},"/api/marketing/campaigns":{"get":{"tags":["marketing"],"summary":"List campaigns with filters and pagination","description":"Returns a paginated campaign list with each campaign's audience segments (with cached counts), ordered steps and template summaries, plus an execution count, filtered by status, type, target app and a name/description search.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/marketing/campaigns/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"status","in":"query","required":false,"description":"Filter by status: draft, active, paused, completed","schema":{"type":"string","example":"active"}},{"name":"type","in":"query","required":false,"description":"Filter by type: one-time, drip, recurring, ab-test","schema":{"type":"string","example":"drip"}},{"name":"targetApp","in":"query","required":false,"description":"Filter by target app: customer or vendor","schema":{"type":"string","example":"customer"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on campaign name or description","schema":{"type":"string","example":"diwali"}}],"responses":{"200":{"description":"Campaign page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsGetResponse"},"example":{"campaigns":[],"total":12,"page":1,"limit":20,"totalPages":1}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch campaigns"}}}}},"security":[]},"post":{"tags":["marketing"],"summary":"Create a marketing campaign","description":"Creates a campaign in draft with its audience segments and at least one step. A/B campaigns must have at least 2 variants whose abPercentage values sum to exactly 100; recurring campaigns must supply a recurringPattern.\n\n**Notes:** Creating a campaign does not send anything - it must be activated via /api/marketing/campaigns/{id}/activate. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/campaigns/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsPostRequest"},"example":{"name":"Diwali reactivation","type":"ab-test","targetApp":"customer","goal":"reactivate dormant sellers","segmentIds":["a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"],"steps":[{"templateId":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","stepOrder":0,"delayMinutes":0,"abVariant":"A","abPercentage":50},{"templateId":"c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f","stepOrder":1,"delayMinutes":0,"abVariant":"B","abPercentage":50}],"startAt":"2026-10-01T09:00:00.000Z","createdBy":"ops@cashkr.com"}}}},"responses":{"201":{"description":"Campaign created (draft)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsPostResponse"},"example":{"campaign":{"id":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b","name":"Diwali reactivation","type":"ab-test","status":"draft"}}}}},"400":{"description":"Validation failed or A/B-test / recurring rules broken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"A/B test variant percentages must add up to 100"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create campaign"}}}}},"security":[]}},"/api/marketing/campaigns/process":{"post":{"tags":["marketing"],"summary":"Process due campaign executions (webhook)","description":"Scheduler webhook that runs processCampaignExecutions, dispatching every pending CampaignExecution whose scheduledAt has arrived and scheduling follow-up drip steps. Returns how many executions were processed.\n\n**Notes:** Major side effect: actually sends push notifications to customers/vendors. Intended to be called on a schedule by Pabbly; the request body is ignored.\n\n_Source: `app/api/marketing/campaigns/process/route.ts`_\n\n_Auth: `pabbly-secret`_","responses":{"200":{"description":"Executions processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsProcessPostResponse"},"example":{"success":true,"message":"Processed 3 campaign executions","processed":3}}}},"401":{"description":"Missing or wrong webhook secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process campaigns"}}}}},"security":[{"pabblySecret":[]}]}},"/api/marketing/campaigns/{id}":{"get":{"tags":["marketing"],"summary":"Get one campaign with steps and executions","description":"Returns a campaign with its audience segments, ordered steps (including each step's notification template) and the 50 most recent executions.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/marketing/campaigns/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"responses":{"200":{"description":"Campaign detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdGetResponse"},"example":{"campaign":{"id":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b","name":"Diwali reactivation","type":"drip","status":"active","targetApp":"customer","steps":[],"audiences":[],"executions":[]}}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch campaign"}}}}},"security":[]},"put":{"tags":["marketing"],"summary":"Update a draft or paused campaign","description":"Updates campaign metadata, schedule and (optionally) replaces its audience segments and step list. Active campaigns are rejected - they must be paused first. Payload is validated with zod.\n\n**Notes:** Sending `steps` deletes all existing CampaignStep rows for the campaign and recreates them, so step ids change. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/campaigns/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdPutRequest"},"example":{"name":"Diwali reactivation v2","goal":"reactivate dormant sellers","segmentIds":["a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"],"steps":[{"templateId":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","stepOrder":0,"delayMinutes":0}],"startAt":"2026-10-01T09:00:00.000Z"}}}},"responses":{"200":{"description":"Campaign updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdPutResponse"},"example":{"campaign":{"id":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b","name":"Diwali reactivation v2","status":"draft"}}}}},"400":{"description":"Validation failed or campaign is active","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Cannot edit an active campaign. Pause it first."}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update campaign"}}}}},"security":[]},"delete":{"tags":["marketing"],"summary":"Delete a non-active campaign","description":"Permanently deletes the campaign. Active campaigns are rejected and must be paused or archived first.\n\n**Notes:** Irreversible delete; steps, audiences and executions go with it via cascade. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/campaigns/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Campaign is active","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Cannot delete an active campaign. Pause or archive it first."}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete campaign"}}}}},"security":[]}},"/api/marketing/campaigns/{id}/ab-winner":{"post":{"tags":["marketing"],"summary":"Pick the winning variant of an A/B campaign","description":"Records the chosen campaign step as the A/B winner, stamps abWinnerPickedAt, and closes the campaign by setting status to completed and endAt to now. Only campaigns of type ab-test are accepted.\n\n**Notes:** Wrapped in withAuditLog (entity CAMPAIGN) which logs when a session is present but performs no authentication - the route itself has No handler-level auth check.\n\n_Source: `app/api/marketing/campaigns/[id]/ab-winner/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdAbWinnerPostRequest"},"example":{"winnerId":"7a1e2b3c-4d5f-4a6b-8c9d-0e1f2a3b4c5d"}}}},"responses":{"200":{"description":"Winner recorded and campaign completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdAbWinnerPostResponse"},"example":{"success":true,"message":"Variant B selected as winner","winner":{"stepId":"7a1e2b3c-4d5f-4a6b-8c9d-0e1f2a3b4c5d","variant":"B","sentCount":5000,"successCount":4820}}}}},"400":{"description":"winnerId missing, campaign is not an A/B test, or step not in campaign","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Only A/B test campaigns can have a winner"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to pick winner"}}}}},"security":[]}},"/api/marketing/campaigns/{id}/activate":{"post":{"tags":["marketing"],"summary":"Activate a campaign and schedule its executions","description":"Flips a campaign to active and creates pending CampaignExecution rows: one for the first step for one-time, drip and recurring campaigns, or one per variant for ab-test campaigns. startAt is the campaign's future startAt if set, otherwise now.\n\n**Notes:** Side effect: schedules real push-notification sends - the executions are picked up by /api/marketing/campaigns/process. No handler-level auth check (withAuditLog only records); middleware enforces the session. No request body is read.\n\n_Source: `app/api/marketing/campaigns/[id]/activate/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"responses":{"200":{"description":"Campaign activated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdActivatePostResponse"},"example":{"success":true,"message":"Campaign activated successfully","campaign":{"id":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b","status":"active","startAt":"2026-09-01T09:00:00.000Z"}}}}},"400":{"description":"Already active or has no steps","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign must have at least one step"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to activate campaign"}}}}},"security":[]}},"/api/marketing/campaigns/{id}/pause":{"post":{"tags":["marketing"],"summary":"Pause an active campaign","description":"Sets the campaign status to paused and cancels every pending CampaignExecution by marking it failed with errorMessage \"Campaign paused\". Returns how many executions were cancelled.\n\n**Notes:** Cancelled executions are written as status \"failed\", not a distinct cancelled state. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/campaigns/[id]/pause/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"responses":{"200":{"description":"Campaign paused","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdPausePostResponse"},"example":{"success":true,"message":"Campaign paused","cancelledExecutions":2}}}},"400":{"description":"Campaign is not active","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Only active campaigns can be paused"}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to pause campaign"}}}}},"security":[]}},"/api/marketing/campaigns/{id}/stats":{"get":{"tags":["marketing"],"summary":"Get per-step and A/B stats for a campaign","description":"Returns campaign totals with an overall delivery rate, per-step send/success/failure counts with their executions, and for ab-test campaigns a variant-by-variant comparison including each variant's delivery rate.\n\n**Notes:** abComparison is null for non-ab-test campaigns. No handler-level auth check.\n\n_Source: `app/api/marketing/campaigns/[id]/stats/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Campaign UUID","schema":{"type":"string"},"example":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b"}],"responses":{"200":{"description":"Campaign stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingCampaignsByIdStatsGetResponse"},"example":{"campaign":{"id":"3f6c9b0e-8a12-4d7b-b9ab-1c2d3e4f5a6b","name":"Diwali reactivation","type":"ab-test","status":"active","targetApp":"customer","totalSent":10000,"totalDelivered":9540,"totalFailed":460,"overallDeliveryRate":"95.4"},"stepStats":[{"id":"7a1e2b3c-4d5f-4a6b-8c9d-0e1f2a3b4c5d","stepOrder":0,"templateName":"diwali-a","templateTitle":"Sell your old phone this Diwali","abVariant":"A","delayMinutes":0,"sentCount":5000,"successCount":4720,"failureCount":280,"deliveryRate":"94.4","executions":[]}],"abComparison":[{"variant":"A","percentage":50,"sentCount":5000,"successCount":4720,"failureCount":280,"deliveryRate":"94.4","title":"Sell your old phone this Diwali"}]}}}},"404":{"description":"Campaign not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Campaign not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch campaign stats"}}}}},"security":[]}},"/api/marketing/segments":{"get":{"tags":["marketing"],"summary":"List audience segments","description":"Returns all audience segments (newest first) with a count of campaign audiences using each one, optionally filtered by target app and a name/description search.\n\n**Notes:** Unpaginated. No handler-level auth check.\n\n_Source: `app/api/marketing/segments/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"targetApp","in":"query","required":false,"description":"Filter by app: customer or vendor","schema":{"type":"string","example":"customer"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on segment name or description","schema":{"type":"string","example":"dormant"}}],"responses":{"200":{"description":"Segment list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsGetResponse"},"example":{"segments":[{"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Dormant Jaipur sellers","targetApp":"customer","cachedCount":12033,"_count":{"audiences":2}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch segments"}}}}},"security":[]},"post":{"tags":["marketing"],"summary":"Create an audience segment","description":"Creates a new audience segment for the customer or vendor app from a set of filter conditions combined with AND or OR logic. Validated with zod.\n\n**Notes:** No handler-level auth check (withAuditLog only records); middleware enforces the session. Call /api/marketing/segments/{id}/count afterwards to populate cachedCount.\n\n_Source: `app/api/marketing/segments/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsPostRequest"},"example":{"name":"Dormant Jaipur sellers","description":"No order in 90 days","targetApp":"customer","filters":{"conditions":[{"field":"city","operator":"equals","value":"Jaipur"}],"logic":"AND"},"createdBy":"ops@cashkr.com"}}}},"responses":{"201":{"description":"Segment created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsPostResponse"},"example":{"segment":{"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Dormant Jaipur sellers","targetApp":"customer","cachedCount":0}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create segment"}}}}},"security":[]}},"/api/marketing/segments/{id}":{"get":{"tags":["marketing"],"summary":"Get one audience segment","description":"Returns the audience segment with a count of how many campaign audiences reference it.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/marketing/segments/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"AudienceSegment UUID","schema":{"type":"string"},"example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}],"responses":{"200":{"description":"Segment detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdGetResponse"},"example":{"segment":{"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Dormant Jaipur sellers","targetApp":"customer","cachedCount":12033,"_count":{"audiences":2}}}}}},"404":{"description":"Segment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Segment not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch segment"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"MarketingCampaignsPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingAnalyticsGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsListEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"array","items":{}}},"required":["details","error"],"description":"Validation error envelope `{ error, details[] }`; `details` lists the individual field problems."},"MarketingSegmentsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Segment name, 1-255 chars"},"description":{"type":"string","description":"Free-text description"},"targetApp":{"type":"string","description":"customer | vendor"},"filters":{"type":"object","description":"{ conditions: [{ field, operator, value }], logic: \"AND\" | \"OR\" }"},"createdBy":{"type":"string","description":"Free-text creator label"}},"required":["name","targetApp","filters"],"description":"Request body for `POST /api/marketing/segments`."},"MarketingCampaignsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"MarketingCampaignsByIdPutRequest":{"type":"object","properties":{"name":{"type":"string","description":"Campaign name, 1-255 chars"},"description":{"type":"string","description":"Free-text description"},"goal":{"type":"string","description":"Goal label, max 255 chars"},"segmentIds":{"type":"array","items":{},"description":"Array of audience segment UUIDs; replaces the existing audience list entirely"},"steps":{"type":"array","items":{},"description":"Full replacement step list; each item takes templateId (uuid), stepOrder (int >= 0), delayMinutes (int >= 0, default 0), abVariant (<=10 chars), abPercentage (1-100), titleOverride (<=255), bodyOverride"},"recurringPattern":{"type":"object","description":"{ type: daily|weekly|monthly, time, dayOfWeek 0-6, dayOfMonth 1-31 } or null"},"recurringEnd":{"type":"string","description":"ISO datetime when the recurrence stops, or null"},"startAt":{"type":"string","description":"ISO datetime for the first send, or null"}},"description":"Request body for `PUT /api/marketing/campaigns/{id}`."},"MarketingSegmentsPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsByIdStatsGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsByIdActivatePostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsProcessPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsByIdAbWinnerPostRequest":{"type":"object","properties":{"winnerId":{"type":"string","description":"UUID of the campaign step (variant) that won; must belong to this campaign"}},"required":["winnerId"],"description":"Request body for `POST /api/marketing/campaigns/{id}/ab-winner`."},"MarketingCampaignsByIdAbWinnerPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsByIdPausePostResponse":{"type":"object","x-inferred-from-example":true},"MarketingCampaignsPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Campaign name, 1-255 chars"},"description":{"type":"string","description":"Free-text description"},"type":{"type":"string","description":"one-time | drip | recurring | ab-test"},"targetApp":{"type":"string","description":"customer | vendor"},"goal":{"type":"string","description":"Goal label, max 255 chars"},"segmentIds":{"type":"array","items":{},"description":"Audience segment UUIDs to target"},"steps":{"type":"array","items":{},"description":"At least one step: templateId (uuid), stepOrder (int >= 0), delayMinutes (default 0), abVariant, abPercentage (1-100), titleOverride, bodyOverride"},"recurringPattern":{"type":"object","description":"Required when type is recurring: { type: daily|weekly|monthly, time, dayOfWeek, dayOfMonth }"},"recurringEnd":{"type":"string","description":"ISO datetime the recurrence ends"},"startAt":{"type":"string","description":"ISO datetime of the first send"},"createdBy":{"type":"string","description":"Free-text creator label"}},"required":["name","type","targetApp","steps"],"description":"Request body for `POST /api/marketing/campaigns`."}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"BadGateway":{"summary":"502 BadGateway","value":{"error":"Upstream error"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"ServiceUnavailable":{"summary":"503 ServiceUnavailable","value":{"error":"Service unavailable"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"ServiceUnavailable":{"description":"Service unavailable - a dependency or required configuration is not available. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/ServiceUnavailable"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"BadGateway":{"description":"Upstream error - a dependent service call failed. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadGateway"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}