{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Marketing 3","description":"Tags: marketing, push-notifications, referrals, reviews","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"marketing"},{"name":"push-notifications"},{"name":"referrals"},{"name":"reviews"}],"paths":{"/api/marketing/segments/{id}":{"put":{"tags":["marketing"],"summary":"Update an audience segment","description":"Updates a segment's name, description and/or filter conditions. Any update resets cachedCount to 0 and clears lastCountAt so the count is recomputed.\n\n**Notes:** targetApp cannot be changed here. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/segments/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"AudienceSegment UUID","schema":{"type":"string"},"example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdPutRequest"},"example":{"name":"Dormant Jaipur sellers","filters":{"conditions":[{"field":"city","operator":"equals","value":"Jaipur"},{"field":"lastOrderDaysAgo","operator":"gte","value":90}],"logic":"AND"}}}}},"responses":{"200":{"description":"Segment updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdPutResponse"},"example":{"segment":{"id":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d","name":"Dormant Jaipur sellers","cachedCount":0,"lastCountAt":null}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"500":{"description":"Server error (includes segment not found)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update segment"}}}}},"security":[]},"delete":{"tags":["marketing"],"summary":"Delete an unused audience segment","description":"Deletes the segment, but refuses if it is referenced by any campaign whose status is active or paused, returning the offending campaign names.\n\n**Notes:** No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/segments/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"AudienceSegment UUID","schema":{"type":"string"},"example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Segment is used by active/paused campaigns","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdDelete400Response"},"example":{"error":"Cannot delete segment used in active campaigns","campaigns":["Diwali reactivation"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete segment"}}}}},"security":[]}},"/api/marketing/segments/{id}/count":{"get":{"tags":["marketing"],"summary":"Count a segment's total and reachable users","description":"Evaluates the segment's saved filters against the customers or vendors table and returns both the total matching count and the reachable count (those with a push token). The reachable count is written back to the segment's cachedCount with a lastCountAt timestamp.\n\n**Notes:** Despite being a GET, this writes to the database (updates cachedCount/lastCountAt). No handler-level auth check; can be an expensive count over the full customers/vendors tables.\n\n_Source: `app/api/marketing/segments/[id]/count/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"AudienceSegment UUID","schema":{"type":"string"},"example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}],"responses":{"200":{"description":"Counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdCountGetResponse"},"example":{"totalCount":18420,"reachableCount":12033}}}},"404":{"description":"Segment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Segment not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to count segment"}}}}},"security":[]}},"/api/marketing/segments/{id}/preview":{"get":{"tags":["marketing"],"summary":"Preview the first 20 users in a segment","description":"Runs the segment's filters and returns up to 20 of the newest matching customers or vendors with their contact details (name, phone, email, firebaseId, city) plus a hasMore flag.\n\n**Notes:** Returns customer/vendor PII (phone numbers, emails, push tokens) with No handler-level auth check - treat as sensitive.\n\n_Source: `app/api/marketing/segments/[id]/preview/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"AudienceSegment UUID","schema":{"type":"string"},"example":"a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d"}],"responses":{"200":{"description":"Preview rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingSegmentsByIdPreviewGetResponse"},"example":{"users":[{"customerId":"CUST-90211","firstName":"Ravi","lastName":"Sharma","phone":"9876543210","email":"ravi@example.com","firebaseId":"fcm-token-abc","createdAt":"2026-05-11T08:02:00.000Z","addresses":[{"city":"Jaipur"}]}],"hasMore":true}}}},"404":{"description":"Segment not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Segment not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to preview segment"}}}}},"security":[]}},"/api/marketing/templates":{"get":{"tags":["marketing"],"summary":"List notification templates","description":"Returns notification templates (newest first) with a count of campaign steps using each, filtered by target app, a name/title/body search, and by default only active templates.\n\n**Notes:** Unpaginated. No handler-level auth check.\n\n_Source: `app/api/marketing/templates/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"targetApp","in":"query","required":false,"description":"Filter by app: customer or vendor","schema":{"type":"string","example":"customer"}},{"name":"search","in":"query","required":false,"description":"Case-insensitive match on name, title or body","schema":{"type":"string","example":"diwali"}},{"name":"activeOnly","in":"query","required":false,"description":"Only the literal string \"false\" disables the isActive filter; any other value keeps it on","schema":{"type":"boolean","example":false,"default":true}}],"responses":{"200":{"description":"Template list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesGetResponse"},"example":{"templates":[{"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"diwali-a","title":"Sell your old phone this Diwali","targetApp":"customer","isActive":true,"_count":{"steps":3}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch templates"}}}}},"security":[]},"post":{"tags":["marketing"],"summary":"Create a notification template","description":"Creates a reusable push-notification template for the customer or vendor app with a title, body, optional image, deep link and string metadata payload. Validated with zod.\n\n**Notes:** No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/templates/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesPostRequest"},"example":{"name":"diwali-a","title":"Sell your old phone this Diwali","body":"Get up to 20% extra this week.","targetApp":"customer","deepLink":"cashkr://sell","metadata":{"campaign":"diwali26"},"createdBy":"ops@cashkr.com"}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesPostResponse"},"example":{"template":{"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"diwali-a","targetApp":"customer","isActive":true}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create template"}}}}},"security":[]}},"/api/marketing/templates/{id}":{"get":{"tags":["marketing"],"summary":"Get one notification template","description":"Returns the notification template along with a count of campaign steps that reference it.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/marketing/templates/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"NotificationTemplate UUID","schema":{"type":"string"},"example":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"}],"responses":{"200":{"description":"Template detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesByIdGetResponse"},"example":{"template":{"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","name":"diwali-a","title":"Sell your old phone this Diwali","body":"Get up to 20% extra this week.","targetApp":"customer","isActive":true,"_count":{"steps":3}}}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Template not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch template"}}}}},"security":[]},"put":{"tags":["marketing"],"summary":"Update a notification template","description":"Partially updates a push-notification template's name, title, body, image, deep link, metadata or active flag. Empty-string imageUrl/deepLink are stored as null. Validated with zod.\n\n**Notes:** targetApp cannot be changed here. Editing a template changes the copy of any live campaign step that references it. No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/templates/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"NotificationTemplate UUID","schema":{"type":"string"},"example":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesByIdPutRequest"},"example":{"title":"Sell your old phone this Diwali","body":"Get up to 20% extra this week.","deepLink":"cashkr://sell","isActive":true}}}},"responses":{"200":{"description":"Template updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesByIdPutResponse"},"example":{"template":{"id":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e","title":"Sell your old phone this Diwali","isActive":true}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"500":{"description":"Server error (includes template not found)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update template"}}}}},"security":[]},"delete":{"tags":["marketing"],"summary":"Delete an unused notification template","description":"Deletes the template, unless it is used by a campaign step belonging to an active or paused campaign, in which case it returns the blocking campaign names.\n\n**Notes:** No handler-level auth check (withAuditLog only records); middleware enforces the session.\n\n_Source: `app/api/marketing/templates/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"NotificationTemplate UUID","schema":{"type":"string"},"example":"b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Template used by active/paused campaigns","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarketingTemplatesByIdDelete400Response"},"example":{"error":"Cannot delete template used in active campaigns","campaigns":["Diwali reactivation"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete template"}}}}},"security":[]}},"/api/push-notifications":{"get":{"tags":["push-notifications"],"summary":"List push notifications","description":"Paginated history of push notification campaigns with status, target app and text search filters.\n\n_Source: `app/api/push-notifications/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"status","in":"query","required":false,"description":"sent | scheduled | failed | cancelled","schema":{"type":"string","example":"sent"}},{"name":"targetApp","in":"query","required":false,"description":"customer | vendor","schema":{"type":"string","example":"customer"}},{"name":"search","in":"query","required":false,"description":"Matches title or body","schema":{"type":"string","example":"festive"}}],"responses":{"200":{"description":"Notification list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsGetResponse"},"example":{"notifications":[{"id":"cm3push0001","title":"Festive bonus","status":"sent","targetApp":"customer"}],"total":64,"page":1,"limit":20,"totalPages":4}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch notifications"}}}}},"security":[]},"post":{"tags":["push-notifications"],"summary":"Send or schedule a push notification","description":"Sends an FCM push immediately to all users of an app, a topic, or a comma-separated list of user ids — or stores it as scheduled when scheduledAt is in the future — and records the campaign with its delivery counters.\n\n**Notes:** Unauthenticated but capable of pushing to the entire customer or vendor base (FCM multicast in 500-token batches). Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/push-notifications/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsPostRequest"},"example":{"title":"Festive bonus","body":"Sell your old phone this week and get an extra 5% .","targetApp":"customer","targetType":"all","deepLink":"/offers"}}}},"responses":{"200":{"description":"Sent or scheduled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsPostResponse"},"example":{"success":true,"message":"Notification sent successfully","notification":{"id":"cm3push0001","status":"sent"},"details":{"recipientCount":12000,"successCount":11740,"failureCount":260}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to send notification"}}}}},"security":[]}},"/api/push-notifications/funnel":{"get":{"tags":["push-notifications"],"summary":"List funnel","description":"Operation reconstructed from source during the re-audit. Query parameters: days, from, to, includeTest. \n\n_Source: `app/api/push-notifications/funnel/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"days","in":"query","required":false,"description":"Query parameter `days`.","schema":{"type":"string"}},{"name":"from","in":"query","required":false,"description":"Query parameter `from`.","schema":{"type":"string"}},{"name":"to","in":"query","required":false,"description":"Query parameter `to`.","schema":{"type":"string"}},{"name":"includeTest","in":"query","required":false,"description":"Query parameter `includeTest`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/push-notifications/process-scheduled":{"post":{"tags":["push-notifications"],"summary":"Dispatch due scheduled push notifications","description":"Finds up to 50 scheduled notifications whose time has come and sends each one via FCM to all users, a topic, or an explicit list of user ids, then marks each row sent or failed with its delivery counters.\n\n**Notes:** Called externally by Pabbly Connect every 30 minutes. Side effect: sends real push notifications, potentially to the entire customer or vendor base in 500-token FCM batches. No request body is read.\n\n_Source: `app/api/push-notifications/process-scheduled/route.ts`_\n\n_Auth: `pabbly-secret`_","responses":{"200":{"description":"Processed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsProcessScheduledPostResponse"},"example":{"success":true,"message":"Processed 3 scheduled notifications","processed":3,"results":[{"id":"cm3push0001","success":true}]}}}},"401":{"description":"Bad or missing webhook secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process scheduled notifications"}}}}},"security":[{"pabblySecret":[]}]}},"/api/push-notifications/{id}":{"get":{"tags":["push-notifications"],"summary":"Get one push notification","description":"Returns a single PushNotification record by id, including its status and delivery counters.\n\n_Source: `app/api/push-notifications/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PushNotification id","schema":{"type":"string"},"example":"cm3push0001"}],"responses":{"200":{"description":"Notification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsByIdGetResponse"},"example":{"notification":{"id":"cm3push0001","title":"Festive bonus","status":"sent","recipientCount":12000,"successCount":11740}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Notification not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch notification"}}}}},"security":[]},"delete":{"tags":["push-notifications"],"summary":"Cancel a scheduled push notification","description":"Sets a scheduled notification's status to cancelled so the scheduled processor skips it. Only notifications still in the 'scheduled' state can be cancelled.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/push-notifications/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"PushNotification id","schema":{"type":"string"},"example":"cm3push0001"}],"responses":{"200":{"description":"Cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushNotificationsByIdDeleteResponse"},"example":{"success":true,"message":"Notification cancelled","notification":{"id":"cm3push0001","status":"cancelled"}}}}},"400":{"description":"Not in scheduled state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Only scheduled notifications can be cancelled"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Notification not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to cancel notification"}}}}},"security":[]}},"/api/referrals/{segments}":{"get":{"tags":["referrals"],"summary":"Get referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/referrals/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"post":{"tags":["referrals"],"summary":"Create referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/referrals/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"put":{"tags":["referrals"],"summary":"Replace referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/referrals/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"patch":{"tags":["referrals"],"summary":"Update referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/referrals/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]},"delete":{"tags":["referrals"],"summary":"Delete referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/referrals/[[...segments]]/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Catch-all path segments (`/`-joined).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[]}},"/api/reviews/fetch-appstore":{"post":{"tags":["reviews"],"summary":"Import 4-5 star App Store reviews","description":"Pulls Apple's public customer-reviews RSS feed for the configured app, keeps only 4- and 5-star entries, upserts them into PlatformReview by external id and enforces the stored-review cap.\n\n**Notes:** Calls the upstream itunes.apple.com RSS feed for country 'in' using APP_STORE_APP_ID. Reads no request body. Runs enforceReviewLimit('APP_STORE') which can delete older stored reviews.\n\n_Source: `app/api/reviews/fetch-appstore/route.ts`_\n\n_Auth: `pabbly-secret`_","responses":{"200":{"description":"Import summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsFetchAppstorePostResponse"},"example":{"success":true,"message":"Processed 18 App Store reviews (5 new, 13 updated)","total":18,"created":5,"updated":13}}}},"401":{"description":"Bad or missing webhook secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized: Invalid webhook secret"}}}},"500":{"description":"APP_STORE_APP_ID not configured or server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"APP_STORE_APP_ID not configured"}}}},"502":{"description":"Upstream feed failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"App Store feed request failed (503)"}}}}},"security":[{"pabblySecret":[]}]}}},"components":{"schemas":{"ReviewsFetchAppstorePostResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"MarketingTemplatesByIdPutResponse":{"type":"object","x-inferred-from-example":true},"PushNotificationsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"PushNotificationsProcessScheduledPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingTemplatesGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdDelete400Response":{"type":"object","x-inferred-from-example":true},"ErrorDetailsListEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"array","items":{}}},"required":["details","error"],"description":"Validation error envelope `{ error, details[] }`; `details` lists the individual field problems."},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"PushNotificationsPostRequest":{"type":"object","properties":{"title":{"type":"string","description":"Notification title, max 255 chars"},"body":{"type":"string","description":"Notification body text"},"imageUrl":{"type":"string","description":"Image URL shown in the notification"},"targetApp":{"type":"string","description":"customer | vendor"},"targetType":{"type":"string","description":"all | topic | individual"},"targetValue":{"type":"string","description":"Topic name, or comma-separated customerIds/vendorIds for 'individual'"},"scheduledAt":{"type":"string","description":"ISO datetime; a future value schedules instead of sending"},"sentBy":{"type":"string","description":"Admin who triggered the campaign"},"metadata":{"type":"object","description":"String map merged into the FCM data payload"},"deepLink":{"type":"string","description":"App route sent as data.pageRoute, max 500 chars"}},"required":["title","body","targetApp","targetType"],"description":"Request body for `POST /api/push-notifications`."},"PushNotificationsGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingTemplatesPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingTemplatesByIdPutRequest":{"type":"object","properties":{"name":{"type":"string","description":"Internal template name, 1-255 chars"},"title":{"type":"string","description":"Notification title, 1-255 chars"},"body":{"type":"string","description":"Notification body text"},"imageUrl":{"type":"string","description":"Valid URL, empty string or null"},"deepLink":{"type":"string","description":"In-app deep link, max 500 chars, empty string or null"},"metadata":{"type":"object","description":"Flat map of string key/value data payload, or null"},"isActive":{"type":"boolean","description":"Whether the template can be used in new campaigns"}},"description":"Request body for `PUT /api/marketing/templates/{id}`."},"MarketingTemplatesByIdDelete400Response":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdCountGetResponse":{"type":"object","x-inferred-from-example":true},"PushNotificationsPostResponse":{"type":"object","x-inferred-from-example":true},"MarketingTemplatesByIdGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdPreviewGetResponse":{"type":"object","x-inferred-from-example":true},"MarketingTemplatesPostRequest":{"type":"object","properties":{"name":{"type":"string","description":"Internal template name, 1-255 chars"},"title":{"type":"string","description":"Notification title, 1-255 chars"},"body":{"type":"string","description":"Notification body text"},"imageUrl":{"type":"string","description":"Valid URL or empty string"},"targetApp":{"type":"string","description":"customer | vendor"},"deepLink":{"type":"string","description":"In-app deep link, max 500 chars"},"metadata":{"type":"object","description":"Flat map of string key/value data payload"},"createdBy":{"type":"string","description":"Free-text creator label"}},"required":["name","title","body","targetApp"],"description":"Request body for `POST /api/marketing/templates`."},"PushNotificationsByIdDeleteResponse":{"type":"object","x-inferred-from-example":true},"MarketingSegmentsByIdPutRequest":{"type":"object","properties":{"name":{"type":"string","description":"Segment name, 1-255 chars"},"description":{"type":"string","description":"Free-text description"},"filters":{"type":"object","description":"{ conditions: [{ field, operator, value }], logic: \"AND\" | \"OR\" }"}},"description":"Request body for `PUT /api/marketing/segments/{id}`."}},"responses":{"ServiceUnavailable":{"description":"Service unavailable - a dependency or required configuration is not available. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/ServiceUnavailable"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadGateway":{"description":"Upstream error - a dependent service call failed. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadGateway"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"examples":{"BadGateway":{"summary":"502 BadGateway","value":{"error":"Upstream error"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"ServiceUnavailable":{"summary":"503 ServiceUnavailable","value":{"error":"Service unavailable"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}