{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Marketing 4","description":"Tags: reviews","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"reviews"}],"paths":{"/api/reviews/fetch-playstore":{"post":{"tags":["reviews"],"summary":"Import 4-5 star Play Store reviews","description":"Scrapes the 50 newest Play Store reviews for the configured app, keeps only 4- and 5-star entries, upserts them into PlatformReview by external id and enforces the stored-review cap.\n\n**Notes:** Uses google-play-scraper against PLAY_STORE_APP_ID. Reads no request body. Runs enforceReviewLimit('PLAY_STORE') which can delete older stored reviews.\n\n_Source: `app/api/reviews/fetch-playstore/route.ts`_\n\n_Auth: `pabbly-secret`_","responses":{"200":{"description":"Import summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsFetchPlaystorePostResponse"},"example":{"success":true,"message":"Processed 22 Play Store reviews (7 new, 15 updated)","total":22,"created":7,"updated":15}}}},"401":{"description":"Bad or missing webhook secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized: Invalid webhook secret"}}}},"500":{"description":"PLAY_STORE_APP_ID not configured or scrape failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"PLAY_STORE_APP_ID not configured"}}}}},"security":[{"pabblySecret":[]}]}},"/api/reviews/platform":{"get":{"tags":["reviews"],"summary":"List platform reviews for admin","description":"Paginated admin view of stored platform reviews with platform, rating, visibility and text search filters.\n\n_Source: `app/api/reviews/platform/route.ts`_\n\n_Auth: `session`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"platform","in":"query","required":false,"description":"PLAY_STORE | APP_STORE | GOOGLE_MY_BUSINESS | ALL","schema":{"type":"string","example":"PLAY_STORE"}},{"name":"rating","in":"query","required":false,"description":"Exact rating, or ALL","schema":{"type":"integer","example":5}},{"name":"visibility","in":"query","required":false,"description":"visible | hidden","schema":{"type":"string","example":"hidden"}},{"name":"search","in":"query","required":false,"description":"Matches reviewerName or reviewText","schema":{"type":"string","example":"pickup"}}],"responses":{"200":{"description":"Reviews","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsPlatformGetResponse"},"example":{"success":true,"data":[{"id":"cm3rev1","platform":"PLAY_STORE","reviewerName":"Rahul V","rating":5,"isVisible":true}],"total":180,"page":1,"limit":20,"totalPages":9}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch platform reviews"}}}}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["reviews"],"summary":"Toggle a platform review's visibility","description":"Shows or hides a stored platform review, which controls whether it appears on the public reviews feed.\n\n**Notes:** Affects the public /api/public/reviews feed. Wrapped in withAuditLog (PLATFORM_REVIEW).\n\n_Source: `app/api/reviews/platform/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsPlatformPatchRequest"},"example":{"id":"cm3rev1","isVisible":false}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsPlatformPatchResponse"},"example":{"success":true,"data":{"id":"cm3rev1","isVisible":false}}}}},"400":{"description":"Missing id or non-boolean isVisible","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"isVisible must be a boolean"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Review not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Review not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update review visibility"}}}}},"security":[{"cookieAuth":[]}]}},"/api/reviews/platform-webhook":{"post":{"tags":["reviews"],"summary":"Ingest a platform review via webhook","description":"Upserts a single external review (Google My Business, App Store or Play Store) into PlatformReview keyed on externalReviewId. Only 4- and 5-star ratings are accepted; word ratings such as FIVE are mapped to numbers.\n\n**Notes:** Ingested reviews are created with isVisible=true, so they appear immediately on the public /api/public/reviews feed. Runs enforceReviewLimit for the platform, which can delete older stored reviews.\n\n_Source: `app/api/reviews/platform-webhook/route.ts`_\n\n_Auth: `pabbly-secret`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsPlatformWebhookPostRequest"},"example":{"platform":"GOOGLE_MY_BUSINESS","reviewerName":"Rahul Verma","rating":"FIVE","reviewText":"Smooth pickup and instant payment.","reviewDate":"2026-08-28","externalReviewId":"gmb-99123"}}}},"responses":{"200":{"description":"Upserted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsPlatformWebhookPostResponse"},"example":{"success":true,"data":{"id":"cm3rev1","platform":"GOOGLE_MY_BUSINESS","rating":5,"isVisible":true}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsListEnvelope"},"example":{"error":"Validation failed","details":[]}}}},"401":{"description":"Bad or missing webhook secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized: Invalid webhook secret"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to process review"}}}}},"security":[{"pabblySecret":[]}]}},"/api/reviews/{leadId}":{"get":{"tags":["reviews"],"summary":"Get reviews for one order","description":"Returns every review left on the order, enriched with the reviewer's and reviewed party's name and contact details resolved from the Customers, Vendors or Cashboy tables.\n\n**Notes:** Response includes reviewer email and phone — treat as PII.\n\n_Source: `app/api/reviews/[leadId]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId","schema":{"type":"string"},"example":"LD-2026-004512"}],"responses":{"200":{"description":"Reviews","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReviewsByLeadIdGetResponse"},"example":{"success":true,"data":[{"id":9,"leadId":"LD-2026-004512","rating":5,"reviewedBy":"Customer","reviewer":{"name":"Rahul Verma","type":"Customer"},"reviewed":{"name":"Amit Sharma","shopName":"Sharma Mobiles","type":"Vendor"}}],"count":1}}}},"400":{"description":"Missing leadId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lead ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch reviews"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ReviewsFetchPlaystorePostResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ReviewsPlatformWebhookPostResponse":{"type":"object","x-inferred-from-example":true},"ReviewsPlatformPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"PlatformReview id"},"isVisible":{"type":"boolean","description":"Must be a boolean; anything else 400s"}},"required":["id","isVisible"],"description":"Request body for `PATCH /api/reviews/platform`."},"ReviewsPlatformWebhookPostRequest":{"type":"object","properties":{"platform":{"type":"string","description":"GOOGLE_MY_BUSINESS | APP_STORE | PLAY_STORE"},"reviewerName":{"type":"string","description":"Reviewer display name"},"reviewerImage":{"type":"string","description":"Avatar URL"},"rating":{"type":"integer","description":"4 or 5, as a number or one of FOUR/FIVE"},"reviewText":{"type":"string","description":"Review body"},"reviewImages":{"type":"array","items":{},"description":"Image URLs; non-arrays are coerced to []"},"reviewDate":{"type":"string","description":"Review date, parsed with new Date()"},"externalReviewId":{"type":"string","description":"Upsert key from the source platform"}},"required":["platform","reviewerName","rating","reviewText","reviewDate","externalReviewId"],"description":"Request body for `POST /api/reviews/platform-webhook`."},"ReviewsPlatformGetResponse":{"type":"object","x-inferred-from-example":true},"ReviewsPlatformPatchResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsListEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"array","items":{}}},"required":["details","error"],"description":"Validation error envelope `{ error, details[] }`; `details` lists the individual field problems."},"ReviewsByLeadIdGetResponse":{"type":"object","x-inferred-from-example":true}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}