{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Marketing 1","description":"Tags: banners, coupons, cx","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"banners"},{"name":"coupons"},{"name":"cx"}],"paths":{"/api/banners":{"get":{"tags":["banners"],"summary":"List banners with paging and filters","description":"Returns a paginated, sortable, filterable list of banners plus pagination metadata.\n\n**Notes:** No handler-level auth check. sortBy is passed straight into Prisma orderBy, so an unknown column returns a 500.\n\n_Source: `app/api/banners/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"perPage","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"search","in":"query","required":false,"description":"Case-insensitive search across BannerType, platform, deviceType and slug.","schema":{"type":"string","example":"diwali"}},{"name":"platform","in":"query","required":false,"description":"Web | WebMobileView | App","schema":{"type":"string","example":"Web"}},{"name":"deviceType","in":"query","required":false,"description":"Banner device/landing type","schema":{"type":"string","example":"MobileLanding"}},{"name":"BannerType","in":"query","required":false,"description":"Regular | Offer (note the capital B)","schema":{"type":"string","example":"Offer"}},{"name":"sortBy","in":"query","required":false,"description":"Column to sort by","schema":{"type":"string","example":"order","default":"createdAt"}},{"$ref":"#/components/parameters/SortOrderParam"},{"$ref":"#/components/parameters/FromParam"},{"name":"status","in":"query","required":false,"description":"Filter by status.","schema":{"type":"string"}},{"$ref":"#/components/parameters/ToParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersGetResponse"},"example":{"banners":[{"id":"clx1banner","BannerType":"Offer","platform":"Web","isActive":true}],"pagination":{"total":24,"totalPages":3,"currentPage":1,"perPage":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch banners"}}}}},"security":[]},"post":{"tags":["banners"],"summary":"Create a banner","description":"Validates image, BannerType, platform, deviceType, startDate and endDate then creates the banner.\n\n**Notes:** No handler-level auth check. Audited via withAuditLog as BANNER.\n\n_Source: `app/api/banners/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersPostRequest"},"example":{"image":"https://cdn.cashkr.com/banners/diwali.jpg","BannerType":"Offer","platform":"Web","deviceType":"MobileLanding","startDate":"2026-09-01T00:00:00.000Z","endDate":"2026-09-30T00:00:00.000Z","isActive":true,"order":1,"slug":"diwali-sale"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersPostResponse"},"example":{"id":"clx1banner","BannerType":"Offer","platform":"Web","isActive":true}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Banner image is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to create banner"}}}}},"security":[]}},"/api/banners/bulk":{"post":{"tags":["banners"],"summary":"Bulk — POST banners/bulk","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/banners/bulk/route.ts`_\n\n_Auth: `none detected`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/banners/reorder":{"post":{"tags":["banners"],"summary":"Reorder — POST banners/reorder","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/banners/reorder/route.ts`_\n\n_Auth: `none detected`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/banners/toggle-activity":{"patch":{"tags":["banners"],"summary":"Toggle a banner active flag","description":"Sets isActive on the banner named by the ?id query parameter. Used to publish or unpublish a banner without a full update.\n\n**Notes:** No handler-level auth check. Side effect: immediately changes what customers see on the public site. Audited via withAuditLog as BANNER/STATUS_CHANGE.\n\n_Source: `app/api/banners/toggle-activity/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Banner id to toggle","schema":{"type":"string","example":"clx1banner"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersToggleActivityPatchRequest"},"example":{"isActive":true}}}},"responses":{"200":{"description":"Updated banner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersToggleActivityPatchResponse"},"example":{"id":"clx1banner","isActive":true}}}},"400":{"description":"Missing isActive","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"isActive field is required"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Banner not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to toggle banner activity"}}}}},"security":[]}},"/api/banners/{id}":{"put":{"tags":["banners"],"summary":"Update a banner","description":"Validates BannerType, platform, deviceType, startDate and endDate then updates the banner. The id is read from the query string, not the path segment.\n\n**Notes:** No handler-level auth check. Id comes from ?id=. Audited via withAuditLog as BANNER.\n\n_Source: `app/api/banners/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Banner id (present in the path but IGNORED by the handler).","schema":{"type":"string"},"example":"clx1banner"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersByIdPutRequest"},"example":{"image":"https://cdn.cashkr.com/banners/sale.jpg","BannerType":"Offer","platform":"Web","deviceType":"MobileLanding","startDate":"2026-09-01T00:00:00.000Z","endDate":"2026-09-30T00:00:00.000Z","isActive":true,"order":1,"slug":"diwali-sale"}}}},"responses":{"200":{"description":"Updated banner","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannersByIdPutResponse"},"example":{"id":"clx1banner","BannerType":"Offer","isActive":true}}}},"400":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Valid banner type is required"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Banner not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update banner"}}}}},"security":[]},"delete":{"tags":["banners"],"summary":"Delete a banner","description":"Deletes the banner identified by the ?id query parameter after checking it exists.\n\n**Notes:** No handler-level auth check - anyone who can reach the route can hard-delete a banner. Id comes from ?id=. Audited via withAuditLog as BANNER.\n\n_Source: `app/api/banners/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Banner id (present in the path but IGNORED by the handler).","schema":{"type":"string"},"example":"clx1banner"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Banner deleted successfully"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Banner not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to delete banner"}}}}},"security":[]}},"/api/banners/{id}/duplicate":{"post":{"tags":["banners"],"summary":"Duplicate — POST banners/[id]/duplicate","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/banners/[id]/duplicate/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/coupons":{"get":{"tags":["coupons"],"summary":"List coupons with filters and paging","description":"Paginated coupon listing with search, platform, accessibility, status, device-type, privacy and date-range filters. Each row gets a calculatedStatus (active/inactive/upcoming/expired) plus usage counters for the UI progress bars.\n\n**Notes:** No handler-level auth check. Note the fromDate/toDate filters overwrite the startDate/endDate constraints that the `status` filter sets, so combining them can produce unexpected results.\n\n_Source: `app/api/coupons/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"search","in":"query","required":false,"description":"Case-insensitive search across code, title and description","schema":{"type":"string","example":"DIWALI"}},{"name":"platform","in":"query","required":false,"description":"APP | WEB | BOTH","schema":{"type":"string","example":"BOTH"}},{"name":"accessibility","in":"query","required":false,"description":"ALL | FirstCustomer","schema":{"type":"string","example":"ALL"}},{"name":"status","in":"query","required":false,"description":"active | inactive | expired | upcoming. Computed from isActive plus the start/end dates.","schema":{"type":"string","example":"active"}},{"name":"deviceType","in":"query","required":false,"description":"Matches coupons whose deviceTypes array contains this value","schema":{"type":"string","example":"Mobile"}},{"name":"isPrivate","in":"query","required":false,"description":"'false' shows only public coupons, 'true' only secret ones. Omit to show both.","schema":{"type":"string","example":"false"}},{"name":"fromDate","in":"query","required":false,"description":"Lower bound on startDate","schema":{"type":"string","example":"2026-09-01"}},{"name":"toDate","in":"query","required":false,"description":"Upper bound on endDate, made inclusive by rolling forward one day","schema":{"type":"string","example":"2026-09-30"}},{"name":"includeGenerated","in":"query","required":false,"description":"Set to 'true' to include the single-use bonus coupons the backend mints per redeemed token. Hidden by default - they outnumber real campaigns roughly 60 to 1.","schema":{"type":"string","example":"true","default":"false"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"sortBy","in":"query","required":false,"description":"Column to sort by","schema":{"type":"string","example":"createdAt","default":"createdAt"}},{"$ref":"#/components/parameters/SortOrderParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsGetResponse"},"example":{"data":[{"id":"cpn_01","code":"DIWALI500","title":"Diwali bonus","discount":500,"platform":"BOTH","isActive":true,"calculatedStatus":"active","userUsesCount":42,"totalAllowedUses":1000,"usedCount":57}],"pagination":{"total":37,"pages":4,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch coupons","details":"..."}}}}},"security":[]},"post":{"tags":["coupons"],"summary":"Create a coupon","description":"Zod-validates and creates a coupon campaign. Coupon codes are unique. maxUsers is forced to null when userLimitType is AllCustomers, and an empty brand selection is stored as NULL so the coupon applies to every brand of its device types.\n\n**Notes:** No handler-level auth check - the session is read only to attribute the activity log entry. Affects live customer discounts. Audited via withAuditLog as COUPON and logged with logEntityCreation.\n\n_Source: `app/api/coupons/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPostRequest"},"example":{"code":"DIWALI500","title":"Diwali bonus","description":"Extra 500 off on mobile buyback","platform":"BOTH","discount":500,"maxUses":1,"maxUsers":1000,"userLimitType":"Custom","startDate":"2026-10-01T00:00:00.000Z","endDate":"2026-10-31T23:59:59.000Z","accessibility":"ALL","isActive":true,"isPrivate":false,"deviceTypes":["Mobile","Laptop"],"minValue":5000,"maxValue":80000,"brand":null}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPostResponse"},"example":{"success":true,"data":{"id":"cpn_01","code":"DIWALI500","discount":500,"usedCount":0}}}}},"400":{"description":"Duplicate code or Zod validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Coupon code already exists"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create coupon"}}}}},"security":[]},"put":{"tags":["coupons"],"summary":"Update a coupon","description":"Full replace of a coupon using the same schema as POST, with the id supplied in the JSON body. Rejects a code change that would collide with another coupon.\n\n**Notes:** No handler-level auth check. usedCount is not reset by an update. Audited via withAuditLog as COUPON and logged with logEntityUpdate.\n\n_Source: `app/api/coupons/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPutRequest"},"example":{"id":"cpn_01","code":"DIWALI500","title":"Diwali bonus","description":"Extra 500 off on mobile buyback","platform":"BOTH","discount":750,"maxUses":1,"maxUsers":1500,"userLimitType":"Custom","startDate":"2026-10-01T00:00:00.000Z","endDate":"2026-10-31T23:59:59.000Z","accessibility":"ALL","isActive":true,"isPrivate":false,"deviceTypes":["Mobile"],"minValue":5000,"maxValue":80000,"brand":null}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPutResponse"},"example":{"success":true,"data":{"id":"cpn_01","code":"DIWALI500","discount":750}}}}},"400":{"description":"Missing id, duplicate code, or validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Coupon ID is required for updates"}}}},"404":{"description":"Coupon not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Coupon not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update coupon"}}}}},"security":[]},"patch":{"tags":["coupons"],"summary":"Update a single coupon field","description":"Inline-edit endpoint that writes one whitelisted column on one coupon. Date fields are coerced to Date, brand is normalised to NULL when empty, and switching userLimitType to AllCustomers clears maxUsers.\n\n**Notes:** No handler-level auth check. The field name IS whitelisted here (unlike /api/brands/field). Audited via withAuditLog as COUPON.\n\n_Source: `app/api/coupons/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPatchRequest"},"example":{"id":"cpn_01","field":"isActive","value":false}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponsPatchResponse"},"example":{"success":true,"data":{"id":"cpn_01","code":"DIWALI500","isActive":false}}}}},"400":{"description":"Invalid field, duplicate code, or illegal maxUsers change","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Cannot set maxUsers when userLimitType is AllCustomers"}}}},"404":{"description":"Coupon not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Coupon not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update coupon field"}}}}},"security":[]},"delete":{"tags":["coupons"],"summary":"Delete a coupon","description":"Deletes a coupon and, in the same transaction, every customerCoupon redemption row that referenced it.\n\n**Notes:** No handler-level auth check - unauthenticated destructive delete. DESTRUCTIVE: also hard-deletes the coupon's entire redemption history (customerCoupon rows), so past usage data is lost. Audited via withAuditLog as COUPON and logged with logEntityDeletion.\n\n_Source: `app/api/coupons/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":true,"description":"Coupon id. Required - 400s when missing.","schema":{"type":"string","example":"cpn_01"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Coupon deleted successfully"}}}},"400":{"description":"Missing id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Coupon ID is required"}}}},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete coupon"}}}}},"security":[]}},"/api/coupons/bulk":{"post":{"tags":["coupons"],"summary":"Bulk — POST coupons/bulk","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/coupons/bulk/route.ts`_\n\n_Auth: `none detected`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/coupons/export":{"get":{"tags":["coupons"],"summary":"Export — GET coupons/export","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/coupons/export/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"name":"status","in":"query","required":false,"description":"Filter by status.","schema":{"type":"string"}}]}},"/api/coupons/{id}/duplicate":{"post":{"tags":["coupons"],"summary":"Duplicate — POST coupons/[id]/duplicate","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/coupons/[id]/duplicate/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/cx/agent-numbers":{"post":{"tags":["cx"],"summary":"Create agent numbers","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/cx/agent-numbers/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/agent-numbers/{id}":{"delete":{"tags":["cx"],"summary":"Delete agent numbers","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/agent-numbers/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"}},"security":[{"cookieAuth":[]}]}},"/api/cx/ai-health":{"get":{"tags":["cx"],"summary":"List ai health","description":"Operation reconstructed from source during the re-audit. Query parameters: days. \n\n_Source: `app/api/cx/ai-health/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"days","in":"query","required":false,"description":"Query parameter `days`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/cases":{"get":{"tags":["cx"],"summary":"List cases","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/cases/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}],"parameters":[{"name":"channel","in":"query","required":false,"description":"Filter by channel.","schema":{"type":"string"}},{"name":"scope","in":"query","required":false,"description":"Filter by scope.","schema":{"type":"string"}}]},"post":{"tags":["cx"],"summary":"Create cases","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/cx/cases/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/cases/{id}":{"get":{"tags":["cx"],"summary":"Get cases","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/cases/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["cx"],"summary":"Update cases","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/cx/cases/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/reference":{"get":{"tags":["cx"],"summary":"List reference","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/reference/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/cx/referrals":{"get":{"tags":["cx"],"summary":"List referrals","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/cx/referrals/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}],"parameters":[{"name":"status","in":"query","required":false,"description":"Filter by status.","schema":{"type":"string"}}]}},"/api/cx/referrals/{id}":{"patch":{"tags":["cx"],"summary":"Update referrals","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/cx/referrals/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"BannersByIdPutResponse":{"type":"object","x-inferred-from-example":true},"BannersGetResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"CouponsPostResponse":{"type":"object","x-inferred-from-example":true},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"BannersByIdPutRequest":{"type":"object","properties":{"image":{"type":"string","description":"Banner image URL"},"BannerType":{"type":"string","description":"Regular | Offer"},"platform":{"type":"string","description":"Web | WebMobileView | App"},"deviceType":{"type":"string","description":"All | LaptopLanding | MobileLanding | TabletLanding | HomeLanding | MacLanding | CameraLanding | WatchLanding | ConsoleLanding | HeadphoneLanding"},"startDate":{"type":"string","description":"ISO date the banner starts showing"},"endDate":{"type":"string","description":"ISO date the banner stops showing"},"isActive":{"type":"boolean","description":"Whether the banner is live"},"order":{"type":"integer","description":"Display order (parsed with parseInt)"},"slug":{"type":"string","description":"Target slug/link"}},"required":["BannerType","platform","deviceType","startDate","endDate"],"description":"Request body for `PUT /api/banners/{id}`."},"BannersToggleActivityPatchResponse":{"type":"object","x-inferred-from-example":true},"BannersPostRequest":{"type":"object","properties":{"image":{"type":"string","description":"Banner image URL"},"BannerType":{"type":"string","description":"Regular | Offer"},"platform":{"type":"string","description":"Web | WebMobileView | App"},"deviceType":{"type":"string","description":"All | LaptopLanding | MobileLanding | TabletLanding | HomeLanding | MacLanding | CameraLanding | WatchLanding | ConsoleLanding | HeadphoneLanding"},"startDate":{"type":"string","description":"ISO start date"},"endDate":{"type":"string","description":"ISO end date"},"isActive":{"type":"boolean","description":"Defaults to false"},"order":{"type":"integer","description":"Display order"},"slug":{"type":"string","description":"Target slug/link"}},"required":["image","BannerType","platform","deviceType","startDate","endDate"],"description":"Request body for `POST /api/banners`."},"CouponsGetResponse":{"type":"object","x-inferred-from-example":true},"CouponsPostRequest":{"type":"object","properties":{"code":{"type":"string","description":"Coupon code, 3-20 chars; must be unique"},"title":{"type":"string","description":"Title, min 3 chars"},"description":{"type":"string","description":"Description, min 3 chars"},"platform":{"type":"string","description":"APP | WEB | BOTH"},"discount":{"type":"number","description":"Discount amount, minimum 1"},"maxUses":{"type":"number","description":"Maximum uses per user, minimum 1"},"maxUsers":{"type":"number","description":"Maximum distinct users. Required (min 1) when userLimitType is Custom; stored as null for AllCustomers."},"userLimitType":{"type":"string","description":"AllCustomers | Custom"},"startDate":{"type":"string","description":"ISO datetime the coupon becomes valid"},"endDate":{"type":"string","description":"ISO datetime the coupon expires"},"accessibility":{"type":"string","description":"ALL | FirstCustomer"},"isActive":{"type":"boolean","description":"Whether the coupon is enabled"},"isPrivate":{"type":"boolean","description":"Secret coupon, hidden from the default listing. Defaults to false."},"deviceTypes":{"type":"array","items":{},"description":"Array of device type strings the coupon applies to"},"minValue":{"type":"number","description":"Minimum device value for eligibility"},"maxValue":{"type":"number","description":"Maximum device value for eligibility"},"brand":{"type":"string","description":"JSON array of brand ids as a string. An empty string, '[]' or an empty array is normalised to NULL, which means all brands."}},"required":["code","title","description","platform","discount","maxUses","userLimitType","startDate","endDate","accessibility","isActive","deviceTypes"],"description":"Request body for `POST /api/coupons`."},"CouponsPatchResponse":{"type":"object","x-inferred-from-example":true},"CouponsPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Coupon id to update. Optional in the Zod schema but the handler 400s without it."},"code":{"type":"string","description":"Coupon code, 3-20 chars; must stay unique"},"title":{"type":"string","description":"Title, min 3 chars"},"description":{"type":"string","description":"Description, min 3 chars"},"platform":{"type":"string","description":"APP | WEB | BOTH"},"discount":{"type":"number","description":"Discount amount, minimum 1"},"maxUses":{"type":"number","description":"Maximum uses per user"},"maxUsers":{"type":"number","description":"Required when userLimitType is Custom"},"userLimitType":{"type":"string","description":"AllCustomers | Custom"},"startDate":{"type":"string","description":"ISO datetime"},"endDate":{"type":"string","description":"ISO datetime"},"accessibility":{"type":"string","description":"ALL | FirstCustomer"},"isActive":{"type":"boolean","description":"Whether the coupon is enabled"},"isPrivate":{"type":"boolean","description":"Secret coupon flag"},"deviceTypes":{"type":"array","items":{},"description":"Array of device type strings"},"minValue":{"type":"number","description":"Minimum device value"},"maxValue":{"type":"number","description":"Maximum device value"},"brand":{"type":"string","description":"JSON array of brand ids; empty is normalised to NULL (all brands)"}},"required":["id","code","title","description","platform","discount","maxUses","userLimitType","startDate","endDate","accessibility","isActive","deviceTypes"],"description":"Request body for `PUT /api/coupons`."},"CouponsPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"Coupon id"},"field":{"type":"string","description":"One of code, title, description, platform, discount, maxUses, maxUsers, userLimitType, startDate, endDate, accessibility, isActive, isPrivate, deviceTypes, minValue, maxValue, brand. Anything else 400s."},"value":{"type":"string","description":"New value for that field"}},"required":["id","field","value"],"description":"Request body for `PATCH /api/coupons`."},"BannersToggleActivityPatchRequest":{"type":"object","properties":{"isActive":{"type":"boolean","description":"New active state. Must be present or the route 400s."}},"required":["isActive"],"description":"Request body for `PATCH /api/banners/toggle-activity`."},"CouponsPutResponse":{"type":"object","x-inferred-from-example":true},"BannersPostResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Conflict":{"summary":"409 Conflict","value":{"error":"Conflict"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}},"Conflict":{"description":"Conflict - the record already exists or its current state does not allow this change. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Conflict"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}