{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Orders & Leads 1","description":"Tags: call-history, completeMyLead, createTechSupport, escalations, failedLead, getAllFailedLeads, getMessage, getallleads, getallorders, getallstoreorders, getfullmessage, getinspectionimages, hot-leads, issues, leads","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"call-history"},{"name":"completeMyLead"},{"name":"createTechSupport"},{"name":"escalations"},{"name":"failedLead"},{"name":"getAllFailedLeads"},{"name":"getMessage"},{"name":"getallleads"},{"name":"getallorders"},{"name":"getallstoreorders"},{"name":"getfullmessage"},{"name":"getinspectionimages"},{"name":"hot-leads"},{"name":"issues"},{"name":"leads"}],"paths":{"/api/call-history/{leadId}":{"get":{"tags":["call-history"],"summary":"Get call history for a lead","description":"Returns every CallHistory row logged against a lead, newest call first, along with a count.\n\n**Notes:** NextAuth session cookie (next-auth.session-token) required.\n\n_Source: `app/api/call-history/[leadId]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"Lead id whose call history to fetch","schema":{"type":"string"},"example":"LD-2026-00123"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CallHistoryByLeadIdGetResponse"},"example":{"data":[{"id":1,"leadId":"LD-2026-00123","calledAt":"2026-08-30T09:12:00.000Z","duration":142,"status":"Answered"}],"count":1}}}},"400":{"description":"Missing lead id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lead ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch call history"}}}}},"security":[{"cookieAuth":[]}]}},"/api/completeMyLead":{"post":{"tags":["completeMyLead"],"summary":"Convert a lead into a generated order","description":"Converts a lead to an order: resolves and encrypts the customer payment method, stamps price/pickup/address onto the master lead, generates a pickup OTP, then either auto-assigns the order to a vendor the customer already works with, reserves it for that vendor, or broadcasts it to all eligible vendors.\n\n**Notes:** Note the payload is WRAPPED: the validated object sits under a top-level `request` key. Heavy side effects - mutates money and vendor credits: may auto-assign the order and DEBIT the vendor's credit balance (writes a vendor creditLog), or create a 48-hour ReservedLeads hold and set the lead to Reserved. Generates a 4-digit pickup OTP (leadOtp). Sends Firebase push to eligible vendors and to the customer app, plus an order-generated email to the customer; WhatsApp is sent separately by CashkrBackend via Pabbly Chatflow. UPI/bank PII is encrypted with the shared field-level scheme. Writes leadLogs and AdminActivityLog. Auth is weak: any non-empty Authorization header satisfies the check. Audited via withAuditLog as LEAD/UPDATE.\n\n_Source: `app/api/completeMyLead/route.ts`_\n\n_Auth: `other: bearer accessToken cookie or Authorization header (any non-empty value passes); NextAuth session is read only for the sales-rep name`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteMyLeadPostRequest"},"example":{"request":{"leadId":"LD-2026-00123","customerId":"CUST-8891","finalGeneratedPrice":"18500","paymentMode":"UPI","pickupDate":"2026-09-03","pickupTime":"10:00-12:00","addressId":"ADDR-4412","deviceType":"Mobile","upiId":"ramesh@okhdfcbank"}}}}},"responses":{"201":{"description":"Lead converted to an order","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteMyLeadPostResponse"},"example":{"success":true,"data":{"leadId":"LD-2026-00123","primaryStatus":"Generated","secondaryStatus":"OrderGenerated","deviceGeneratedPrice":"18500"}}}}},"400":{"description":"Validation failed or unknown addressId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompleteMyLeadPost400Response"},"example":{"success":false,"error":{"code":400,"message":"Missing required fields","missingParams":["pickupDate"]}}}}},"401":{"description":"No accessToken cookie and no Authorization header","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorEnvelope"},"example":{"success":false,"error":{"code":401,"message":"Unauthorized Request"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodedErrorDetailsEnvelope"},"example":{"success":false,"error":{"code":500,"message":"Internal Server Error","details":"..."}}}}}},"security":[{"unverifiedAccessToken":[]}]}},"/api/createTechSupport":{"post":{"tags":["createTechSupport"],"summary":"Proxy a tech support issue to the backend","description":"Server-side proxy that forwards a multipart form (including any attachments) to https://api.cashkr.com/createTechSupport with the backend admin token attached, so the token is never exposed to the browser. The upstream status and JSON body are passed straight back.\n\n**Notes:** UPSTREAM PROXY: calls https://api.cashkr.com/createTechSupport with Authorization: Bearer $BACKEND_ADMIN_TOKEN added server-side. Admin session required (requireAdminSession). Content type is multipart/form-data - do not set Content-Type manually. The response status mirrors the upstream status; a thrown error is returned with a 200 and success:false. Exported as `const POST = ...; export { POST }`.\n\n_Source: `app/api/createTechSupport/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateTechSupportPostRequest"}}}},"responses":{"200":{"description":"Upstream response, passed through unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Ticket created"}}}},"401":{"$ref":"#/components/responses/UnauthorizedOkFlag"},"500":{"description":"Upstream or proxy error, passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"..."}}}}},"security":[{"cookieAuth":[]}]}},"/api/escalations":{"get":{"tags":["escalations"],"summary":"List escalations","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/escalations/route.ts`_\n\n_Auth: `cookieAuth`_\n\n_Audit 2026-09 (stage): security corrected: the GET handler performs no session check. `getServerSession` is imported in this file but only the POST handler uses it._","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"name":"status","in":"query","required":false,"description":"Filter by status.","schema":{"type":"string"}}]},"post":{"tags":["escalations"],"summary":"Create escalations","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/escalations/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/escalations/{id}":{"patch":{"tags":["escalations"],"summary":"Update escalations","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/escalations/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/failedLead":{"post":{"tags":["failedLead"],"summary":"Mark a lead as failed and reverse credits","description":"Marks a MasterLead as Failed inside a transaction: creates or updates the FailedLead record with a reason, reverses the vendor's credit points, cancels any reservations, writes lead logs, invalidates the orders cache and pushes a notification to the vendor.\n\n**Notes:** SIDE EFFECTS: mutates vendor credit balance (credits are returned to the vendor), cancels reservations, and sends a Firebase push notification VENDOR_LEAD_FAILED. Errors such as 'No lead found' surface as 500, not 404. No handler-level auth check — the session is only read to attribute the AdminActivityLog entry.\n\n_Source: `app/api/failedLead/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedLeadPostRequest"},"example":{"leadid":"9f0a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b","primaryStatus":"FailedByCustomer","secondaryStatus":"RequotePriceNotAccepted","reason":"Customer rejected the revised offer"}}}},"responses":{"200":{"description":"Lead failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedLeadPostResponse"},"example":{"success":true,"message":"Lead successfully marked as failed","details":{"leadId":"9f0a1b2c-3d4e-5f60-7a8b-9c0d1e2f3a4b","failedLeadId":"2b3c4d5e-6f70-8a9b-0c1d-2e3f4a5b6c7d","primaryStatus":"FailedByCustomer","creditPoints":12,"vendorId":"b3f1c2d4-1111-2222-3333-444455556666","token":"CK123456"}}}}},"400":{"description":"Missing leadid or primaryStatus","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedLeadPost400Response"},"example":{"success":false,"message":"Lead ID is a required field","errorCode":"MISSING_LEAD_ID"}}}},"500":{"description":"Lead not found or already failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FailedLeadPost500Response"},"example":{"success":false,"message":"Lead has already been marked as failed","errorType":"Error"}}}}},"security":[]}},"/api/getAllFailedLeads":{"post":{"tags":["getAllFailedLeads"],"summary":"List failed leads with fuzzy search","description":"Returns a page of MasterLeads that have a failedLead record with primaryStatus in FailedByVendor/FailedByCashkr/FailedByCustomer/FailedByCashboy, filtered by device type, city, secondary status and pickup-date range. When 'search' is supplied the filtered set is re-ranked in memory with Fuse.js over token, email, phone, device model and customer name.\n\n**Notes:** No handler-level auth check. Page size is hard-coded to 10 and the filtered set is loaded fully into memory before pagination, so wide filters are expensive.\n\n_Source: `app/api/getAllFailedLeads/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllFailedLeadsPostRequest"},"example":{"search":"","deviceType":"Mobile","city":"Hyderabad","status":"","fromDate":"2026-08-01","toDate":"2026-08-31","page":1}}}},"responses":{"200":{"description":"Failed leads page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllFailedLeadsPostResponse"},"example":{"success":true,"data":[{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","token":"CK123456","deviceModel":"iPhone 12","quotedPrice":24000,"requotePrice":21000,"status":"FailedByVendor","secondaryStatus":"DeviceMismatch","reason":"IMEI mismatch","city":"Hyderabad","deviceType":"Mobile"}],"total":1,"pages":1}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"..."}}}}},"security":[]}},"/api/getMessage":{"get":{"tags":["getMessage"],"summary":"Proxy list of backend messages","description":"Server-side proxy that calls GET {BACKEND_API}/getmessages with the BACKEND_ADMIN_TOKEN bearer and returns the upstream JSON verbatim.\n\n**Notes:** Upstream: process.env.BACKEND_API + /getmessages, authenticated with BACKEND_ADMIN_TOKEN. No caller auth; errors are swallowed and returned as HTTP 200 with success:false.\n\n_Source: `app/api/getMessage/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Upstream/network failure is also returned with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"TypeError: fetch failed"}}}}},"security":[]}},"/api/getallleads":{"post":{"tags":["getallleads"],"summary":"List new (uncalled) leads for telecalling","description":"Main telecaller queue. Returns paginated MasterLeads with primaryStatus New / secondaryStatus Initiated / isCompleted 0, filtered by device type, city, date range, tier, disposition, connection status and assigned admin. Multi-term searches are additionally filtered and relevance-ranked in memory.\n\n**Notes:** No handler-level auth check. Customer phones prefixed DELETED_ are unmasked into a clean number with isDeleted:true. When searching, up to min(1000, limit*10) rows are pulled and paginated in memory.\n\n_Source: `app/api/getallleads/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallleadsPostRequest"},"example":{"search":"","deviceType":"Mobile","city":"all","statusFilter":"All","status":"Not Called","page":1,"limit":20,"disposition":"all","connectionStatus":"all","assignedAdminId":"all"}}}},"responses":{"200":{"description":"Lead page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallleadsPostResponse"},"example":{"success":true,"data":[{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","token":"CK123456","customer":{"firstName":"Anil","lastName":"Sharma","phone":"9876543210","isDeleted":false},"deviceModel":"iPhone 12","quotedPrice":24000,"status":"Initiated","city":"Hyderabad","connectionStatus":"Unknown"}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":20}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"An error occurred while processing your request"}}}}},"security":[]}},"/api/getallorders":{"post":{"tags":["getallorders"],"summary":"List booked orders with Redis caching","description":"Primary orders queue: paginated MasterLeads with isCompleted = 1, filtered by status (Completed / Reserved / PickupDelayed / any secondaryStatus), device type, city, cancellation source, schedule window and date range. Results are cached in Redis for 10-20 seconds keyed on the full filter set.\n\n**Notes:** No handler-level auth check. Backed by Redis with short TTLs (search 10s, others 20s) because CashkrBackend writes the same MasterLeads rows and cannot invalidate this cache. Sets an HTTP Cache-Control header on the response.\n\n_Source: `app/api/getallorders/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallordersPostRequest"},"example":{"search":"","deviceType":"","city":"","statusFilter":"All","status":"Completed","fromDate":"2026-08-01","toDate":"2026-08-31","scheduleWindow":"all","page":1,"limit":20,"includeTestOrders":false}}}},"responses":{"200":{"description":"Order page (Cache-Control: private, max-age<=60)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallordersPostResponse"},"example":{"success":true,"data":[{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","token":"CK123456","deviceModel":"iPhone 12","status":"Completed","city":"Hyderabad","tier":1,"isAssigned":true,"isFlagged":false}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":20}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"An error occurred while processing your request"}}}}},"security":[]}},"/api/getallstoreorders":{"post":{"tags":["getallstoreorders"],"summary":"List store (StoreLeads) orders","description":"Paginated StoreLeads queue with Lead / Completed / Failed sub-filters, device type, city and date range. Search terms are matched in memory and relevance-ranked on token, leadId and device model.\n\n**Notes:** No handler-level auth check. When searching, up to min(1000, limit*10) rows are pulled and paginated in memory.\n\n_Source: `app/api/getallstoreorders/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallstoreordersPostRequest"},"example":{"search":"","deviceType":"Mobile","city":"","statusFilter":"Lead","page":1,"limit":10}}}},"responses":{"200":{"description":"Store order page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallstoreordersPostResponse"},"example":{"success":true,"data":[{"leadId":"5d4c3b2a-9999-8888-7777-666655554444","token":"ST100234","deviceModel":"Galaxy S22","status":"Generated","city":"Hyderabad"}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"An error occurred while processing your request"}}}}},"security":[]}},"/api/getfullmessage":{"post":{"tags":["getfullmessage"],"summary":"Proxy a single backend message","description":"Forwards { id } to POST {BACKEND_API}/getFullMessage with the BACKEND_ADMIN_TOKEN bearer and returns the upstream JSON verbatim.\n\n**Notes:** Upstream: process.env.BACKEND_API + /getFullMessage, authenticated with BACKEND_ADMIN_TOKEN. No caller auth.\n\n_Source: `app/api/getfullmessage/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetfullmessagePostRequest"},"example":{"id":"1"}}}},"responses":{"200":{"description":"Upstream/network failure is also returned with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"TypeError: fetch failed"}}}}},"security":[]}},"/api/getinspectionimages":{"post":{"tags":["getinspectionimages"],"summary":"Get inspection images for a lead","description":"Returns the first InspectionImages row for the given leadId (device photos captured during pickup inspection).\n\n**Notes:** No handler-level auth check. Errors never change the HTTP status.\n\n_Source: `app/api/getinspectionimages/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetinspectionimagesPostRequest"},"example":{"leadId":"8a7b6c5d-4444-3333-2222-111100009999"}}}},"responses":{"200":{"description":"Error is returned with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"..."}}}}},"security":[]}},"/api/hot-leads":{"get":{"tags":["hot-leads"],"summary":"List the hot-lead telecalling queue","description":"Paginated MasterLeads that carry hotLeadAt, filtered by hot-lead type and status, hydrated with the same relations as /api/getallleads so rows feed the shared detail sheet. Each row adds minutesSinceHot and, when a HOT_LEAD RedirectLink exists, a short checkoutUrl.\n\n**Notes:** The handler does not check the session itself; since 2026-09-05 the deny-by-default middleware enforces an admin session for this route. Reads hotLead* columns written by CashkrBackend's Pabbly intent webhook and hotLeadSweep cron. checkoutUrl is omitted unless SHORT_LINK_BASE is set and a HOT_LEAD RedirectLink exists.\n\n_Source: `app/api/hot-leads/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"type","in":"query","required":false,"description":"yes_dropoff | price_objection | question; anything else falls back to yes_dropoff","schema":{"type":"string","example":"price_objection","default":"yes_dropoff"}},{"name":"status","in":"query","required":false,"description":"hotLeadStatus filter; 'new' additionally excludes booked leads (isCompleted 0)","schema":{"type":"string","example":"contacted","default":"new"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Page size, capped at 50","schema":{"type":"integer","example":10,"default":10}}],"responses":{"200":{"description":"Hot-lead page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotLeadsGetResponse"},"example":{"data":[{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","token":"CK123456","hotLeadType":"yes_dropoff","hotLeadAt":"2026-09-01T05:40:00.000Z","hotLeadStatus":"new","minutesSinceHot":35,"checkoutUrl":"https://ckr.in/c/aZ9x2Q"}],"pagination":{"page":1,"pages":1,"total":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load hot leads"}}}}},"security":[]}},"/api/hot-leads/count":{"get":{"tags":["hot-leads"],"summary":"Count new hot leads per type","description":"Returns the number of MasterLeads with hotLeadStatus 'new' for each hot-lead type (yes_dropoff, price_objection, question). Drives the sidebar badge.\n\n**Notes:** No handler-level auth check in the handler; middleware.ts skips /api/*.\n\n_Source: `app/api/hot-leads/count/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotLeadsCountGetErrorResponse"},"example":{"yes_dropoff":12,"price_objection":4,"question":2}}}},"500":{"description":"Server error — zeros are returned with a 500 status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotLeadsCountGetErrorResponse"},"example":{"yes_dropoff":0,"price_objection":0,"question":0}}}}},"security":[]}},"/api/hot-leads/{leadId}/status":{"patch":{"tags":["hot-leads"],"summary":"Update hot-lead telecalling status","description":"Moves a hot lead through the telecaller lifecycle by writing hotLeadStatus plus hotLeadStatusUpdatedAt/By on MasterLeads. Attribution uses the session email, falling back to the numeric admin id.\n\n**Notes:** getServerSession(authOptions) is enforced in the handler. CashkrBackend's hotLeadSweep cron writes the same columns with updatedBy 'system'.\n\n_Source: `app/api/hot-leads/[leadId]/status/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId","schema":{"type":"string"},"example":"8a7b6c5d-4444-3333-2222-111100009999"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotLeadsByLeadIdStatusPatchRequest"},"example":{"status":"contacted"}}}},"responses":{"200":{"description":"Updated hot-lead status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HotLeadsByLeadIdStatusPatchResponse"},"example":{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","hotLeadStatus":"contacted","hotLeadStatusUpdatedAt":"2026-09-01T06:15:00.000Z","hotLeadStatusUpdatedBy":"ops@cashkr.com"}}}},"400":{"description":"Invalid JSON or invalid status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Invalid status. Must be one of: new, contacted, converted, dead"}}}},"401":{"description":"No session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update status"}}}}},"security":[{"cookieAuth":[]}]}},"/api/issues":{"post":{"tags":["issues"],"summary":"Get device issue catalog by device type","description":"Returns the IssuesImages catalog for a device type grouped by issueType (each entry has id, name and image). For deviceType 'Camera' it also returns the CameraLens add-on catalog so extraLensIds can be resolved to readable labels.\n\n**Notes:** No handler-level auth check. Read-only catalog lookup.\n\n_Source: `app/api/issues/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuesPostRequest"},"example":{"deviceType":"Mobile"}}}},"responses":{"200":{"description":"Grouped issue catalog","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssuesPostResponse"},"example":{"success":true,"data":{"screenCondition":[{"id":3,"name":"Minor scratches","image":"https://cdn.cashkr.com/issues/scratch.png"}]},"cameraLens":[]}}}},"400":{"description":"Missing or non-string deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid device type"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch device issues"}}}}},"security":[]}},"/api/leads/case-file":{"get":{"tags":["leads"],"summary":"List case file","description":"Operation reconstructed from source during the re-audit. Query parameters: leadId. \n\n_Source: `app/api/leads/case-file/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"leadId","in":"query","required":false,"description":"Query parameter `leadId`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/leads/cities":{"get":{"tags":["leads"],"summary":"List distinct lead cities","description":"Returns the sorted set of distinct non-empty MasterLeads.city values, used to populate city filter dropdowns.\n\n**Notes:** No handler-level auth check. Failures are swallowed and answered with a static fallback list, so callers never see a 500.\n\n_Source: `app/api/leads/cities/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"On error a hard-coded fallback list is returned, still with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsCitiesGetResponse"},"example":{"cities":["Hyderabad"]}}}}},"security":[]}},"/api/leads/close-as-lost":{"post":{"tags":["leads"],"summary":"Create close as lost","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/leads/close-as-lost/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"FailedLeadPostResponse":{"type":"object","x-inferred-from-example":true},"HotLeadsByLeadIdStatusPatchRequest":{"type":"object","properties":{"status":{"type":"string","description":"One of: new, contacted, converted, dead"}},"required":["status"],"description":"Request body for `PATCH /api/hot-leads/{leadId}/status`."},"GetallstoreordersPostResponse":{"type":"object","x-inferred-from-example":true},"CompleteMyLeadPost400Response":{"type":"object","x-inferred-from-example":true},"GetallordersPostResponse":{"type":"object","x-inferred-from-example":true},"HotLeadsGetResponse":{"type":"object","x-inferred-from-example":true},"GetAllFailedLeadsPostResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"GetinspectionimagesPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"MasterLeads leadId"}},"required":["leadId"],"description":"Request body for `POST /api/getinspectionimages`."},"GetallleadsPostResponse":{"type":"object","x-inferred-from-example":true},"CodedErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}},"required":["code","message"]}},"required":["error","success"],"description":"Structured error envelope `{ success: false, error: { code, message } }`."},"GetAllFailedLeadsPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Fuzzy search term (Fuse.js, threshold 0.3)"},"deviceType":{"type":"string","description":"Mobile | Laptop | Tablet | Mac | ..."},"city":{"type":"string","description":"Case-insensitive contains match on the lead address city"},"status":{"type":"string","description":"failedLead.secondaryStatus filter"},"fromDate":{"type":"string","description":"Pickup date lower bound (ISO date)"},"toDate":{"type":"string","description":"Pickup date upper bound (ISO date)"},"page":{"type":"integer","description":"1-based page; page size is fixed at 10"}},"description":"Request body for `POST /api/getAllFailedLeads`."},"CreateTechSupportPostRequest":{"type":"object","properties":{"(passthrough)":{"type":"string","description":"Every form field is forwarded verbatim to the upstream backend; this route does not inspect or validate any of them. Send whatever https://api.cashkr.com/createTechSupport expects (typically issue subject, description, lead/order reference and file attachments)."}},"description":"Request body for `POST /api/createTechSupport`."},"GetallleadsPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text; matched on token, leadId, customer name/email/phone, device model, city, pincode"},"deviceType":{"type":"string","description":"Mobile | Laptop | Tablet | Mac | Watch | ..."},"city":{"type":"string","description":"Customer address city; 'all' disables the filter"},"statusFilter":{"type":"string","description":"All | Not Called | Callbacks | High Ends (default 'All')"},"status":{"type":"string","description":"Same vocabulary as statusFilter; drives the extra AND conditions"},"fromDate":{"type":"string","description":"createdAt lower bound"},"toDate":{"type":"string","description":"createdAt upper bound"},"page":{"type":"integer","description":"1-based page number (Number(page), no default)"},"limit":{"type":"integer","description":"Page size (Number(limit), no default)"},"disposition":{"type":"string","description":"Disposition filter, e.g. 'Not Connected-Ringing' (default 'all')"},"connectionStatus":{"type":"string","description":"'Con' | 'Nc' | 'all' (default 'all')"},"tier":{"type":"string","description":"Lead tier 1/2/3; 'all' disables"},"assignedAdminId":{"type":"string","description":"Admin id, array of ids, 'unassigned' or 'all' — drives the My Leads / All Leads toggle"}},"required":["page","limit"],"description":"Request body for `POST /api/getallleads`."},"CompleteMyLeadPostResponse":{"type":"object","x-inferred-from-example":true},"CompleteMyLeadPostRequest":{"type":"object","properties":{"request.leadId":{"type":"string","description":"Lead to convert"},"request.customerId":{"type":"string","description":"Customer id"},"request.finalGeneratedPrice":{"type":"string","description":"Agreed price as a string"},"request.paymentMode":{"type":"string","description":"Prisma paymentType enum: UPI | Bank | Cash | Wallet"},"request.pickupDate":{"type":"string","description":"Pickup date"},"request.pickupTime":{"type":"string","description":"Pickup time slot"},"request.addressId":{"type":"string","description":"Existing address id; 400s if it does not exist"},"request.deviceType":{"type":"string","description":"Device type, e.g. Mobile or Laptop"},"request.paymentId":{"type":"string","description":"UUID of an already-saved Payments record to link instead of creating one"},"request.upiId":{"type":"string","description":"UPI id, used when paymentMode is UPI. Stored encrypted."},"request.accountNumber":{"type":"string","description":"Bank account number, used when paymentMode is Bank. Stored encrypted."},"request.accountHolder":{"type":"string","description":"Beneficiary name. Stored encrypted."},"request.bankName":{"type":"string","description":"Bank name. NOT encrypted (matches the backend)."},"request.ifscCode":{"type":"string","description":"IFSC code. Stored encrypted."}},"required":["request.leadId","request.customerId","request.finalGeneratedPrice","request.paymentMode","request.pickupDate","request.pickupTime","request.addressId","request.deviceType"],"description":"Request body for `POST /api/completeMyLead`."},"HotLeadsByLeadIdStatusPatchResponse":{"type":"object","x-inferred-from-example":true},"IssuesPostResponse":{"type":"object","x-inferred-from-example":true},"CallHistoryByLeadIdGetResponse":{"type":"object","x-inferred-from-example":true},"GetallstoreordersPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text on token / leadId / device model"},"deviceType":{"type":"string","description":"Mobile | Laptop | Tablet | ..."},"city":{"type":"string","description":"City filter"},"statusFilter":{"type":"string","description":"Lead | Completed | Failed","default":"Lead"},"status":{"type":"string","description":"Additional status filter"},"fromDate":{"type":"string","description":"Range start"},"toDate":{"type":"string","description":"Range end"},"page":{"type":"integer","description":"1-based page number","default":1},"limit":{"type":"integer","description":"Page size","default":10}},"description":"Request body for `POST /api/getallstoreorders`."},"FailedLeadPostRequest":{"type":"object","properties":{"leadid":{"type":"string","description":"MasterLeads.leadId to fail (note the all-lowercase key)"},"primaryStatus":{"type":"string","description":"FailedByCashkr, FailedByCustomer, FailedByVendor or FailedByCashboy"},"secondaryStatus":{"type":"string","description":"Finer-grained failure status"},"reason":{"type":"string","description":"Free-text failure reason stored on FailedReason"}},"required":["leadid","primaryStatus"],"description":"Request body for `POST /api/failedLead`."},"LeadsCitiesGetResponse":{"type":"object","x-inferred-from-example":true},"FailedLeadPost500Response":{"type":"object","x-inferred-from-example":true},"HotLeadsCountGetErrorResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"GetallordersPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text on token / customer / device"},"deviceType":{"type":"string","description":"Mobile | Laptop | Tablet | ..."},"city":{"type":"string","description":"Order city filter"},"statusFilter":{"type":"string","description":"High-level queue filter (default 'All')"},"status":{"type":"string","description":"Completed | Reserved | PickupDelayed | any secondaryStatus"},"cancellationSource":{"type":"string","description":"Filter by who cancelled (customer chat attribution)"},"fromDate":{"type":"string","description":"Range start; for status Completed the window is resolved against real completion events in LeadLogs"},"toDate":{"type":"string","description":"Range end"},"scheduleWindow":{"type":"string","description":"Pickup slot filter (default 'all')"},"page":{"type":"integer","description":"1-based page number"},"limit":{"type":"integer","description":"Page size"},"includeTestOrders":{"type":"boolean","description":"Include orders whose city is 'Test'","default":false}},"required":["page","limit"],"description":"Request body for `POST /api/getallorders`."},"CodedErrorDetailsEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"},"details":{"type":"string"}},"required":["code","details","message"]}},"required":["error","success"],"description":"Structured error envelope `{ success: false, error: { code, message, details } }`."},"OkErrorEnvelope":{"type":"object","properties":{"ok":{"type":"boolean"},"error":{"type":"string"}},"required":["error","ok"],"description":"Error envelope `{ ok: false, error }` used by cron / sync style routes."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"GetfullmessagePostRequest":{"type":"object","properties":{"id":{"type":"string","description":"Upstream message id"}},"required":["id"],"description":"Request body for `POST /api/getfullmessage`."},"IssuesPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"DeviceType enum value, e.g. Mobile, Laptop, Camera"}},"required":["deviceType"],"description":"Request body for `POST /api/issues`."},"FailedLeadPost400Response":{"type":"object","x-inferred-from-example":true}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"UnauthorizedOkFlag":{"summary":"401 UnauthorizedOkFlag","value":{"ok":false,"error":"Unauthorized"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"UnauthorizedOkFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ ok, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OkErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedOkFlag"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}