{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Orders & Leads 3","description":"Tags: orders, reschedulePickup, updatedesposition","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"orders"},{"name":"reschedulePickup"},{"name":"updatedesposition"}],"paths":{"/api/orders/nudge":{"get":{"tags":["orders"],"summary":"List nudge reasons and cooldowns","description":"Returns the catalogue of nudge reasons the POST handler validates against; when leadId is supplied it also returns the remaining cooldown per audience so the UI can disable the button.\n\n_Source: `app/api/orders/nudge/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":false,"description":"Include per-audience cooldown state for this order","schema":{"type":"string","example":"LD-2026-004512"}}],"responses":{"200":{"description":"Reasons (and cooldowns)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersNudgeGetResponse"},"example":{"reasons":[{"value":"pickup_due","label":"Pickup window closing","audience":"vendor","title":"Pickup due soon"}],"cooldowns":{"vendor":{"lastAt":"2026-09-01T05:50:00.000Z","msRemaining":300000},"customer":null,"eligible_vendors":null},"cooldownMinutes":15}}}}},"security":[]},"post":{"tags":["orders"],"summary":"Send a push nudge for one order","description":"Sends an FCM push about a specific order to its vendor, its customer, or (for unassigned orders) up to 25 eligible nearby vendors, and records the nudge as a LeadLogs row.\n\n**Notes:** Side effect: sends real push notifications. Rate limited to one nudge per audience per order every 15 minutes (429). Broadcasts are capped at 25 vendors. Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/orders/nudge/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersNudgePostRequest"},"example":{"leadId":"LD-2026-004512","reason":"pickup_due"}}}},"responses":{"200":{"description":"Nudge delivered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersNudgePostResponse"},"example":{"success":true,"audience":"vendor","delivered":1,"model":"iPhone 13","message":"Vendor nudged about the iPhone 13."}}}},"400":{"description":"Missing fields, unknown reason, or audience mismatch with assignment state","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This order has no vendor assigned yet — nothing to nudge."}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Order not found"}}}},"422":{"description":"No valid device token / no eligible vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"No live vendor covers this pincode and device type, so there is nobody to tell. This is a …"}}}},"429":{"description":"Cooldown active","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This vendor was already nudged recently. Try again in 8 minute(s)."}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to send nudge"}}}}},"security":[]}},"/api/orders/pending-issues":{"get":{"tags":["orders"],"summary":"List unresolved order issues","description":"Paginated list of active (unresolved) LeadFlag rows with full order, device, vendor and customer context, annotated with minutes since flagged and an isOverdue marker past 15 minutes.\n\n_Source: `app/api/orders/pending-issues/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":50,"default":50}},{"name":"city","in":"query","required":false,"description":"Partial city match on the order (case-insensitive)","schema":{"type":"string","example":"Mumbai"}}],"responses":{"200":{"description":"Pending issues","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersPendingIssuesGetResponse"},"example":{"flags":[{"id":31,"leadId":"LD-2026-004512","minutesSinceFlagged":42,"isOverdue":true}],"pagination":{"page":1,"limit":50,"total":9,"totalPages":1}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch pending issues"}}}}},"security":[]}},"/api/orders/retention-counts":{"get":{"tags":["orders"],"summary":"List retention counts","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/orders/retention-counts/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/orders/retention-recovery":{"get":{"tags":["orders"],"summary":"List retention recovery","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/orders/retention-recovery/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"$ref":"#/components/parameters/FromParam"},{"$ref":"#/components/parameters/ToParam"}]}},"/api/orders/{leadId}/chat":{"get":{"tags":["orders"],"summary":"Read the customer-vendor chat for an order","description":"Read-only, cursor-paginated view of the customer-vendor chat thread for one order, including the pre-filter text of any message the contact-info filter rewrote. Restricted to root admins and the SUPER_ADMIN / MANAGER / TEAM_LEAD / EXECUTIVE roles.\n\n**Notes:** Side effect: writes an AdminChatAccessLog compliance row on the initial (cursorless) load; if that write fails the request 500s and no content is served. There is deliberately no handler to post messages.\n\n_Source: `app/api/orders/[leadId]/chat/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId the chat room belongs to","schema":{"type":"string"},"example":"LD-2026-004512"},{"name":"cursor","in":"query","required":false,"description":"Message id to page from; absent on the initial load","schema":{"type":"string","example":"cm3x9k2p0000abcd"}},{"name":"limit","in":"query","required":false,"description":"Page size, capped at 100","schema":{"type":"integer","example":50,"default":50}}],"responses":{"200":{"description":"Chat page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersByLeadIdChatGetResponse"},"example":{"room":{"id":"cm3room1","status":"OPEN","createdAt":"2026-08-30T10:00:00.000Z"},"participants":{"customer":{"id":"CUST123","name":"Rahul Verma"},"vendor":{"id":"VEN456","name":"Amit Sharma","shopName":"Sharma Mobiles"}},"messages":[{"id":"cm3msg1","senderType":"CUSTOMER","body":"When are you arriving?","wasFiltered":false,"type":"TEXT","createdAt":"2026-08-30T10:05:00.000Z"}],"nextCursor":null}}}},"400":{"description":"Missing leadId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lead ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Role not permitted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Forbidden: your role does not have chat access"}}}},"500":{"description":"Server error or audit write failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Could not record chat access; try again"}}}}},"security":[{"cookieAuth":[]}]}},"/api/orders/{leadId}/chat/summary":{"get":{"tags":["orders"],"summary":"Get chat counters for an order badge","description":"Returns aggregate chat counters (human TEXT message count, filter-flagged count, last message timestamp) for the order's chat badge. Never returns message bodies and deliberately writes no audit row.\n\n**Notes:** Same role gate as the chat endpoint (root admin or SUPER_ADMIN/MANAGER/TEAM_LEAD/EXECUTIVE). Counts only CUSTOMER/VENDOR TEXT messages, excluding SYSTEM/SUPPORT rows.\n\n_Source: `app/api/orders/[leadId]/chat/summary/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId","schema":{"type":"string"},"example":"LD-2026-004512"}],"responses":{"200":{"description":"Counters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersByLeadIdChatSummaryGetResponse"},"example":{"hasRoom":true,"status":"OPEN","messageCount":14,"flaggedCount":2,"lastMessageAt":"2026-08-30T10:05:00.000Z"}}}},"400":{"description":"Missing leadId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lead ID is required"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"description":"Role not permitted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Forbidden: your role does not have chat access"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch chat summary"}}}}},"security":[{"cookieAuth":[]}]}},"/api/orders/{leadId}/reassign":{"post":{"tags":["orders"],"summary":"Reassign an order to a different vendor","description":"Moves the order to a new vendor inside one transaction: flags the outgoing vendor, repoints unresolved lead flags at them, updates the chat room and its VENDOR participant, posts a SYSTEM chat message and writes a REASSIGN lead log.\n\n**Notes:** Side effects: creates a VendorFlag against the outgoing vendor and posts a SYSTEM message into the order's chat room. Wrapped in withAuditLog (ORDER/ASSIGN).\n\n_Source: `app/api/orders/[leadId]/reassign/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"MasterLeads leadId","schema":{"type":"string"},"example":"LD-2026-004512"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersByLeadIdReassignPostRequest"},"example":{"newVendorId":"VEN789","reason":"Vendor did not arrive within the pickup slot"}}}},"responses":{"200":{"description":"Reassigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersByLeadIdReassignPostResponse"},"example":{"message":"Order reassigned successfully","oldVendorId":"VEN456","newVendorId":"VEN789","vendorFlag":{"id":31},"lead":{"leadId":"LD-2026-004512","vendorId":"VEN789"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"newVendorId and reason are required"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"404":{"description":"Order not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Order not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to reassign order"}}}}},"security":[{"cookieAuth":[]}]}},"/api/reschedulePickup":{"patch":{"tags":["reschedulePickup"],"summary":"Reschedule an order's pickup date and slot","description":"Moves an active order to a new pickup date and canonicalised time slot, writes a ReschedulePickup lead log capturing the previous values, and emails the customer and vendor.\n\n**Notes:** Side effect: sends reschedule emails to the customer and (if present) the vendor about 1s after responding. WhatsApp is sent separately by CashkrBackend via Pabbly. Responds with Access-Control-Allow-Origin: *. Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/reschedulePickup/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReschedulePickupPatchRequest"},"example":{"leadId":"LD-2026-004512","pickupDate":"2026-09-04","timeSlot":"10 AM - 12 PM","reason":"Customer requested a later slot"}}}},"responses":{"200":{"description":"Rescheduled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Pickup details updated successfully"}}}},"400":{"description":"Missing fields or unknown slot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unknown pickup slot: morning"}}}},"404":{"description":"Lead not found, failed or completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Lead not found or failed or completed"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/updatedesposition":{"post":{"tags":["updatedesposition"],"summary":"Update a lead's disposition","description":"Sets the disposition text on a master lead, increments its isCallRequested counter and appends a lead log entry describing the change.\n\n**Notes:** No handler-level auth check. Errors are returned with HTTP 200 and success:false, so clients must inspect the body rather than the status code. Side effects: increments isCallRequested and creates a MasterLeads lead log row. Audit-logged as ORDER/STATUS_CHANGE.\n\n_Source: `app/api/updatedesposition/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatedespositionPostRequest"},"example":{"leadId":"LD202608150042","desposition":"Customer asked for callback"}}}},"responses":{"200":{"description":"Validation or update failure (returned with HTTP 200, check the success flag)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid data types. Both leadid and desposition must be strings"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"OrdersByLeadIdChatGetResponse":{"type":"object","x-inferred-from-example":true},"OrdersNudgePostResponse":{"type":"object","x-inferred-from-example":true},"OrdersByLeadIdReassignPostRequest":{"type":"object","properties":{"newVendorId":{"type":"string","description":"Vendor id to assign the order to"},"reason":{"type":"string","description":"Why the order is being taken away from the current vendor"}},"required":["newVendorId","reason"],"description":"Request body for `POST /api/orders/{leadId}/reassign`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"OrdersByLeadIdReassignPostResponse":{"type":"object","x-inferred-from-example":true},"OrdersPendingIssuesGetResponse":{"type":"object","x-inferred-from-example":true},"OrdersNudgePostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"MasterLeads leadId"},"reason":{"type":"string","description":"order_available | pickup_due | running_late | no_action | confirm_availability | reschedule_request"}},"required":["leadId","reason"],"description":"Request body for `POST /api/orders/nudge`."},"UpdatedespositionPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"Master lead id; must be a string or the request is rejected"},"desposition":{"type":"string","description":"Disposition text, e.g. 'Customer asked for callback' (note the misspelling of disposition)"}},"required":["leadId","desposition"],"description":"Request body for `POST /api/updatedesposition`."},"OrdersNudgeGetResponse":{"type":"object","x-inferred-from-example":true},"ReschedulePickupPatchRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"MasterLeads leadId"},"pickupDate":{"type":"string","description":"New pickup date"},"timeSlot":{"type":"string","description":"Pickup slot label; normalised against the slot dictionary and 400s if unknown"},"reason":{"type":"string","description":"Reason stored on the lead log"}},"required":["leadId","pickupDate","timeSlot"],"description":"Request body for `PATCH /api/reschedulePickup`."},"OrdersByLeadIdChatSummaryGetResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"}},"examples":{"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}