{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Orders & Leads 2","description":"Tags: leads, orders","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"leads"},{"name":"orders"}],"paths":{"/api/leads/closure-reasons":{"get":{"tags":["leads"],"summary":"List closure reasons","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/leads/closure-reasons/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"name":"group","in":"query","required":false,"description":"Filter by group.","schema":{"type":"string"}},{"name":"scope","in":"query","required":false,"description":"Filter by scope.","schema":{"type":"string"}}]}},"/api/leads/converted-orders":{"post":{"tags":["leads"],"summary":"List admin-converted (sales) orders","description":"Paginated MasterLeads with createdBy 'Admin' and isCompleted 1 — orders booked by the sales/telecalling team. Supports a status sub-filter, device type, city and date range, excludes test-city orders, and caches each page in Redis for 90 seconds.\n\n**Notes:** No handler-level auth check. Redis-cached for 90s keyed on the full filter set; nothing invalidates the key on writes. Lead logs are truncated to the 20 most recent entries per order.\n\n_Source: `app/api/leads/converted-orders/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsConvertedOrdersPostRequest"},"example":{"search":"","deviceType":"Mobile","city":"all","statusFilter":"Completed","fromDate":"2026-08-01","toDate":"2026-08-31","page":1,"limit":20}}}},"responses":{"200":{"description":"Converted-order page (Cache-Control: private, max-age=60)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsConvertedOrdersPostResponse"},"example":{"success":true,"data":[{"leadId":"8a7b6c5d-4444-3333-2222-111100009999","token":"CK123456","deviceModel":"iPhone 12","deviceImei":"358240051111110","quotedPrice":24000,"finalPrice":23000,"paymentType":"Cash","status":"Completed","city":"Hyderabad","tier":1,"isAssigned":true}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":20}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"An error occurred while processing your request"}}}}},"security":[]}},"/api/leads/failed-accept":{"post":{"tags":["leads"],"summary":"Mark lead Failed Accept and reverse vendor credits","description":"Marks the lead's failedLead record as complete and credits the vendor's creditsAvailable back by the lead's vendorCreditsPoints. Writes a LeadLogs row and a VendorCreditLogs row with category OrderFailedAccepted, then invalidates the Redis orders cache.\n\n**Notes:** Mutates money: increments vendor credit balance inside a Prisma transaction. Wrapped in withAuditLog (entity LEAD, action STATUS_CHANGE) which only logs when a NextAuth session exists - it does NOT enforce auth, so this route has No handler-level auth check of its own.\n\n_Source: `app/api/leads/failed-accept/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":true,"description":"Lead id to mark as Failed Accept; 400 if missing","schema":{"type":"string","example":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsFailedAcceptPostRequest"},"example":{"action":"Failed Accept","reason":"Customer cancelled at doorstep"}}}},"responses":{"200":{"description":"Credits reversed to vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsFailedAcceptPostResponse"},"example":{"success":true,"message":"Lead marked as Failed Accept, credits reversed to vendor","data":{"leadId":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1","reversedCredits":120,"vendorId":"VEN-1042"}}}}},"400":{"description":"Lead ID missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Lead ID is required"}}}},"500":{"description":"Lead not found / already failed / no vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to process Failed Accept","error":"Lead not found"}}}}},"security":[]}},"/api/leads/failed-reject":{"post":{"tags":["leads"],"summary":"Mark lead Failed Reject and forfeit vendor credits","description":"Marks the failedLead record complete without returning credits to the vendor, and records the forfeit in VendorCreditLogs with category OrderFailedRejected (balance unchanged - the debit already happened at assignment). Sends a VENDOR_LEAD_FINED push notification to the vendor and invalidates the orders cache.\n\n**Notes:** Side effects: Firebase push notification to the vendor (VENDOR_LEAD_FINED) and a Redis orders-cache invalidation. Wrapped in withAuditLog (LEAD / STATUS_CHANGE) which logs but does not authenticate - no handler-level auth check on this route.\n\n_Source: `app/api/leads/failed-reject/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":true,"description":"Lead id to mark as Failed Reject; 400 if missing","schema":{"type":"string","example":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsFailedRejectPostRequest"},"example":{"action":"Failed Reject","reason":"Vendor never showed up","reasons":["No Timely Service"],"reasonAudioUrl":"https://objects.example.com/lead-action-reasons/8f3c1a2e_reason.webm"}}}},"responses":{"200":{"description":"Lead rejected, credits forfeited","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsFailedRejectPostResponse"},"example":{"success":true,"message":"Lead marked as Failed Reject, no credits reversed to vendor","data":{"leadId":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1","token":"DPH-3KQ8ZA1M","reversedCredits":120,"vendorId":"VEN-1042","firebaseId":"fcm-token-abc"}}}}},"400":{"description":"Lead ID missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Lead ID is required"}}}},"500":{"description":"Lead not found / already failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to process Failed Reject","error":"Lead is already marked as failed"}}}}},"security":[]}},"/api/leads/lost-leads":{"get":{"tags":["leads"],"summary":"List lost leads","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/leads/lost-leads/route.ts`_\n\n_Auth: `none detected`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[],"parameters":[{"name":"category","in":"query","required":false,"description":"Filter by category.","schema":{"type":"string"}},{"name":"city","in":"query","required":false,"description":"Filter by city.","schema":{"type":"string"}},{"name":"closedBy","in":"query","required":false,"description":"Filter by the admin who closed the lead.","schema":{"type":"string"}},{"name":"deviceType","in":"query","required":false,"description":"Filter by device type.","schema":{"type":"string"}},{"$ref":"#/components/parameters/FromParam"},{"name":"kind","in":"query","required":false,"description":"Filter by kind.","schema":{"type":"string"}},{"$ref":"#/components/parameters/LimitParam"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/ToParam"}]}},"/api/leads/make-available":{"post":{"tags":["leads"],"summary":"Duplicate failed lead and republish at 50% credits","description":"Creates a full duplicate of the original lead (device condition rows, address, new 4-digit inspection OTP, new admin token, pickup set for tomorrow 10:00 AM - 01:00 PM) priced at 50% of the original credit points and unassigned, then flips the original lead to Failed and forfeits 100% of the vendor's credits.\n\n**Notes:** Heavy write: one Prisma transaction creating a new MasterLeads row plus device/address/OTP children, two LeadLogs and a VendorCreditLogs debit record. Also calls logAdminActivity using getServerSession, but the route itself performs No handler-level auth check - the session is only read for the activity log. Invalidates the Redis orders cache.\n\n_Source: `app/api/leads/make-available/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":true,"description":"Original lead id to duplicate; 400 if missing","schema":{"type":"string","example":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsMakeAvailablePostRequest"},"example":{"reason":"Vendor did not attempt pickup","reasons":["No Timely Service"]}}}},"responses":{"200":{"description":"Duplicate order created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsMakeAvailablePostResponse"},"example":{"success":true,"message":"Duplicate order created successfully. Vendor credits forfeited (100% deducted).","data":{"originalLeadId":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1","newLeadId":"c41b7d6a-9e02-4b55-a1cd-77e3f0a92b14","forfeitedCredits":240,"newOrderCredits":120,"originalVendorId":"VEN-1042"}}}}},"400":{"description":"Lead ID missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Lead ID is required"}}}},"500":{"description":"Lead not found or duplication failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to create duplicate order","error":"Lead not found"}}}}},"security":[]}},"/api/leads/my-leads":{"get":{"tags":["leads"],"summary":"List my leads","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/leads/my-leads/route.ts`_\n\n_Auth: `cookieAuth`_","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}],"parameters":[{"name":"adminId","in":"query","required":false,"description":"Restrict the result to a single admin.","schema":{"type":"integer"}}]}},"/api/leads/not-connected":{"get":{"tags":["leads"],"summary":"List not connected","description":"Operation reconstructed from source during the re-audit. Query parameters: days. \n\n_Source: `app/api/leads/not-connected/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"days","in":"query","required":false,"description":"Query parameter `days`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/leads/reason-audio":{"post":{"tags":["leads"],"summary":"Upload voice-note reason for a lead action","description":"Accepts a recorded audio reason and stores it in Linode object storage under the lead-action-reasons folder, returning the public URL to attach to a subsequent fail / reverse / make-available call. Validates MIME type (webm, ogg, mp4, mpeg, wav, x-m4a) and rejects files over 10MB or empty recordings.\n\n**Notes:** Shared implementation with /api/vendor-credit/audio via lib/utils/audio-reason-upload. Uploads to Linode Object Storage; an abandoned form leaves an orphaned object. Do not set Content-Type manually - Postman sets the multipart boundary.\n\n_Source: `app/api/leads/reason-audio/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/LeadsReasonAudioPostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUrlEnvelope_2"},"example":{"success":true,"url":"https://objects.example.com/lead-action-reasons/8f3c1a2e_reason.webm"}}}},"400":{"description":"Missing / unsupported / oversized / empty file","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Recording is too large (max 10MB)"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to upload recording"}}}}},"security":[{"cookieAuth":[]}]}},"/api/leads/retention-contact":{"post":{"tags":["leads"],"summary":"Create retention contact","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/leads/retention-contact/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/leads/reverse-to-vendor":{"post":{"tags":["leads"],"summary":"Undo a failed lead and return it to the vendor","description":"Reverses a failure: sets the lead back to primaryStatus InProgress / secondaryStatus Assigned with the same vendor, clears the call-request and disposition flags, writes a LeadLogs entry, and deletes the failedReason and failedLead records.\n\n**Notes:** Destructive: deletes the failedLead and failedReason rows. Wrapped in withAuditLog (LEAD / STATUS_CHANGE), which logs but does not authenticate - no handler-level auth check on this route. Invalidates the Redis orders cache.\n\n_Source: `app/api/leads/reverse-to-vendor/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":true,"description":"Lead id to reverse back to the vendor; 400 if missing","schema":{"type":"string","example":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsReverseToVendorPostRequest"},"example":{"action":"Failed Reverse","reason":"Marked failed by mistake"}}}},"responses":{"200":{"description":"Lead reversed to vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LeadsReverseToVendorPostResponse"},"example":{"success":true,"message":"Lead marked as Failed Reverse to vendor","data":{"leadId":"8f3c1a2e-4b77-4c1f-9a63-2f7c19d0e5b1","vendorId":"VEN-1042"}}}}},"400":{"description":"Lead ID missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Lead ID is required"}}}},"500":{"description":"Lead not found / no vendor / already failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to process Failed Reverse","error":"No vendor associated with this lead"}}}}},"security":[]}},"/api/leads/{leadId}/detail":{"get":{"tags":["leads"],"summary":"Detail — GET leads/[leadId]/detail","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/leads/[leadId]/detail/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"leadId","in":"path","required":true,"description":"Route parameter `leadId`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/orders/flag":{"get":{"tags":["orders"],"summary":"List flagged orders or flags for one order","description":"With leadId, returns that order's flags; without it, returns all flags (unresolved by default) joined to order, customer and vendor details plus the PROBLEM_TYPES dropdown list.\n\n_Source: `app/api/orders/flag/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":false,"description":"Restrict to one order","schema":{"type":"string","example":"LD-2026-004512"}},{"name":"resolved","in":"query","required":false,"description":"'true' for resolved flags, 'false' for open ones","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Flags","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagGetResponse"},"example":{"data":[{"id":31,"leadId":"LD-2026-004512","problemType":"vendor_not_arrived","isResolved":false}],"problemTypes":[{"value":"vendor_not_arrived","label":"Vendor Did Not Arrive"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch flags"}}}}},"security":[]},"post":{"tags":["orders"],"summary":"Flag an order with a problem type","description":"Creates a LeadFlag for an order (rejecting a second open flag), writes a 'Flagged' lead log, invalidates the orders cache and records an ORDER_FLAG admin activity entry.\n\n**Notes:** No auth gate — the session is only read to record who flagged it (falls back to 'Unknown'). Invalidates the all-orders cache.\n\n_Source: `app/api/orders/flag/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagPostRequest"},"example":{"leadId":"LD-2026-004512","problemType":"vendor_not_arrived","description":"Vendor 40 minutes past the slot"}}}},"responses":{"200":{"description":"Flag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagPostResponse"},"example":{"success":true,"data":{"id":31,"leadId":"LD-2026-004512","problemType":"vendor_not_arrived","isResolved":false}}}}},"400":{"description":"Missing fields or an open flag already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"This order already has an active flag"}}}},"404":{"description":"Lead not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Lead not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create flag"}}}}},"security":[]},"patch":{"tags":["orders"],"summary":"Resolve order flags","description":"Marks a single flag resolved by flagId, or every unresolved flag for a leadId, then invalidates the orders cache.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/orders/flag/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagPatchRequest"},"example":{"flagId":31}}}},"responses":{"200":{"description":"Resolved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagPatchResponse"},"example":{"success":true,"data":{"id":31,"isResolved":true}}}}},"400":{"description":"Neither id supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"leadId or flagId is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to resolve flag"}}}}},"security":[]},"delete":{"tags":["orders"],"summary":"Delete order flags","description":"Hard-deletes one flag by flagId or every flag for a leadId, then invalidates the orders cache.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Destructive and unauthenticated: passing leadId deletes the order's entire flag history.\n\n_Source: `app/api/orders/flag/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"flagId","in":"query","required":false,"description":"Flag id to delete","schema":{"type":"integer","example":31}},{"name":"leadId","in":"query","required":false,"description":"Delete every flag for this order; one of flagId/leadId is required","schema":{"type":"string","example":"LD-2026-004512"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Neither id supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"flagId or leadId is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to delete flag"}}}}},"security":[]}},"/api/orders/flags":{"get":{"tags":["orders"],"summary":"List order flags with vendor context","description":"Returns LeadFlag rows, optionally narrowed to one order or to unresolved flags only, joined to the order, its current vendor, the customer and the vendor captured when the flag was raised.\n\n**Notes:** Unlike POST/PATCH on the same file, GET has no session check.\n\n_Source: `app/api/orders/flags/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"leadId","in":"query","required":false,"description":"Restrict to one order","schema":{"type":"string","example":"LD-2026-004512"}},{"name":"pending","in":"query","required":false,"description":"'true' returns only unresolved flags","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Flags","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagsGetResponse"},"example":{"flags":[{"id":31,"leadId":"LD-2026-004512","isResolved":false,"flaggedVendor":{"vendorId":"VEN456","firstName":"Amit"}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch flags"}}}}},"security":[]},"post":{"tags":["orders"],"summary":"Create an order flag capturing the current vendor","description":"Creates a LeadFlag and snapshots the vendor assigned at the time (flaggedVendorId) so accountability survives a later reassignment. Returns the flag joined to the order, customer and flagged vendor.\n\n**Notes:** Wrapped in withAuditLog (ORDER).\n\n_Source: `app/api/orders/flags/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagsPostRequest"},"example":{"leadId":"LD-2026-004512","problemType":"vendor_not_arrived","description":"No show"}}}},"responses":{"201":{"description":"Flag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagsPostResponse"},"example":{"message":"Order flagged successfully","flag":{"id":31,"leadId":"LD-2026-004512","flaggedVendorId":"VEN456","isResolved":false}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"leadId and problemType are required"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to create flag"}}}}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["orders"],"summary":"Resolve an order flag with notes","description":"Marks the given flag resolved, stamping resolvedAt, the resolving admin id and optional resolution notes.\n\n**Notes:** Wrapped in withAuditLog (ORDER).\n\n_Source: `app/api/orders/flags/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagsPatchRequest"},"example":{"flagId":31,"resolutionNotes":"Reassigned to a nearby vendor, picked up same day"}}}},"responses":{"200":{"description":"Resolved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersFlagsPatchResponse"},"example":{"message":"Flag resolved successfully","flag":{"id":31,"isResolved":true,"resolvedAt":"2026-08-30T12:00:00.000Z"}}}}},"400":{"description":"Missing flagId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"flagId is required"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to resolve flag"}}}}},"security":[{"cookieAuth":[]}]}},"/api/orders/map":{"get":{"tags":["orders"],"summary":"Get live order map points with SLA state","description":"Returns every in-play pickup as a map point coloured by SLA state, using doorstep coordinates where captured and the pincode centroid otherwise (flagged as approx), plus a summary of plotted, breached, due-soon and unassigned counts.\n\n**Notes:** Redis-cached for 45s per city/slaState combination and capped at 3000 orders (summary.truncated flags the cap). Test orders are excluded.\n\n_Source: `app/api/orders/map/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Filter by resolved city (case-insensitive)","schema":{"type":"string","example":"Mumbai"}},{"name":"slaState","in":"query","required":false,"description":"onTrack | dueSoon | breached","schema":{"type":"string","example":"breached"}}],"responses":{"200":{"description":"Map points","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrdersMapGetResponse"},"example":{"points":[{"leadId":"LD-2026-004512","token":"CK4512","lat":19.1197,"lng":72.8464,"approx":false,"city":"Mumbai","slaState":"dueSoon","isAssigned":true}],"summary":{"plotted":248,"missingCoords":12,"breached":9,"dueSoon":31,"onTrack":208,"unassigned":17,"approximate":44,"truncated":false},"generatedAt":"2026-09-01T06:00:00.000Z"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to build order map"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"LeadsReasonAudioPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Audio recording (audio/webm, audio/ogg, audio/mp4, audio/mpeg, audio/wav, audio/x-m4a; max 10MB)"},"leadId":{"type":"string","description":"Owning lead id, used only to build a recognisable object key (defaults to \"unknown\")"}},"required":["file"],"description":"Request body for `POST /api/leads/reason-audio`."},"OrdersFlagPatchResponse":{"type":"object","x-inferred-from-example":true},"OrdersFlagPatchRequest":{"type":"object","properties":{"flagId":{"type":"integer","description":"Resolve this specific flag"},"leadId":{"type":"string","description":"Resolve all open flags for this order; one of flagId/leadId is required"}},"description":"Request body for `PATCH /api/orders/flag`."},"OrdersFlagsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"LeadsMakeAvailablePostResponse":{"type":"object","x-inferred-from-example":true},"OrdersMapGetResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"OrdersFlagsPostResponse":{"type":"object","x-inferred-from-example":true},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"OrdersFlagGetResponse":{"type":"object","x-inferred-from-example":true},"OrdersFlagPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"MasterLeads leadId"},"problemType":{"type":"string","description":"pickup_not_complete | customer_not_called | vendor_not_arrived | wrong_price_quoted | customer_complaint | document_issue | payment_issue | other"},"description":{"type":"string","description":"Free-text detail"}},"required":["leadId","problemType"],"description":"Request body for `POST /api/orders/flag`."},"OrdersFlagsPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"MasterLeads leadId"},"problemType":{"type":"string","description":"Problem type slug"},"description":{"type":"string","description":"Free-text detail"}},"required":["leadId","problemType"],"description":"Request body for `POST /api/orders/flags`."},"LeadsFailedAcceptPostResponse":{"type":"object","x-inferred-from-example":true},"SuccessUrlEnvelope_2":{"type":"object","x-inferred-from-example":true},"LeadsConvertedOrdersPostResponse":{"type":"object","x-inferred-from-example":true},"LeadsFailedAcceptPostRequest":{"type":"object","properties":{"action":{"type":"string","description":"Action label stored on the lead log (default \"Failed Accept\")"},"reason":{"type":"string","description":"Free-text reason stored on the lead log"}},"description":"Request body for `POST /api/leads/failed-accept`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message","success"],"description":"Error envelope `{ success: false, message, error }`."},"LeadsReverseToVendorPostRequest":{"type":"object","properties":{"action":{"type":"string","description":"Action label stored on the lead log (default \"Failed Reverse\")"},"reason":{"type":"string","description":"Free-text reason stored on the lead log"}},"description":"Request body for `POST /api/leads/reverse-to-vendor`."},"LeadsConvertedOrdersPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text passed through buildSearchQuery(search, 'order')"},"deviceType":{"type":"string","description":"Mobile | Laptop | Tablet | ..."},"city":{"type":"string","description":"City filter; 'all' disables it"},"statusFilter":{"type":"string","description":"All | Generated | Assigned | Completed | Failed | InProgress","default":"All"},"fromDate":{"type":"string","description":"createdAt lower bound"},"toDate":{"type":"string","description":"createdAt upper bound (extended to end of day)"},"page":{"type":"integer","description":"1-based page number","default":1},"limit":{"type":"integer","description":"Page size","default":20}},"description":"Request body for `POST /api/leads/converted-orders`."},"LeadsReverseToVendorPostResponse":{"type":"object","x-inferred-from-example":true},"LeadsFailedRejectPostResponse":{"type":"object","x-inferred-from-example":true},"LeadsFailedRejectPostRequest":{"type":"object","properties":{"action":{"type":"string","description":"Action label stored on the lead log (default \"Failed Reject\")"},"reason":{"type":"string","description":"Free-text reason; combined with reasons into one string"},"reasons":{"type":"array","items":{},"description":"Array of preset reason strings, e.g. Number Sharing, No Timely Service"},"reasonAudioUrl":{"type":"string","description":"URL of a voice-note reason previously uploaded via /api/leads/reason-audio"}},"description":"Request body for `POST /api/leads/failed-reject`."},"LeadsMakeAvailablePostRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Free-text reason (default \"Duplicate order created for failed pickup\")"},"reasons":{"type":"array","items":{},"description":"Selected rejection reasons, e.g. [\"Number Sharing\", \"No Timely Service\"]"}},"description":"Request body for `POST /api/leads/make-available`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"OrdersFlagsPatchResponse":{"type":"object","x-inferred-from-example":true},"OrdersFlagPostResponse":{"type":"object","x-inferred-from-example":true},"OrdersFlagsPatchRequest":{"type":"object","properties":{"flagId":{"type":"integer","description":"LeadFlag id"},"resolutionNotes":{"type":"string","description":"How the issue was resolved"}},"required":["flagId"],"description":"Request body for `PATCH /api/orders/flags`."}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"FromParam":{"name":"from","in":"query","required":false,"description":"Window start (YYYY-MM-DD, IST). Defaults to 30 days before today.","schema":{"type":"string","default":"today-30d"},"example":"2026-08-01"},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20},"ToParam":{"name":"to","in":"query","required":false,"description":"Window end (YYYY-MM-DD, IST). Defaults to today.","schema":{"type":"string","default":"today"},"example":"2026-08-31"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}