{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Settings 2","description":"Tags: settings, terms","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"settings"},{"name":"terms"}],"paths":{"/api/settings/search-index-sync":{"post":{"tags":["settings"],"summary":"Rebuild device search index","description":"Runs syncDeviceSearchIndex() to regenerate the device search index used by search endpoints.\n\n**Notes:** No handler-level auth check. Potentially expensive full-index rebuild; audit-logged as SETTINGS/UPDATE.\n\n_Source: `app/api/settings/search-index-sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Synced","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsSearchIndexSyncPostResponse"},"example":{"success":true,"message":"Search index synced successfully","syncedAt":"2026-09-01T08:00:00.000Z"}}}},"500":{"description":"Sync failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to sync search index"}}}}},"security":[]}},"/api/settings/tier-access-rules":{"post":{"tags":["settings"],"summary":"Create tier access rule","description":"Creates a rule granting a vendor type access to a given tier and returns it with the vendor type included.\n\n**Notes:** No handler-level auth check. Controls which vendors can see which device tiers.\n\n_Source: `app/api/settings/tier-access-rules/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierAccessRulesPostRequest"},"example":{"vendorTypeId":3,"tier":2}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierAccessRulesPostResponse"},"example":{"success":true,"data":{"id":11,"vendorTypeId":3,"tier":2,"vendorType":{"id":3,"name":"Premium"}}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Vendor type ID and tier are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create access rule"}}}}},"security":[]},"delete":{"tags":["settings"],"summary":"Delete tier access rule","description":"Deletes an access rule either by its numeric id or by the vendorTypeId+tier composite key.\n\n**Notes:** No handler-level auth check. Destructive.\n\n_Source: `app/api/settings/tier-access-rules/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":false,"description":"Rule id; if omitted you must pass vendorTypeId and tier","schema":{"type":"integer","example":11}},{"name":"vendorTypeId","in":"query","required":false,"description":"Vendor type id (used with tier when id is absent)","schema":{"type":"integer","example":3}},{"name":"tier","in":"query","required":false,"description":"Tier number (used with vendorTypeId when id is absent)","schema":{"type":"integer","example":2}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Access rule deleted successfully"}}}},"400":{"description":"Neither id nor vendorTypeId+tier supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"ID or vendorTypeId+tier required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete access rule"}}}}},"security":[]}},"/api/settings/tier-config":{"get":{"tags":["settings"],"summary":"Get full tier configuration","description":"Returns active tiers, vendor types (with nested access and extra-credit rules), all tier access rules and all active extra credit rules in one payload.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/settings/tier-config/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Tier configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierConfigGetResponse"},"example":{"success":true,"data":{"tiers":[{"tier":1,"name":"Tier 1","baseCredits":5000}],"vendorTypes":[],"accessRules":[],"extraCreditRules":[]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch tier configuration"}}}}},"security":[]},"post":{"tags":["settings"],"summary":"Create a new tier","description":"Creates a new tier config row with its number, name, base credits and optional description.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/settings/tier-config/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierConfigPostRequest"},"example":{"tier":4,"name":"Tier 4","baseCredits":50000,"description":"Top tier partners"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierConfigResponse"},"example":{"success":true,"data":{"tier":4,"name":"Tier 4","baseCredits":50000}}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Tier, name, and base credits are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create tier"}}}}},"security":[]},"patch":{"tags":["settings"],"summary":"Update a tier's base credits","description":"Updates baseCredits, name and/or description on an existing tier, matched by tier number.\n\n**Notes:** No handler-level auth check. baseCredits controls how much vendor credit is issued - money-adjacent.\n\n_Source: `app/api/settings/tier-config/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierConfigPatchRequest"},"example":{"tier":2,"baseCredits":15000,"name":"Tier 2"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsTierConfigResponse"},"example":{"success":true,"data":{"tier":2,"name":"Tier 2","baseCredits":15000}}}}},"400":{"description":"Missing tier or baseCredits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Tier number and base credits are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update tier configuration"}}}}},"security":[]}},"/api/settings/vendor-types":{"post":{"tags":["settings"],"summary":"Create vendor type","description":"Creates a new vendor type config with a type number, name and optional description.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/settings/vendor-types/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsVendorTypesPostRequest"},"example":{"typeNumber":4,"name":"Franchise","description":"Franchise partner stores"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsVendorTypesPostResponse"},"example":{"success":true,"data":{"id":4,"typeNumber":4,"name":"Franchise"}}}}},"400":{"description":"Missing typeNumber or name","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Type number and name are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create vendor type"}}}}},"security":[]}},"/api/settings/vendor-types/{id}":{"patch":{"tags":["settings"],"summary":"Update vendor type","description":"Updates the name, description and/or active flag of a vendor type config.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/settings/vendor-types/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorTypeConfig id","schema":{"type":"string"},"example":"3"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsVendorTypesByIdPatchRequest"},"example":{"name":"Premium Store","isActive":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsVendorTypesByIdPatchResponse"},"example":{"success":true,"data":{"id":3,"name":"Premium Store","isActive":true}}}}},"500":{"description":"Update failed (includes unknown id)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update vendor type"}}}}},"security":[]},"delete":{"tags":["settings"],"summary":"Delete vendor type","description":"Deletes a vendor type, but refuses with 400 if any vendors still reference it. Cascades to its access and extra-credit rules.\n\n**Notes:** No handler-level auth check. Cascade-deletes tier access rules and extra credit rules for this type.\n\n_Source: `app/api/settings/vendor-types/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorTypeConfig id","schema":{"type":"string"},"example":"3"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Vendor type deleted successfully"}}}},"400":{"description":"Type still in use by vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Cannot delete vendor type. 12 vendor(s) are using this type."}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete vendor type"}}}}},"security":[]}},"/api/terms":{"get":{"tags":["terms"],"summary":"List all terms versions with sections","description":"Returns every terms document newest first, with ordered sections and an acceptance count, remapped to the frontend field names terms_sections and _count.user_terms_acceptances.\n\n**Notes:** No handler-level auth check. Returns full section content for every version, so the payload can be large.\n\n_Source: `app/api/terms/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Terms list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsGetResponse"},"example":{"success":true,"data":[{"id":"terms_1717000000000","title":"Vendor Terms","version":"2.1.0","isActive":true,"isDraft":false,"terms_sections":[],"_count":{"user_terms_acceptances":14810}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch terms"}}}}},"security":[]},"post":{"tags":["terms"],"summary":"Create a new terms version","description":"Creates a draft terms document plus all of its sections in a transaction, wiring up parent/child section relationships by sectionNumber. Validated with zod.\n\n**Notes:** No handler-level auth check. Always created as a draft - use POST /api/terms/{id}/publish to activate.\n\n_Source: `app/api/terms/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsPostRequest"},"example":{"title":"Vendor Terms","version":"2.2.0","changesSummary":"Updated payout timelines","createdBy":"admin","sections":[{"sectionNumber":"1","title":"Scope","content":"These terms apply to all vendors.","sortOrder":1,"isRequired":true,"sectionType":"CONTENT"}]}}}},"responses":{"201":{"description":"Created as draft","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsPostResponse"},"example":{"success":true,"data":{"id":"terms_1725177600000","title":"Vendor Terms","version":"2.2.0","isDraft":true}}}}},"400":{"description":"Validation failed or create error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsPost400Response"},"example":{"success":false,"error":"Validation failed","details":[{"path":["version"],"message":"Invalid"}]}}}}},"security":[]}},"/api/terms/accept":{"post":{"tags":["terms"],"summary":"Record a user's terms acceptance","description":"Upserts a UserTermsAcceptance row for the user/terms pair and clears the needsReacceptance flag on the user's terms status. Validated with zod.\n\n**Notes:** No handler-level auth check - any caller can record an acceptance on behalf of any userId, and ipAddress/userAgent are taken from the body rather than the request, so the legal audit trail is client-supplied. Re-accepting revives a previously revoked acceptance (clears revokedAt/revokedReason).\n\n_Source: `app/api/terms/accept/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsAcceptPostRequest"},"example":{"userId":"user_8812","termsId":"terms_1717000000000","ipAddress":"49.36.12.7","userAgent":"Mozilla/5.0 (Android 14)","acceptanceMethod":"CHECKBOX"}}}},"responses":{"201":{"description":"Acceptance recorded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsAcceptPostResponse"},"example":{"success":true,"data":{"id":"acceptance_1725177600000","userId":"user_8812","termsId":"terms_1717000000000","acceptanceMethod":"CHECKBOX","isValid":true}}}}},"400":{"description":"Validation failed or write error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsAcceptPost400Response"},"example":{"success":false,"error":"Validation failed","details":[{"path":["userId"],"message":"Required"}]}}}}},"security":[]}},"/api/terms/analytics":{"get":{"tags":["terms"],"summary":"Get terms acceptance analytics","description":"Returns total users, how many need re-acceptance, the overall acceptance rate and per-version acceptance counts. Optionally scoped to a single terms version.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/terms/analytics/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"termsId","in":"query","required":false,"description":"Restrict the per-version breakdown to one terms id; omit for all versions","schema":{"type":"string","example":"terms_1717000000000"}}],"responses":{"200":{"description":"Analytics","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsAnalyticsGetResponse"},"example":{"success":true,"data":{"totalUsers":15230,"usersNeedingAcceptance":420,"acceptanceRate":97.24,"versionStats":[{"termsId":"terms_1717000000000","_count":{"userId":14810}}]}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch analytics"}}}}},"security":[]}},"/api/terms/sections/{id}":{"put":{"tags":["terms"],"summary":"Update a terms section","description":"Updates a section's title, content and section number on a DRAFT terms version, recording a MODIFIED change-log entry when the content actually changes.\n\n**Notes:** No handler-level auth check. Only draft terms can be edited. Both id and termsId come from the JSON body - the [id] path segment is ignored, and a mismatched id/termsId pair can throw on terms.sections[0].\n\n_Source: `app/api/terms/sections/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Section id in the URL (the handler actually uses body.id, not this segment)","schema":{"type":"string"},"example":"section_1717000000000"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsSectionsByIdPutRequest"},"example":{"id":"section_1717000000000","termsId":"terms_1717000000000","title":"Payouts","content":"Payouts are settled within 7 days.","sectionNumber":"3","updatedBy":"priya"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsSectionsByIdPutResponse"},"example":{"success":true,"data":{"id":"section_1717000000000","title":"Payouts","sectionNumber":"3"}}}}},"400":{"description":"Terms already published, or update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Cannot modify published terms. Create a new version instead."}}}},"404":{"description":"Terms or section not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Section not found"}}}}},"security":[]},"delete":{"tags":["terms"],"summary":"Delete a terms section","description":"Deletes a section from a draft terms version after writing a DELETED entry to the section change log.\n\n**Notes:** No handler-level auth check. Unusually for a DELETE, a JSON body must be sent or request.json() throws and you get a 400. Only draft terms can be modified.\n\n_Source: `app/api/terms/sections/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Section id to delete (read from the path segment)","schema":{"type":"string"},"example":"section_1717000000000"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsSectionsByIdDeleteRequest"},"example":{"deletedBy":"priya"}}}},"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Section deleted successfully"}}}},"400":{"description":"Terms already published, or delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Cannot modify published terms. Create a new version instead."}}}},"404":{"description":"Section not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Section not found"}}}}},"security":[]}},"/api/terms/status/{userId}":{"get":{"tags":["terms"],"summary":"Check whether a user must accept terms","description":"Compares the user's acceptance record and status against the currently active terms version and returns whether re-acceptance is needed.\n\n**Notes:** No handler-level auth check - any caller can query any userId's terms status.\n\n_Source: `app/api/terms/status/[userId]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"userId","in":"path","required":true,"description":"User id to check","schema":{"type":"string"},"example":"user_8812"}],"responses":{"200":{"description":"No active terms configured","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsStatusByUserIdGetResponse"},"example":{"success":true,"data":{"needsAcceptance":false,"reason":"No active terms"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to check user status"}}}}},"security":[]}},"/api/terms/versions":{"get":{"tags":["terms"],"summary":"List terms version history","description":"Returns a lightweight version history (no section bodies) newest first, with acceptance and modified-section counts per version.\n\n**Notes:** No handler-level auth check. Cheaper alternative to GET /api/terms when you only need the version list.\n\n_Source: `app/api/terms/versions/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Version history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsVersionsGetResponse"},"example":{"success":true,"data":[{"id":"terms_1717000000000","version":"2.1.0","title":"Vendor Terms","isActive":true,"isDraft":false,"publishedAt":"2026-06-01T00:00:00.000Z","changesSummary":"Updated payout timelines","_count":{"userAcceptances":14810,"modifiedSections":3}}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch version history"}}}}},"security":[]}},"/api/terms/{id}":{"get":{"tags":["terms"],"summary":"Get a terms version with sections","description":"Returns one terms document including its ordered sections, each section's change history, and the modifiedSections log.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/terms/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Terms id","schema":{"type":"string"},"example":"terms_1717000000000"}],"responses":{"200":{"description":"Terms document","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsByIdGetResponse"},"example":{"success":true,"data":{"id":"terms_1717000000000","title":"Vendor Terms","version":"v2.1","isActive":true,"sections":[{"id":"section_1","sectionNumber":"1","title":"Scope","sortOrder":1}]}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Terms not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch terms"}}}}},"security":[]},"put":{"tags":["terms"],"summary":"Update terms and replace its sections","description":"Updates the terms title, version and change summary, then reconciles the sections array: sections missing from the payload are deleted, existing ones updated and new ones created.\n\n**Notes:** No handler-level auth check. Destructive replace semantics: any existing section whose id is not present in the sections array is deleted. Section numbers are renumbered in a two-pass update (temp- prefixed) to dodge a unique constraint, so a mid-request failure can leave sections with temp- section numbers.\n\n_Source: `app/api/terms/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Terms id","schema":{"type":"string"},"example":"terms_1717000000000"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsByIdPutRequest"},"example":{"title":"Vendor Terms","version":"v2.2","changesSummary":"Clarified payout timelines","sections":[{"id":"section_1","sectionNumber":"1","title":"Scope","content":"These terms apply to...","sortOrder":1,"isRequired":true,"sectionType":"STANDARD"}]}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsByIdPutResponse"},"example":{"success":true,"data":{"id":"terms_1717000000000","title":"Vendor Terms","version":"v2.2","sections":[]}}}}},"400":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update terms"}}}}},"security":[]},"delete":{"tags":["terms"],"summary":"Delete a terms version","description":"Deletes all user acceptance records for the terms and then the terms document itself.\n\n**Notes:** No handler-level auth check. Permanently deletes the legal acceptance audit trail (userTermsAcceptance rows) for this version. Same query-string-vs-path-param quirk as the duplicate route.\n\n_Source: `app/api/terms/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Terms id in the URL (note: the handler reads the id from ?id= instead)","schema":{"type":"string"},"example":"terms_1717000000000"},{"name":"id","in":"query","required":true,"description":"Terms id to delete. The handler reads request.nextUrl.searchParams.get('id') and ignores the path segment, so ?id= must be supplied.","schema":{"type":"string","example":"terms_1717000000000"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Terms deleted successfully"}}}},"400":{"description":"Delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete terms"}}}}},"security":[]}},"/api/terms/{id}/duplicate":{"post":{"tags":["terms"],"summary":"Duplicate a terms version as a draft","description":"Copies a terms document and all of its sections into a new draft version suffixed with -copy, leaving it inactive and unpublished.\n\n**Notes:** No handler-level auth check. Bug worth knowing: the id comes from the query string, not the [id] path segment - calling it without ?id= returns 404. Version collisions get a random numeric suffix.\n\n_Source: `app/api/terms/[id]/duplicate/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"Terms id in the URL (note: the handler actually reads the id from the ?id= query string, not this segment)","schema":{"type":"string"},"example":"terms_1717000000000"},{"name":"id","in":"query","required":true,"description":"Terms id to duplicate. The handler reads request.nextUrl.searchParams.get('id') and IGNORES the path segment, so you must also pass ?id=.","schema":{"type":"string","example":"terms_1717000000000"}}],"responses":{"201":{"description":"Duplicated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TermsByIdDuplicatePostResponse"},"example":{"success":true,"data":{"id":"terms_1725177600000","title":"Vendor Terms (Copy)","version":"v2.1-copy","isDraft":true,"isActive":false,"sections":[]}}}}},"400":{"description":"Duplication failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to duplicate terms"}}}},"404":{"description":"Terms not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Terms not found"}}}}},"security":[]}}},"components":{"schemas":{"SettingsTierAccessRulesPostRequest":{"type":"object","properties":{"vendorTypeId":{"type":"integer","description":"VendorTypeConfig id"},"tier":{"type":"integer","description":"Tier number the vendor type may access"}},"required":["vendorTypeId","tier"],"description":"Request body for `POST /api/settings/tier-access-rules`."},"TermsAcceptPost400Response":{"type":"object","x-inferred-from-example":true},"TermsAcceptPostRequest":{"type":"object","properties":{"userId":{"type":"string","description":"User accepting the terms"},"termsId":{"type":"string","description":"Terms version being accepted"},"ipAddress":{"type":"string","description":"Client IP recorded for the legal audit trail"},"userAgent":{"type":"string","description":"Client user agent recorded for the legal audit trail"},"acceptanceMethod":{"type":"string","description":"CHECKBOX, BUTTON_CLICK, SIGNATURE, BIOMETRIC or VOICE. Defaults to CHECKBOX."}},"required":["userId","termsId"],"description":"Request body for `POST /api/terms/accept`."},"TermsAcceptPostResponse":{"type":"object","x-inferred-from-example":true},"TermsSectionsByIdDeleteRequest":{"type":"object","properties":{"deletedBy":{"type":"string","description":"Who deleted it; defaults to 'admin' in the change log"}},"description":"Request body for `DELETE /api/terms/sections/{id}`."},"TermsVersionsGetResponse":{"type":"object","x-inferred-from-example":true},"TermsPostResponse":{"type":"object","x-inferred-from-example":true},"TermsPostRequest":{"type":"object","properties":{"title":{"type":"string","description":"Terms title, min length 1"},"version":{"type":"string","description":"Must match semver-ish pattern \\d+.\\d+.\\d+, e.g. 2.1.0"},"sections":{"type":"array","items":{},"description":"Sections: {sectionNumber, title, content, parentId?, sortOrder=0, isRequired=true, sectionType=CONTENT}. sectionType is one of HEADER, CONTENT, FOOTER, LEGAL_NOTICE, CONTACT_INFO. parentId references another section's sectionNumber."},"changesSummary":{"type":"string","description":"Summary of changes in this version"},"createdBy":{"type":"string","description":"Author identifier"}},"required":["title","version","sections","createdBy"],"description":"Request body for `POST /api/terms`."},"SettingsVendorTypesByIdPatchRequest":{"type":"object","properties":{"name":{"type":"string","description":"Vendor type name"},"description":{"type":"string","description":"Description"},"isActive":{"type":"boolean","description":"Whether the type is selectable"}},"description":"Request body for `PATCH /api/settings/vendor-types/{id}`."},"SettingsSearchIndexSyncPostResponse":{"type":"object","x-inferred-from-example":true},"SettingsVendorTypesPostRequest":{"type":"object","properties":{"typeNumber":{"type":"integer","description":"Unique vendor type number"},"name":{"type":"string","description":"Vendor type name"},"description":{"type":"string","description":"Description"}},"required":["typeNumber","name"],"description":"Request body for `POST /api/settings/vendor-types`."},"TermsByIdDuplicatePostResponse":{"type":"object","x-inferred-from-example":true},"TermsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"SettingsVendorTypesPostResponse":{"type":"object","x-inferred-from-example":true},"SettingsTierConfigPostRequest":{"type":"object","properties":{"tier":{"type":"integer","description":"Unique tier number"},"name":{"type":"string","description":"Tier display name"},"baseCredits":{"type":"integer","description":"Base credit allowance"},"description":{"type":"string","description":"Tier description"}},"required":["tier","name","baseCredits"],"description":"Request body for `POST /api/settings/tier-config`."},"SettingsTierConfigResponse":{"type":"object","x-inferred-from-example":true},"SettingsVendorTypesByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"SettingsTierConfigGetResponse":{"type":"object","x-inferred-from-example":true},"TermsGetResponse":{"type":"object","x-inferred-from-example":true},"TermsSectionsByIdPutRequest":{"type":"object","properties":{"id":{"type":"string","description":"Section id - the handler reads this from the BODY, not the path segment"},"termsId":{"type":"string","description":"Parent terms id; must exist and be a draft"},"title":{"type":"string","description":"Section title"},"content":{"type":"string","description":"Section body text"},"sectionNumber":{"type":"string","description":"Section number, e.g. 2.1"},"updatedBy":{"type":"string","description":"Who made the change; defaults to 'admin' in the change log"}},"required":["id","termsId"],"description":"Request body for `PUT /api/terms/sections/{id}`."},"TermsByIdPutRequest":{"type":"object","properties":{"title":{"type":"string","description":"Terms title"},"changesSummary":{"type":"string","description":"Summary of what changed in this version"},"version":{"type":"string","description":"Version label, e.g. v2.2"},"sections":{"type":"array","items":{},"description":"Full desired section list. Objects: {id?, title, content, sectionNumber, sortOrder, isRequired, sectionType}. Omitting an existing id DELETES that section."}},"description":"Request body for `PUT /api/terms/{id}`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"TermsSectionsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"TermsByIdPutResponse":{"type":"object","x-inferred-from-example":true},"SettingsTierConfigPatchRequest":{"type":"object","properties":{"tier":{"type":"integer","description":"Tier number to update (lookup key)"},"baseCredits":{"type":"integer","description":"Credit allowance granted at this tier"},"name":{"type":"string","description":"Display name"},"description":{"type":"string","description":"Tier description"}},"required":["tier","baseCredits"],"description":"Request body for `PATCH /api/settings/tier-config`."},"TermsAnalyticsGetResponse":{"type":"object","x-inferred-from-example":true},"TermsPost400Response":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"TermsStatusByUserIdGetResponse":{"type":"object","x-inferred-from-example":true},"SettingsTierAccessRulesPostResponse":{"type":"object","x-inferred-from-example":true}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}