{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Settings 1","description":"Tags: careers, petrol-surge, public, settings","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"careers"},{"name":"petrol-surge"},{"name":"public"},{"name":"settings"}],"paths":{"/api/careers/{segments}":{"get":{"tags":["careers"],"summary":"Proxy careers reads (jobs, applications, CV file link)","description":"Optional catch-all server-side proxy to CashkrBackend's `/admin/careers` API (see `lib/careers-server.ts`). Only these sub-paths are forwarded; anything else returns 404:\n\n- `jobs` (GET, POST)\n- `jobs/:id` (GET, PUT, DELETE)\n- `jobs/:id/status` (PATCH)\n- `applications` (GET)\n- `applications/:id/status` (PATCH)\n- `applications/:id/file` (GET, signed CV download link)\n\nThe query string is forwarded verbatim, responses are never cached, and the upstream status is relayed. A non-JSON upstream reply becomes `{ message }` with the upstream status, or 502.\n\n**Permissions:** middleware maps `/api/careers` to page key `careers` and `/api/careers/applications` to `careers-applications`, so reading CVs is a separate grant from editing job adverts.\n\n_Source: `app/api/careers/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]): one of the whitelisted sub-paths listed above","schema":{"type":"string"},"example":"jobs/42/status"}],"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["careers"],"summary":"Proxy careers create (POST jobs)","description":"Optional catch-all server-side proxy to CashkrBackend's `/admin/careers` API (see `lib/careers-server.ts`). Only these sub-paths are forwarded; anything else returns 404:\n\n- `jobs` (GET, POST)\n- `jobs/:id` (GET, PUT, DELETE)\n- `jobs/:id/status` (PATCH)\n- `applications` (GET)\n- `applications/:id/status` (PATCH)\n- `applications/:id/file` (GET, signed CV download link)\n\nThe query string is forwarded verbatim, responses are never cached, and the upstream status is relayed. A non-JSON upstream reply becomes `{ message }` with the upstream status, or 502.\n\n**Permissions:** middleware maps `/api/careers` to page key `careers` and `/api/careers/applications` to `careers-applications`, so reading CVs is a separate grant from editing job adverts.\n\n_Source: `app/api/careers/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]): one of the whitelisted sub-paths listed above","schema":{"type":"string"},"example":"jobs/42/status"}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"cookieAuth":[]}]},"put":{"tags":["careers"],"summary":"Proxy careers update (PUT jobs/:id)","description":"Optional catch-all server-side proxy to CashkrBackend's `/admin/careers` API (see `lib/careers-server.ts`). Only these sub-paths are forwarded; anything else returns 404:\n\n- `jobs` (GET, POST)\n- `jobs/:id` (GET, PUT, DELETE)\n- `jobs/:id/status` (PATCH)\n- `applications` (GET)\n- `applications/:id/status` (PATCH)\n- `applications/:id/file` (GET, signed CV download link)\n\nThe query string is forwarded verbatim, responses are never cached, and the upstream status is relayed. A non-JSON upstream reply becomes `{ message }` with the upstream status, or 502.\n\n**Permissions:** middleware maps `/api/careers` to page key `careers` and `/api/careers/applications` to `careers-applications`, so reading CVs is a separate grant from editing job adverts.\n\n_Source: `app/api/careers/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]): one of the whitelisted sub-paths listed above","schema":{"type":"string"},"example":"jobs/42/status"}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["careers"],"summary":"Proxy careers status change (jobs/:id/status, applications/:id/status)","description":"Optional catch-all server-side proxy to CashkrBackend's `/admin/careers` API (see `lib/careers-server.ts`). Only these sub-paths are forwarded; anything else returns 404:\n\n- `jobs` (GET, POST)\n- `jobs/:id` (GET, PUT, DELETE)\n- `jobs/:id/status` (PATCH)\n- `applications` (GET)\n- `applications/:id/status` (PATCH)\n- `applications/:id/file` (GET, signed CV download link)\n\nThe query string is forwarded verbatim, responses are never cached, and the upstream status is relayed. A non-JSON upstream reply becomes `{ message }` with the upstream status, or 502.\n\n**Permissions:** middleware maps `/api/careers` to page key `careers` and `/api/careers/applications` to `careers-applications`, so reading CVs is a separate grant from editing job adverts.\n\n_Source: `app/api/careers/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]): one of the whitelisted sub-paths listed above","schema":{"type":"string"},"example":"jobs/42/status"}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["careers"],"summary":"Proxy careers delete (DELETE jobs/:id)","description":"Optional catch-all server-side proxy to CashkrBackend's `/admin/careers` API (see `lib/careers-server.ts`). Only these sub-paths are forwarded; anything else returns 404:\n\n- `jobs` (GET, POST)\n- `jobs/:id` (GET, PUT, DELETE)\n- `jobs/:id/status` (PATCH)\n- `applications` (GET)\n- `applications/:id/status` (PATCH)\n- `applications/:id/file` (GET, signed CV download link)\n\nThe query string is forwarded verbatim, responses are never cached, and the upstream status is relayed. A non-JSON upstream reply becomes `{ message }` with the upstream status, or 502.\n\n**Permissions:** middleware maps `/api/careers` to page key `careers` and `/api/careers/applications` to `careers-applications`, so reading CVs is a separate grant from editing job adverts.\n\n_Source: `app/api/careers/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]): one of the whitelisted sub-paths listed above","schema":{"type":"string"},"example":"jobs/42/status"}],"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"cookieAuth":[]}]}},"/api/petrol-surge":{"get":{"tags":["petrol-surge"],"summary":"List petrol surge claims","description":"Paginated petrol surge reimbursement claims from vendors and cashboys, with the claimant's name, phone, role and shop added in. `search` matches claimant first name, last name or phone.\n\n_Source: `app/api/petrol-surge/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"status","in":"query","required":false,"description":"Filter by claim status.","schema":{"type":"string","enum":["Pending","Approved","Rejected"]}},{"$ref":"#/components/parameters/SearchParam"},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Page size (default 50).","schema":{"type":"integer","default":50}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/petrol-surge/{id}/approve":{"patch":{"tags":["petrol-surge"],"summary":"Approve a pending petrol surge claim","description":"Sets a **Pending** claim to Approved and records the reimbursement `amount` to add to the vendor's next payout. This only records the amount; no wallet or ledger is credited. Body: `{ amount: number > 0, comment?: string }`. Returns 409 if the claim is not Pending. Audit-logged as `PETROL_SURGE_CLAIM`.\n\n_Source: `app/api/petrol-surge/[id]/approve/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id` (claim id)","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/petrol-surge/{id}/reject":{"patch":{"tags":["petrol-surge"],"summary":"Reject a pending petrol surge claim","description":"Sets a **Pending** claim to Rejected with a `reason` the vendor will see. Body: `{ reason: string }` (required). Returns 409 if the claim is not Pending. The vendor can then submit a new claim. Audit-logged as `PETROL_SURGE_CLAIM`.\n\n_Source: `app/api/petrol-surge/[id]/reject/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id` (claim id)","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/public/reviews":{"get":{"tags":["public"],"summary":"List public platform reviews","description":"Public, CORS-open listing of visible platform reviews (Play Store, App Store, Google) with pagination, intended for the marketing site.\n\n**Notes:** Sends Access-Control-Allow-Origin: * — deliberately public. Only isVisible reviews are returned.\n\n_Source: `app/api/public/reviews/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"platform","in":"query","required":false,"description":"PLAY_STORE | APP_STORE | GOOGLE_MY_BUSINESS | ALL","schema":{"type":"string","example":"PLAY_STORE"}},{"name":"limit","in":"query","required":false,"description":"Rows per page, capped at 300","schema":{"type":"integer","example":10,"default":10}},{"$ref":"#/components/parameters/PageParam"}],"responses":{"200":{"description":"Reviews","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicReviewsGetResponse"},"example":{"success":true,"data":[{"id":"cm3rev1","platform":"PLAY_STORE","reviewerName":"Rahul V","rating":5,"reviewText":"Smooth pickup and instant payment.","reviewDate":"2026-08-28T00:00:00.000Z"}],"total":180,"page":1,"limit":10,"totalPages":18}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch reviews"}}}}},"security":[]}},"/api/settings/extra-credit-rules":{"post":{"tags":["settings"],"summary":"Create an extra credit rule","description":"Creates an ExtraCreditRule granting bonus credits for a vendor type at a given tier, returned with its vendor type.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Affects how many credits vendors receive.\n\n_Source: `app/api/settings/extra-credit-rules/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsExtraCreditRulesPostRequest"},"example":{"vendorTypeId":2,"tier":3,"extraCredits":500,"reason":"High-performing store vendors"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsExtraCreditRulesPostResponse"},"example":{"success":true,"data":{"id":7,"vendorTypeId":2,"tier":3,"extraCredits":500}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Vendor type ID, tier, and extra credits are required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create extra credit rule"}}}}},"security":[]},"patch":{"tags":["settings"],"summary":"Update an extra credit rule","description":"Updates the bonus credits, reason or active flag of a rule identified either by id or by the vendorTypeId + tier composite key.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/settings/extra-credit-rules/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsExtraCreditRulesPatchRequest"},"example":{"vendorTypeId":2,"tier":3,"extraCredits":600,"isActive":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsExtraCreditRulesPatchResponse"},"example":{"success":true,"data":{"id":7,"extraCredits":600,"isActive":true}}}}},"400":{"description":"No usable key supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"ID or vendorTypeId+tier required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update extra credit rule"}}}}},"security":[]},"delete":{"tags":["settings"],"summary":"Delete an extra credit rule","description":"Deletes a rule by id, or by the vendorTypeId + tier composite key.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/settings/extra-credit-rules/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"query","required":false,"description":"Rule id","schema":{"type":"integer","example":7}},{"name":"vendorTypeId","in":"query","required":false,"description":"Composite key part; used with tier when id is absent","schema":{"type":"integer","example":2}},{"name":"tier","in":"query","required":false,"description":"Composite key part","schema":{"type":"integer","example":3}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Extra credit rule deleted successfully"}}}},"400":{"description":"No usable key supplied","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"ID or vendorTypeId+tier required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete extra credit rule"}}}}},"security":[]}},"/api/settings/inspection-durations":{"get":{"tags":["settings"],"summary":"List inspection durations per device type","description":"Returns one row for every DeviceType; device types with no configured duration come back with minutes set to null so the UI can render the full list.\n\n_Source: `app/api/settings/inspection-durations/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Durations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsInspectionDurationsGetResponse"},"example":{"success":true,"data":[{"id":1,"deviceType":"Mobile","minutes":20,"updatedAt":"2026-08-10T09:00:00.000Z"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch inspection durations"}}}}},"security":[]},"put":{"tags":["settings"],"summary":"Upsert inspection durations","description":"Upserts a single { deviceType, minutes } pair or a bulk { durations: [...] } array in one transaction. Minutes must be a whole number between 1 and 1440.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/settings/inspection-durations/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsInspectionDurationsPutRequest"},"example":{"durations":[{"deviceType":"Mobile","minutes":20},{"deviceType":"Laptop","minutes":35}]}}}},"responses":{"200":{"description":"Saved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsInspectionDurationsPutResponse"},"example":{"success":true,"data":[{"id":1,"deviceType":"Mobile","minutes":20}]}}}},"400":{"description":"Invalid device type, out-of-range minutes, or empty payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Minutes for Mobile must be a whole number between 1 and 1440"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to save inspection durations"}}}}},"security":[]},"delete":{"tags":["settings"],"summary":"Clear a device type's inspection duration","description":"Removes the configured inspection duration override for one device type so it falls back to the default.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/settings/inspection-durations/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"deviceType","in":"query","required":true,"description":"Must be a valid DeviceType; 400 otherwise","schema":{"type":"string","example":"Mobile"}}],"responses":{"200":{"description":"Cleared","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing or invalid deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Valid deviceType query param is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete inspection duration"}}}}},"security":[]}},"/api/settings/integrations":{"get":{"tags":["settings"],"summary":"List integration connection status","description":"Returns all system integrations keyed by service name with their connected flag and last sync timestamp.\n\n**Notes:** No handler-level auth check - this endpoint is public. Credentials themselves are not returned, only serviceName/isActive/lastSyncAt.\n\n_Source: `app/api/settings/integrations/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Map of serviceName to status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsIntegrationsGetResponse"},"example":{"GSC":{"connected":true,"lastSync":"2026-08-30T10:00:00.000Z"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch integrations"}}}}},"security":[]},"post":{"tags":["settings"],"summary":"Save integration credentials","description":"Upserts credentials for a named third-party service (e.g. GSC) and marks the integration active.\n\n**Notes:** Wrapped in withAuditLog (logging only, NOT an auth gate) - no session check, so this credential-writing endpoint is unauthenticated. Code comment notes credentials are stored in plaintext.\n\n_Source: `app/api/settings/integrations/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsIntegrationsPostRequest"},"example":{"serviceName":"GSC","credentials":{"clientEmail":"svc@project.iam.gserviceaccount.com","privateKey":"-----BEGIN PRIVATE KEY-----"}}}}},"responses":{"200":{"description":"Saved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsIntegrationsPostResponse"},"example":{"success":true,"message":"GSC configuration saved.","integration":{"serviceName":"GSC","isActive":true}}}}},"400":{"description":"Missing serviceName or credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing required fields"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to save integration"}}}}},"security":[]}},"/api/settings/integrations/sync":{"post":{"tags":["settings"],"summary":"Trigger manual Google Search Console sync","description":"Runs syncGSCData() to pull Search Console metrics. Enforces a 1 hour cooldown since the last GSC sync.\n\n**Notes:** Rate limited to once per hour. No handler-level auth check. Google/Meta Ads sync is handled separately by a Pabbly webhook at /api/integrations/ads-sync. Calls the Google Search Console API via lib/gsc.\n\n_Source: `app/api/settings/integrations/sync/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Sync completed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsIntegrationsSyncPostResponse"},"example":{"success":true,"results":{"gsc":{"rows":120}},"note":"Ads data syncs automatically via Pabbly webhook.","timestamp":"2026-09-01T08:00:00.000Z"}}}},"429":{"description":"Cooldown active (1 hour since last sync)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsIntegrationsSyncPost429Response"},"example":{"error":"Cooldown active","nextSyncAvailable":"2026-09-01T09:00:00.000Z"}}}},"500":{"description":"Sync failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Sync failed"}}}}},"security":[]}},"/api/settings/review-refund":{"get":{"tags":["settings"],"summary":"Get review-refund configuration","description":"Returns the single review refund config row (id=1), creating it with a 5% default if missing.\n\n**Notes:** Upsert-on-read: a GET will create the config row if it does not exist.\n\n_Source: `app/api/settings/review-refund/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Config","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsReviewRefundGetResponse"},"example":{"success":true,"data":{"id":1,"refundPercentage":5,"isActive":true}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch config"}}}}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["settings"],"summary":"Update review-refund configuration","description":"Updates the refund percentage and/or active flag for the review-refund program and records the updating admin id.\n\n**Notes:** Affects money: this percentage drives customer refunds for reviews. Audit-logged as entity SETTINGS.\n\n_Source: `app/api/settings/review-refund/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsReviewRefundPatchRequest"},"example":{"refundPercentage":7.5,"isActive":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettingsReviewRefundPatchResponse"},"example":{"success":true,"data":{"id":1,"refundPercentage":7.5,"isActive":true,"updatedByAdminId":12}}}}},"400":{"description":"Invalid percentage","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"refundPercentage must be between 0 and 100"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to update config"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"SettingsExtraCreditRulesPostRequest":{"type":"object","properties":{"vendorTypeId":{"type":"integer","description":"VendorType id"},"tier":{"type":"integer","description":"Tier the rule applies to"},"extraCredits":{"type":"integer","description":"Bonus credits granted"},"reason":{"type":"string","description":"Why the bonus exists"}},"required":["vendorTypeId","tier","extraCredits"],"description":"Request body for `POST /api/settings/extra-credit-rules`."},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"SettingsExtraCreditRulesPostResponse":{"type":"object","x-inferred-from-example":true},"SettingsReviewRefundGetResponse":{"type":"object","x-inferred-from-example":true},"SettingsInspectionDurationsPutRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"DeviceType for the single-entry form"},"minutes":{"type":"integer","description":"Duration for the single-entry form, 1-1440"},"durations":{"type":"array","items":{},"description":"Bulk form: [{deviceType, minutes}]; when present the top-level fields are ignored"}},"description":"Request body for `PUT /api/settings/inspection-durations`."},"SettingsInspectionDurationsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"SettingsIntegrationsGetResponse":{"type":"object","x-inferred-from-example":true},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"SettingsInspectionDurationsPutResponse":{"type":"object","x-inferred-from-example":true},"SettingsExtraCreditRulesPatchResponse":{"type":"object","x-inferred-from-example":true},"SettingsIntegrationsSyncPostResponse":{"type":"object","x-inferred-from-example":true},"SettingsExtraCreditRulesPatchRequest":{"type":"object","properties":{"id":{"type":"integer","description":"Rule id; or supply vendorTypeId + tier instead"},"vendorTypeId":{"type":"integer","description":"Composite key part"},"tier":{"type":"integer","description":"Composite key part"},"extraCredits":{"type":"integer","description":"New bonus credits"},"reason":{"type":"string","description":"New reason"},"isActive":{"type":"boolean","description":"Enable or disable the rule"}},"description":"Request body for `PATCH /api/settings/extra-credit-rules`."},"SettingsIntegrationsPostResponse":{"type":"object","x-inferred-from-example":true},"SettingsReviewRefundPatchRequest":{"type":"object","properties":{"refundPercentage":{"type":"number","description":"0-100; rejected with 400 outside that range"},"isActive":{"type":"boolean","description":"Enable or disable review refunds"}},"description":"Request body for `PATCH /api/settings/review-refund`."},"PublicReviewsGetResponse":{"type":"object","x-inferred-from-example":true},"SettingsIntegrationsPostRequest":{"type":"object","properties":{"serviceName":{"type":"string","description":"Integration key, e.g. GSC, META_ADS"},"credentials":{"type":"object","description":"Provider credential blob - stored UNENCRYPTED per code comment"}},"required":["serviceName","credentials"],"description":"Request body for `POST /api/settings/integrations`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"SettingsIntegrationsSyncPost429Response":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"SettingsReviewRefundPatchResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"BadGateway":{"summary":"502 BadGateway","value":{"error":"Upstream error"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Conflict":{"summary":"409 Conflict","value":{"error":"Conflict"}},"ServiceUnavailable":{"summary":"503 ServiceUnavailable","value":{"error":"Service unavailable"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"ServiceUnavailable":{"description":"Service unavailable - a dependency or required configuration is not available. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/ServiceUnavailable"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"BadGateway":{"description":"Upstream error - a dependent service call failed. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadGateway"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}},"Conflict":{"description":"Conflict - the record already exists or its current state does not allow this change. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Conflict"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SearchParam":{"name":"search","in":"query","required":false,"description":"Free-text search term.","schema":{"type":"string"},"example":"Asha"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}