{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendor Operations 1","description":"Tags: assign, assignpincodestovendor, assignvendor, attendance, getvendorcreditlogs, getvendorpayments, onboarding-b2c, reassignvendor","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"assign"},{"name":"assignpincodestovendor"},{"name":"assignvendor"},{"name":"attendance"},{"name":"getvendorcreditlogs"},{"name":"getvendorpayments"},{"name":"onboarding-b2c"},{"name":"reassignvendor"}],"paths":{"/api/assign":{"post":{"tags":["assign"],"summary":"Assign a B2B entity to a user","description":"Sets assignedToId on a B2BLead, B2BClient or B2BDeal and writes an AssignmentLog row when the assignee actually changes.\n\n**Notes:** Wrapped in withAuditLog (entity ORDER, action ASSIGN). Instantiates its own PrismaClient and disconnects per request. For B2BLead it also stamps assignedAt.\n\n_Source: `app/api/assign/route.ts`_\n\n_Auth: `other: reads getServerSession(authOptions) only to resolve the acting admin; falls back to admin id 1 and never rejects unauthenticated callers`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPostRequest"},"example":{"entityType":"B2BDeal","entityId":"clx9d0f2m0001ab","toUserId":7,"fromUserId":3,"reason":"Territory change"}}}},"responses":{"200":{"description":"Assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"Missing fields or unsupported entityType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"entityType and entityId are required"}}}},"500":{"description":"Assignment failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to assign"}}}}},"security":[]}},"/api/assignpincodestovendor":{"post":{"tags":["assignpincodestovendor"],"summary":"Assign pincodes to a vendor","description":"Creates VendorPincodes rows linking a vendor to each supplied pincode entry.\n\n**Notes:** No auth, no validation and no existence checks. Errors are swallowed and returned with HTTP 200 and success:false, so callers must inspect the body. Imports BACKEND_API from env but does not use it.\n\n_Source: `app/api/assignpincodestovendor/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignpincodestovendorPostRequest"},"example":{"vendorid":"VEN-1042","pincodes":[[400001,400002],[400003]]}}}},"responses":{"200":{"description":"Failure is also returned with HTTP 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignpincodestovendorPostResponse"},"example":{"success":false,"message":{}}}}}},"security":[]}},"/api/assignvendor":{"post":{"tags":["assignvendor"],"summary":"Assign a lead to a vendor","description":"Validates lead availability, vendor status, lead capacity and credit balance, then locks the lead (and eligible sibling leads of the same customer) to the vendor, charging the vendor's credits.\n\n**Notes:** SIDE EFFECTS: deducts vendor credits (dynamic credit points from the pricing system), may lock additional leads of the same customer up to the vendor's remaining capacity, sends vendor email via sendEmailNotification and a Firebase push via firebaseMessaging, writes an admin activity log and invalidates the Redis orders cache. Error codes: INVALID_JSON, VALIDATION_ERROR, LEAD_NOT_FOUND, CUSTOMER_DELETED, VENDOR_NOT_FOUND, VENDOR_INACTIVE, MAX_LEADS_REACHED, ASSIGNMENT_FAILED, DATABASE_ERROR, INTERNAL_ERROR.\n\n_Source: `app/api/assignvendor/route.ts`_\n\n_Auth: `other: no enforcement — getServerSession is consulted only to attribute the admin activity log`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignvendorPostRequest"},"example":{"leadid":"LD-10233","vendorid":"VEN-1042","reason":"Manual reassignment"}}}},"responses":{"200":{"description":"Assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignvendorPostResponse"},"example":{"success":true,"message":"Vendor assigned successfully","data":{"lockedLeads":[{"leadId":"LD-10233"}],"processingTime":"412ms"}}}}},"400":{"description":"Validation, capacity, credit or business-rule failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignvendorPost400Response"},"example":{"success":false,"message":"Vendor has reached maximum lead capacity","error":{"code":"MAX_LEADS_REACHED","details":"Vendor has 8/8 leads in progress"}}}}},"404":{"description":"Lead or vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignvendorPostErrorResponse"},"example":{"success":false,"message":"Lead not found or already assigned to a vendor","error":{"code":"LEAD_NOT_FOUND"}}}}},"500":{"description":"Database or unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignvendorPostErrorResponse"},"example":{"success":false,"message":"Internal server error","error":{"code":"INTERNAL_ERROR"}}}}}},"security":[]}},"/api/attendance/live-map":{"get":{"tags":["attendance"],"summary":"Get today's live attendance map data","description":"Returns active stores with today's vendor attendance and all field agents (vendors/cashboys) currently PRESENT, ON_FIELD or LATE, each with their latest location heartbeat.\n\n**Notes:** Takes no parameters; the date is fixed to today at 00:00 UTC.\n\n_Source: `app/api/attendance/live-map/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Live map payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceLiveMapGetResponse"},"example":{"success":true,"data":{"stores":[{"storeId":"ST-01","storeName":"Andheri Hub","latitude":19.1197,"longitude":72.8464,"city":"Mumbai","vendorAttendances":[]}],"fieldAgents":[]}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to load live map data"}}}}},"security":[]}},"/api/attendance/override":{"patch":{"tags":["attendance"],"summary":"Override an attendance record's status","description":"Force-sets the status on one VendorAttendance row and appends an 'Override: ...' note to its remarks.\n\n**Notes:** No auth and no audit-log wrapper on an admin override that changes payroll-relevant attendance state. `status` is cast straight to the Prisma enum, so an invalid value surfaces as a 500.\n\n_Source: `app/api/attendance/override/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceOverridePatchRequest"},"example":{"id":"clxatt0001","status":"PRESENT","remarks":"GPS drift, verified with store manager"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceOverridePatchResponse"},"example":{"success":true,"data":{"id":"clxatt0001","status":"PRESENT"}}}}},"400":{"description":"Missing id or status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Attendance ID and status are required"}}}},"404":{"description":"Record not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Attendance record not found"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to update attendance status"}}}}},"security":[]}},"/api/attendance/roster":{"get":{"tags":["attendance"],"summary":"List attendance records, paginated","description":"Returns a filtered, paginated roster of VendorAttendance rows with the linked vendor, cashboy and store, newest punch-in first.\n\n_Source: `app/api/attendance/roster/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"startDate","in":"query","required":false,"description":"Inclusive lower bound on the attendance date.","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Inclusive upper bound on the attendance date.","schema":{"type":"string","example":"2026-08-31"}},{"name":"status","in":"query","required":false,"description":"AttendanceStatus enum value.","schema":{"type":"string","example":"PRESENT"}},{"name":"userType","in":"query","required":false,"description":"AttendanceUserType enum value, e.g. VENDOR | CASHBOY | STORE_VENDOR.","schema":{"type":"string","example":"CASHBOY"}},{"name":"search","in":"query","required":false,"description":"Matches vendor/cashboy first name, last name, phone or store name.","schema":{"type":"string","example":"Rahul"}},{"name":"storeId","in":"query","required":false,"description":"Restrict to one store.","schema":{"type":"string","example":"ST-01"}},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"}],"responses":{"200":{"description":"Paginated roster","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceRosterGetResponse"},"example":{"success":true,"data":{"total":1240,"page":1,"limit":20,"totalPages":62,"records":[]}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch roster"}}}}},"security":[]}},"/api/attendance/summary":{"get":{"tags":["attendance"],"summary":"Get today's attendance summary counts","description":"Counts today's VendorAttendance rows by status (present, late, on field, checked out, disputed) and by user type (store vendors vs cashboys/vendors).\n\n**Notes:** Takes no parameters; the date is fixed to today at 00:00 UTC.\n\n_Source: `app/api/attendance/summary/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Summary counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceSummaryGetResponse"},"example":{"success":true,"data":{"totalClockedIn":96,"present":71,"late":9,"onField":12,"checkedOut":4,"disputed":0,"storeVendorsCount":22,"cashboysCount":74}}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch summary"}}}}},"security":[]}},"/api/getvendorcreditlogs":{"post":{"tags":["getvendorcreditlogs"],"summary":"Proxy vendor credit logs","description":"Forwards { vendorid } to POST {BACKEND_API}/getVendorCreditLogs with the BACKEND_ADMIN_TOKEN bearer and returns the upstream JSON verbatim.\n\n**Notes:** Upstream: process.env.BACKEND_API + /getVendorCreditLogs with BACKEND_ADMIN_TOKEN, cache: no-cache. No caller auth.\n\n_Source: `app/api/getvendorcreditlogs/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetvendorcreditlogsPostRequest"},"example":{"vendorid":"b1f2c3d4-1111-2222-3333-444455556666"}}}},"responses":{"200":{"description":"Upstream/network failure is also returned with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"TypeError: fetch failed"}}}}},"security":[]}},"/api/getvendorpayments":{"get":{"tags":["getvendorpayments"],"summary":"Proxy all vendor payments","description":"Server-side proxy that calls GET {BACKEND_API}/getVendorPayments with the BACKEND_ADMIN_TOKEN bearer and returns the upstream JSON verbatim.\n\n**Notes:** Upstream: process.env.BACKEND_API + /getVendorPayments with BACKEND_ADMIN_TOKEN. No caller auth; this exposes the whole payments list.\n\n_Source: `app/api/getvendorpayments/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"Upstream/network failure is also returned with status 200","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"TypeError: fetch failed"}}}}},"security":[]}},"/api/onboarding-b2c/cities":{"get":{"tags":["onboarding-b2c"],"summary":"List serviceable cities","description":"Returns the distinct list of cities from the Pincodes table where isServiceable is true, sorted alphabetically.\n\n_Source: `app/api/onboarding-b2c/cities/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"City list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cCitiesGetResponse"},"example":{"cities":["Ahmedabad"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch cities"}}}}},"security":[]}},"/api/onboarding-b2c/leads":{"get":{"tags":["onboarding-b2c"],"summary":"List vendor onboarding leads","description":"Paginated, filterable list of B2C vendor onboarding leads including the assigned admin, the latest log line and a status count map for the dashboard.\n\n_Source: `app/api/onboarding-b2c/leads/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"status","in":"query","required":false,"description":"VendorOnboardingStatus filter","schema":{"type":"string","example":"New"}},{"name":"search","in":"query","required":false,"description":"Matches businessName, phoneNumber, address or city","schema":{"type":"string","example":"Sharma"}},{"name":"fromDate","in":"query","required":false,"description":"createdAt lower bound","schema":{"type":"string","example":"2026-08-01"}},{"name":"toDate","in":"query","required":false,"description":"createdAt upper bound (end of day)","schema":{"type":"string","example":"2026-08-31"}},{"name":"assignedTo","in":"query","required":false,"description":"Admin id, or 'unassigned', or 'all'","schema":{"type":"string","example":"unassigned"}},{"name":"city","in":"query","required":false,"description":"Exact city (case-insensitive)","schema":{"type":"string","example":"Mumbai"}},{"name":"deviceType","in":"query","required":false,"description":"Exact device type (case-insensitive)","schema":{"type":"string","example":"Mobile"}},{"name":"sortBy","in":"query","required":false,"description":"Sort column","schema":{"type":"string","example":"createdAt","default":"createdAt"}},{"$ref":"#/components/parameters/SortOrderParam"}],"responses":{"200":{"description":"Lead list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsGetResponse"},"example":{"success":true,"data":[{"id":"c1f0a2b4","businessName":"Sharma Mobiles","phoneNumber":"9876543210","status":"New"}],"pagination":{"total":340,"pages":34,"currentPage":1,"limit":10},"statusCounts":{"New":210,"Contacted":95}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch leads"}}}}},"security":[]},"post":{"tags":["onboarding-b2c"],"summary":"Create a vendor onboarding lead","description":"Creates a single onboarding lead after checking the phone number is not already a lead or an existing vendor, and writes a 'Created' log entry.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/onboarding-b2c/leads/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsPostRequest"},"example":{"businessName":"Sharma Mobiles","phoneNumber":"9876543210","address":"12 MG Road, Andheri West","city":"Mumbai","source":"Manual Entry"}}}},"responses":{"200":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsPostResponse"},"example":{"success":true,"data":{"id":"c1f0a2b4","businessName":"Sharma Mobiles","status":"New"}}}}},"400":{"description":"Missing required fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Business name, phone number, and address are required"}}}},"409":{"description":"Duplicate phone number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"A lead with this phone number already exists"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create lead"}}}}},"security":[]}},"/api/onboarding-b2c/leads/{id}":{"get":{"tags":["onboarding-b2c"],"summary":"Get one vendor onboarding lead","description":"Returns a single lead with its assigned admin and the 50 most recent activity log entries.\n\n_Source: `app/api/onboarding-b2c/leads/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorOnboardingLead id","schema":{"type":"string"},"example":"c1f0a2b4-9d33-4b21-8f77-1a2b3c4d5e6f"}],"responses":{"200":{"description":"Lead","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdGetResponse"},"example":{"success":true,"data":{"id":"c1f0a2b4","businessName":"Sharma Mobiles","phoneNumber":"9876543210","status":"New","assignedAdmin":{"id":12,"name":"Umer","email":"user@cashkr.com"},"logs":[]}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch lead"}}}}},"security":[]},"patch":{"tags":["onboarding-b2c"],"summary":"Update a vendor onboarding lead","description":"Patches status, notes, follow-up date, disposition, assignee or call attempts on a lead and writes matching VendorOnboardingLog entries for status changes, call attempts and follow-ups.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/onboarding-b2c/leads/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorOnboardingLead id","schema":{"type":"string"},"example":"c1f0a2b4-9d33-4b21-8f77-1a2b3c4d5e6f"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdPatchRequest"},"example":{"status":"Contacted","callAttempts":2,"disposition":"Interested","nextFollowUp":"2026-09-05T10:00:00.000Z","createdBy":"12"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdPatchResponse"},"example":{"success":true,"data":{"id":"c1f0a2b4","status":"Contacted","callAttempts":2}}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update lead"}}}}},"security":[]},"delete":{"tags":["onboarding-b2c"],"summary":"Delete a vendor onboarding lead","description":"Permanently deletes the lead; its VendorOnboardingLog rows are removed by the cascade.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Destructive: cascade-deletes the lead's logs.\n\n_Source: `app/api/onboarding-b2c/leads/[id]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorOnboardingLead id","schema":{"type":"string"},"example":"c1f0a2b4-9d33-4b21-8f77-1a2b3c4d5e6f"}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Lead deleted successfully"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to delete lead"}}}}},"security":[]}},"/api/onboarding-b2c/leads/{id}/logs":{"get":{"tags":["onboarding-b2c"],"summary":"List activity logs for an onboarding lead","description":"Returns every VendorOnboardingLog row for the given lead, newest first.\n\n_Source: `app/api/onboarding-b2c/leads/[id]/logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorOnboardingLead id","schema":{"type":"string"},"example":"c1f0a2b4-9d33-4b21-8f77-1a2b3c4d5e6f"}],"responses":{"200":{"description":"Logs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdLogsGetResponse"},"example":{"success":true,"data":[{"id":1,"leadId":"c1f0a2b4","action":"Called","description":"Call attempt #2 - Interested","createdAt":"2026-08-20T09:12:00.000Z"}]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch logs"}}}}},"security":[]},"post":{"tags":["onboarding-b2c"],"summary":"Add an activity log to an onboarding lead","description":"Creates a VendorOnboardingLog entry against the lead after verifying the lead exists.\n\n**Notes:** Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge.\n\n_Source: `app/api/onboarding-b2c/leads/[id]/logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"id","in":"path","required":true,"description":"VendorOnboardingLead id","schema":{"type":"string"},"example":"c1f0a2b4-9d33-4b21-8f77-1a2b3c4d5e6f"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdLogsPostRequest"},"example":{"action":"Called","description":"Owner asked to call back after 6pm","createdBy":"12"}}}},"responses":{"200":{"description":"Log created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cLeadsByIdLogsPostResponse"},"example":{"success":true,"data":{"id":42,"leadId":"c1f0a2b4","action":"Called"}}}}},"400":{"description":"Missing fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Action and description are required"}}}},"404":{"description":"Lead not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Lead not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to create log"}}}}},"security":[]}},"/api/onboarding-b2c/upload":{"post":{"tags":["onboarding-b2c"],"summary":"Bulk import onboarding leads from CSV","description":"Parses an uploaded CSV of vendor leads (business name, phone, address, optional city and device type), normalises phone numbers, skips duplicates and existing vendors, and bulk-inserts the rest.\n\n**Notes:** multipart/form-data — do not set Content-Type manually. Wrapped in withAuditLog, which writes an AdminActivityLog row when a NextAuth session cookie is present but does NOT itdoes not enforce auth itself. Since 2026-09-05 middleware.ts is deny-by-default for /api/*, so an admin session is required at the edge. Only the first 10 row errors are returned; totalErrors carries the full count.\n\n_Source: `app/api/onboarding-b2c/upload/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/OnboardingB2cUploadPostRequest"}}}},"responses":{"200":{"description":"Import summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cUploadPostResponse"},"example":{"success":true,"imported":124,"duplicates":18,"errors":[{"row":7,"error":"Missing required field"}],"totalErrors":3}}}},"400":{"description":"No file, empty CSV or missing columns","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnboardingB2cUploadPost400Response"},"example":{"success":false,"error":"CSV must have columns for business name, phone number, and address","detectedColumns":["shop"]}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Upload failed"}}}}},"security":[]}},"/api/reassignvendor":{"post":{"tags":["reassignvendor"],"summary":"Reassign an order to another vendor","description":"Runs the shared lead-lock reassignment routine to move an order to a different vendor. A non-empty reason is mandatory because the order is being taken away from the current vendor. Invalidates the orders cache on both success and failure.\n\n**Notes:** No handler-level auth check. Shares processLeadLock with /api/assignvendor; mutates vendor assignment and credit locks. Note the lowercase leadid/vendorid field names.\n\n_Source: `app/api/reassignvendor/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReassignvendorPostRequest"},"example":{"leadid":"LD-2026-004512","vendorid":"VEN789","reason":"Vendor unreachable for 2 hours","action":"reassign"}}}},"responses":{"200":{"description":"Reassignment result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Vendor reassigned successfully"}}}},"400":{"description":"Missing ids or reason","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"A reason is required to reassign an order away from a vendor"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"An unexpected error occurred"}}}}},"security":[]}}},"components":{"schemas":{"AttendanceSummaryGetResponse":{"type":"object","x-inferred-from-example":true},"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"AttendanceRosterGetResponse":{"type":"object","x-inferred-from-example":true},"AssignpincodestovendorPostRequest":{"type":"object","properties":{"pincodes":{"type":"array","items":{},"description":"One entry per VendorPincodes row to create; each becomes the row's `pincode` value (the column is an int array)."},"vendorid":{"type":"string","description":"Vendor id to attach the coverage to."}},"required":["pincodes","vendorid"],"description":"Request body for `POST /api/assignpincodestovendor`."},"OnboardingB2cLeadsPostResponse":{"type":"object","x-inferred-from-example":true},"OnboardingB2cLeadsByIdLogsPostResponse":{"type":"object","x-inferred-from-example":true},"AssignvendorPostResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"ReassignvendorPostRequest":{"type":"object","properties":{"leadid":{"type":"string","description":"MasterLeads leadId (lowercase 'id')"},"vendorid":{"type":"string","description":"Vendor id to reassign to (lowercase 'id')"},"reason":{"type":"string","description":"Reason for taking the order away; blank or missing 400s"},"action":{"type":"string","description":"Optional action passed through to processLeadLock"}},"required":["leadid","vendorid","reason"],"description":"Request body for `POST /api/reassignvendor`."},"OnboardingB2cLeadsByIdLogsPostRequest":{"type":"object","properties":{"action":{"type":"string","description":"Short action label, e.g. Called"},"description":{"type":"string","description":"Human-readable detail"},"createdBy":{"type":"string","description":"Admin who performed the action"}},"required":["action","description"],"description":"Request body for `POST /api/onboarding-b2c/leads/{id}/logs`."},"OnboardingB2cUploadPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"CSV file; header must contain business/name/shop, phone/mobile/contact and address/location columns"},"source":{"type":"string","description":"Lead source label; defaults to 'Manual Upload'"},"city":{"type":"string","description":"City override for every row; 'none' means unset"},"deviceType":{"type":"string","description":"Device type override for every row; 'none' means unset"}},"required":["file"],"description":"Request body for `POST /api/onboarding-b2c/upload`."},"OnboardingB2cLeadsPostRequest":{"type":"object","properties":{"businessName":{"type":"string","description":"Shop or business name"},"phoneNumber":{"type":"string","description":"Unique 10-digit phone number"},"address":{"type":"string","description":"Shop address"},"city":{"type":"string","description":"City"},"source":{"type":"string","description":"Lead source; defaults to 'Manual Entry'"}},"required":["businessName","phoneNumber","address"],"description":"Request body for `POST /api/onboarding-b2c/leads`."},"AssignPostRequest":{"type":"object","properties":{"entityType":{"type":"string","description":"One of B2BLead | B2BClient | B2BDeal."},"entityId":{"type":"string","description":"Id of the entity to reassign."},"toUserId":{"type":"string","description":"New assignee id; null clears the assignment (and skips the log)."},"fromUserId":{"type":"string","description":"Previous assignee, recorded on the AssignmentLog."},"reason":{"type":"string","description":"Free-text reason stored on the log."}},"required":["entityType","entityId"],"description":"Request body for `POST /api/assign`."},"AssignvendorPost400Response":{"type":"object","x-inferred-from-example":true},"AttendanceLiveMapGetResponse":{"type":"object","x-inferred-from-example":true},"AssignpincodestovendorPostResponse":{"type":"object","x-inferred-from-example":true},"OnboardingB2cUploadPostResponse":{"type":"object","x-inferred-from-example":true},"OnboardingB2cLeadsByIdLogsGetResponse":{"type":"object","x-inferred-from-example":true},"GetvendorcreditlogsPostRequest":{"type":"object","properties":{"vendorid":{"type":"string","description":"Vendor id (note the all-lowercase key expected by the upstream)"}},"required":["vendorid"],"description":"Request body for `POST /api/getvendorcreditlogs`."},"AssignvendorPostRequest":{"type":"object","properties":{"leadid":{"type":"string","description":"MasterLeads leadId to assign. Must be non-empty and currently unassigned."},"vendorid":{"type":"string","description":"Vendors vendorId to assign it to. Vendor must have status 'live'."},"reason":{"type":"string","description":"Reason recorded with the credit deduction / assignment."},"action":{"type":"string","description":"Optional action tag forwarded to the lead-lock routine."}},"required":["leadid","vendorid"],"description":"Request body for `POST /api/assignvendor`."},"OnboardingB2cUploadPost400Response":{"type":"object","x-inferred-from-example":true},"AttendanceOverridePatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"VendorAttendance record id."},"status":{"type":"string","description":"AttendanceStatus enum value, e.g. PRESENT | LATE | ON_FIELD | CHECKED_OUT | DISPUTED | ABSENT."},"remarks":{"type":"string","description":"Reason for the override; appended to existing remarks."}},"required":["id","status"],"description":"Request body for `PATCH /api/attendance/override`."},"OnboardingB2cLeadsByIdPatchResponse":{"type":"object","x-inferred-from-example":true},"AssignvendorPostErrorResponse":{"type":"object","x-inferred-from-example":true},"OnboardingB2cLeadsGetResponse":{"type":"object","x-inferred-from-example":true},"OnboardingB2cLeadsByIdPatchRequest":{"type":"object","properties":{"status":{"type":"string","description":"VendorOnboardingStatus, e.g. New | Contacted | Converted"},"notes":{"type":"string","description":"Free-text notes"},"nextFollowUp":{"type":"string","description":"ISO date for the next follow-up, or null to clear"},"disposition":{"type":"string","description":"Call disposition label"},"assignedTo":{"type":"integer","description":"Admin id to assign the lead to"},"callAttempts":{"type":"integer","description":"Total call attempts so far"},"createdBy":{"type":"string","description":"Admin recorded on the generated log rows"}},"description":"Request body for `PATCH /api/onboarding-b2c/leads/{id}`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"OnboardingB2cLeadsByIdGetResponse":{"type":"object","x-inferred-from-example":true},"AttendanceOverridePatchResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"OnboardingB2cCitiesGetResponse":{"type":"object","x-inferred-from-example":true}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SortOrderParam":{"name":"sortOrder","in":"query","required":false,"description":"Sort direction: `asc` or `desc`.","schema":{"type":"string","default":"desc"},"example":"desc"},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}