{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendor Operations 2","description":"Tags: removedAssignedPincode, store-vendors, vendor-credit, vendor-issue-reports, vendor-payments, vendor-stories","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"removedAssignedPincode"},{"name":"store-vendors"},{"name":"vendor-credit"},{"name":"vendor-issue-reports"},{"name":"vendor-payments"},{"name":"vendor-stories"}],"paths":{"/api/removedAssignedPincode":{"post":{"tags":["removedAssignedPincode"],"summary":"Remove pincodes assigned to a vendor","description":"Thin proxy that forwards the pincode list and vendor id to the upstream CashkrBackend /removedAssignedPincode endpoint and returns its response verbatim.\n\n**Notes:** Proxies to ${BACKEND_API}/removedAssignedPincode with a Bearer BACKEND_ADMIN_TOKEN header. No handler-level auth check of its own, and errors are returned with a 200 status.\n\n_Source: `app/api/removedAssignedPincode/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemovedAssignedPincodePostRequest"},"example":{"pincodes":[400058,400061],"vendorId":"VEN456"}}}},"responses":{"200":{"description":"Proxy failure (still returned as 200)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"fetch failed"}}}}},"security":[]}},"/api/store-vendors":{"post":{"tags":["store-vendors"],"summary":"Search and list store vendors","description":"POST-based search/list of store vendors with pagination, sorting, free-text search, city/date filters and a statusFilter that switches the underlying Prisma where clause. Returns a flattened vendor shape including KYC document URLs and credits.\n\n**Notes:** No handler-level auth check despite returning vendor PII and KYC document URLs. Uses POST for a read operation. Heavy query: eagerly includes storeLeads, lead logs, failed-lead documents and all device selections, so keep limit small.\n\n_Source: `app/api/store-vendors/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsPostRequest"},"example":{"search":"Sharma","statusFilter":"Application","page":1,"limit":10,"sortBy":"createdAt","sortOrder":"desc"}}}},"responses":{"200":{"description":"Paginated vendor list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsPostResponse"},"example":{"data":[{"id":"VND_LX7K2P_A1B2C3D4","name":"Rahul Sharma","phone":"9876543210","email":"rahul@shop.com","city":"12 MG Road, Pune","shopName":"Sharma Mobiles","credits":25000,"vendorType":2,"isInternal":false,"documents":{"panCardImage":"https://cdn.cashkr.com/kyc/pan.jpg"}}],"pagination":{"total":118,"pages":12,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch vendors","details":"PrismaClientKnownRequestError..."}}}}},"security":[]}},"/api/store-vendors/register":{"post":{"tags":["store-vendors"],"summary":"Register a new store vendor","description":"Validates and creates a StoreVendors record with KYC document URLs, generating a unique VND_ vendor id. Rejects duplicates by email or phone.\n\n**Notes:** No handler-level auth check - this is an open registration endpoint that writes PII and KYC document URLs. Seven document fields are hard-required by the validator. Uses its own PrismaClient instance and disconnects after each request.\n\n_Source: `app/api/store-vendors/register/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsRegisterPostRequest"},"example":{"firstName":"Rahul","lastName":"Sharma","email":"rahul@shop.com","phoneNumber":"9876543210","address":"12 MG Road, Pune","shopName":"Sharma Mobiles","vendorType":2,"creditsAvailable":0,"gstinImage":"https://cdn.cashkr.com/kyc/gstin.jpg","gumastaImage":"https://cdn.cashkr.com/kyc/gumasta.jpg","shopImage":"https://cdn.cashkr.com/kyc/shop.jpg","panCardImage":"https://cdn.cashkr.com/kyc/pan.jpg","aadharCardImageFront":"https://cdn.cashkr.com/kyc/aadhar-front.jpg","aadharCardImageBack":"https://cdn.cashkr.com/kyc/aadhar-back.jpg","selfImage":"https://cdn.cashkr.com/kyc/selfie.jpg"}}}},"responses":{"201":{"description":"Vendor registered","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsRegisterPostResponse"},"example":{"success":true,"message":"Vendor registered successfully","vendor":{"vendorId":"VND_LX7K2P_A1B2C3D4","firstName":"Rahul","lastName":"Sharma","email":"rahul@shop.com","shopName":"Sharma Mobiles","creditsAvailable":0}}}}},"400":{"description":"Validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsRegisterPost400Response"},"example":{"error":"Validation failed","details":["Email is required"]}}}},"409":{"description":"Duplicate email or phone","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor already exists with this email or phone number"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Registration failed. Please try again later."}}}}},"security":[]}},"/api/store-vendors/toggle-internal":{"post":{"tags":["store-vendors"],"summary":"Toggle a vendor's internal flag","description":"Sets the isInternal flag on a vendor identified by vendorId.\n\n**Notes:** No handler-level auth check. Despite the store-vendors path this route updates the vendors table, not storeVendors.\n\n_Source: `app/api/store-vendors/toggle-internal/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsToggleInternalPostRequest"},"example":{"vendorId":"VND_LX7K2P_A1B2C3D4","isInternal":true}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreVendorsToggleInternalPostResponse"},"example":{"success":true,"data":{"vendorId":"VND_LX7K2P_A1B2C3D4","isInternal":true}}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor ID is required"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update vendor"}}}}},"security":[]}},"/api/vendor-credit":{"get":{"tags":["vendor-credit"],"summary":"List or aggregate vendor credit operations","description":"Returns a paginated list of vendor credit operations with vendor details and logs, or aggregated addition/deduction totals when analytics=true. Always floored at the FY start date of 2026-04-01.\n\n**Notes:** No handler-level auth check on GET (unlike POST/PUT on the same file, which require a session). A hard financial-year floor of FINANCIAL_YEAR_START_DATE (2026-04-01) is always applied, so operations from earlier financial years can never be returned.\n\n_Source: `app/api/vendor-credit/route.ts`_\n\n_Auth: `none`_","parameters":[{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":10,"default":10}},{"name":"vendorId","in":"query","required":false,"description":"Filter to one vendor (uuid)","schema":{"type":"string","example":"9f1c2b44-3d21-4a7e-9d10-5e6f7a8b9c0d"}},{"name":"status","in":"query","required":false,"description":"Addition or Deduction","schema":{"type":"string","example":"Deduction"}},{"name":"startDate","in":"query","required":false,"description":"Inclusive start date. Ignored if earlier than the financial-year floor of 2026-04-01.","schema":{"type":"string","example":"2026-08-01","default":"2026-04-01"}},{"name":"endDate","in":"query","required":false,"description":"Inclusive end date; expanded to 23:59:59.999 on that day","schema":{"type":"string","example":"2026-08-31"}},{"name":"analytics","in":"query","required":false,"description":"When 'true', returns aggregated totals instead of the operation list","schema":{"type":"boolean","example":true,"default":false}}],"responses":{"200":{"description":"Analytics mode (analytics=true)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditGetResponse"},"example":{"success":true,"data":{"totalOperations":214,"totalAdded":184000,"totalDeducted":9500,"countAdded":190,"countDeducted":24}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to fetch credit operations"}}}}},"security":[]},"post":{"tags":["vendor-credit"],"summary":"Add or deduct vendor credits manually","description":"Creates a manual credit addition or deduction for a vendor inside a transaction: writes a creditOperationLogs entry with before/after balances, a vendorCreditOperation row annotated with the acting admin, and updates the vendor's creditsAvailable. Deductions that would go negative are rejected.\n\n**Notes:** MUTATES MONEY: directly changes vendor creditsAvailable. Business errors such as 'Vendor not found' and 'Insufficient credits for deduction' surface as HTTP 500, not 400/404. All writes are transactional. Audit-logged as entity CREDIT, and the reason string is rewritten to include the acting admin's name.\n\n_Source: `app/api/vendor-credit/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditPostRequest"},"example":{"vendorId":"9f1c2b44-3d21-4a7e-9d10-5e6f7a8b9c0d","operationBy":"Admin","creditAmount":500,"status":"Deduction","reason":"Wrong payment credited","reasonAudioUrl":"https://cashkr.ap-south-1.linodeobjects.com/vendor-credit-reasons/9f1c2b44_reason.webm"}}}},"responses":{"200":{"description":"Credits adjusted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditPostResponse"},"example":{"success":true,"data":{"id":"op_881","creditAmount":500,"status":"Deduction","creditOperationLogs":{"vendorPreviousCredit":8474,"vendorCurrentCredit":7974}},"message":"Credit deduction successful"}}}},"400":{"description":"Zod validation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditPost400Response"},"example":{"success":false,"error":"Invalid input data","details":[{"path":["creditAmount"],"message":"Number must be greater than or equal to 1"}]}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Vendor not found or insufficient credits","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Insufficient credits for deduction"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["vendor-credit"],"summary":"Edit a credit operation's reason","description":"Updates only the free-text reason on an existing vendor credit operation. Credit amounts and balances are not touched.\n\n**Notes:** Calls getServerSession() WITHOUT authOptions (unlike POST), which can behave differently from the rest of the app's session checks. Rewrites part of the credit audit trail without recording who edited it or preserving the old text.\n\n_Source: `app/api/vendor-credit/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"id","in":"query","required":true,"description":"Credit operation id; 400 if missing","schema":{"type":"string","example":"op_881"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditPutRequest"},"example":{"reason":"Corrected: duplicate UTR reversal"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorCreditPutResponse"},"example":{"success":true,"data":{"id":"op_881","reason":"Corrected: duplicate UTR reversal"},"message":"Credit operation updated successfully"}}}},"400":{"description":"Missing operation id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Operation ID required"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to update credit operation"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendor-credit/audio":{"post":{"tags":["vendor-credit"],"summary":"Upload a voice-note reason for a credit operation","description":"Accepts a multipart audio recording and stores it on Linode object storage in the vendor-credit-reasons folder under the key <vendorId>_reason. Returns the URL to pass as reasonAudioUrl when creating the credit operation.\n\n**Notes:** Thin wrapper over lib/utils/audio-reason-upload (shared with the lead fail/reverse actions). Send as multipart/form-data. Upload the recording FIRST, then pass the returned URL as reasonAudioUrl on POST /api/vendor-credit; an abandoned form leaves an orphaned object. The stored key carries a real file extension so mobile WebViews can pick a decoder.\n\n_Source: `app/api/vendor-credit/audio/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/VendorCreditAudioPostRequest"}}}},"responses":{"200":{"description":"Uploaded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessUrlEnvelope_2"},"example":{"success":true,"url":"https://cashkr.ap-south-1.linodeobjects.com/vendor-credit-reasons/9f1c2b44-3d21-4a7e-9d10-…"}}}},"400":{"description":"Missing, empty, oversized or unsupported audio","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Recording is too large (max 10MB)"}}}},"401":{"$ref":"#/components/responses/UnauthorizedSuccessFlag"},"500":{"description":"Upload failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"example":{"success":false,"error":"Failed to upload recording"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendor-issue-reports":{"get":{"tags":["vendor-issue-reports"],"summary":"List vendor and cashboy issue reports","description":"Triage queue for issue reports with ongoing/solved tabs, status and category filters, date range, free-text search and pagination. Each report is enriched with the reporter's name, phone, email and role, its reply thread newest-first, and an ongoing/solved bucket.\n\n**Notes:** No handler-level auth check despite returning reporter phone numbers and emails. Reporter identity is stitched in with extra queries because vendorId/cashboyId have no FK (the backend owns those tables). Search resolves reporter ids first, capped at 200 vendors and 200 cashboys, so a very common name can miss matches. Tab counts respect every filter except the tab itself.\n\n_Source: `app/api/vendor-issue-reports/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"tab","in":"query","required":false,"description":"ongoing (Sent, InReview, Fixing), solved, or all","schema":{"type":"string","example":"ongoing","default":"ongoing"}},{"name":"status","in":"query","required":false,"description":"Sent, InReview, Fixing or Solved. Overrides the tab when present.","schema":{"type":"string","example":"Fixing"}},{"name":"whatHappened","in":"query","required":false,"description":"Exact match on the issue category","schema":{"type":"string","example":"App crash"}},{"name":"howOften","in":"query","required":false,"description":"Exact match on the frequency field","schema":{"type":"string","example":"Every time"}},{"name":"search","in":"query","required":false,"description":"Matches ticket number (numeric, with optional # or SR- prefix), reporter name/phone, or the free-text detail field","schema":{"type":"string","example":"SR-1042"}},{"name":"fromDate","in":"query","required":false,"description":"Inclusive start of the createdAt range","schema":{"type":"string","example":"2026-08-01"}},{"name":"toDate","in":"query","required":false,"description":"End of the createdAt range; the whole chosen day is included","schema":{"type":"string","example":"2026-08-31"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page","schema":{"type":"integer","example":12,"default":12}},{"name":"sortBy","in":"query","required":false,"description":"Field to order by; passed straight to Prisma orderBy","schema":{"type":"string","example":"createdAt","default":"createdAt"}},{"name":"sortOrder","in":"query","required":false,"description":"asc or desc; anything other than 'asc' is desc","schema":{"type":"string","example":"desc","default":"desc"}}],"responses":{"200":{"description":"Report list with tab counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorIssueReportsGetResponse"},"example":{"data":[{"id":"rep_5501","ticketNo":1042,"status":"Fixing","whatHappened":"App crash","bucket":"ongoing","reporterName":"Rahul Sharma","reporterPhone":"9876543210","reporterRole":"Vendor","messageCount":3,"latestMessage":{"status":"Fixing","message":"We are on it","adminName":"Priya"}}],"counts":{"ongoing":37,"solved":210},"pagination":{"total":37,"pages":4,"currentPage":1,"limit":12}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch issue reports","details":"..."}}}}},"security":[]},"patch":{"tags":["vendor-issue-reports"],"summary":"Update an issue report status or reply","description":"Moves an issue report to a new status and/or appends an admin reply to its message log, in one transaction. Stamps resolvedAt when moving to Solved and clears it when reopening.\n\n**Notes:** Replies are append-only and visible to the vendor in their app. Without a session the reply is stored with adminId null, so it appears with no author. Setting Solved stamps resolvedAt only if not already set; moving away from Solved clears it. Audit-logged as VENDOR_ISSUE_REPORT.\n\n_Source: `app/api/vendor-issue-reports/route.ts`_\n\n_Auth: `other: getServerSession is read only to attribute the reply to an admin - the update is not gated, so not gated by the handler itself`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorIssueReportsPatchRequest"},"example":{"id":"rep_5501","status":"Solved","message":"Fixed in app build 4.2.1 - please update."}}}},"responses":{"200":{"description":"Updated report with thread","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorIssueReportsPatchResponse"},"example":{"success":true,"data":{"id":"rep_5501","status":"Solved","resolvedAt":"2026-09-01T08:00:00.000Z","bucket":"solved","messageCount":4}}}}},"400":{"description":"Validation failed (neither status nor message supplied, or bad status)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorIssueReportsPatch400Response"},"example":{"error":"Invalid input","details":[{"message":"Nothing to update — send a status and/or a message"}]}}}},"404":{"description":"Issue report not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Issue report not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update issue report"}}}}},"security":[]}},"/api/vendor-payments/logs":{"get":{"tags":["vendor-payments"],"summary":"List vendor credit-purchase payment logs","description":"Paginated list of vendor credit payments (approved/rejected) with vendor + GST details and the frozen invoice number. Supports date range, status/gateway filters, id search and a full export mode used by the statement and CA GST downloads.\n\n**Notes:** No handler-level auth check — anyone who can reach the route can read vendor financial + GST data. Always enforces a hard FY floor of 2026-04-01 (FINANCIAL_YEAR_START_DATE) unless searching by id.\n\n_Source: `app/api/vendor-payments/logs/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"page","in":"query","required":false,"description":"Page number (ignored when export=true)","schema":{"type":"integer","example":1,"default":1}},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to max 100","schema":{"type":"integer","example":20,"default":10}},{"name":"from","in":"query","required":false,"description":"Start date; floored at the FY start date 2026-04-01","schema":{"type":"string","example":"2026-04-01"}},{"name":"to","in":"query","required":false,"description":"End date (inclusive, end of day)","schema":{"type":"string","example":"2026-08-31"}},{"name":"export","in":"query","required":false,"description":"true returns every row unpaginated, oldest-first, and excludes internal vendors","schema":{"type":"string","example":"true","default":"false"}},{"name":"status","in":"query","required":false,"description":"approved | rejected | all (ignored when search is set)","schema":{"type":"string","example":"approved","default":"approved"}},{"name":"type","in":"query","required":false,"description":"all | phonepe | razorpay | manual","schema":{"type":"string","example":"phonepe","default":"all"}},{"name":"search","in":"query","required":false,"description":"Payment id, INV-number, or any gateway/txn id. Overrides the status and date filters","schema":{"type":"string","example":"INV-1131"}}],"responses":{"200":{"description":"Payment log page","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorPaymentsLogsGetResponse"},"example":{"data":[{"paymentId":1131,"vendorId":"VEN123","vendorName":"Ravi Kumar","shopName":"Ravi Mobiles","vendorGstin":"27AANCB5175B1ZO","invoiceNumber":"INV-1131","amount":"5000","credits":"50","paymentMethod":"PhonePe","progress":"Approved"}],"total":1,"page":1,"pages":1}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unable to load payment logs"}}}}},"security":[]}},"/api/vendor-payments/{paymentId}/invoice":{"get":{"tags":["vendor-payments"],"summary":"Download frozen tax invoice PDF for a payment","description":"Returns the immutable Tax Invoice PDF for an approved vendor payment. Generates and stores the invoice on first access (backstop for legacy/gateway payments approved before invoices were minted), then streams the stored PDF as a same-origin download. A frozen invoice is never regenerated.\n\n**Notes:** Side effect: mints and persists an invoice number + stored PDF on first call. maxDuration 60s, force-dynamic. Response is a binary PDF, not JSON. Cache-Control: private, no-store.\n\n_Source: `app/api/vendor-payments/[paymentId]/invoice/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"paymentId","in":"path","required":true,"description":"Numeric VendorPayments.paymentId","schema":{"type":"string"},"example":"1131"}],"responses":{"200":{"description":"PDF binary (Content-Type: application/pdf, Content-Disposition attachment Tax_Invoice_INV-1131.pdf)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorPaymentsByPaymentIdInvoiceGetResponse"},"example":"<binary PDF>"}}},"400":{"description":"paymentId is not a number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid payment id"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"Payment not found or not approved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Payment not approved"}}}},"500":{"description":"Invoice generation or storage fetch failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Stored invoice fetch failed: 403"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendor-stories":{"get":{"tags":["vendor-stories"],"summary":"List vendor stories","description":"Operation reconstructed from source during the re-audit. Query parameters: page, perPage, search. \n\n_Source: `app/api/vendor-stories/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"page","in":"query","required":false,"description":"Query parameter `page`.","schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"description":"Query parameter `perPage`.","schema":{"type":"string"}},{"$ref":"#/components/parameters/SearchParam"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendor-stories"],"summary":"Create vendor stories","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: name, coverImage, order, isActive, pages). \n\n_Source: `app/api/vendor-stories/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorStoriesPostRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-stories/{id}":{"get":{"tags":["vendor-stories"],"summary":"Get vendor stories","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-stories/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"put":{"tags":["vendor-stories"],"summary":"Replace vendor stories","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: name, coverImage, isActive, pages). \n\n_Source: `app/api/vendor-stories/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorStoriesByIdPutRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"VendorIssueReportsPatchResponse":{"type":"object","x-inferred-from-example":true},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"StoreVendorsRegisterPost400Response":{"type":"object","x-inferred-from-example":true},"StoreVendorsRegisterPostRequest":{"type":"object","properties":{"firstName":{"type":"string","description":"Vendor first name"},"lastName":{"type":"string","description":"Vendor last name"},"email":{"type":"string","description":"Must match a basic email pattern; stored lowercased"},"phoneNumber":{"type":"string","description":"Must be 10 digits; stored digits-only"},"address":{"type":"string","description":"Shop address"},"shopName":{"type":"string","description":"Shop name"},"vendorType":{"type":"integer","description":"Vendor type number"},"creditsAvailable":{"type":"number","description":"Opening credit balance, defaults to 0"},"gstinImage":{"type":"string","description":"URL of GSTIN document"},"gumastaImage":{"type":"string","description":"URL of Gumasta licence"},"shopImage":{"type":"string","description":"URL of shop photo"},"panCardImage":{"type":"string","description":"URL of PAN card"},"aadharCardImageFront":{"type":"string","description":"URL of Aadhaar front"},"aadharCardImageBack":{"type":"string","description":"URL of Aadhaar back"},"selfImage":{"type":"string","description":"URL of vendor selfie"},"aadharUdhyogImage":{"type":"string","description":"URL of Udhyog Aadhaar (optional)"}},"required":["firstName","lastName","email","phoneNumber","address","shopName","gstinImage","gumastaImage","shopImage","panCardImage","aadharCardImageFront","aadharCardImageBack","selfImage"],"description":"Request body for `POST /api/store-vendors/register`."},"VendorCreditPostResponse":{"type":"object","x-inferred-from-example":true},"VendorIssueReportsPatchRequest":{"type":"object","properties":{"id":{"type":"string","description":"Issue report id, min length 1"},"status":{"type":"string","description":"Sent, InReview, Fixing or Solved. At least one of status or a non-empty message must be sent."},"message":{"type":"string","description":"Reply to append to the thread, trimmed, max 2000 chars. Logged against the status the ticket lands in."}},"required":["id"],"description":"Request body for `PATCH /api/vendor-issue-reports`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"SuccessUrlEnvelope_2":{"type":"object","x-inferred-from-example":true},"RemovedAssignedPincodePostRequest":{"type":"object","properties":{"pincodes":{"type":"array","items":{},"description":"Pincodes to unassign, e.g. [400058, 400061]"},"vendorId":{"type":"string","description":"Vendor id; forwarded upstream as 'vendorid'"}},"required":["pincodes","vendorId"],"description":"Request body for `POST /api/removedAssignedPincode`."},"VendorCreditPutResponse":{"type":"object","x-inferred-from-example":true},"VendorCreditPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor uuid; must be a valid UUID"},"operationBy":{"type":"string","description":"Admin or Sales"},"creditAmount":{"type":"number","description":"Number of credits, minimum 1"},"status":{"type":"string","description":"Addition or Deduction"},"reason":{"type":"string","description":"Free-text justification, 1-500 chars. Stored prefixed with the operation type and the acting admin's name."},"reasonAudioUrl":{"type":"string","description":"URL returned by POST /api/vendor-credit/audio; must be a valid URL, max 500 chars, nullable"}},"required":["vendorId","operationBy","creditAmount","status","reason"],"description":"Request body for `POST /api/vendor-credit`."},"StoreVendorsRegisterPostResponse":{"type":"object","x-inferred-from-example":true},"VendorCreditAudioPostRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Audio recording. Allowed MIME types: audio/webm, audio/ogg, audio/mp4, audio/mpeg, audio/wav, audio/x-m4a (codec suffixes stripped). Must be non-empty and at most 10MB."},"vendorId":{"type":"string","description":"Owning vendor id, used to build the object key; defaults to 'unknown' if omitted"}},"required":["file"],"description":"Request body for `POST /api/vendor-credit/audio`."},"VendorStoriesPostRequest":{"type":"object","additionalProperties":true,"properties":{"name":{"description":"`name`"},"coverImage":{"description":"`coverImage`"},"order":{"description":"`order`"},"isActive":{"description":"`isActive`"},"pages":{"description":"`pages`"}},"description":"Request body for `POST /api/vendor-stories`."},"VendorCreditPutRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Replacement reason text. Not validated here, and written verbatim (the admin-name prefix added on create is not reapplied)."}},"required":["reason"],"description":"Request body for `PUT /api/vendor-credit`."},"StoreVendorsToggleInternalPostResponse":{"type":"object","x-inferred-from-example":true},"VendorPaymentsLogsGetResponse":{"type":"object","x-inferred-from-example":true},"StoreVendorsToggleInternalPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id; 400 if missing"},"isInternal":{"type":"boolean","description":"New value for the internal flag"}},"required":["vendorId"],"description":"Request body for `POST /api/store-vendors/toggle-internal`."},"VendorStoriesByIdPutRequest":{"type":"object","additionalProperties":true,"properties":{"name":{"description":"`name`"},"coverImage":{"description":"`coverImage`"},"isActive":{"description":"`isActive`"},"pages":{"description":"`pages`"}},"description":"Request body for `PUT /api/vendor-stories/{id}`."},"VendorIssueReportsGetResponse":{"type":"object","x-inferred-from-example":true},"StoreVendorsPostResponse":{"type":"object","x-inferred-from-example":true},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"VendorCreditPost400Response":{"type":"object","x-inferred-from-example":true},"StoreVendorsPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text over firstName, lastName, email, phoneNumber, shopName, address and exact vendorId. Forces page 1 when present."},"city":{"type":"string","description":"Substring match on the address field"},"status":{"type":"string","description":"Accepted but unused by the handler"},"vendorId":{"type":"string","description":"Exact vendorId match, e.g. VND_LX7K2P_A1B2C3D4"},"fromDate":{"type":"string","description":"ISO date; used only together with toDate to filter createdAt"},"toDate":{"type":"string","description":"ISO date; used only together with fromDate"},"page":{"type":"integer","description":"Page number, default 1"},"limit":{"type":"integer","description":"Rows per page, default 10"},"sortBy":{"type":"string","description":"Field to sort on, default createdAt"},"sortOrder":{"type":"string","description":"asc or desc, default desc"},"statusFilter":{"type":"string","description":"One of All, InProgress, Application, Payments, vendorDetails, creditDeduct, Failed. Default All."}},"description":"Request body for `POST /api/store-vendors`."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"VendorCreditGetResponse":{"type":"object","x-inferred-from-example":true},"VendorPaymentsByPaymentIdInvoiceGetResponse":{"type":"string","x-inferred-from-example":true},"VendorIssueReportsPatch400Response":{"type":"object","x-inferred-from-example":true}},"responses":{"UnauthorizedSuccessFlag":{"description":"Unauthenticated - no valid admin session. Variant for routes that use the `{ success, error }` envelope.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/UnauthorizedSuccessFlag"}}}}},"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"UnauthorizedSuccessFlag":{"summary":"401 UnauthorizedSuccessFlag","value":{"success":false,"error":"Unauthorized"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"SearchParam":{"name":"search","in":"query","required":false,"description":"Free-text search term.","schema":{"type":"string"},"example":"Asha"}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}