{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendors 4","description":"Tags: vendors","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"vendors"}],"paths":{"/api/vendors/{vendorId}/cashboys/{cashboyId}":{"delete":{"tags":["vendors"],"summary":"Delete cashboys","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendors/[vendorId]/cashboys/[cashboyId]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}},{"name":"cashboyId","in":"path","required":true,"description":"Route parameter `cashboyId`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendors/{vendorId}/details":{"get":{"tags":["vendors"],"summary":"Details — GET vendors/[vendorId]/details","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendors/[vendorId]/details/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["vendors"],"summary":"Details — PATCH vendors/[vendorId]/details","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: firstName, lastName, email, address, shopName, phoneNumber). \n\n_Source: `app/api/vendors/[vendorId]/details/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdDetailsPatchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendors/{vendorId}/documents":{"patch":{"tags":["vendors"],"summary":"Update a vendor KYC document image URL","description":"Sets the URL of one vendor document image (GSTIN, Gumasta, Aadhaar/Udyog, shop photo, PAN, Aadhaar front/back, selfie). Friendly short names are mapped to the underlying Vendors column and validated against a whitelist.\n\n**Notes:** Wrapped in withAuditLog (entity VENDOR) which only writes an audit row — it enforces no authentication, so this KYC-mutating route is not gated by the handler itself.\n\n_Source: `app/api/vendors/[vendorId]/documents/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdDocumentsPatchRequest"},"example":{"imageName":"pancardimg","url":"https://cdn.cashkar.in/vendors/VEN123/pan.jpg"}}}},"responses":{"200":{"description":"Document updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdDocumentsPatchResponse"},"example":{"success":true,"message":"Document updated successfully","vendorId":"VEN123"}}}},"400":{"description":"Missing fields or unknown imageName","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Invalid image name provided"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to update vendor document"}}}}},"security":[]}},"/api/vendors/{vendorId}/flags":{"get":{"tags":["vendors"],"summary":"List flags raised against a vendor","description":"Returns every VendorFlag for the vendor, newest first, including the linked lead token and the customer's name and phone.\n\n**Notes:** No handler-level auth check — exposes customer names and phone numbers.\n\n_Source: `app/api/vendors/[vendorId]/flags/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"responses":{"200":{"description":"Flag list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdFlagsGetResponse"},"example":{"vendorId":"VEN123","flagCount":2,"flags":[{"id":"flg_1","reason":"Did not show up for pickup","createdAt":"2026-08-20T09:00:00.000Z","lead":{"leadId":"LD1","token":"CK-1023","customer":{"firstName":"Neha","lastName":"Patil","phone":"9876543210"}}}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to fetch vendor flags","error":"..."}}}}},"security":[]},"post":{"tags":["vendors"],"summary":"Flag a vendor with a reason","description":"Creates a VendorFlag against the vendor, optionally tied to a specific lead. The flagging admin is taken from the session.\n\n**Notes:** Flags feed the vendor enrichment 'errorsInPeriod' metric.\n\n_Source: `app/api/vendors/[vendorId]/flags/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdFlagsPostRequest"},"example":{"reason":"Did not show up for pickup","leadId":"LD1"}}}},"responses":{"201":{"description":"Flag created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdFlagsPostResponse"},"example":{"message":"Vendor flagged successfully","flag":{"id":"flg_2","vendorId":"VEN123","reason":"Did not show up for pickup"}}}}},"400":{"description":"reason missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"reason is required"}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Unauthorized"}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to flag vendor","error":"..."}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/{vendorId}/pincodes":{"get":{"tags":["vendors"],"summary":"List a vendor's assigned pincodes","description":"Returns the vendor's serviceable pincodes sorted ascending. Returns an empty list rather than a 404 when the vendor has no record. vendorId is read from the query string, not the path.\n\n_Source: `app/api/vendors/[vendorId]/pincodes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"VEN123"},{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}}],"responses":{"200":{"description":"Sorted pincode list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesGetResponse"},"example":{"success":true,"data":[411001],"count":3}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor ID is required"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to fetch pincodes","error":"..."}}}}},"security":[]},"post":{"tags":["vendors"],"summary":"Assign pincodes to a vendor","description":"Adds one or more 6-digit pincodes to a vendor's service area. Each pincode must exist in the Pincodes table, be serviceable, and its deviceType list must cover every device the vendor is assigned. Duplicates are skipped; the whole batch is rejected if any pincode fails validation.\n\n**Notes:** Audit-logged (entity PINCODE), no auth. Directly controls order eligibility. Runs inside a Prisma transaction.\n\n_Source: `app/api/vendors/[vendorId]/pincodes/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id (present in the URL but the handler reads it from the body)","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesPostRequest"},"example":{"vendorId":"VEN123","pincodes":["411001","411004"]}}}},"responses":{"200":{"description":"Pincodes assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesPostResponse"},"example":{"success":true,"message":"2 pincodes assigned successfully","data":{"added":2,"skipped":0,"invalid":0}}}}},"400":{"description":"Empty/invalid list, or pincodes missing, inactive or device-mismatched","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesPost400Response"},"example":{"success":false,"message":"Missing in Areas: 411099 | Not active: 411050","detail":{"missing":[411099],"inactive":[411050],"deviceMismatch":[]}}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor not found."}}}},"409":{"description":"Every pincode already assigned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"All valid pincodes already exist for this vendor."}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to add pincodes","error":"..."}}}}},"security":[]}},"/api/vendors/{vendorId}/pincodes/all":{"delete":{"tags":["vendors"],"summary":"Delete all pincodes assigned to a vendor","description":"Removes every VendorPincodes row for the vendor, clearing their entire service area. vendorId is read from the query string, not the path.\n\n**Notes:** Destructive and unauthenticated (audit-logged only). A vendor with zero pincodes receives no orders.\n\n_Source: `app/api/vendors/[vendorId]/pincodes/all/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"VEN123"},{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}}],"responses":{"200":{"description":"All pincodes removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"12 pincodes removed successfully"}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor ID is required"}}}},"404":{"description":"Vendor has no pincodes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"No pincodes found for this vendor"}}}},"500":{"description":"Delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to remove pincodes","error":"..."}}}}},"security":[]}},"/api/vendors/{vendorId}/pincodes/{pincode}":{"put":{"tags":["vendors"],"summary":"Replace one of a vendor's pincodes","description":"Swaps an existing pincode in the vendor's array for a new one. vendorId and oldPincode come from the query string; the new pincode comes from the JSON body.\n\n**Notes:** Audit-logged (entity PINCODE) but unauthenticated. Unlike POST /api/vendors/{vendorId}/pincodes this does NOT validate serviceability or device-type compatibility.\n\n_Source: `app/api/vendors/[vendorId]/pincodes/[pincode]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id (ignored by the handler)","schema":{"type":"string"},"example":"VEN123"},{"name":"pincode","in":"path","required":true,"description":"Pincode (ignored by the handler)","schema":{"type":"string"},"example":"411001"},{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}},{"name":"oldPincode","in":"query","required":true,"description":"Existing 6-digit pincode to replace","schema":{"type":"string","example":"411001"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesByPincodePutRequest"},"example":{"pincode":"411004"}}}},"responses":{"200":{"description":"Pincode replaced","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdPincodesByPincodePutResponse"},"example":{"success":true,"message":"Pincode updated successfully","data":{"oldPincode":"411001","newPincode":"411004"}}}}},"400":{"description":"Missing params or non 6-digit pincode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Pincodes must be 6 digits"}}}},"404":{"description":"Vendor or old pincode not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Original pincode not found for this vendor"}}}},"409":{"description":"New pincode already assigned to this vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"New pincode already exists for this vendor"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to update pincode","error":"..."}}}}},"security":[]},"delete":{"tags":["vendors"],"summary":"Remove one pincode from a vendor","description":"Deletes a single serviceable pincode from the vendor's VendorPincodes array. Note the handler reads vendorId and pincode from the QUERY STRING, not from the path segments.\n\n**Notes:** Audit-logged (entity PINCODE) but unauthenticated — changes which orders reach this vendor. The path segments are decorative; both values must be supplied as query params.\n\n_Source: `app/api/vendors/[vendorId]/pincodes/[pincode]/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"VEN123"},{"name":"pincode","in":"path","required":true,"description":"Pincode (present in the URL but ignored by the handler)","schema":{"type":"string"},"example":"411001"},{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}},{"name":"pincode","in":"query","required":true,"description":"Exactly 6 digits — 400 if missing or malformed","schema":{"type":"string","example":"411001"}}],"responses":{"200":{"description":"Pincode removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"Pincode removed successfully"}}}},"400":{"description":"Missing params or bad pincode format","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid pincode format. Must be 6 digits."}}}},"404":{"description":"Vendor or pincode not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Pincode not found for this vendor"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to remove pincode","error":"..."}}}}},"security":[]}},"/api/vendors/{vendorId}/slots":{"get":{"tags":["vendors"],"summary":"Get a vendor's allowed pickup slots","description":"Returns the vendor's allowedSlots plus the canonical PICKUP_SLOTS vocabulary. An empty array means the vendor receives all slots (opt-out model).\n\n**Notes:** allowedSlots is the third eligibility dimension alongside deviceAssigned and VendorPincodes.\n\n_Source: `app/api/vendors/[vendorId]/slots/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"responses":{"200":{"description":"Allowed slots and the full slot vocabulary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdSlotsGetResponse"},"example":{"success":true,"data":["10:00 AM - 01:00 PM"],"allSlots":["10:00 AM - 01:00 PM"]}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor ID is required"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch vendor slots"}}}}},"security":[]},"patch":{"tags":["vendors"],"summary":"Replace a vendor's allowed pickup slots","description":"Overwrites the vendor's allowedSlots with the supplied set. Every value must be a canonical PICKUP_SLOTS string; values are de-duplicated and stored in chronological order. An empty array resets the vendor to receiving all slots.\n\n**Notes:** Audit-logged (entity VENDOR), No handler-level auth check. Changes which pickup orders the vendor is offered.\n\n_Source: `app/api/vendors/[vendorId]/slots/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdSlotsPatchRequest"},"example":{"allowedSlots":["10:00 AM - 01:00 PM","01:00 PM - 04:00 PM"]}}}},"responses":{"200":{"description":"Slots updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdSlotsPatchResponse"},"example":{"success":true,"message":"Vendor restricted to 2 slot(s)","data":["10:00 AM - 01:00 PM"]}}}},"400":{"description":"Invalid JSON, not an array, or unknown slot value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid slot value(s): 9-11. Allowed: 10:00 AM - 01:00 PM | 01:00 PM - 04:00 PM"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor not found"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to update vendor slots"}}}}},"security":[]}},"/api/vendors/{vendorId}/update-city":{"patch":{"tags":["vendors"],"summary":"Update a vendor's city","description":"Sets the vendor's city field to the trimmed supplied value.\n\n**Notes:** Audit-logged (entity VENDOR), No handler-level auth check. City feeds the enrichment city-rank metric.\n\n_Source: `app/api/vendors/[vendorId]/update-city/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdUpdateCityPatchRequest"},"example":{"city":"Pune"}}}},"responses":{"200":{"description":"City updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdUpdateCityPatchResponse"},"example":{"success":true,"vendor":{"vendorId":"VEN123","city":"Pune"}}}}},"400":{"description":"city missing or blank","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"City is required"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update city"}}}}},"security":[]}},"/api/vendors/{vendorId}/update-gst":{"patch":{"tags":["vendors"],"summary":"Set or clear a vendor's GSTIN","description":"Validates and stores a 15-character Indian GSTIN (uppercased and trimmed). Passing null or an empty string clears the GSTIN, marking the vendor as unregistered.\n\n**Notes:** Audit-logged (entity VENDOR), No handler-level auth check. The GSTIN appears on the vendor's tax invoices and the CA GST statement.\n\n_Source: `app/api/vendors/[vendorId]/update-gst/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdUpdateGstPatchRequest"},"example":{"gstNumber":"27AANCB5175B1ZO"}}}},"responses":{"200":{"description":"GSTIN updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdUpdateGstPatchResponse"},"example":{"success":true,"vendor":{"vendorId":"VEN123","gstNumber":"27AANCB5175B1ZO"}}}}},"400":{"description":"Malformed GSTIN or wrong type","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Invalid GSTIN format. Expected 15 chars like 27AANCB5175B1ZO."}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Vendor not found"}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to update GSTIN"}}}}},"security":[]}},"/api/vendors/{vendorId}/zones":{"get":{"tags":["vendors"],"summary":"List zones assigned to a vendor","description":"Returns the zones linked to the vendor, each with a count of its pincodes.\n\n**Notes:** Response is a bare array, not an object.\n\n_Source: `app/api/vendors/[vendorId]/zones/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"responses":{"200":{"description":"Zone array","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdZonesGetResponse"},"example":[{"id":"zn_1","name":"Pune West","city":"Pune","state":"Maharashtra","_count":{"pincodes":14}}]}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Vendor not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error fetching zones"}}}}},"security":[]},"post":{"tags":["vendors"],"summary":"Assign a zone to a vendor","description":"Links a zone to the vendor and, in the same transaction, pushes every pincode belonging to that zone into the vendor's VendorPincodes array (skipping duplicates).\n\n**Notes:** Audit-logged (entity ZONE), No handler-level auth check. Bulk-expands the vendor's serviceable area.\n\n_Source: `app/api/vendors/[vendorId]/zones/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdZonesPostRequest"},"example":{"zoneId":"zn_1"}}}},"responses":{"200":{"description":"Zone assigned and pincodes merged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdZonesPostResponse"},"example":{"message":"Zone assigned and pincodes added","addedPincodesCount":14}}}},"400":{"description":"zoneId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone ID required"}}}},"404":{"description":"Zone not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone not found"}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error connecting zone"}}}}},"security":[]},"delete":{"tags":["vendors"],"summary":"Unassign a zone from a vendor","description":"Disconnects the zone and removes its pincodes from the vendor, keeping any pincode that is still covered by another zone the vendor holds.\n\n**Notes:** Audit-logged (entity ZONE), No handler-level auth check. Shrinks the vendor's serviceable area.\n\n_Source: `app/api/vendors/[vendorId]/zones/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"},{"name":"zoneId","in":"query","required":true,"description":"Zone to remove — 400 if missing","schema":{"type":"string","example":"zn_1"}}],"responses":{"200":{"description":"Zone removed and pincodes cleaned up","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone removed and pincodes cleaned up"}}}},"400":{"description":"zoneId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone ID required"}}}},"404":{"description":"Zone not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Zone not found"}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Error removing zone"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"VendorsByVendorIdPincodesPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor to assign to"},"pincodes":{"type":"array","items":{},"description":"Non-empty array of 6-digit pincode strings"}},"required":["vendorId","pincodes"],"description":"Request body for `POST /api/vendors/{vendorId}/pincodes`."},"VendorsByVendorIdUpdateGstPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdFlagsPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdUpdateGstPatchRequest":{"type":"object","properties":{"gstNumber":{"type":"string","description":"15-char GSTIN matching ^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z][1-9A-Z]Z[0-9A-Z]$, or null/\"\" to clear"}},"description":"Request body for `PATCH /api/vendors/{vendorId}/update-gst`."},"VendorsByVendorIdFlagsPostRequest":{"type":"object","properties":{"reason":{"type":"string","description":"Why the vendor is being flagged"},"leadId":{"type":"string","description":"Lead this flag relates to; null when not order-specific"}},"required":["reason"],"description":"Request body for `POST /api/vendors/{vendorId}/flags`."},"VendorsByVendorIdPincodesPost400Response":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdZonesGetResponse":{"type":"array","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"VendorsByVendorIdZonesPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdUpdateCityPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdPincodesPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdSlotsPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdDocumentsPatchRequest":{"type":"object","properties":{"imageName":{"type":"string","description":"gstin | gumasta | aadharudhyog | shopimg | shopphoto | pancardimg | aadharcardimgfront | aadharcardimgback | selfphoto, or the raw column name (gstinImage, panCardImage, ...)"},"url":{"type":"string","description":"Publicly reachable URL of the uploaded document image"}},"required":["imageName","url"],"description":"Request body for `PATCH /api/vendors/{vendorId}/documents`."},"VendorsByVendorIdSlotsPatchRequest":{"type":"object","properties":{"allowedSlots":{"type":"array","items":{},"description":"Array of canonical slot strings; empty array = all slots"}},"required":["allowedSlots"],"description":"Request body for `PATCH /api/vendors/{vendorId}/slots`."},"VendorsByVendorIdPincodesGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdDetailsPatchRequest":{"type":"object","additionalProperties":true,"properties":{"firstName":{"description":"`firstName`"},"lastName":{"description":"`lastName`"},"email":{"description":"`email`"},"address":{"description":"`address`"},"shopName":{"description":"`shopName`"},"phoneNumber":{"description":"`phoneNumber`"}},"description":"Request body for `PATCH /api/vendors/{vendorId}/details`."},"MessageErrorEnvelope":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message"],"description":"Error envelope `{ message, error }`."},"VendorsByVendorIdUpdateCityPatchRequest":{"type":"object","properties":{"city":{"type":"string","description":"Non-empty city name"}},"required":["city"],"description":"Request body for `PATCH /api/vendors/{vendorId}/update-city`."},"VendorsByVendorIdPincodesByPincodePutRequest":{"type":"object","properties":{"pincode":{"type":"string","description":"New 6-digit pincode"}},"required":["pincode"],"description":"Request body for `PUT /api/vendors/{vendorId}/pincodes/{pincode}`."},"VendorsByVendorIdDocumentsPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdPincodesByPincodePutResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message","success"],"description":"Error envelope `{ success: false, message, error }`."},"VendorsByVendorIdFlagsGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdSlotsGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"VendorsByVendorIdZonesPostRequest":{"type":"object","properties":{"zoneId":{"type":"string","description":"Zone id to attach"}},"required":["zoneId"],"description":"Request body for `POST /api/vendors/{vendorId}/zones`."}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Conflict":{"summary":"409 Conflict","value":{"error":"Conflict"}},"Forbidden":{"summary":"403 Forbidden","value":{"error":"Forbidden"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"Forbidden":{"description":"Forbidden - the session is valid but the role is not allowed to do this. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Forbidden"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}},"Conflict":{"description":"Conflict - the record already exists or its current state does not allow this change. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Conflict"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}