{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendors 2","description":"Tags: vendors","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"vendors"}],"paths":{"/api/vendors/did":{"delete":{"tags":["vendors"],"summary":"Release a vendor's active DID number","description":"Detaches the vendor's active DID, writing a VendorDIDHistory row that preserves the original assignedAt. The number returns to the spare pool unless the reason is spam_flagged, in which case it is retired.\n\n**Notes:** No handler-level auth check. DELETE requires a JSON body. After release the vendor falls back to the shared DID.\n\n_Source: `app/api/vendors/did/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidDeleteRequest"},"example":{"vendorId":"VEN123","releaseReason":"vendor_offboarded","notes":"Shop closed"}}}},"responses":{"200":{"description":"DID released","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"919876543210 released back to the spare pool."}}}},"400":{"description":"vendorId or releaseReason missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidDelete400Response"},"example":{"success":false,"message":"vendorId and releaseReason are required","success_note":null}}}},"404":{"description":"Vendor has no active DID","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"This vendor has no active DID"}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to release DID"}}}}},"security":[]}},"/api/vendors/did/pool":{"get":{"tags":["vendors"],"summary":"List the DID number pool or one number's history","description":"Without a query it returns every Acefone DID the panel knows about with assigned/spare/retired counts. With didNumber it returns that single number plus its full assignment history, resolving past holder names best-effort.\n\n**Notes:** No auth. DID numbers are stored as 91 + 10 digits with no plus, matching what the backend call webhook compares call_to_number against.\n\n_Source: `app/api/vendors/did/pool/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"didNumber","in":"query","required":false,"description":"Narrow to one DID and return its timeline instead of the whole pool","schema":{"type":"string","example":"919876543210"}}],"responses":{"200":{"description":"Pool listing or single-number detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolGetResponse"},"example":{"success":true,"data":{"dids":[{"id":"did_1","didNumber":"919876543210","vendorId":"VEN123","isActive":true}],"counts":{"total":40,"assigned":25,"spare":12,"retired":3}}}}}},"404":{"description":"didNumber not in the pool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Number not found"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to load DID pool"}}}}},"security":[]},"post":{"tags":["vendors"],"summary":"Add DID numbers to the spare pool","description":"Accepts an array or a pasted whitespace/comma separated block of Indian numbers, normalises each to the 91XXXXXXXXXX form, and inserts the ones not already present as unassigned active spares. The whole batch is rejected if any number is invalid.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/vendors/did/pool/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolPostRequest"},"example":{"didNumbers":["919876543210","9876543211"],"notes":"Acefone batch Aug-2026"}}}},"responses":{"200":{"description":"Numbers added","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolPostResponse"},"example":{"success":true,"message":"2 numbers added to the pool","data":{"added":["919876543210"],"skipped":0}}}}},"400":{"description":"No numbers supplied, or at least one is not a valid Indian number","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Not valid Indian numbers: 12345"}}}},"409":{"description":"Every number already in the pool","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Every number is already in the pool"}}}},"500":{"description":"Insert failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to add numbers"}}}}},"security":[]},"patch":{"tags":["vendors"],"summary":"Retire or restore a spare DID number","description":"Toggles isActive on a spare DID. Retiring stamps releasedAt and a release reason; restoring clears both. Numbers currently live on a vendor are refused and must go through the per-vendor release flow.\n\n**Notes:** No handler-level auth check. Retiring a number stops call routing for it.\n\n_Source: `app/api/vendors/did/pool/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolPatchRequest"},"example":{"didId":"did_1","isActive":false,"reason":"returned_to_acefone"}}}},"responses":{"200":{"description":"State changed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolPatchResponse"},"example":{"success":true,"message":"919876543210 retired","data":{"id":"did_1","isActive":false}}}}},"400":{"description":"didId or isActive missing/not boolean","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"didId and isActive are required"}}}},"404":{"description":"Number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Number not found"}}}},"409":{"description":"Number is assigned to a vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"919876543210 is live on a vendor. Release it from the vendor first."}}}},"500":{"description":"Update failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to update number"}}}}},"security":[]},"delete":{"tags":["vendors"],"summary":"Hard-delete a never-used DID number","description":"Permanently removes a DID row. Deliberately narrow: a number assigned to a vendor, or one that has ever appeared in VendorDIDHistory, is refused so call records stay traceable — those must be retired instead.\n\n**Notes:** Permanently destructive and unauthenticated. Note DELETE requires a JSON body.\n\n_Source: `app/api/vendors/did/pool/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPoolDeleteRequest"},"example":{"didId":"did_1"}}}},"responses":{"200":{"description":"Number deleted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":true,"message":"919876543210 deleted"}}}},"400":{"description":"didId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"didId is required"}}}},"404":{"description":"Number not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Number not found"}}}},"409":{"description":"Number is live on a vendor or has prior history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"919876543210 has been used by 2 vendors before. Retire it instead of deleting, so the call…"}}}},"500":{"description":"Delete failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to delete number"}}}}},"security":[]}},"/api/vendors/enrichments":{"post":{"tags":["vendors"],"summary":"Compute enrichment metrics for a page of vendors","description":"Given up to 100 vendorIds and a date window, returns per-vendor pickup rate, up/down trend versus the preceding window, rank within their city, flag/error count with the most common reason, top three device models handled, new-vendor flag and hold schedule.\n\n**Notes:** No auth. Companion to /api/getallvendors. Cached in Redis for 60s keyed by window + sorted vendor id set. A call counts as answered at callDuration >= 5s; new-vendor threshold is 30 days; trend threshold is +/-5%.\n\n_Source: `app/api/vendors/enrichments/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsEnrichmentsPostRequest"},"example":{"vendorIds":["VEN123","VEN124"],"from":"2026-08-01","to":"2026-08-31"}}}},"responses":{"200":{"description":"Enrichment metrics per vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsEnrichmentsPostResponse"},"example":{"window":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T23:59:59.999Z","days":31,"previousFrom":"2026-07-01T00:00:00.000Z","previousTo":"2026-08-01T00:00:00.000Z"},"enrichments":[{"vendorId":"VEN123","pickupRate":0.82,"pickupTotalCalls":50,"pickupAnsweredCalls":41,"trend":"up","trendPctChange":12.5,"cityRank":{"rank":3,"total":18,"city":"Pune"},"errorsInPeriod":{"count":1,"mostCommonReason":"Did not show up for pickup"},"topDeviceModels":[{"brand":"Apple","model":"iPhone 13","count":9}],"isNewVendor":false,"holdSchedule":null}]}}}},"400":{"description":"More than 100 vendorIds","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Too many vendors. Max 100."}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"..."}}}}},"security":[]}},"/api/vendors/feedback-given":{"post":{"tags":["vendors"],"summary":"Acknowledge failed-rejection feedback for a lead","description":"Records a LeadLogs entry marking that an admin has acknowledged the failed-rejection feedback for the lead. Idempotent — a second call returns success without creating a duplicate.\n\n**Notes:** Audit-logged (entity VENDOR), No handler-level auth check.\n\n_Source: `app/api/vendors/feedback-given/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsFeedbackGivenPostRequest"},"example":{"leadId":"LD1"}}}},"responses":{"200":{"description":"Acknowledged (or already acknowledged)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"400":{"description":"leadId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"leadId is required"}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to save feedback"}}}}},"security":[]}},"/api/vendors/funnel":{"get":{"tags":["vendors"],"summary":"Vendor onboarding funnel counts","description":"Returns counts per onboarding stage (application, in progress, approved, live) with a conversion rate, the ten most recent applications, vendors stuck on hold for over seven days, and live-vendor counts per city.\n\n**Notes:** No auth. Cached in Redis for 300s under vendor-funnel:{city}.\n\n_Source: `app/api/vendors/funnel/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Restrict the funnel to vendors serving pincodes in this city","schema":{"type":"string","example":"Pune"}}],"responses":{"200":{"description":"Funnel data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsFunnelGetResponse"},"example":{"funnel":{"application":12,"inProgress":4,"approved":3,"live":88,"total":107,"conversionRate":82},"recentApplications":[{"id":"VEN200","name":"Ravi Kumar","shopName":"Ravi Mobiles","phone":"9876543210","devices":["Mobile"],"appliedAt":"2026-08-28T10:00:00.000Z"}],"stuckInProgress":[],"vendorsByCity":[{"city":"Pune","count":240}]}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor funnel data"}}}}},"security":[]}},"/api/vendors/map":{"get":{"tags":["vendors"],"summary":"Live vendor order-load map metrics","description":"For every live vendor, returns current order counts by state — available, in progress, to-be-failed, delayed past the pickup window and flagged — plus assigned pincode count, with a totals summary. Vendor city is derived from their first assigned pincode.\n\n**Notes:** No auth, no caching, and it loads every MasterLeads row in memory — a heavy query. Delay is computed by parsing the pickup slot window via parsePickupWindow.\n\n_Source: `app/api/vendors/map/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Case-insensitive substring filter on the vendor's derived city","schema":{"type":"string","example":"Pune"}}],"responses":{"200":{"description":"Per-vendor metrics and summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsMapGetResponse"},"example":{"vendors":[{"vendorId":"VEN123","vendorName":"Ravi Kumar","city":"Pune","availableOrders":4,"inProgressOrders":2,"toBeFailedCount":1,"assignedPincodes":14,"delayedOrders":1,"flaggedOrders":0,"totalOrders":31}],"summary":{"totalVendors":88,"totalAvailableOrders":120,"totalInProgressOrders":45,"totalDelayedOrders":9}}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to load vendor map","error":"..."}}}}},"security":[]}},"/api/vendors/minimal":{"get":{"tags":["vendors"],"summary":"Search vendors, minimal fields","description":"Lightweight vendor lookup for pickers: up to 500 vendors with id, name, status, phone, email and address, optionally filtered by a free-text search across name, phone, email and address.\n\n**Notes:** No auth — exposes the full vendor roster with contact details. The `city` field actually carries the address column.\n\n_Source: `app/api/vendors/minimal/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive search over firstName, lastName, phoneNumber, email and address","schema":{"type":"string","example":"ravi"}}],"responses":{"200":{"description":"Vendor list (max 500)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsMinimalGetResponse"},"example":{"data":[{"id":"VEN123","name":"Ravi Kumar","status":"live","phone":"9876543210","email":"ravi@example.com","city":"FC Road, Pune"}]}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch vendors"}}}}},"security":[]}},"/api/vendors/notifications/banners/{segments}":{"get":{"tags":["vendors"],"summary":"Proxy list/read in-app banner admin endpoints","description":"Optional catch-all server-side proxy to CashkrBackend's /admin/notifications API. With no segments it lists banners; with segments it targets a single banner or its sub-resources (:id, :id/toggle, :id/stats). Query string is forwarded verbatim and the upstream status and payload are passed through untouched.\n\n**Notes:** Proxies to process.env.BACKEND_API || NEXT_PUBLIC_API_URL (default http://backend.internal:8083/api/v1) at /admin/notifications. Sends the admin's session accessToken plus the internal service token via adminGatewayHeaders. Any upstream status (incl. 422 validation errors) is relayed as-is.\n\n_Source: `app/api/vendors/notifications/banners/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all ([[...segments]]) — zero or more path segments appended to the upstream /admin/notifications path","schema":{"type":"string"},"example":"b_123/stats"}],"responses":{"200":{"description":"Upstream payload passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsGetResponse"},"example":{"success":true,"data":[],"meta":{"total":0}}}}},"401":{"description":"No session or no accessToken on the session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"503":{"description":"CashkrBackend unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Proxy create in-app banner","description":"Forwards the raw JSON body to CashkrBackend's /admin/notifications endpoint (plus any catch-all segments) using the admin's session token, returning the upstream status and payload unchanged.\n\n**Notes:** Exists because NEXT_PUBLIC_* tokens compile to empty strings in the deployed bundle; proxying reads the service token from server-side process.env at request time.\n\n_Source: `app/api/vendors/notifications/banners/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Optional catch-all segments; empty for create","schema":{"type":"string"},"example":""}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsPostRequest"},"example":{"title":"Diwali bonus credits","imageUrl":"https://cdn.cashkar.in/banners/diwali.png","deepLink":"/offers","active":true}}}},"responses":{"200":{"description":"Created upstream","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsResponse"},"example":{"success":true,"data":{"id":"b_123"}}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"422":{"description":"Upstream validation error relayed unchanged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsPost422Response"},"example":{"success":false,"errors":{"fieldErrors":{"title":["Required"]}}}}}},"503":{"description":"CashkrBackend unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"put":{"tags":["vendors"],"summary":"Proxy replace in-app banner","description":"Forwards a PUT with the raw JSON body to CashkrBackend's /admin/notifications/{segments} endpoint, relaying the upstream status and payload.\n\n_Source: `app/api/vendors/notifications/banners/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Banner id (and optional sub-path) appended upstream","schema":{"type":"string"},"example":"b_123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsRequest"},"example":{"title":"Diwali bonus credits (updated)","active":false}}}},"responses":{"200":{"description":"Updated upstream","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsResponse"},"example":{"success":true,"data":{"id":"b_123"}}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"503":{"description":"CashkrBackend unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["vendors"],"summary":"Proxy patch or toggle an in-app banner","description":"Forwards a PATCH with the raw JSON body upstream — typically used for /{id}/toggle to activate or deactivate a banner — relaying the upstream status and payload.\n\n_Source: `app/api/vendors/notifications/banners/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Banner id plus optional action segment","schema":{"type":"string"},"example":"b_123/toggle"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsRequest"},"example":{"active":true}}}},"responses":{"200":{"description":"Patched upstream","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBannersBySegmentsPatchResponse"},"example":{"success":true,"data":{"id":"b_123","active":true}}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"503":{"description":"CashkrBackend unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["vendors"],"summary":"Proxy delete an in-app banner","description":"Forwards a DELETE for the given banner id to CashkrBackend's /admin/notifications endpoint. No request body is read or sent.\n\n**Notes:** The proxy never reads a body for GET or DELETE.\n\n_Source: `app/api/vendors/notifications/banners/[[...segments]]/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"segments","in":"path","required":true,"description":"Banner id to delete","schema":{"type":"string"},"example":"b_123"}],"responses":{"200":{"description":"Deleted upstream","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"503":{"description":"CashkrBackend unreachable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/notifications/broadcast":{"get":{"tags":["vendors"],"summary":"List past vendor broadcasts","description":"Returns ck-admin's own record of broadcasts sent through this route (AdminActivityLog BROADCAST/NOTIFICATION rows), newest first, with who sent it, the copy, recipient count and FCM topic/messageId.\n\n**Notes:** Only covers sends made through this route — anything fired before it existed, or straight at the backend, will not appear.\n\n_Source: `app/api/vendors/notifications/broadcast/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"category","in":"query","required":false,"description":"Filter on metadata.category: ALERT or ANNOUNCEMENT","schema":{"type":"string","example":"ALERT"}},{"name":"limit","in":"query","required":false,"description":"Rows to return, capped at 100","schema":{"type":"integer","example":20,"default":20}}],"responses":{"200":{"description":"Send history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBroadcastGetResponse"},"example":{"success":true,"data":[{"id":"log_1","sentAt":"2026-08-30T18:00:00.000Z","sentBy":"ops@example.com","category":"ALERT","title":"Scheduled maintenance tonight","body":"The app will be unavailable 1-2 AM.","recipients":880,"topic":"vendors_all","messageId":"projects/cashkar-partner/messages/123","deepLink":null,"targeted":false,"pushOnly":false}]}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not load send history."}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Broadcast a notification to all vendors","description":"Sends an announcement or urgent alert to every vendor via CashkrBackend's broadcast endpoint (an FCM topic push plus an in-app inbox row), then records an AdminActivityLog BROADCAST entry so ck-admin has its own send history.\n\n**Notes:** IRREVERSIBLE side effect: pushes to every vendor and cannot be recalled. Calls POST {NEXT_PUBLIC_API_URL}/admin/vendor-notifications/broadcast with the session accessToken, x-admin-request and x-internal-service-token. Logging failures never fail the send.\n\n_Source: `app/api/vendors/notifications/broadcast/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBroadcastPostRequest"},"example":{"title":"Scheduled maintenance tonight","body":"The app will be unavailable 1-2 AM.","urgent":true,"deepLink":"/vendorNotifications"}}}},"responses":{"200":{"description":"Backend response passed through","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsBroadcastPostResponse"},"example":{"success":true,"recipients":880,"topic":"vendors_all","messageId":"projects/cashkar-partner/messages/123"}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"422":{"description":"Title or body missing / title too long","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Title (1–255 chars) and body are required."}}}},"503":{"description":"CashkrBackend unreachable — nothing was sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not reach CashkrBackend: fetch failed"}}}}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"VendorsDidPoolPatchRequest":{"type":"object","properties":{"didId":{"type":"string","description":"VendorDID row id"},"isActive":{"type":"boolean","description":"false retires the number, true restores it to the spare pool"},"reason":{"type":"string","description":"Release reason when retiring; defaults to retired_by_admin"}},"required":["didId","isActive"],"description":"Request body for `PATCH /api/vendors/did/pool`."},"VendorsFunnelGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBroadcastPostRequest":{"type":"object","properties":{"title":{"type":"string","description":"1-255 characters"},"body":{"type":"string","description":"Message text"},"urgent":{"type":"boolean","description":"true sends as an ALERT rather than an ANNOUNCEMENT"},"imageUrl":{"type":"string","description":"Image URL; omitted when blank because the backend validates it as a URL"},"deepLink":{"type":"string","description":"In-app route to open on tap"}},"required":["title","body"],"description":"Request body for `POST /api/vendors/notifications/broadcast`."},"VendorsDidPoolPostRequest":{"type":"object","properties":{"didNumbers":{"type":"array","items":{},"description":"Array of numbers, or a single string of numbers separated by whitespace/commas"},"notes":{"type":"string","description":"Free-text note stored on each new row"}},"required":["didNumbers"],"description":"Request body for `POST /api/vendors/did/pool`."},"VendorsMinimalGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"VendorsEnrichmentsPostRequest":{"type":"object","properties":{"vendorIds":{"type":"array","items":{},"description":"Vendor ids to enrich; max 100. An empty array returns an empty result"},"from":{"type":"string","description":"Window start; defaults to 30 days before `to`"},"to":{"type":"string","description":"Window end (end of day); defaults to now"}},"required":["vendorIds"],"description":"Request body for `POST /api/vendors/enrichments`."},"VendorsMapGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidPoolPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBannersBySegmentsGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBannersBySegmentsRequest":{"type":"object","properties":{"<upstream fields>":{"type":"object","description":"Forwarded verbatim; schema owned by the backend"}},"description":"Request body for `PATCH /api/vendors/notifications/banners/{segments}`, `PUT /api/vendors/notifications/banners/{segments}`."},"VendorsNotificationsBannersBySegmentsPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBannersBySegmentsPostRequest":{"type":"object","properties":{"<upstream fields>":{"type":"object","description":"Body is forwarded verbatim; the backend defines and validates the schema (e.g. title, imageUrl, deepLink, active)"}},"description":"Request body for `POST /api/vendors/notifications/banners/{segments}`."},"VendorsNotificationsBannersBySegmentsResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidPoolPatchResponse":{"type":"object","x-inferred-from-example":true},"MessageErrorEnvelope":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message"],"description":"Error envelope `{ message, error }`."},"VendorsDidPoolDeleteRequest":{"type":"object","properties":{"didId":{"type":"string","description":"VendorDID row id"}},"required":["didId"],"description":"Request body for `DELETE /api/vendors/did/pool`."},"VendorsDidDeleteRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor whose DID is being released"},"releaseReason":{"type":"string","description":"Non-empty reason; spam_flagged retires the number permanently"},"notes":{"type":"string","description":"Free-text note stored on the history row"}},"required":["vendorId","releaseReason"],"description":"Request body for `DELETE /api/vendors/did`."},"VendorsEnrichmentsPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidPoolGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBannersBySegmentsPost422Response":{"type":"object","x-inferred-from-example":true},"VendorsDidDelete400Response":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBroadcastPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsBroadcastGetResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"VendorsFeedbackGivenPostRequest":{"type":"object","properties":{"leadId":{"type":"string","description":"Lead the feedback relates to"}},"required":["leadId"],"description":"Request body for `POST /api/vendors/feedback-given`."}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}