{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendors 3","description":"Tags: vendors","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"vendors"}],"paths":{"/api/vendors/notifications/process-scheduled":{"post":{"tags":["vendors"],"summary":"Run due scheduled vendor notifications","description":"Scheduler tick: picks up to 20 pending CampaignExecution rows of the vendor-notification campaign type whose scheduledAt has passed, sends each through CashkrBackend's broadcast endpoint (all vendors, or the vendorIds stored on the template), marks the execution completed or failed, and queues the next daily occurrence or closes the campaign out.\n\n**Notes:** Triggered externally on a cron cadence. SENDS PUSH NOTIFICATIONS — irreversible. Calls {BACKEND_API || NEXT_PUBLIC_API_URL}/admin/vendor-notifications/broadcast authenticated as the machine (BACKEND_ADMIN_TOKEN + NEXT_PUBLIC_REFERRAL_API_TOKEN). Max 20 executions per cycle; an execution is claimed (status running) before sending so a crash misses a send rather than double-firing. The generic marketing processor deliberately skips this campaign type.\n\n_Source: `app/api/vendors/notifications/process-scheduled/route.ts`_\n\n_Auth: `pabbly-secret`_","responses":{"200":{"description":"Cycle result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsProcessScheduledPostResponse"},"example":{"success":true,"processed":2,"results":[{"id":"exec_1","ok":true,"recipients":880,"pushed":812,"targeted":false}]}}}},"401":{"description":"Wrong or missing x-webhook-secret","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Unauthorized"}}}},"500":{"description":"Processor failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Processor failed."}}}}},"security":[{"pabblySecret":[]}]}},"/api/vendors/notifications/recipients":{"get":{"tags":["vendors"],"summary":"Search vendors for the targeted-alert picker","description":"Searches approved and live vendors by name, shop, city or phone and returns id, name, shop, city, phone and a boolean reachable flag indicating whether a device token is stored. The token itself is never exposed.\n\n**Notes:** Only isApproved && status=live vendors are searchable, matching the broadcast audience.\n\n_Source: `app/api/vendors/notifications/recipients/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"q","in":"query","required":false,"description":"Case-insensitive search over firstName, lastName, shopName, city and phoneNumber","schema":{"type":"string","example":"ravi"}},{"name":"limit","in":"query","required":false,"description":"Rows to return, capped at 50","schema":{"type":"integer","example":25,"default":25}}],"responses":{"200":{"description":"Matching vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsRecipientsGetResponse"},"example":{"success":true,"data":[{"vendorId":"VEN123","name":"Ravi Kumar","shopName":"Ravi Mobiles","city":"Pune","phone":"9876543210","reachable":true}]}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not search vendors."}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/notifications/schedule":{"get":{"tags":["vendors"],"summary":"List upcoming scheduled vendor sends","description":"Returns up to 50 active vendor-targeted campaigns that still have a pending execution, with the copy, category, next run time, repeat-until and last run.\n\n_Source: `app/api/vendors/notifications/schedule/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Scheduled sends","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsScheduleGetResponse"},"example":{"success":true,"data":[{"campaignId":"cmp_1","title":"Weekend payout reminder","body":"Submit your pending pickups before Sunday.","category":"ANNOUNCEMENT","nextRunAt":"2026-09-05T09:00:00.000Z","recurring":false,"repeatUntil":"2026-09-30T09:00:00.000Z","lastRunAt":null}]}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not load scheduled sends."}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Schedule a vendor notification for later","description":"Creates a NotificationTemplate, Campaign, CampaignStep and first pending CampaignExecution in one transaction so the existing campaign engine sends the message at the chosen time, optionally repeating daily until an end date. Also writes an AdminActivityLog CREATE entry.\n\n**Notes:** Two caveats the API consumer must know: (1) PUSH ONLY — the campaign engine sends via ck-admin's own FCM, so nothing is written to the vendor's in-app Announcements/Alerts inbox; (2) roughly 30-minute precision, since the processor only runs when triggered. Only a daily recurrence is supported.\n\n_Source: `app/api/vendors/notifications/schedule/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsSchedulePostRequest"},"example":{"title":"Weekend payout reminder","body":"Submit your pending pickups before Sunday.","scheduledAt":"2026-09-05T09:00:00.000Z","repeatUntil":"2026-09-30T09:00:00.000Z","category":"ANNOUNCEMENT","vendorIds":[]}}}},"responses":{"200":{"description":"Scheduled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsSchedulePostResponse"},"example":{"success":true,"campaignId":"cmp_1","scheduledAt":"2026-09-05T09:00:00.000Z","repeatUntil":"2026-09-30T09:00:00.000Z","recurring":true,"pushOnly":true}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"422":{"description":"Missing/oversized title or body, invalid or past scheduledAt, bad repeatUntil","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Pick a date and time in the future."}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not schedule the notification."}}}}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["vendors"],"summary":"Cancel a scheduled vendor send","description":"Cancels every pending execution of the campaign and pauses the campaign itself. Nothing is deleted, so the record remains for auditing.\n\n_Source: `app/api/vendors/notifications/schedule/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"campaignId","in":"query","required":true,"description":"Campaign to cancel — 422 if missing","schema":{"type":"string","example":"cmp_1"}}],"responses":{"200":{"description":"Cancelled","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessFlag"},"example":{"success":true}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"422":{"description":"campaignId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"campaignId is required."}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not cancel the scheduled send."}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/notifications/targeted":{"get":{"tags":["vendors"],"summary":"Check whether targeted sends are enabled","description":"Capability probe for the composer UI: reports whether the server has BACKEND_SUPPORTS_VENDOR_IDS=true, which is the same flag the POST handler enforces when deciding between the backend proxy and the interim stored-token path.\n\n**Notes:** The banner and the Send button must reflect this same flag — a hardcoded banner next to a live Send button is how an unintended all-vendors broadcast happens.\n\n_Source: `app/api/vendors/notifications/targeted/route.ts`_\n\n_Auth: `session`_","responses":{"200":{"description":"Capability flag","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsTargetedGetResponse"},"example":{"success":true,"enabled":false}}}},"401":{"description":"No admin session","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Send an alert to selected vendors","description":"Sends an urgent alert to up to 200 hand-picked approved-and-live vendors. When BACKEND_SUPPORTS_VENDOR_IDS is true it proxies to CashkrBackend (push plus in-app inbox row); otherwise it falls back to an FCM multicast against stored Vendors.firebaseId tokens, which is push-only and cannot confirm delivery. Every send is written to AdminActivityLog.\n\n**Notes:** Sends push notifications — irreversible. Cap 200 recipients. On the interim path the response includes deliveryUnconfirmed: true, because FCM accepts retired tokens and reports success; Vendors.firebaseId is never written by ck-admin so it is often stale. The proxy path calls {BACKEND_API || NEXT_PUBLIC_API_URL}/admin/vendor-notifications/broadcast with vendorIds and urgent: true.\n\n_Source: `app/api/vendors/notifications/targeted/route.ts`_\n\n_Auth: `session`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsTargetedPostRequest"},"example":{"title":"Pickup pending","body":"You have an order awaiting pickup.","vendorIds":["VEN123","VEN124"],"deepLink":"/orders"}}}},"responses":{"200":{"description":"Sent; recipients and pushed are reported separately so a stale-token gap stays visible","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsNotificationsTargetedPostResponse"},"example":{"success":true,"recipients":2,"pushed":1,"failed":0,"unreachable":[],"skipped":[],"failures":[],"pushOnly":false}}}},"401":{"description":"No session accessToken","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Unauthorized"}}}},"422":{"description":"Missing title/body, empty selection, over the 200 cap, or none of the selected vendors are reachable/live","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Too many recipients (250). Cap is 200 — use the all-vendors broadcast instead."}}}},"500":{"description":"Send failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Could not send alert."}}}},"503":{"description":"Interim path only: FIREBASE_VENDOR_* credentials are not configured — nothing was sent","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor push is not configured on this server — FIREBASE_VENDOR_PROJECT_ID / _PRIVATE_KEY /…"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/report":{"get":{"tags":["vendors"],"summary":"Full vendor report: orders, credits, purchases","description":"Returns a vendor profile with their non-draft leads (enriched with the device record, latest credit-log status and remarks), their credit purchase logs, and credit analytics (current balance, total purchased, used and reversed) over an optional date range.\n\n**Notes:** No auth and no try/catch around the main body — an unexpected database error surfaces as an unhandled 500. Cached in Redis for 60s under vendors:report:{vendorId}:{from}:{to}. Leads with primaryStatus New/Generated/Reserved or secondaryStatus Initiated/Reserved are excluded.\n\n_Source: `app/api/vendors/report/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}},{"name":"from","in":"query","required":false,"description":"Range start; for internal vendors it is floored at INTERNAL_VENDOR_START_DATE","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Range end (inclusive, end of day)","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Vendor report","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsReportGetResponse"},"example":{"vendor":{"vendorId":"VEN123","firstName":"Ravi","creditsAvailable":120,"status":"live"},"unlockOrders":[{"leadId":"LD1","token":"CK-1023","primaryStatus":"Completed","creditStatus":"Debited","remarks":"Order locked"}],"analytics":{"currentCredits":120,"totalPurchased":500,"totalUsed":380,"totalReversed":20},"creditPurchases":[]}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Missing vendorId"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Vendor not found"}}}}},"security":[]}},"/api/vendors/reviews":{"get":{"tags":["vendors"],"summary":"List customer reviews for a vendor","description":"Returns up to 300 customer reviews for the vendor (matched directly or through the review's master lead), newest first, with rating distribution counts, total and average.\n\n**Notes:** No auth — exposes customer names. Only reviews with reviewedBy = Customer are returned.\n\n_Source: `app/api/vendors/reviews/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}},{"name":"rating","in":"query","required":false,"description":"Filter to a single star rating (1-5)","schema":{"type":"integer","example":5}}],"responses":{"200":{"description":"Reviews with stats","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsReviewsGetResponse"},"example":{"stats":{"average":4.42,"total":26,"counts":{"1":1,"2":0,"3":2,"4":7,"5":16}},"reviews":[{"id":"rv_1","rating":5,"detailedReview":"Quick and polite pickup","createdAt":"2026-08-25T11:00:00.000Z","leadId":"LD1","customer":{"firstName":"Neha","lastName":"Patil"}}]}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"vendorId is required"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch reviews"}}}}},"security":[]}},"/api/vendors/transactions":{"get":{"tags":["vendors"],"summary":"Vendor credit passbook of all transactions","description":"Merges credit purchases, per-order credit debits and refunds, and manual fines/credit operations into one date-sorted passbook with a running balance after each movement, plus summary totals. Supports type filtering, pagination and a full export mode.\n\n**Notes:** No auth — exposes a vendor's full financial history. Cached in Redis for 60s under vendors:txn6:{vendorId}:{from}:{to}:{type}:{page}:{limit}:{export}. Fine rows may carry reasonAudioUrl (an admin voice note), null for older operations. Source queries are capped at 5000/10000 rows.\n\n_Source: `app/api/vendors/transactions/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}},{"name":"from","in":"query","required":false,"description":"Range start; internal vendors are floored at INTERNAL_VENDOR_START_DATE","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Range end (inclusive, end of day)","schema":{"type":"string","example":"2026-08-31"}},{"name":"type","in":"query","required":false,"description":"all | credit_purchase | order | fine | refund","schema":{"type":"string","example":"order","default":"all"}},{"name":"page","in":"query","required":false,"description":"Page number (ignored when export=true)","schema":{"type":"integer","example":1,"default":1}},{"$ref":"#/components/parameters/LimitParam"},{"name":"export","in":"query","required":false,"description":"true returns every transaction unpaginated (no pagination object)","schema":{"type":"string","example":"true","default":"false"}}],"responses":{"200":{"description":"Passbook page with summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsTransactionsGetResponse"},"example":{"data":[{"id":"1131","type":"credit_purchase","label":"Bought Credits","date":"2026-08-20T10:00:00.000Z","description":"Paid ₹5,000 via PhonePe — 50 credits added","status":"Approved","credits":50,"money":5000,"moneyDirection":"out","txnId":"OMO2408...","paymentMethod":"PhonePe","balanceAfter":120}],"summary":{"currentBalance":120,"totalCreditsPurchased":500,"totalCreditsUsed":380,"totalFines":10,"totalRefunded":20,"pendingPayments":1},"pagination":{"page":1,"limit":20,"total":63,"totalPages":4}}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Vendor ID is required"}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Internal Server Error"}}}}},"security":[]}},"/api/vendors/{vendorId}/activity-logs":{"get":{"tags":["vendors"],"summary":"List activity log entries for a vendor","description":"Returns the paginated admin activity/audit trail recorded against a vendor, optionally filtered by action, acting admin and date range.\n\n_Source: `app/api/vendors/[vendorId]/activity-logs/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"},{"$ref":"#/components/parameters/PageParam"},{"$ref":"#/components/parameters/LimitParam"},{"name":"action","in":"query","required":false,"description":"Filter by logged action name","schema":{"type":"string","example":"status_change"}},{"name":"adminId","in":"query","required":false,"description":"Filter by the admin who performed the action","schema":{"type":"integer","example":4}},{"name":"startDate","in":"query","required":false,"description":"Range start (parsed as a Date)","schema":{"type":"string","example":"2026-08-01"}},{"name":"endDate","in":"query","required":false,"description":"Range end","schema":{"type":"string","example":"2026-08-31"}}],"responses":{"200":{"description":"Logs page from getVendorActivityLogs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdActivityLogsGetResponse"},"example":{"logs":[{"id":1,"vendorId":"VEN123","action":"status_change","field":"status","oldValue":"\"hold\"","newValue":"\"live\"","remark":"Documents verified fully"}],"total":1,"page":1}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to fetch activity logs"}}}}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Record a vendor activity log entry","description":"Writes a manual audit entry against a vendor, capturing the changed field, its old and new value and a mandatory remark. The acting admin id comes from the session; IP and user-agent are captured from the request headers.\n\n**Notes:** Reads x-forwarded-for / x-real-ip and user-agent for the audit record.\n\n_Source: `app/api/vendors/[vendorId]/activity-logs/route.ts`_\n\n_Auth: `session`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdActivityLogsPostRequest"},"example":{"action":"status_change","field":"status","oldValue":"hold","newValue":"live","remark":"All documents verified and approved"}}}},"responses":{"200":{"description":"Log created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdActivityLogsPostResponse"},"example":{"success":true,"log":{"id":42,"vendorId":"VEN123","action":"status_change"}}}}},"400":{"description":"Missing field or remark shorter than 10 chars","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Remark must be at least 10 characters"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to create activity log"}}}}},"security":[{"cookieAuth":[]}]}},"/api/vendors/{vendorId}/attendance":{"get":{"tags":["vendors"],"summary":"List vendor and cashboy attendance records","description":"Returns paginated punch-in/punch-out attendance for a vendor plus every cashboy belonging to them, with selfies, geofence data, a status summary over the whole filtered window and the list of selectable people.\n\n**Notes:** No handler-level auth check — returns selfie URLs, GPS coordinates and phone numbers of vendor staff.\n\n_Source: `app/api/vendors/[vendorId]/attendance/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Vendor id","schema":{"type":"string"},"example":"VEN123"},{"name":"from","in":"query","required":false,"description":"Inclusive start date on the date column","schema":{"type":"string","example":"2026-08-01"}},{"name":"to","in":"query","required":false,"description":"Inclusive end date","schema":{"type":"string","example":"2026-08-31"}},{"name":"person","in":"query","required":false,"description":"all | vendor | a cashboyId belonging to this vendor","schema":{"type":"string","example":"all","default":"all"}},{"name":"status","in":"query","required":false,"description":"AttendanceStatus filter: PRESENT, LATE, HALF_DAY, ON_FIELD, CHECKED_OUT, ABSENT, DISPUTED, or all","schema":{"type":"string","example":"PRESENT"}},{"$ref":"#/components/parameters/PageParam"},{"name":"limit","in":"query","required":false,"description":"Rows per page, clamped to 100","schema":{"type":"integer","example":20,"default":20}}],"responses":{"200":{"description":"Attendance page with summary and people list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByVendorIdAttendanceGetResponse"},"example":{"success":true,"data":[{"id":1,"date":"2026-08-20T00:00:00.000Z","personType":"CASHBOY","personName":"Amit Sharma","status":"PRESENT","totalHoursWorked":8.5,"isMockLocation":false}],"summary":{"totalDays":20,"present":18,"late":1,"absent":1,"mockLocation":0,"totalHours":160,"avgHours":8},"people":[{"id":"vendor","label":"Vendor (self)","type":"VENDOR"}],"pagination":{"page":1,"limit":20,"total":20,"totalPages":1}}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor ID is required"}}}},"403":{"description":"person is a cashboy that does not belong to this vendor","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Cashboy does not belong to this vendor"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to fetch vendor attendance"}}}}},"security":[]}},"/api/vendors/{vendorId}/cashboys":{"get":{"tags":["vendors"],"summary":"Get cashboys","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendors/[vendorId]/cashboys/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendors"],"summary":"Create cashboys","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/vendors/[vendorId]/cashboys/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessErrorEnvelope"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendors/{vendorId}/cashboys/{cashboyId}":{"patch":{"tags":["vendors"],"summary":"Update cashboys","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body. \n\n_Source: `app/api/vendors/[vendorId]/cashboys/[cashboyId]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"vendorId","in":"path","required":true,"description":"Route parameter `vendorId`","schema":{"type":"string"}},{"name":"cashboyId","in":"path","required":true,"description":"Route parameter `cashboyId`","schema":{"type":"string"}}],"requestBody":{"$ref":"#/components/requestBodies/UntypedJsonBody"},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"VendorsByVendorIdActivityLogsGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsProcessScheduledPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsSchedulePostRequest":{"type":"object","properties":{"title":{"type":"string","description":"1-255 characters"},"body":{"type":"string","description":"Message text"},"scheduledAt":{"type":"string","description":"ISO date-time of the first send; must be in the future"},"repeatUntil":{"type":"string","description":"ISO date-time; when set the send repeats daily until then and must be after scheduledAt"},"category":{"type":"string","description":"ALERT or ANNOUNCEMENT (anything else becomes ANNOUNCEMENT)"},"vendorIds":{"type":"array","items":{},"description":"Specific vendors to target; empty or omitted means all vendors"},"imageUrl":{"type":"string","description":"Image URL"},"deepLink":{"type":"string","description":"In-app route to open on tap"}},"required":["title","body","scheduledAt"],"description":"Request body for `POST /api/vendors/notifications/schedule`."},"VendorsByVendorIdActivityLogsPostRequest":{"type":"object","properties":{"action":{"type":"string","description":"Action name, e.g. status_change"},"field":{"type":"string","description":"Field that changed"},"oldValue":{"type":"string","description":"Previous value (JSON-stringified when stored)"},"newValue":{"type":"string","description":"New value"},"remark":{"type":"string","description":"Reason for the change; must be at least 10 characters"}},"required":["action","field","remark"],"description":"Request body for `POST /api/vendors/{vendorId}/activity-logs`."},"SuccessFlag":{"type":"object","properties":{"success":{"type":"boolean"}},"required":["success"],"description":"Bare `{ success: true }` acknowledgement."},"VendorsNotificationsTargetedPostResponse":{"type":"object","x-inferred-from-example":true},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"AnyObject":{"type":"object","additionalProperties":true,"description":"Arbitrary JSON object; the route forwards or stores it without declaring a shape."},"VendorsTransactionsGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsSchedulePostResponse":{"type":"object","x-inferred-from-example":true},"VendorsReportGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsReviewsGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsByVendorIdAttendanceGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsScheduleGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsTargetedPostRequest":{"type":"object","properties":{"title":{"type":"string","description":"1-255 characters"},"body":{"type":"string","description":"Message text"},"vendorIds":{"type":"array","items":{},"description":"At least one vendor id, at most 200"},"imageUrl":{"type":"string","description":"Image URL"},"deepLink":{"type":"string","description":"In-app route; defaults to /vendorNotifications on the interim path"}},"required":["title","body","vendorIds"],"description":"Request body for `POST /api/vendors/notifications/targeted`."},"SuccessErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"error":{"type":"string"}},"required":["error","success"],"description":"Error envelope `{ success: false, error }`."},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"VendorsNotificationsTargetedGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"VendorsByVendorIdActivityLogsPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsNotificationsRecipientsGetResponse":{"type":"object","x-inferred-from-example":true}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Forbidden":{"summary":"403 Forbidden","value":{"error":"Forbidden"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"Forbidden":{"description":"Forbidden - the session is valid but the role is not allowed to do this. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Forbidden"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}}},"requestBodies":{"UntypedJsonBody":{"description":"JSON body accepted as-is; the route does not declare a shape (forwarded upstream or validated inside the handler).","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnyObject"}}}}},"parameters":{"PageParam":{"name":"page","in":"query","required":false,"description":"1-based page number.","schema":{"type":"integer","default":1},"example":1},"LimitParam":{"name":"limit","in":"query","required":false,"description":"Rows per page.","schema":{"type":"integer","default":20},"example":20}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}