{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendors 1","description":"Tags: getallvendors, geteligiblevendor, updatemaxleadandtier, updatevendordevice, updatevendorstatus, vendor, vendor-matrix, vendors","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"getallvendors"},{"name":"geteligiblevendor"},{"name":"updatemaxleadandtier"},{"name":"updatevendordevice"},{"name":"updatevendorstatus"},{"name":"vendor"},{"name":"vendor-matrix"},{"name":"vendors"}],"paths":{"/api/getallvendors":{"post":{"tags":["getallvendors"],"summary":"List vendors with filters and pagination","description":"Returns a paginated vendor roster with status/application/payments views. Supports search, city, status, single-vendor lookup, date range, sorting and a newVendor flag. For statusFilter 'Payments' results are sorted by pending payment count and paginated in memory.\n\n**Notes:** No handler-level auth check. A Redis lookup is performed (20 ms cap) but the cached value is deliberately NOT served — nothing invalidates the vendors|* keys — so every call hits the database.\n\n_Source: `app/api/getallvendors/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallvendorsPostRequest"},"example":{"search":"","city":"","status":"","page":1,"limit":10,"sortBy":"createdAt","sortOrder":"desc","statusFilter":"All","newVendor":false}}}},"responses":{"200":{"description":"Vendor page (Cache-Control header set)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetallvendorsPostResponse"},"example":{"data":[{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","name":"Ravi Kumar","shopName":"Ravi Mobiles","phone":"9876543210","status":"live","pendingPaymentCount":0}],"pagination":{"total":1,"pages":1,"currentPage":1,"limit":10}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorDetailsEnvelope"},"example":{"error":"Failed to fetch vendors","details":"..."}}}}},"security":[]}},"/api/geteligiblevendor":{"post":{"tags":["geteligiblevendor"],"summary":"Find vendors eligible for a lead","description":"Zod-validates deviceType/pincode/tier, resolves the allowed vendorType list for the tier from the dynamic pricing system, and returns live Vendors that serve the pincode and are assigned that device type.\n\n**Notes:** No handler-level auth check. Every response carries a generated requestId and ISO timestamp; errors always return data: [].\n\n_Source: `app/api/geteligiblevendor/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeteligiblevendorPostRequest"},"example":{"deviceType":"Mobile","pincode":"500081","tier":1}}}},"responses":{"200":{"description":"Eligible vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeteligiblevendorPostResponse"},"example":{"success":true,"message":"Successfully found 2 eligible vendors","data":[{"vendorId":"b1f2c3d4-1111-2222-3333-444455556666","firstName":"Ravi","lastName":"Kumar","vendorType":1,"deviceAssigned":["Mobile"],"status":"live"}],"timestamp":"2026-09-01T06:00:00.000Z","requestId":"req_1756704000000_ab12cd34e"}}}},"400":{"description":"Invalid JSON, failed validation, bad pincode or pricing-system error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeteligiblevendorPost400Response"},"example":{"success":false,"message":"tier must be one of 1, 2, or 3","data":[],"timestamp":"2026-09-01T06:00:00.000Z","requestId":"req_1756704000000_ab12cd34e"}}}},"500":{"description":"Database or unexpected error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeteligiblevendorPost500Response"},"example":{"success":false,"message":"Database error occurred while fetching vendors","data":[],"timestamp":"2026-09-01T06:00:00.000Z"}}}}},"security":[]}},"/api/updatemaxleadandtier":{"patch":{"tags":["updatemaxleadandtier"],"summary":"Update a vendor's max leads and tier","description":"Updates maxLeads and/or vendorType on a vendor and, when a remark is supplied and an admin session exists, writes UPDATE_MAX_LEADS / UPDATE_VENDOR_TYPE vendor activity log entries with old and new values.\n\n**Notes:** Declares BACKEND_API from env but does not use it. Errors return HTTP 200 with success:false. The change is only recorded in the vendor activity log if BOTH remark is present and there is an admin session; without a session the vendor is still updated silently. Changing vendorType/maxLeads affects lead allocation and credit entitlement.\n\n_Source: `app/api/updatemaxleadandtier/route.ts`_\n\n_Auth: `other: reads getServerSession only for the activity log - the update itself proceeds with no session, so not gated by the handler itself`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatemaxleadandtierPatchRequest"},"example":{"vendorId":"VND_LX7K2P_A1B2C3D4","maxLeads":25,"vendorType":2,"remark":"Upgraded after Q2 performance review"}}}},"responses":{"200":{"description":"Failure (returned with HTTP 200, check success flag)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Record to update not found."}}}}},"security":[]}},"/api/updatevendordevice":{"patch":{"tags":["updatevendordevice"],"summary":"Set a vendor's assigned device types","description":"Replaces the deviceAssigned array on a vendor or store vendor. When a remark and admin session are present it also writes an UPDATE_DEVICES vendor activity log with old and new values.\n\n**Notes:** Replaces the whole deviceAssigned array - not a merge. A vendorType other than 'vendor'/'storeVendor' silently skips the update and then throws on updatedVendor.vendorId, producing a 500. Controls which device categories a vendor receives leads for.\n\n_Source: `app/api/updatevendordevice/route.ts`_\n\n_Auth: `other: reads getServerSession only for activity logging - the update itself is not gated, so not gated by the handler itself`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendordevicePatchRequest"},"example":{"vendorId":"VND_LX7K2P_A1B2C3D4","deviceTypes":["MOBILE","LAPTOP"],"vendorType":"vendor","remark":"Added laptop category after training"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendordeviceResponse"},"example":{"success":true,"message":"Device types updated successfully","data":{"id":"VND_LX7K2P_A1B2C3D4","deviceAssigned":["MOBILE"]}}}}},"400":{"description":"Missing vendorId, deviceTypes (must be an array) or vendorType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid request data"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to update device types","error":"Record to update not found."}}}}},"security":[]},"delete":{"tags":["updatevendordevice"],"summary":"Remove one device type from a vendor","description":"Filters a single device type out of the vendor's or store vendor's deviceAssigned array and saves the result.\n\n**Notes:** No handler-level auth check and, unlike PATCH, no vendor activity log entry is written.\n\n_Source: `app/api/updatevendordevice/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendordeviceDeleteRequest"},"example":{"vendorId":"VND_LX7K2P_A1B2C3D4","deviceType":"LAPTOP","vendorType":"vendor"}}}},"responses":{"200":{"description":"Removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendordeviceResponse"},"example":{"success":true,"message":"Device type removed successfully","data":{"id":"VND_LX7K2P_A1B2C3D4","deviceAssigned":["MOBILE"]}}}}},"400":{"description":"Missing vendorId or deviceType","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Invalid request data"}}}},"404":{"description":"Vendor not found (also returned when vendorType is neither 'vendor' nor 'storeVendor')","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageErrorEnvelope"},"example":{"success":false,"message":"Failed to remove device type","error":"Unknown error"}}}}},"security":[]}},"/api/updatevendorstatus":{"patch":{"tags":["updatevendorstatus"],"summary":"Change a vendor's account status","description":"Single entry point for every vendor status control: Approve, Active, Hold, Barr/Barred and Reject. Approve/Active/Hold delegate the authoritative status flip to CashkrBackend (which also alerts the vendor in-app), then apply local side effects such as welcome credits, maxLeads snapshots, hold metadata, pincode clearing and vendor activity logs.\n\n**Notes:** Proxies to CashkrBackend PATCH /admin/vendors/{vendorId}/status (via lib/vendor-notifications updateVendorStatusOnBackend, forwarding the session accessToken) for Approve, Active and Hold; the backend is authoritative and its failure aborts before any local write, propagating the backend HTTP status. MUTATES MONEY on Approve: grants 200 free welcome credits (increment) and sends a VENDOR_APPROVED Firebase push after the response via next/server after(). Approve is guarded against double-crediting by the isApproved check. Hold sets maxLeads to 0 but retains pincodes; Barr sets status=barred, maxLeads=0 and CLEARS all vendor pincodes, and is written locally only - the backend status enum has no 'barred' value so a barred vendor receives NO in-app alert. Reject no longer deletes the vendor (a previous version cascade-deleted the vendor's entire order, credit and payment history); it now sets status=rejected with maxLeads=0 and preserves the record.\n\n_Source: `app/api/updatevendorstatus/route.ts`_\n\n_Auth: `other: no gate on the handler; getServerSession supplies the admin id for logs and the accessToken forwarded to CashkrBackend, so calls without a session reach the backend unauthenticated`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendorstatusPatchRequest"},"example":{"vendorId":"VND_LX7K2P_A1B2C3D4","status":"Hold","remark":"KYC document mismatch","holdDays":7}}}},"responses":{"200":{"description":"Status changed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatevendorstatusPatchResponse"},"example":{"success":true,"message":"Vendor placed on hold for 7 day(s). Pincodes retained, max leads set to 0.","holdEndsAt":"2026-09-08T08:00:00.000Z"}}}},"400":{"description":"Invalid status, vendor already approved, or Active preconditions unmet","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Set Max Leads above 0 & Add at least one active pincode"}}}},"404":{"description":"Vendor not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Vendor not found"}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Error: connect ECONNREFUSED"}}}}},"security":[]}},"/api/vendor/my-score":{"get":{"tags":["vendor"],"summary":"Vendor's own latest score, rank, level progress and tips","description":"Returns the latest `VendorScore` for `vendorId`, with rank and percentile within the same scoring run, dimension scores, progress to the next level and improvement tips. Returns `{ hasScore: false }` if no score has been computed yet. Cached in Redis for 5 minutes.\n\n**Note:** the handler takes `vendorId` from the query string and does not verify the vendor itself (a code comment says it should use the vendor's Firebase token). Only middleware protects it, as an admin route under page key `vendor-scores-leaderboard`.\n\n_Source: `app/api/vendor/my-score/route.ts`_\n\n_Auth: `none detected`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id (required).","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[]}},"/api/vendor-matrix":{"get":{"tags":["vendor-matrix"],"summary":"Get the vendor coverage and demand matrix","description":"Builds the pincode-level coverage matrix: per-pincode lead and order metrics, vendor counts per device category, ADS status, completion rate, demand pressure ratio and priority, plus zone aggregates, the top 20 high-demand pincodes and overall summary KPIs.\n\n**Notes:** No handler-level auth check. Heavy analytical endpoint: it loads all matching pincodes (up to limit, default 10000), every vendorPincodes row, all zones and every lead in the date window, then aggregates in memory - expect a slow response on wide ranges. Default window is the last 30 days; dates are parsed as IST (+05:30). completionRate counts only resolved orders (completed + failed), so in-flight orders are excluded from both sides. The 'orders'/'orders30d' fields mean leads that converted (isCompleted=1), not finished pickups. Test pincodes and test orders are excluded unless includeTest=true. adsStatus is 'Full Power' at 3+ vendors, 'Yes' at 1-2, 'No' at 0; demandRatio is 999 when there are leads but no vendors. Drone, TV, AC and Desktop exist in the enum but are not offered as filters or columns.\n\n_Source: `app/api/vendor-matrix/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"city","in":"query","required":false,"description":"Exact city match on the Pincodes table","schema":{"type":"string","example":"Pune"}},{"name":"zoneId","in":"query","required":false,"description":"Restrict to one zone","schema":{"type":"string","example":"zone_pune_west"}},{"name":"serviceable","in":"query","required":false,"description":"'true' or 'false' to filter on isServiceable; omit for both","schema":{"type":"string","example":"true"}},{"name":"activeOnly","in":"query","required":false,"description":"When 'true', only counts vendors that are approved and status=live","schema":{"type":"boolean","example":true,"default":false}},{"name":"fullPowerOnly","in":"query","required":false,"description":"When 'true', keeps only rows with 3+ vendors for the selected device (adsStatus 'Full Power')","schema":{"type":"boolean","example":true,"default":false}},{"name":"highDemandOnly","in":"query","required":false,"description":"When 'true', keeps only rows with 3+ leads, high priority, or a demand ratio of 5+","schema":{"type":"boolean","example":true,"default":false}},{"name":"includeTest","in":"query","required":false,"description":"When 'true', includes test pincodes (400000, 444444, 555555 / city 'test') and test orders","schema":{"type":"boolean","example":false,"default":false}},{"name":"from","in":"query","required":false,"description":"Start of the lead date range, parsed as IST midnight. Alias: startDate.","schema":{"type":"string","example":"2026-08-01","default":"30 days ago"}},{"name":"to","in":"query","required":false,"description":"End of the lead date range, inclusive of the whole day. Alias: endDate. Only honoured when 'from' is also given.","schema":{"type":"string","example":"2026-08-31","default":"now"}},{"name":"timeSlot","in":"query","required":false,"description":"Pickup slot filter, normalised via lib/dictionary/pickup-slot. Alias: pickupTime.","schema":{"type":"string","example":"10AM-1PM","default":"all"}},{"name":"deviceType","in":"query","required":false,"description":"Canonical device key or a synonym (phone, ipad, macbook, airpods, ps5, ...). Narrows both the rows and the lead counts.","schema":{"type":"string","example":"mobile","default":"all"}},{"name":"vendorId","in":"query","required":false,"description":"Restrict to the pincodes assigned to one vendor; a vendor with no pincodes returns an empty matrix","schema":{"type":"string","example":"VND_LX7K2P_A1B2C3D4","default":"all"}},{"name":"minLat","in":"query","required":false,"description":"Viewport filter; all four of minLat/maxLat/minLng/maxLng must be valid numbers to apply","schema":{"type":"number","example":18.45}},{"name":"maxLat","in":"query","required":false,"description":"Viewport filter upper latitude","schema":{"type":"number","example":18.65}},{"name":"minLng","in":"query","required":false,"description":"Viewport filter lower longitude","schema":{"type":"number","example":73.75}},{"name":"maxLng","in":"query","required":false,"description":"Viewport filter upper longitude","schema":{"type":"number","example":73.95}},{"name":"missingCoords","in":"query","required":false,"description":"When 'true', returns only pincodes with a null lat or lng, overriding the viewport filter","schema":{"type":"boolean","example":true,"default":false}},{"name":"limit","in":"query","required":false,"description":"Maximum pincode rows fetched","schema":{"type":"integer","example":10000,"default":10000}},{"name":"endDate","in":"query","required":false,"description":"End of the date window (YYYY-MM-DD).","schema":{"type":"string"}},{"name":"pickupTime","in":"query","required":false,"description":"Filter by pickup time slot.","schema":{"type":"string"}},{"name":"startDate","in":"query","required":false,"description":"Start of the date window (YYYY-MM-DD).","schema":{"type":"string"}}],"responses":{"200":{"description":"Coverage matrix","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorMatrixGetResponse"},"example":{"data":[{"pincode":411045,"city":"Pune","state":"Maharashtra","isServiceable":true,"totalLeads":42,"orders":31,"completedOrders":24,"failedOrders":5,"openOrders":2,"pendingOrders":11,"completionRate":83,"demandRatio":10.5,"selectedCount":4,"totalVendors":4,"adsStatus":"Full Power","priority":"low"}],"cities":["Bengaluru"],"zones":[{"id":"zone_pune_west","name":"Pune West","city":"Pune","state":"Maharashtra"}],"highDemandZones":[{"zoneId":"zone_pune_west","totalLeads":310,"vendorsCount":18,"completionRate":81,"demandRatio":17.2,"isHighDemand":true}],"highDemandPincodes":[],"summary":{"totalPincodes":612,"totalLeads":4820,"totalOrders":3410,"totalCompleted":2760,"totalFailed":410,"totalOpen":240,"overallCompletionRate":87,"highDemandZonesCount":9,"uncoveredPincodesCount":37},"deviceTypes":["mobile"],"timeSlots":[],"dateRange":{"from":"2026-08-01T00:00:00.000Z","to":"2026-08-31T18:29:59.999Z"}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to load vendor area matrix"}}}}},"security":[]}},"/api/vendors/activation":{"get":{"tags":["vendors"],"summary":"Vendor activation tracker with blockers","description":"For every vendor approved within the window, reports whether they are actually working and, if not, the first unmet prerequisite (no pincodes, no devices, no credits, no capacity, no orders offered) with a suggested next step. Includes a stage breakdown and median days to first pickup.\n\n**Notes:** No auth. force-dynamic; result cached in Redis for 120s under vendor-activation:{days}. Approval time comes from VendorActivityLog rows (field=status, newValue=live), not vendors.updatedAt. Test orders are excluded via EXCLUDE_TEST_ORDERS.\n\n_Source: `app/api/vendors/activation/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"days","in":"query","required":false,"description":"Look-back window in days for the approval cohort, clamped to 1-365","schema":{"type":"integer","example":60,"default":60}}],"responses":{"200":{"description":"Activation cohort and summary","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsActivationGetResponse"},"example":{"vendors":[{"vendorId":"VEN123","name":"Ravi Kumar","city":"Pune","status":"live","daysSinceApproval":12,"pincodeCount":0,"creditsAvailable":50,"stage":"blocked","blocker":"no_pincodes","nextStep":"Assign serviceable pincodes"}],"summary":{"cohort":24,"blocked":5,"readyNoOrders":3,"ramping":6,"active":10,"medianDaysToFirstPickup":4},"windowDays":60,"generatedAt":"2026-09-01T06:00:00.000Z"}}}},"500":{"description":"Aggregation failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"example":{"error":"Failed to build activation tracker"}}}}},"security":[]}},"/api/vendors/bulk-assign":{"post":{"tags":["vendors"],"summary":"Bulk-assign pincodes to a vendor","description":"Merges a list of pincodes into the vendor's VendorPincodes record, de-duplicating against what is already assigned and creating the record if it does not exist.\n\n**Notes:** Audit-logged (entity VENDOR), No handler-level auth check. Unlike the per-vendor pincodes POST, this performs NO serviceability or device-type validation.\n\n_Source: `app/api/vendors/bulk-assign/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsBulkAssignPostRequest"},"example":{"vendorId":"VEN123","pincodes":[411001,411004]}}}},"responses":{"200":{"description":"Pincodes merged","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsBulkAssignPostResponse"},"example":{"success":true,"message":"Successfully assigned 3 new pincodes. (Total: 17)","added":3,"total":17}}}},"400":{"description":"Missing vendorId or no valid pincodes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"List of pincodes is required"}}}},"500":{"description":"Write failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageErrorEnvelope"},"example":{"message":"Failed to bulk assign pincodes","error":"..."}}}}},"security":[]}},"/api/vendors/by-pincode":{"get":{"tags":["vendors"],"summary":"Find vendors serving a pincode","description":"Returns the vendors whose assigned pincode array contains the given pincode, with contact details, status and vendor type.\n\n**Notes:** No auth — exposes vendor emails and phone numbers.\n\n_Source: `app/api/vendors/by-pincode/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"pincode","in":"query","required":true,"description":"Pincode to look up — 400 if missing or non-numeric","schema":{"type":"integer","example":411001}}],"responses":{"200":{"description":"Matching vendors","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsByPincodeGetResponse"},"example":{"data":[{"id":"VEN123","name":"Ravi Kumar","email":"ravi@example.com","phone":"9876543210","status":"live","type":"franchise"}]}}}},"400":{"description":"Missing or invalid pincode","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Pincode is required"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageEnvelope"},"example":{"message":"Failed to fetch vendors"}}}}},"security":[]}},"/api/vendors/cities":{"get":{"tags":["vendors"],"summary":"List distinct vendor cities","description":"Returns the alphabetically sorted list of distinct non-null city values across all vendors.\n\n**Notes:** Never returns a non-200: on a database error it responds 200 with a hardcoded fallback city list.\n\n_Source: `app/api/vendors/cities/route.ts`_\n\n_Auth: `none`_","responses":{"200":{"description":"City list (also returned on error, as a hardcoded fallback)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsCitiesGetResponse"},"example":{"cities":["Bangalore"]}}}}},"security":[]}},"/api/vendors/did":{"get":{"tags":["vendors"],"summary":"Get a vendor's DID, spares and history","description":"Returns the vendor's currently active DID (null means they are on the shared DID), the list of unassigned active spares available to give them, and every number they have held before.\n\n**Notes:** No handler-level auth check.\n\n_Source: `app/api/vendors/did/route.ts`_\n\n_Auth: `none`_","parameters":[{"name":"vendorId","in":"query","required":true,"description":"Vendor id — 400 if missing","schema":{"type":"string","example":"VEN123"}}],"responses":{"200":{"description":"Current DID, spare pool and history","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidGetResponse"},"example":{"success":true,"data":{"current":{"id":"did_1","didNumber":"919876543210","vendorId":"VEN123"},"spares":[{"id":"did_9","didNumber":"919876543299"}],"history":[]}}}}},"400":{"description":"Missing vendorId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"vendorId is required"}}}},"500":{"description":"Query failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to load DID details"}}}}},"security":[]},"post":{"tags":["vendors"],"summary":"Assign or replace a vendor's DID number","description":"Assigns a spare DID to a vendor. If the vendor already has one, replaceReason is mandatory: the old number is written to VendorDIDHistory and returned to the spare pool (or retired outright when the reason is spam_flagged), all inside one transaction.\n\n**Notes:** No handler-level auth check. Changes live inbound call routing for the vendor.\n\n_Source: `app/api/vendors/did/route.ts`_\n\n_Auth: `none`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPostRequest"},"example":{"vendorId":"VEN123","didId":"did_9","replaceReason":"number_not_reachable"}}}},"responses":{"200":{"description":"DID assigned or replaced","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorsDidPostResponse"},"example":{"success":true,"message":"Replaced 919876543210 with 919876543299","data":{"id":"did_9","didNumber":"919876543299","vendorId":"VEN123"}}}}},"400":{"description":"vendorId or didId missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"vendorId and didId are required"}}}},"404":{"description":"Vendor or DID not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"DID not found"}}}},"409":{"description":"DID already assigned/retired, replaceReason missing, or a concurrent assignment (P2002)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"919876543299 is already assigned to another vendor"}}}},"500":{"description":"Transaction failed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SuccessMessageEnvelope"},"example":{"success":false,"message":"Failed to assign DID"}}}}},"security":[]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"ErrorDetailsEnvelope":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}},"required":["details","error"],"description":"Error envelope `{ error, details }` where `details` is a string (usually the underlying exception message)."},"VendorsBulkAssignPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor to assign to"},"pincodes":{"type":"array","items":{},"description":"Non-empty array of pincodes (strings or numbers); non-numeric entries are dropped"}},"required":["vendorId","pincodes"],"description":"Request body for `POST /api/vendors/bulk-assign`."},"GetallvendorsPostResponse":{"type":"object","x-inferred-from-example":true},"GetallvendorsPostRequest":{"type":"object","properties":{"search":{"type":"string","description":"Free text; forces page 1"},"city":{"type":"string","description":"Vendor city filter"},"status":{"type":"string","description":"Vendor status filter (e.g. live)"},"vendorId":{"type":"string","description":"Fetch a single vendor"},"fromDate":{"type":"string","description":"createdAt lower bound"},"toDate":{"type":"string","description":"createdAt upper bound"},"page":{"type":"integer","description":"1-based page number","default":1},"limit":{"type":"integer","description":"Page size","default":10},"sortBy":{"type":"string","description":"Sort column","default":"createdAt"},"sortOrder":{"type":"string","description":"asc | desc","default":"desc"},"statusFilter":{"type":"string","description":"All | Application | Payments | ... ('Application' and 'Payments' bypass the Redis lookup)","default":"All"},"newVendor":{"type":"boolean","description":"Restrict to newly registered vendors","default":false}},"description":"Request body for `POST /api/getallvendors`."},"UpdatevendorstatusPatchRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id to act on"},"status":{"type":"string","description":"One of Approve, Active, Hold, Barr (or Barred), Reject. Anything else returns 400 Invalid status."},"remark":{"type":"string","description":"Reason for the change. Required for a vendor activity log entry on Hold/Barr/Active; on Reject it is stored as holdReason and defaults to 'Application rejected'."},"holdDays":{"type":"integer","description":"Hold only: number of days until auto-release. Sets holdEndsAt; omit for an indefinite hold."},"barReason":{"type":"string","description":"Barr only: structured, reportable reason stored in barReason"}},"required":["vendorId","status"],"description":"Request body for `PATCH /api/updatevendorstatus`."},"VendorsBulkAssignPostResponse":{"type":"object","x-inferred-from-example":true},"GeteligiblevendorPost400Response":{"type":"object","x-inferred-from-example":true},"UpdatevendordeviceResponse":{"type":"object","x-inferred-from-example":true},"VendorsCitiesGetResponse":{"type":"object","x-inferred-from-example":true},"GeteligiblevendorPostRequest":{"type":"object","properties":{"deviceType":{"type":"string","description":"Device category the vendor must be assigned, e.g. Mobile"},"pincode":{"type":"string","description":"Pickup pincode as a string; parsed to an integer for the VendorPincodes lookup"},"tier":{"type":"integer","description":"Lead tier — must be 1, 2 or 3"}},"required":["deviceType","pincode","tier"],"description":"Request body for `POST /api/geteligiblevendor`."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"UpdatevendordeviceDeleteRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id"},"deviceType":{"type":"string","description":"Device type string to remove"},"vendorType":{"type":"string","description":"'vendor' or 'storeVendor'; selects the table. Any other value results in a 404."}},"required":["vendorId","deviceType"],"description":"Request body for `DELETE /api/updatevendordevice`."},"UpdatevendorstatusPatchResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsByPincodeGetResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidPostRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor receiving the number"},"didId":{"type":"string","description":"VendorDID row id of a spare, active, unassigned number"},"replaceReason":{"type":"string","description":"Required only when the vendor already has an active DID; spam_flagged retires the old number permanently"},"notes":{"type":"string","description":"Replaces the note on the newly assigned row; omit to leave the existing note untouched"}},"required":["vendorId","didId"],"description":"Request body for `POST /api/vendors/did`."},"MessageErrorEnvelope":{"type":"object","properties":{"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message"],"description":"Error envelope `{ message, error }`."},"UpdatemaxleadandtierPatchRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id to update"},"maxLeads":{"type":"integer","description":"New maximum concurrent leads; parsed with parseInt"},"vendorType":{"type":"integer","description":"New vendor type number; parsed with parseInt"},"remark":{"type":"string","description":"Reason for the change. Required for the vendor activity log entry to be written."}},"required":["vendorId"],"description":"Request body for `PATCH /api/updatemaxleadandtier`."},"GeteligiblevendorPost500Response":{"type":"object","x-inferred-from-example":true},"VendorsActivationGetResponse":{"type":"object","x-inferred-from-example":true},"GeteligiblevendorPostResponse":{"type":"object","x-inferred-from-example":true},"VendorsDidPostResponse":{"type":"object","x-inferred-from-example":true},"MessageEnvelope":{"type":"object","properties":{"message":{"type":"string"}},"required":["message"],"description":"Message-only envelope `{ message }`; used for both success and failure responses."},"SuccessMessageErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"string"}},"required":["error","message","success"],"description":"Error envelope `{ success: false, message, error }`."},"VendorMatrixGetResponse":{"type":"object","x-inferred-from-example":true},"SuccessMessageEnvelope":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"}},"required":["message","success"],"description":"Envelope `{ success, message }`; `success` is `true` on 2xx and `false` on error responses."},"UpdatevendordevicePatchRequest":{"type":"object","properties":{"vendorId":{"type":"string","description":"Vendor id to update"},"deviceTypes":{"type":"array","items":{},"description":"Full replacement list of device type strings; must be an array"},"vendorType":{"type":"string","description":"Either 'vendor' or 'storeVendor' - selects which table is updated"},"remark":{"type":"string","description":"Reason for the change; required for the activity log entry (only logged for vendorType 'vendor')"}},"required":["vendorId","deviceTypes","vendorType"],"description":"Request body for `PATCH /api/updatevendordevice`."}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}