{"openapi":"3.1.0","info":{"title":"CashKr Admin API — Vendor Operations 3","description":"Tags: vendor-stories, vendor-training","version":"1.4.0"},"servers":[{"url":"https://admin.cashkr.com","description":"Admin panel"}],"tags":[{"name":"vendor-stories"},{"name":"vendor-training"}],"paths":{"/api/vendor-stories/{id}":{"patch":{"tags":["vendor-stories"],"summary":"Update vendor stories","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: isActive). \n\n_Source: `app/api/vendor-stories/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorStoriesByIdPatchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["vendor-stories"],"summary":"Delete vendor stories","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-stories/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-stories/{id}/comments":{"get":{"tags":["vendor-stories"],"summary":"Comments — GET vendor-stories/[id]/comments","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-stories/[id]/comments/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-stories/{id}/likes":{"get":{"tags":["vendor-stories"],"summary":"Likes — GET vendor-stories/[id]/likes","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-stories/[id]/likes/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-stories/{id}/views":{"get":{"tags":["vendor-stories"],"summary":"Views — GET vendor-stories/[id]/views","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-stories/[id]/views/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training":{"get":{"tags":["vendor-training"],"summary":"List vendor training","description":"Operation reconstructed from source during the re-audit. Query parameters: page, perPage, search, step, isActive. \n\n_Source: `app/api/vendor-training/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"page","in":"query","required":false,"description":"Query parameter `page`.","schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"description":"Query parameter `perPage`.","schema":{"type":"string"}},{"$ref":"#/components/parameters/SearchParam"},{"name":"step","in":"query","required":false,"description":"Query parameter `step`.","schema":{"type":"string"}},{"name":"isActive","in":"query","required":false,"description":"Query parameter `isActive`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"post":{"tags":["vendor-training"],"summary":"Create vendor training","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: title, description, step, VideoUrl, thumbnailUrl, isActive). \n\n_Source: `app/api/vendor-training/route.ts`_\n\n_Auth: `cookieAuth`_","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorTrainingPostRequest"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training/{id}":{"put":{"tags":["vendor-training"],"summary":"Replace vendor training","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: title, description, step, VideoUrl, thumbnailUrl, isActive). \n\n_Source: `app/api/vendor-training/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorTrainingByIdPutRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"patch":{"tags":["vendor-training"],"summary":"Update vendor training","description":"Operation reconstructed from source during the re-audit. Accepts a JSON request body (detected fields: isActive). \n\n_Source: `app/api/vendor-training/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VendorTrainingByIdPatchRequest"}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]},"delete":{"tags":["vendor-training"],"summary":"Delete vendor training","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-training/[id]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training/{id}/comments":{"get":{"tags":["vendor-training"],"summary":"Comments — GET vendor-training/[id]/comments","description":"Operation reconstructed from source during the re-audit. Query parameters: page, perPage. \n\n_Source: `app/api/vendor-training/[id]/comments/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}},{"name":"page","in":"query","required":false,"description":"Query parameter `page`.","schema":{"type":"string"}},{"name":"perPage","in":"query","required":false,"description":"Query parameter `perPage`.","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training/{id}/comments/{commentId}":{"delete":{"tags":["vendor-training"],"summary":"Comments — DELETE vendor-training/[id]/comments/[commentId]","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-training/[id]/comments/[commentId]/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"description":"Route parameter `commentId`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/NotFound"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training/{id}/likes":{"get":{"tags":["vendor-training"],"summary":"Likes — GET vendor-training/[id]/likes","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-training/[id]/likes/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}},"/api/vendor-training/{id}/views":{"get":{"tags":["vendor-training"],"summary":"Views — GET vendor-training/[id]/views","description":"Operation reconstructed from source during the re-audit. \n\n_Source: `app/api/vendor-training/[id]/views/route.ts`_\n\n_Auth: `cookieAuth`_","parameters":[{"name":"id","in":"path","required":true,"description":"Route parameter `id`","schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnspecifiedObject"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"500":{"$ref":"#/components/responses/InternalServerError"}},"security":[{"cookieAuth":[]}]}}},"components":{"schemas":{"ErrorEnvelope":{"type":"object","properties":{"error":{"type":"string"}},"required":["error"],"description":"Plain error envelope `{ error }` used by most routes. `error` is a human-readable message."},"UnspecifiedObject":{"type":"object","description":"Response body shape not captured by the source re-audit (only the status code was detected). Any JSON object."},"VendorTrainingPostRequest":{"type":"object","additionalProperties":true,"properties":{"title":{"description":"`title`"},"description":{"description":"`description`"},"step":{"description":"`step`"},"VideoUrl":{"description":"`VideoUrl`"},"thumbnailUrl":{"description":"`thumbnailUrl`"},"isActive":{"description":"`isActive`"}},"description":"Request body for `POST /api/vendor-training`."},"VendorTrainingByIdPutRequest":{"type":"object","additionalProperties":true,"properties":{"title":{"description":"`title`"},"description":{"description":"`description`"},"step":{"description":"`step`"},"VideoUrl":{"description":"`VideoUrl`"},"thumbnailUrl":{"description":"`thumbnailUrl`"},"isActive":{"description":"`isActive`"}},"description":"Request body for `PUT /api/vendor-training/{id}`."},"VendorStoriesByIdPatchRequest":{"type":"object","additionalProperties":true,"properties":{"isActive":{"description":"`isActive`"}},"description":"Request body for `PATCH /api/vendor-stories/{id}`."},"VendorTrainingByIdPatchRequest":{"type":"object","additionalProperties":true,"properties":{"isActive":{"description":"`isActive`"}},"description":"Request body for `PATCH /api/vendor-training/{id}`."}},"parameters":{"SearchParam":{"name":"search","in":"query","required":false,"description":"Free-text search term.","schema":{"type":"string"},"example":"Asha"}},"examples":{"BadRequest":{"summary":"400 BadRequest","value":{"error":"Missing required fields"}},"NotFound":{"summary":"404 NotFound","value":{"error":"Not found"}},"Unauthorized":{"summary":"401 Unauthorized","value":{"error":"Unauthorized"}},"InternalServerError":{"summary":"500 InternalServerError","value":{"error":"Internal server error"}}},"responses":{"Unauthorized":{"description":"Unauthenticated - no valid admin session (NextAuth cookie), or the expected token/secret is missing or wrong. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/Unauthorized"}}}}},"BadRequest":{"description":"Bad request / validation error - a required field is missing or invalid. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/BadRequest"}}}}},"NotFound":{"description":"Not found - the referenced record does not exist. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/NotFound"}}}}},"InternalServerError":{"description":"Internal server error - unhandled failure inside the route handler. For operations whose description says *reconstructed from source*, only the status code was detected in the audit; the body shape shown is the codebase convention, not verified per route.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorEnvelope"},"examples":{"default":{"$ref":"#/components/examples/InternalServerError"}}}}}},"securitySchemes":{"cookieAuth":{"type":"apiKey","in":"cookie","name":"next-auth.session-token","description":"NextAuth JWT session cookie from logging in to the admin panel. On HTTPS the cookie name is `__Secure-next-auth.session-token`."},"cronBearer":{"type":"http","scheme":"bearer","description":"`LINODE_CRON_SECRET` as a bearer token — every cron job goes through `assertCronAuth` in `lib/linode/cron-auth.ts`, which reads only this variable (despite some jobs being non-Linode)."},"exportsToken":{"type":"http","scheme":"bearer","description":"`EXPORTS_API_TOKEN` bearer token, used only by `GET /api/exports/gst-statement`."},"unverifiedAccessToken":{"type":"apiKey","in":"header","name":"Authorization","description":"Legacy customer routes: an `accessToken` cookie or an `Authorization` header must be PRESENT, but the value is never verified. Not real authentication."},"adsWebhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`ADS_WEBHOOK_SECRET`, sent either as the `x-webhook-secret` header or as a `secret` field in the JSON body. If the env var is unset the route rejects every call with 401 (it does not fall through to unauthenticated access)."},"internalToken":{"type":"apiKey","in":"header","name":"x-internal-service-token","description":"`INTERNAL_SERVICE_TOKEN` for inbound server-to-server calls."},"pabblySecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"`PABBLY_WEBHOOK_SECRET` for externally triggered schedulers."},"webhookSecret":{"type":"apiKey","in":"header","name":"x-webhook-secret","description":"Generic `x-webhook-secret` header check for an inbound webhook."},"cronSecretBearer":{"type":"http","scheme":"bearer","description":"`CRON_SECRET` as a bearer token, compared with `bearerMatches` in `lib/auth/secret-compare.ts`. Distinct from `cronBearer`, which uses `LINODE_CRON_SECRET`."}}}}